Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update configure-email.md
  articles/fin-ops-core/dev-itpro/organization-administration/configure-email.md
Owners: @johnmichalak

Update whats-new-dual-write.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/whats-new-dual-write.md
Owners: @josaw1

merge
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/test-case-details.PNG
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/test-case-details.png
Owners: @josaw1

replace image
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/test-case-details.png
Owners: @josaw1

Update e-invoicing-isv-connector.md
  articles/finance/localizations/global/e-invoicing-isv-connector.md
Owners: @kfend

Update e-invoicing-isv-connector.md
  articles/finance/localizations/global/e-invoicing-isv-connector.md
Owners: @kfend

Update public-preview-releases.md
  articles/fin-ops-core/dev-itpro/get-started/public-preview-releases.md
Owners: @johnmichalak

review
  articles/fin-ops-core/dev-itpro/copilot/enable-copilot.md
  articles/fin-ops-core/dev-itpro/copilot/enable-copliot-generative-help.md
  articles/fin-ops-core/dev-itpro/toc.yml
  articles/fin-ops-core/fin-ops/copilot/copilot-for-finance-operations.md
  articles/fin-ops-core/fin-ops/copilot/copliot-generative-help.md
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation-enable.md
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation.md
  articles/supply-chain/toc.yml
Owners: @johnmichalak, @josaw1, @kamaybac

fix links
  articles/fin-ops-core/fin-ops/copilot/copliot-generative-help.md
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation-enable.md
Owners: @josaw1, @kamaybac

fix image
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/test-case-details2.png
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-maintain-test-cases.md
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation-enable.md
Owners: @josaw1, @kamaybac

edit
  articles/fin-ops-core/dev-itpro/copilot/enable-copilot.md
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation-enable.md
Owners: @johnmichalak, @kamaybac

Update BPA-self-help-2.md
  articles/finance/business-performance-analytics/BPA-self-help-2.md
Owners: @twheeloc

Update BPA-self-help-6.md
  articles/finance/business-performance-analytics/BPA-self-help-6.md
Owners: @twheeloc

Update BPA-self-help-5.md
  articles/finance/business-performance-analytics/BPA-self-help-5.md
Owners: @twheeloc

Update BPA-self-help-4.md
  articles/finance/business-performance-analytics/BPA-self-help-4.md
Owners: @twheeloc

Update BPA-self-help-3.md
  articles/finance/business-performance-analytics/BPA-self-help-3.md
Owners: @twheeloc

Update BPA-self-help-1.md
  articles/finance/business-performance-analytics/BPA-self-help-1.md
Owners: @twheeloc

Update BPA-self-help-2.md
  articles/finance/business-performance-analytics/BPA-self-help-2.md
Owners: @twheeloc

review
  articles/supply-chain/inventory/inventory-visibility-power-platform-v1.md
  articles/supply-chain/inventory/inventory-visibility-power-platform.md
Owners: @kamaybac

Update platform-settings.md
  articles/commerce/e-commerce-extensibility/platform-settings.md
Owners: @josaw1

Update telemetry-logger.md
  articles/commerce/e-commerce-extensibility/telemetry-logger.md
Owners: @josaw1

Update e-invoicing-isv-connector.md
  articles/finance/localizations/global/e-invoicing-isv-connector.md
Owners: @kfend

Update telemetry-logger.md
  articles/commerce/e-commerce-extensibility/telemetry-logger.md
Owners: @josaw1

Update telemetry-logger.md
  articles/commerce/e-commerce-extensibility/telemetry-logger.md
Owners: @josaw1

Update export-control-extend-licenses.md
  articles/supply-chain/pim/export-control-extend-licenses.md
Owners: @kamaybac

Update export-control-extend-sales-orders.md
  articles/supply-chain/pim/export-control-extend-sales-orders.md
Owners: @kamaybac

Update platform-settings.md
  articles/commerce/e-commerce-extensibility/platform-settings.md
Owners: @josaw1

Update whats-new-commerce-10-0-37.md
  articles/commerce/get-started/whats-new-commerce-10-0-37.md
Owners: @josaw1

Add files via upload
  articles/finance/localizations/media/emea-fr-einvoice-response.jpg
Owners: @kfend

Update e-invoicing-fr-get-started.md
  articles/finance/localizations/france/e-invoicing-fr-get-started.md
Owners: @kfend

Edited
  articles/finance/localizations/iberoamerica/ltm-Colombia-format-1008.md
Owners: @kfend

Edited
  articles/finance/localizations/iberoamerica/ltm-Colombia-foramt-1009.md
Owners: @kfend

Edited
  articles/finance/localizations/iberoamerica/ltm-Colombia-format-1012.md
Owners: @kfend

Update removed-deprecated-features-platform-updates.md
  articles/fin-ops-core/fin-ops/get-started/removed-deprecated-features-platform-updates.md
Owners: @johnmichalak

Edited updated sections
  articles/finance/cash-bank-management/Net-customer-and-vendor-balances.md
Owners: @twheeloc

Edited updated sections (+fixed issues flagged by spelling/grammar check)
  articles/finance/cash-bank-management/bank-revaluation.md
Owners: @twheeloc

Edited updated sections
  articles/finance/cash-bank-management/foreign-currency-revaluation-accounts-payable-accounts-receivable.md
Owners: @twheeloc

Create whats-new-platform-updates-10-0-39.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-platform-updates-10-0-39.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-39.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-platform-updates-10-0-39.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-39.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-platform-updates-10-0-39.md
Owners: @johnmichalak
