Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update create-layout-container.md
  articles/commerce/e-commerce-extensibility/create-layout-container.md
Owners: @josaw1

Update comments.md
  articles/finance/business-performance-planning/comments.md
Owners: @twheeloc

Update graphical-planning.md
  articles/finance/business-performance-planning/graphical-planning.md
Owners: @twheeloc

Update variance.md
  articles/finance/business-performance-planning/variance.md
Owners: @twheeloc

Update graphical-planning.md
  articles/finance/business-performance-planning/graphical-planning.md
Owners: @twheeloc

Failed export operation rollbacks automatically
  articles/fin-ops-core/dev-itpro/database/export-database.md
Owners: @johnmichalak

review
  articles/supply-chain/inventory/inventory-visibility-available-to-promise.md
  articles/supply-chain/inventory/inventory-visibility-inventory-summary.md
  articles/supply-chain/inventory/inventory-visibility-preload-on-hand.md
  articles/supply-chain/inventory/inventory-visibility-whs-support.md
Owners: @kamaybac

Edited
  articles/fin-ops-core/dev-itpro/deployment/region-migration-support-zone-redundancy.md
Owners: @johnmichalak

Edited
  articles/finance/business-performance-planning/Install-BPP2.md
Owners: @twheeloc

Update powerBI-visual-install.md
  articles/finance/business-performance-planning/powerBI-visual-install.md
Owners: @twheeloc

Edited
  articles/finance/business-performance-planning/bpp-app-install.md
Owners: @twheeloc

Update graphical-planning.md
  articles/finance/business-performance-planning/graphical-planning.md
Owners: @twheeloc

Edited
  articles/finance/business-performance-planning/business-performance-planning-overview.md
Owners: @twheeloc

Edited
  articles/finance/business-performance-planning/Dimensions.md
Owners: @twheeloc

Update comments.md
  articles/finance/business-performance-planning/comments.md
Owners: @twheeloc

Update matrix-planning.md
  articles/finance/business-performance-planning/matrix-planning.md
Owners: @twheeloc

Edited
  articles/finance/accounts-payable/invoice-capture-custom.md
Owners: @twheeloc

Update allocation.md
  articles/finance/business-performance-planning/allocation.md
Owners: @twheeloc

Update powerBI-visual-install.md
  articles/finance/business-performance-planning/powerBI-visual-install.md
Owners: @twheeloc

Update variance.md
  articles/finance/business-performance-planning/variance.md
Owners: @twheeloc

Update matrix-planning.md
  articles/finance/business-performance-planning/matrix-planning.md
Owners: @twheeloc

Update reporting.md
  articles/finance/business-performance-planning/reporting.md
Owners: @twheeloc

Update comments.md
  articles/finance/business-performance-planning/comments.md
Owners: @twheeloc

Update reporting.md
  articles/finance/business-performance-planning/reporting.md
Owners: @twheeloc

Update reporting.md
  articles/finance/business-performance-planning/reporting.md
Owners: @twheeloc

Update reporting.md
  articles/finance/business-performance-planning/reporting.md
Owners: @twheeloc

Update matrix-planning.md
  articles/finance/business-performance-planning/matrix-planning.md
Owners: @twheeloc

Remove statement regarding pausing recommendations service
  articles/commerce/product-recommendations.md
Owners: @josaw1

Update reporting.md
  articles/finance/business-performance-planning/reporting.md
Owners: @twheeloc

Update matrix-planning.md
  articles/finance/business-performance-planning/matrix-planning.md
Owners: @twheeloc

Update reporting.md
  articles/finance/business-performance-planning/reporting.md
Owners: @twheeloc

Update copy.md
  articles/finance/business-performance-planning/copy.md
Owners: @twheeloc

Update variance.md
  articles/finance/business-performance-planning/variance.md
Owners: @twheeloc

Update reporting.md
  articles/finance/business-performance-planning/reporting.md
Owners: @twheeloc

Update matrix-planning.md
  articles/finance/business-performance-planning/matrix-planning.md
Owners: @twheeloc

Add more detail explanations for loyalty tier updates.
  articles/commerce/tasks/define-loyalty-cards.md
  articles/commerce/tasks/define-loyalty-programs.md
Owners: @josaw1

Add highlights.
  articles/commerce/tasks/define-loyalty-programs.md
Owners: @josaw1

Update define-loyalty-cards.md
  articles/commerce/tasks/define-loyalty-cards.md
Owners: @josaw1

review
  articles/supply-chain/inventory/inventory-visibility-reservations.md
Owners: @kamaybac

review
  articles/supply-chain/sales-marketing/sales-tax-calculation.md
  articles/supply-chain/sales-marketing/tasks/create-sales-orders.md
Owners: @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
