Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Edited
  articles/supply-chain/pricing-management/price-component-code.md
Owners: @kamaybac

Edited
  articles/supply-chain/pricing-management/price-component-posting.md
Owners: @kamaybac

Edited
  articles/supply-chain/pricing-management/price-structure-details.md
Owners: @kamaybac

Edited
  articles/supply-chain/pricing-management/price-structure-multiple.md
Owners: @kamaybac

Edited
  articles/supply-chain/pricing-management/price-structure-overview.md
Owners: @kamaybac

Edited
  articles/supply-chain/pricing-management/price-structure-single.md
Owners: @kamaybac

Edited
  articles/supply-chain/pricing-management/pricing-management-enable.md
Owners: @kamaybac

Edited
  articles/supply-chain/pricing-management/pricing-management-overview.md
Owners: @kamaybac

Edited
  articles/supply-chain/pricing-management/vendor-list-price.md
Owners: @kamaybac

Edited
  articles/supply-chain/pricing-management/sales-trade-agreement-prices.md
Owners: @kamaybac

Added a 'description' value in the metadata
  articles/supply-chain/pricing-management/price-structure-details.md
Owners: @kamaybac

Edited updated sections
  articles/supply-chain/pim/tasks/create-predefined-product-variants.md
Owners: @kamaybac

Update install-configure-warehouse-management-app.md
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
Owners: @kamaybac

Update removed-deprecated-features-scm-updates.md
  articles/supply-chain/get-started/removed-deprecated-features-scm-updates.md
Owners: @kamaybac

Update removed-deprecated-features-scm-updates.md
  articles/supply-chain/get-started/removed-deprecated-features-scm-updates.md
Owners: @kamaybac

recreated deleted articles
  articles/fin-ops-core/dev-itpro/help/custom-help-toolkit-converthtmltojson.md
  articles/fin-ops-core/dev-itpro/help/custom-help-toolkit-htmllocalechanger.md
  articles/fin-ops-core/dev-itpro/help/migrate-dynamicsax2012.md
  articles/fin-ops-core/dev-itpro/help/preparing-content.md
Owners: @johnmichalak

removed redirects
  .openpublishing.redirection.json
  articles/fin-ops-core/dev-itpro/help/connect-help-pane.md
  articles/fin-ops-core/dev-itpro/help/custom-help-overview.md
  articles/fin-ops-core/dev-itpro/help/language-locale.md
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

removed toolkit reference
  articles/fin-ops-core/dev-itpro/help/connect-help-pane.md
Owners: @johnmichalak

removed links to Deploy Custom Help in Azure
  articles/fin-ops-core/dev-itpro/help/custom-help-toolkit-converthtmltojson.md
  articles/fin-ops-core/dev-itpro/help/custom-help-toolkit-htmllocalechanger.md
Owners: @johnmichalak

Update google-pay-adyen.md
  articles/commerce/dev-itpro/google-pay-adyen.md
Owners: @josaw1

Update apple-pay-adyen.md
  articles/commerce/dev-itpro/apple-pay-adyen.md
Owners: @josaw1

Update hr-whats-new-10-0-34.md
  articles/human-resources/get-started/hr-whats-new-10-0-34.md
Owners: @twheeloc

Update whats-new-changed-10-0-34.md
  articles/finance/get-started/whats-new-changed-10-0-34.md
Owners: @twheeloc

Update whats-new-platform-updates-10-0-34.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-34.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-34.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-34.md
Owners: @johnmichalak

Update whats-new-home-page.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-home-page.md
Owners: @johnmichalak

Update quality-updates-faq.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-faq.md
Owners: @johnmichalak

Update quality-updates-faq.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-faq.md
Owners: @johnmichalak

Update quality-updates-faq.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-faq.md
Owners: @johnmichalak

Update set-up-security.md
  articles/finance/business-performance-analytics/set-up-security.md
Owners: @twheeloc

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management/omnichannel-media-management-overview.md
Owners: @josaw1

Update set-up-security.md
  articles/finance/business-performance-analytics/set-up-security.md
Owners: @twheeloc

Edited updated sections (+fixed issues flagged by spelling/grammar check)
  articles/finance/localizations/emea-intrastat.md
Owners: @kfend

Edited updated sections (+fixed issues flagged by spelling/grammar check)
  articles/finance/localizations/emea-multiple-vat-registration-numbers.md
Owners: @kfend

Edited updated sections (+fixed issues flagged by spelling/grammar check)
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations.md
Owners: @kfend

Update project-migration-manager.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/project-migration-manager.md
Owners: @johnmichalak

Update how-to-create-and-edit-reports.md
  articles/finance/business-performance-analytics/how-to-create-and-edit-reports.md
Owners: @twheeloc

Update project-migration-manager.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/project-migration-manager.md
Owners: @johnmichalak

Update project-migration-manager.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/project-migration-manager.md
Owners: @johnmichalak

Create whats-new-commerce-10-0-34.md
  articles/commerce/get-started/whats-new-commerce-10-0-34.md
Owners: @josaw1
