Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update environment-lifecycle-connect-finops-existing-dv.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-existing-dv.md
Owners: @sericks007

Update environment-lifecycle-connect-finops-existing-dv.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-existing-dv.md
Owners: @sericks007

Add files via upload
  articles/fin-ops-core/dev-itpro/power-platform/media/Scenario1_Step1.png
  articles/fin-ops-core/dev-itpro/power-platform/media/Scenario2_Step1.png
Owners: @sericks007

Update environment-lifecycle-connect-finops-existing-dv.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-existing-dv.md
Owners: @sericks007

Update environment-lifecycle-connect-finops-existing-dv.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-existing-dv.md
Owners: @sericks007

Update environment-lifecycle-connect-finops-new-dv.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-new-dv.md
Owners: @sericks007

Update environment-lifecycle-core-concepts.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-core-concepts.md
Owners: @sericks007

Update environment-lifecycle-connect-finops-existing-dv.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-existing-dv.md
Owners: @sericks007

Update environment-lifecycle-connect-finops-existing-dv.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-existing-dv.md
Owners: @sericks007

Update environment-lifecycle-connect-finops-new-dv.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-new-dv.md
Owners: @sericks007

Rename personalization-gdpr.md to opt-out-personalization.md
  articles/commerce/opt-out-personalization.md
Owners: @josaw1

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update add-recommendations-control-pos-screen.md
  articles/commerce/add-recommendations-control-pos-screen.md
Owners: @josaw1

Update create-editorial-recommendation-lists.md
  articles/commerce/create-editorial-recommendation-lists.md
Owners: @josaw1

Update enable-ADLS-environment.md
  articles/commerce/enable-ADLS-environment.md
Owners: @josaw1

Update enable-product-recommendations.md
  articles/commerce/enable-product-recommendations.md
Owners: @josaw1

Update faq-recommendations.md
  articles/commerce/faq-recommendations.md
Owners: @josaw1

Update modify-product-recommendation-results.md
  articles/commerce/modify-product-recommendation-results.md
Owners: @josaw1

Update personalized-recommendations.md
  articles/commerce/personalized-recommendations.md
Owners: @josaw1

Update product.md
  articles/commerce/product.md
Owners: @josaw1

Update product-recommendations.md
  articles/commerce/product-recommendations.md
Owners: @josaw1

Update product-recommendations-demo-data.md
  articles/commerce/product-recommendations-demo-data.md
Owners: @josaw1

Update set-up-alternate-data-flow.md
  articles/commerce/set-up-alternate-data-flow.md
Owners: @josaw1

Update shop-similar-looks.md
  articles/commerce/shop-similar-looks.md
Owners: @josaw1

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update arch-component-versioning.md
  articles/commerce/arch-component-versioning.md
Owners: @josaw1

Update sdk-updates.md
  articles/commerce/e-commerce-extensibility/sdk-updates.md
Owners: @josaw1

Update configure-BPA.md
  articles/finance/business-performance-analytics/configure-BPA.md
Owners: @twheeloc

Removed info related to build >.165
  articles/fin-ops-core/fin-ops/get-started/quality-updates-build-details-10-0-31.md
Owners: @johnmichalak

Update location-directives-optimize.md
  articles/supply-chain/warehousing/location-directives-optimize.md
Owners: @kamaybac

review
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash-concept.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash-enable.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash-use.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash.md
Owners: @josaw1

Update Monitor Warehouse Management usage and performance
  articles/supply-chain/warehousing/application-insights-monitor-usage-performance.md
Owners: @kamaybac

review
  articles/supply-chain/sales-marketing/sales-orders-archiving.md
Owners: @kamaybac

Fixed incorrect descriptions
  articles/supply-chain/warehousing/application-insights-monitor-usage-performance.md
Owners: @kamaybac

Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Owners: none

Added redirect for personalization-gdpr rename
  .openpublishing.redirection.json
Owners: none

review
  articles/supply-chain/warehousing/location-directives-optimize.md
Owners: @kamaybac

Update ADFS debugging with easier methodology
  articles/fin-ops-core/dev-itpro/deployment/media/NetworkLogOnpremADFS.png
  articles/fin-ops-core/dev-itpro/deployment/media/NetworkLogPayloadOnpremADFS.png
  articles/fin-ops-core/dev-itpro/deployment/media/Note-the-code.png
  articles/fin-ops-core/dev-itpro/deployment/media/Scrub-PII.png
  articles/fin-ops-core/dev-itpro/deployment/troubleshoot-on-prem.md
Owners: @johnmichalak

Update configure-BPA.md
  articles/finance/business-performance-analytics/configure-BPA.md
Owners: @twheeloc

Update configure-BPA.md
  articles/finance/business-performance-analytics/configure-BPA.md
Owners: @twheeloc
