Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update Credit-statistics-faq.md
  articles/finance/accounts-receivable/Credit-statistics-faq.md
Owners: @twheeloc

Create emea-dnk-vend-e-invoice.md
  articles/finance/localizations/denmark/emea-dnk-vend-e-invoice.md
Owners: @kfend

Update emea-dnk-vend-e-invoice.md
  articles/finance/localizations/denmark/emea-dnk-vend-e-invoice.md
Owners: @kfend

Update emea-dnk-vend-e-invoice.md
  articles/finance/localizations/denmark/emea-dnk-vend-e-invoice.md
Owners: @kfend

Update emea-dnk-vend-e-invoice.md
  articles/finance/localizations/denmark/emea-dnk-vend-e-invoice.md
Owners: @kfend

Add files via upload
  articles/finance/localizations/media/emea-dnk-er-source.jpg
Owners: @kfend

Update emea-dnk-vend-e-invoice.md
  articles/finance/localizations/denmark/emea-dnk-vend-e-invoice.md
Owners: @kfend

Add files via upload
  articles/finance/localizations/media/emea-dnk-er-source.jpg
Owners: @kfend

Update emea-dnk-vend-e-invoice.md
  articles/finance/localizations/denmark/emea-dnk-vend-e-invoice.md
Owners: @kfend

Update emea-dnk-vend-e-invoice.md
  articles/finance/localizations/denmark/emea-dnk-vend-e-invoice.md
Owners: @kfend

Update emea-dnk-vend-e-invoice.md
  articles/finance/localizations/denmark/emea-dnk-vend-e-invoice.md
Owners: @kfend

Update emea-dnk-vend-e-invoice.md
  articles/finance/localizations/denmark/emea-dnk-vend-e-invoice.md
Owners: @kfend

Update emea-dnk-vend-e-invoice.md
  articles/finance/localizations/denmark/emea-dnk-vend-e-invoice.md
Owners: @kfend

Update Credit-statistics-faq.md
  articles/finance/accounts-receivable/Credit-statistics-faq.md
Owners: @twheeloc

Update emea-dnk-vend-e-invoice.md
  articles/finance/localizations/denmark/emea-dnk-vend-e-invoice.md
Owners: @kfend

Update whats-new-changed-10-0-38.md
  articles/finance/get-started/whats-new-changed-10-0-38.md
Owners: @twheeloc

Update whats-new-changed-10-0-38.md
  articles/finance/get-started/whats-new-changed-10-0-38.md
Owners: @twheeloc

Edited
  articles/finance/accounts-receivable/Credit-statistics-faq.md
Owners: @twheeloc

Minor Edit
  articles/fin-ops-core/dev-itpro/lifecycle-services/move-on-prem-to-cloud.md
Owners: @johnmichalak

Create tm-post-transactions.md
  articles/finance/localizations/iberoamerica/tm-post-transactions.md
Owners: @kfend

Update ltm-Set-up-legal-entity-and-tax-Panama.md
  articles/finance/localizations/iberoamerica/ltm-Set-up-legal-entity-and-tax-Panama.md
Owners: @kfend

Update ltm-create-customer-and-vendor-Panama.md
  articles/finance/localizations/iberoamerica/ltm-create-customer-and-vendor-Panama.md
Owners: @kfend

Create ltm-Set-up-legal-entity-and-tax-Nicaragua.md
  articles/finance/localizations/iberoamerica/ltm-Set-up-legal-entity-and-tax-Nicaragua.md
Owners: @kfend

Create ltm-Configure-invoices-Nicaragua.md
  articles/finance/localizations/iberoamerica/ltm-Configure-invoices-Nicaragua.md
Owners: @kfend

Create ltm-create-customer-and-vendor-Nicaragua.md
  articles/finance/localizations/iberoamerica/ltm-create-customer-and-vendor-Nicaragua.md
Owners: @kfend

Update emea-dnk-vend-e-invoice.md
  articles/finance/localizations/denmark/emea-dnk-vend-e-invoice.md
Owners: @kfend

Update emea-dnk-vend-e-invoice.md
  articles/finance/localizations/denmark/emea-dnk-vend-e-invoice.md
Owners: @kfend

Update emea-dnk-vend-e-invoice.md
  articles/finance/localizations/denmark/emea-dnk-vend-e-invoice.md
Owners: @kfend

New article
  articles/supply-chain/asset-management/objects/change-objecttype.md
Owners: @kamaybac

Update emea-deu-cust-e-invoices.md
  articles/finance/localizations/germany/emea-deu-cust-e-invoices.md
Owners: @kfend

Provide link to up-to-date Commerce localization scope
  articles/finance/localizations/brazil/latam-bra-scope.md
Owners: @kfend

new article
  articles/supply-chain/asset-management/functional-locations/change-functional-location-type.md
Owners: @kamaybac

Update emea-deu-cust-e-invoices.md
  articles/finance/localizations/germany/emea-deu-cust-e-invoices.md
Owners: @kfend

Update latam-bra-scope.md
  articles/finance/localizations/brazil/latam-bra-scope.md
Owners: @kfend

WMA v2.1.17.0 release notes
  articles/supply-chain/warehousing/whats-new-wma.md
Owners: @kamaybac

Update latam-bra-scope.md
  articles/finance/localizations/brazil/latam-bra-scope.md
Owners: @kfend

Update whats-new-wma.md
  articles/supply-chain/warehousing/whats-new-wma.md
Owners: @kamaybac

Update basic-budgeting-overview-configuration.md
  articles/finance/budgeting/basic-budgeting-overview-configuration.md
Owners: @twheeloc

Edited
  articles/finance/localizations/iberoamerica/tm-post-transactions.md
Owners: @kfend

Update configure-export-data-lake.md
  articles/fin-ops-core/dev-itpro/data-entities/configure-export-data-lake.md
Owners: @johnmichalak

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
