Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update mapping-tables.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/includes/mapping-tables.md
Owners: @josaw1

Updating Localization Availability Guide Link
  articles/finance/localizations/latam-bra-scope.md
Owners: @kfend

custom help toolkit deprecation
  .openpublishing.redirection.json
  articles/fin-ops-core/dev-itpro/help/connect-help-pane.md
  articles/fin-ops-core/dev-itpro/help/contributor-guide.md
  articles/fin-ops-core/dev-itpro/help/custom-help-overview.md
  articles/fin-ops-core/dev-itpro/help/custom-help-toolkit-ConvertHtmlToJson.md
  articles/fin-ops-core/dev-itpro/help/custom-help-toolkit-HtmlFromRepoGenerator.md
  articles/fin-ops-core/dev-itpro/help/custom-help-toolkit-HtmlLocaleChanger.md
  articles/fin-ops-core/dev-itpro/help/custom-help-toolkit.md
  articles/fin-ops-core/dev-itpro/help/language-locale.md
  articles/fin-ops-core/dev-itpro/help/migrate-dynamicsax2012.md
  articles/fin-ops-core/dev-itpro/help/preparing-content.md
  articles/fin-ops-core/dev-itpro/help/walkthrough-help-azure.md
  articles/fin-ops-core/dev-itpro/includes/custom-help-toolkit-tools.md
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak, @josaw1

Add link
  articles/supply-chain/get-started/whats-new-scm-10-0-33.md
Owners: @kamaybac

links, acrolinx
  articles/fin-ops-core/dev-itpro/help/connect-help-pane.md
  articles/fin-ops-core/dev-itpro/help/contributor-guide.md
  articles/fin-ops-core/dev-itpro/help/custom-help-overview.md
  articles/fin-ops-core/dev-itpro/help/language-locale.md
  articles/fin-ops-core/dev-itpro/help/preparing-content.md
  articles/fin-ops-core/dev-itpro/includes/custom-help-toolkit-tools.md
Owners: @johnmichalak, @josaw1

redirects
  .openpublishing.redirection.json
  articles/fin-ops-core/dev-itpro/help/language-locale.md
Owners: @johnmichalak

Update monitor-replication.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/monitor-replication.md
Owners: @johnmichalak

Update monitor-replication.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/monitor-replication.md
Owners: @johnmichalak

Update monitor-replication.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/monitor-replication.md
Owners: @johnmichalak

Update monitor-replication.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/monitor-replication.md
Owners: @johnmichalak

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update toc.yml
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update monitor-replication.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/monitor-replication.md
Owners: @johnmichalak

review
  articles/supply-chain/warehousing/label-printing-using-nicelabel.md
Owners: @kamaybac

Update google-pay-adyen.md
  articles/commerce/dev-itpro/google-pay-adyen.md
Owners: @josaw1

Update monitor-replication.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/monitor-replication.md
Owners: @johnmichalak

Add files via upload
  articles/commerce/includes/retail-sdk-deprecation-banner.md
Owners: @josaw1

Add files via upload
  articles/commerce/includes/mpos-hybrid-apps-deprecation-banner.md
Owners: @josaw1

Add files via upload
  articles/commerce/includes/retail-sdk-deprecation-banner.md
Owners: @josaw1

Update SDK-build-pipeline.md
  articles/commerce/dev-itpro/retail-sdk/SDK-build-pipeline.md
Owners: @josaw1

Update retail-server-icontroller-extension.md
  articles/commerce/dev-itpro/retail-server-icontroller-extension.md
Owners: @josaw1

Update SDK-build-pipeline.md
  articles/commerce/dev-itpro/retail-sdk/SDK-build-pipeline.md
Owners: @josaw1

Update Install-invoice-capture.md
  articles/finance/accounts-payable/Install-invoice-capture.md
Owners: @twheeloc

Update retail-store-scale-unit-configuration-installation.md
  articles/commerce/dev-itpro/retail-store-scale-unit-configuration-installation.md
Owners: @josaw1

Update setup-local-dev-env.md
  articles/commerce/dev-itpro/setup-local-dev-env.md
Owners: @josaw1

Update hybridapp.md
  articles/commerce/dev-itpro/hybridapp.md
Owners: @josaw1

Update migrate-mpos-store-commerce.md
  articles/commerce/dev-itpro/pos-extension/migrate-mpos-store-commerce.md
Owners: @josaw1

Update migrate-commerce-sdk.md
  articles/commerce/dev-itpro/retail-sdk/migrate-commerce-sdk.md
Owners: @josaw1

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update toc.yml
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-34.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-34.md
Owners: @johnmichalak

Update whats-new-commerce-10-0-32.md
  articles/commerce/get-started/whats-new-commerce-10-0-32.md
Owners: @josaw1

Update whats-new-commerce-10-0-32.md
  articles/commerce/get-started/whats-new-commerce-10-0-32.md
Owners: @josaw1

Update enable-efficiency-in-quote-to-cash.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/enable-efficiency-in-quote-to-cash.md
Owners: @josaw1

Sealing of India-specific functionality
  articles/commerce/localizations/apac-ind-cash-registers.md
Owners: @josaw1

Update apac-ind-cash-registers.md
  articles/commerce/localizations/apac-ind-cash-registers.md
Owners: @josaw1

Update apac-ind-cash-registers.md
  articles/commerce/localizations/apac-ind-cash-registers.md
Owners: @josaw1
