Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

draft ver.
  articles/supply-chain/inventory/inventory-visibility-api.md
  articles/supply-chain/inventory/inventory-visibility-configuration.md
  articles/supply-chain/inventory/inventory-visibility-reservations.md
Owners: @kamaybac

review
  articles/supply-chain/get-started/whats-new-scm-10-0-38.md
  articles/supply-chain/master-planning/coverage-settings.md
Owners: @kamaybac

Update coverage-settings.md
  articles/supply-chain/master-planning/coverage-settings.md
Owners: @kamaybac

fix link
  articles/supply-chain/get-started/whats-new-scm-10-0-38.md
Owners: @kamaybac

add preview notes
  articles/supply-chain/demand-planning/calculation-profiles.md
  articles/supply-chain/demand-planning/demand-planning-home-page.md
  articles/supply-chain/demand-planning/design-calculation-models.md
  articles/supply-chain/demand-planning/design-forecast-models.md
  articles/supply-chain/demand-planning/export-data.md
  articles/supply-chain/demand-planning/forecast-profiles.md
  articles/supply-chain/demand-planning/import-data.md
  articles/supply-chain/demand-planning/install-demand-planning.md
  articles/supply-chain/demand-planning/tables.md
  articles/supply-chain/demand-planning/time-series.md
  articles/supply-chain/demand-planning/transform-data.md
  articles/supply-chain/master-planning/coverage-settings.md
  articles/supply-chain/warehousing/mixed-license-plate-receiving.md
Owners: @kamaybac

Update automatic-charges-allocation.md
  articles/supply-chain/procurement/automatic-charges-allocation.md
Owners: @kamaybac

Update invoice-capture-workspace.md
  articles/finance/accounts-payable/invoice-capture-workspace.md
Owners: @twheeloc

Update invoice-capture-config-group.md
  articles/finance/accounts-payable/invoice-capture-config-group.md
Owners: @twheeloc

Update config-invoice-capture.md
  articles/finance/accounts-payable/config-invoice-capture.md
Owners: @twheeloc

Update invoice-capture-channel.md
  articles/finance/accounts-payable/invoice-capture-channel.md
Owners: @twheeloc

Update config-invoice-capture.md
  articles/finance/accounts-payable/config-invoice-capture.md
Owners: @twheeloc

Update config-invoice-capture.md
  articles/finance/accounts-payable/config-invoice-capture.md
Owners: @twheeloc

Update invoice-capture-overview.md
  articles/finance/accounts-payable/invoice-capture-overview.md
Owners: @twheeloc

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update create-retail-product-kits.md
  articles/commerce/create-retail-product-kits.md
Owners: @josaw1

Add FAQ
  articles/supply-chain/get-started/removed-deprecated-features-scm-updates.md
  articles/supply-chain/supply-chain-management-troubleshooting.md
  articles/supply-chain/toc.yml
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
  articles/supply-chain/warehousing/warehouse-app-authenticate-user-based.md
  articles/supply-chain/warehousing/warehouse-app-device-code-faq.md
  articles/supply-chain/warehousing/warehouse-app-intune-user-based.md
Owners: @kamaybac

fix links
  articles/supply-chain/get-started/removed-deprecated-features-scm-updates.md
  articles/supply-chain/warehousing/warehouse-app-user-based-auth-faq.md
Owners: @kamaybac

fix links
  articles/supply-chain/get-started/removed-deprecated-features-scm-updates.md
  articles/supply-chain/supply-chain-management-troubleshooting.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update Install-invoice-capture.md
  articles/finance/accounts-payable/Install-invoice-capture.md
Owners: @twheeloc

Update Install-invoice-capture.md
  articles/finance/accounts-payable/Install-invoice-capture.md
Owners: @twheeloc

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

edit
  articles/supply-chain/warehousing/warehouse-app-user-based-auth-faq.md
Owners: @kamaybac

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update reset.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/reset.md
Owners: @josaw1

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update grid-capabilities.md
  articles/fin-ops-core/dev-itpro/get-started/grid-capabilities.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-38.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-38.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-38.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-38.md
Owners: @johnmichalak

Edited updated sections
  articles/finance/accounts-payable/invoice-capture-overview.md
Owners: @twheeloc

Tweak
  articles/finance/accounts-payable/invoice-capture-overview.md
Owners: @twheeloc

Edited
  articles/finance/accounts-payable/invoice-capture-config-group.md
Owners: @twheeloc

Tweak
  articles/finance/accounts-payable/invoice-capture-overview.md
Owners: @twheeloc

Update manage-b2b-users.md
  articles/commerce/b2b/manage-b2b-users.md
Owners: @josaw1

Update pos-trigger-printing.md
  articles/commerce/dev-itpro/pos-trigger-printing.md
Owners: @josaw1

Update pos-trigger-printing.md
  articles/commerce/dev-itpro/pos-trigger-printing.md
Owners: @josaw1

Update pos-trigger-printing.md
  articles/commerce/dev-itpro/pos-trigger-printing.md
Owners: @josaw1

Update pos-trigger-printing.md
  articles/commerce/dev-itpro/pos-trigger-printing.md
Owners: @josaw1
