Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update lcs-setup.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/lcs-setup.md
Owners: @josaw1

Update requirements-and-prerequisites.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/requirements-and-prerequisites.md
Owners: @josaw1

Update initial-sync-guidance.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/initial-sync-guidance.md
Owners: @josaw1

Update initial-sync-guidance.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/initial-sync-guidance.md
Owners: @josaw1

Update lcs-setup.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/lcs-setup.md
Owners: @josaw1

Update channel-merch-config-validator.md
  articles/commerce/dev-itpro/channel-merch-config-validator.md
Owners: @josaw1

Update configure-channel-hierarchy.md
  articles/commerce/dev-itpro/configure-channel-hierarchy.md
Owners: @josaw1

Update quick-bulk-orders.md
  articles/commerce/b2b/quick-bulk-orders.md
Owners: @josaw1

Update payment-workspace.md
  articles/commerce/dev-itpro/payment-workspace.md
Owners: @josaw1

Update and rename ltm-chile-configure-sales-purchase-invoices.md to ltm-chile-configure-sales-purchase-invoices.md
  articles/finance/localizations/chile/ltm-chile-configure-sales-purchase-invoices.md
  articles/finance/localizations/iberoamerica/ltm-chile-configure-sales-purchase-invoices.md
Owners: @kfend

Update and rename ltm-chile-customer-vendor-addresses.md to ltm-chile-customer-vendor-addresses.md
  articles/finance/localizations/chile/ltm-chile-customer-vendor-addresses.md
  articles/finance/localizations/iberoamerica/ltm-chile-customer-vendor-addresses.md
Owners: @kfend

Update ltm-chile-configure-sales-purchase-invoices.md
  articles/finance/localizations/iberoamerica/ltm-chile-configure-sales-purchase-invoices.md
Owners: @kfend

AppId rollback; update rollout being delayed.
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/requirements-and-prerequisites.md
Owners: @josaw1

Update and rename ltm-chile-set-up-legal-entity-tax-information.md to ltm-chile-set-up-legal-entity-tax-information.md
  articles/finance/localizations/iberoamerica/ltm-chile-set-up-legal-entity-tax-information.md
Owners: @kfend

Update docfx.json
  articles/docfx.json
Owners: none

Update ltm-Configure-invoices-CostaRica.md
  articles/finance/localizations/iberoamerica/ltm-Configure-invoices-CostaRica.md
Owners: @kfend

Update Azure-Data-Lake-GA-version-overview.md
  articles/fin-ops-core/dev-itpro/data-entities/Azure-Data-Lake-GA-version-overview.md
Owners: @johnmichalak

Update configure-export-data-lake.md
  articles/fin-ops-core/dev-itpro/data-entities/configure-export-data-lake.md
Owners: @johnmichalak

Create ltm- create-customer--vendor-Costa Rica.md
  articles/finance/localizations/iberoamerica/ltm- create-customer--vendor-Costa Rica.md
Owners: @kfend

Update ltm-electronic-doc-references.md
  articles/finance/localizations/iberoamerica/ltm-electronic-doc-references.md
Owners: @kfend

Update removed-deprecated-features-platform-updates.md
  articles/fin-ops-core/fin-ops/get-started/removed-deprecated-features-platform-updates.md
Owners: @johnmichalak

Update create-fixed-asset.md
  articles/finance/fixed-assets/tasks/create-fixed-asset.md
Owners: @twheeloc

Update ltm-chile-withholding-book.md
  articles/finance/localizations/iberoamerica/ltm-chile-withholding-book.md
Owners: @kfend

10.0.38
  articles/supply-chain/warehousing/inbound-load-handling.md
  articles/supply-chain/warehousing/media/wms-only-internal-wom-process.svg
  articles/supply-chain/warehousing/mixed-license-plate-receiving.md
  articles/supply-chain/warehousing/planned-cross-docking.md
  articles/supply-chain/warehousing/wms-only-mode-exchange-data.md
  articles/supply-chain/warehousing/wms-only-mode-faq.md
  articles/supply-chain/warehousing/wms-only-mode-overview.md
  articles/supply-chain/warehousing/wms-only-mode-setup.md
  articles/supply-chain/warehousing/wms-only-mode-using.md
Owners: @kamaybac

Add merchandising validator
  articles/commerce/pricing-apis.md
Owners: @josaw1

.38
  articles/supply-chain/warehousing/mixed-license-plate-receiving.md
Owners: @kamaybac

Update emea-cze-vat-declaration-tax-declaration-model.md
  articles/finance/localizations/czech-republic/emea-cze-vat-declaration-tax-declaration-model.md
Owners: @kfend

Update finance-insights-home-page.md
  articles/finance/finance-insights/finance-insights-home-page.md
Owners: @twheeloc

Update configure-for-fin-insites.md
  articles/finance/finance-insights/configure-for-fin-insites.md
Owners: @twheeloc

Update emea-nor-vat-return-setup.md
  articles/finance/localizations/norway/emea-nor-vat-return-setup.md
Owners: @kfend

Update enable-cust-paymnt-prediction.md
  articles/finance/finance-insights/enable-cust-paymnt-prediction.md
Owners: @twheeloc

Update enable-cash-flow-forecasting.md
  articles/finance/finance-insights/enable-cash-flow-forecasting.md
Owners: @twheeloc

Update enable-budget-proposal.md
  articles/finance/finance-insights/enable-budget-proposal.md
Owners: @twheeloc

Update budget-proposals.md
  articles/finance/finance-insights/budget-proposals.md
Owners: @twheeloc

Update release-process.md
  articles/supply-chain/master-planning/planning-optimization/release-process.md
Owners: @kamaybac

Update ltm-chile-withholding-book.md
  articles/finance/localizations/iberoamerica/ltm-chile-withholding-book.md
Owners: @kfend

Update ltm-chile-withholding-book.md
  articles/finance/localizations/iberoamerica/ltm-chile-withholding-book.md
Owners: @kfend

Update emea-nor-vat-return-setup.md
  articles/finance/localizations/norway/emea-nor-vat-return-setup.md
Owners: @kfend

Update whats-new-scm-10-0-36.md
  articles/supply-chain/get-started/whats-new-scm-10-0-36.md
Owners: @kamaybac

Edited
  articles/finance/localizations/iberoamerica/ltm-invoice-layout-print.md
Owners: @kfend

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
