Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update inventory-visibility-copilot-api.md
  articles/supply-chain/inventory/inventory-visibility-copilot-api.md
Owners: @kamaybac

Update inventory-visibility-copilot-api.md
  articles/supply-chain/inventory/inventory-visibility-copilot-api.md
Owners: @kamaybac

Fix API path
  articles/supply-chain/inventory/inventory-visibility-copilot-api.md
Owners: @kamaybac

edit
  articles/supply-chain/inventory/inventory-visibility-copilot-api.md
Owners: @kamaybac

Update inventory-visibility-copilot-api.md
  articles/supply-chain/inventory/inventory-visibility-copilot-api.md
Owners: @kamaybac

Update inventory-visibility-copilot-api.md
  articles/supply-chain/inventory/inventory-visibility-copilot-api.md
Owners: @kamaybac

Update inventory-visibility-api.md
  articles/supply-chain/inventory/inventory-visibility-api.md
Owners: @kamaybac

move and rename file
  articles/supply-chain/transportation/sustainability-manager-integration-setup.md
Owners: @kamaybac

Update cdx-extensibility.md
  articles/commerce/dev-itpro/cdx-extensibility.md
Owners: @josaw1

review
  articles/supply-chain/get-started/whats-new-scm-10-0-38.md
  articles/supply-chain/toc.yml
  articles/supply-chain/transportation/media/enable-fno-impersonation.svg
  articles/supply-chain/transportation/plan-freight-transportation-routes-multiple-stops.md
  articles/supply-chain/transportation/sustainability-manager-integration-setup.md
Owners: @kamaybac

Update deprecated-master-planning-overview.md
  articles/supply-chain/master-planning/deprecated-master-planning-overview.md
Owners: @kamaybac

Update Dimensions.md
  articles/finance/business-performance-planning/Dimensions.md
Owners: @twheeloc

Update business-performance-planning-overview.md
  articles/finance/business-performance-planning/business-performance-planning-overview.md
Owners: @twheeloc

Update business-performance-planning-overview.md
  articles/finance/business-performance-planning/business-performance-planning-overview.md
Owners: @twheeloc

Update trace-trace-tutorial.md
  articles/fin-ops-core/dev-itpro/perf-test/trace-trace-tutorial.md
Owners: @josaw1

review
  articles/supply-chain/inventory/inventory-visibility-ui-version-2.md
Owners: @kamaybac

Update rsat-trial-without-devops.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-trial-without-devops.md
Owners: @josaw1

Update Order-fulfillment-POS-setup.md
  articles/commerce/Order-fulfillment-POS-setup.md
Owners: @josaw1

Update dom-limitations.md
  articles/commerce/dom-limitations.md
Owners: @josaw1

Update Install-BPP2.md
  articles/finance/business-performance-planning/Install-BPP2.md
Owners: @twheeloc

Update dom-processing.md
  articles/commerce/dom-processing.md
Owners: @josaw1

Update dom-rules.md
  articles/commerce/dom-rules.md
Owners: @josaw1

Update rsat-tutorial.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-tutorial.md
Owners: @josaw1

Update dom-set-up.md
  articles/commerce/dom-set-up.md
Owners: @josaw1

Update product-discovery-checklist.md
  articles/commerce/product-discovery-checklist.md
Owners: @josaw1

Update dom-set-up.md
  articles/commerce/dom-set-up.md
Owners: @josaw1

Update rsat-tutorial.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-tutorial.md
Owners: @josaw1

Update trace-trace-tutorial.md
  articles/fin-ops-core/dev-itpro/perf-test/trace-trace-tutorial.md
Owners: @josaw1

Update trace-trace-tutorial.md
  articles/fin-ops-core/dev-itpro/perf-test/trace-trace-tutorial.md
Owners: @josaw1

Update trace-trace-tutorial.md
  articles/fin-ops-core/dev-itpro/perf-test/trace-trace-tutorial.md
Owners: @josaw1

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update Order-fulfillment-POS-setup.md
  articles/commerce/Order-fulfillment-POS-setup.md
Owners: @josaw1

Update rsat-user-based-authentication.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-user-based-authentication.md
Owners: @josaw1

Update rsat-using-formulas.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-using-formulas.md
Owners: @josaw1

Update Order-fulfillment-POS-setup.md
  articles/commerce/Order-fulfillment-POS-setup.md
Owners: @josaw1

Update rsat-user-based-authentication.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-user-based-authentication.md
Owners: @josaw1

Create ConfigureMicrosoftPowerPlatform
  articles/finance/general-ledger/ConfigureMicrosoftPowerPlatform
Owners: @twheeloc

Update financial-reporting-getting-started.md
  articles/finance/general-ledger/financial-reporting-getting-started.md
Owners: @twheeloc

Update Dimensions.md
  articles/finance/business-performance-planning/Dimensions.md
Owners: @twheeloc

Update rsat-using-formulas.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-using-formulas.md
Owners: @josaw1

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
