Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

order history improvements
  articles/commerce/media/AddModuleToPageOfOrderHistoryWithSearchAndFilters.png
  articles/commerce/media/OrderHistoryWithSearchAndFilters.png
  articles/commerce/media/Template_With_OrderHistory_AllowingSearchAndFiltering.png
Owners: @josaw1

Edited
  articles/supply-chain/inventory/inventory-visibility-ui-version-2.md
Owners: @kamaybac

Update filter-and-search-order-history.md
  articles/commerce/filter-and-search-order-history.md
Owners: @josaw1

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Reviewed
  articles/supply-chain/inventory/inventory-visibility-tips.md
Owners: @kamaybac

Reviewed
  articles/supply-chain/inventory/inventory-visibility-setup.md
Owners: @kamaybac

Reviewed
  articles/supply-chain/inventory/inventory-visibility-reservations.md
Owners: @kamaybac

Edited
  articles/supply-chain/inventory/inventory-visibility-preload-on-hand.md
Owners: @kamaybac

Update CSU-core.md
  articles/commerce/dev-itpro/CSU-core.md
Owners: @josaw1

Edited
  articles/supply-chain/inventory/inventory-visibility-power-platform-v1.md
Owners: @kamaybac

Update whats-new-changed-10-0-38.md
  articles/finance/get-started/whats-new-changed-10-0-38.md
Owners: @twheeloc

Create enrich-product-page-using-copilot-in-sitebuilder.md
  articles/commerce/enrich-product-page-using-copilot-in-sitebuilder.md
Owners: @josaw1

Update enrich-product-page-using-copilot-in-sitebuilder.md
  articles/commerce/enrich-product-page-using-copilot-in-sitebuilder.md
Owners: @josaw1

Copilot in Sitebuilder
  articles/commerce/media/Authoring_Update_Commerce_Copilot_Sitebuilder.png
  articles/commerce/media/Choose_Target_Clients.png
  articles/commerce/media/Choose_Tones.png
  articles/commerce/media/Copilot_Cozmino_Exciting content.png
  articles/commerce/media/Feature_Enable_Tenant_level.png
Owners: @josaw1

Edited
  articles/supply-chain/inventory/inventory-visibility-power-platform.md
Owners: @kamaybac

Tweak
  articles/supply-chain/inventory/inventory-visibility-power-platform-v1.md
Owners: @kamaybac

Update enrich-product-page-using-copilot-in-sitebuilder.md
  articles/commerce/enrich-product-page-using-copilot-in-sitebuilder.md
Owners: @josaw1

Update enrich-product-page-using-copilot-in-sitebuilder.md
  articles/commerce/enrich-product-page-using-copilot-in-sitebuilder.md
Owners: @josaw1

Update enrich-product-page-using-copilot-in-sitebuilder.md
  articles/commerce/enrich-product-page-using-copilot-in-sitebuilder.md
Owners: @josaw1

Add files via upload
  articles/commerce/media/SelectiveContentFiltering.png
Owners: @josaw1

EnrichedProductPageUsingCopilot
  articles/commerce/media/Customize_Product_Page.png
  articles/commerce/media/Customize_Product_Page_Launch_Copilot.png
  articles/commerce/media/EnrichedProductPageByCopilot.jpeg
  articles/commerce/media/InitialGenerate_WithUserInstructionsAndAttributeChoices.png
  articles/commerce/media/Reiterate_Initial_Response_With_Updated_User_Prompt.png
  articles/commerce/media/Review_and_make_last_minute_inline_edits.png
Owners: @josaw1

Update enrich-product-page-using-copilot-in-sitebuilder.md
  articles/commerce/enrich-product-page-using-copilot-in-sitebuilder.md
Owners: @josaw1

Update enrich-product-page-using-copilot-in-sitebuilder.md
  articles/commerce/enrich-product-page-using-copilot-in-sitebuilder.md
Owners: @josaw1

Update enrich-product-page-using-copilot-in-sitebuilder.md
  articles/commerce/enrich-product-page-using-copilot-in-sitebuilder.md
Owners: @josaw1

Add files via upload
  articles/commerce/media/EnrichedProductPageByCopilot-Mobile.jpeg
Owners: @josaw1

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update enrich-product-page-using-copilot-in-sitebuilder.md
  articles/commerce/enrich-product-page-using-copilot-in-sitebuilder.md
Owners: @josaw1

Update Install-BPP2.md
  articles/finance/business-performance-planning/Install-BPP2.md
Owners: @twheeloc

Update key-invoice-data-into-ap-system-invoice-pool.md
  articles/finance/accounts-payable/tasks/key-invoice-data-into-ap-system-invoice-pool.md
Owners: @twheeloc

Update archive-inventory-transactions.md
  articles/supply-chain/inventory/archive-inventory-transactions.md
Owners: @kamaybac

Update key-invoice-data-into-ap-system-invoice-pool.md
  articles/finance/accounts-payable/tasks/key-invoice-data-into-ap-system-invoice-pool.md
Owners: @twheeloc

Update whats-new-changed-10-0-38.md
  articles/finance/get-started/whats-new-changed-10-0-38.md
Owners: @twheeloc

Update e-invoicing-isv-connector.md
  articles/finance/localizations/global/e-invoicing-isv-connector.md
Owners: @kfend

Update e-invoicing-pol-get-started.md
  articles/finance/localizations/poland/e-invoicing-pol-get-started.md
Owners: @kfend

Update e-invoicing-isv-connector.md
  articles/finance/localizations/global/e-invoicing-isv-connector.md
Owners: @kfend

Update e-invoicing-pol-get-started.md
  articles/finance/localizations/poland/e-invoicing-pol-get-started.md
Owners: @kfend

Update e-invoicing-pol-get-started.md
  articles/finance/localizations/poland/e-invoicing-pol-get-started.md
Owners: @kfend

Update CSU-core.md
  articles/commerce/dev-itpro/CSU-core.md
Owners: @josaw1

Update CSU-core.md
  articles/commerce/dev-itpro/CSU-core.md
Owners: @josaw1

Update CSU-core.md
  articles/commerce/dev-itpro/CSU-core.md
Owners: @josaw1
