Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update create-sales-orders.md
  articles/supply-chain/sales-marketing/tasks/create-sales-orders.md
Owners: @kamaybac

Update removed-deprecated-features-finance.md
  articles/finance/get-started/removed-deprecated-features-finance.md
Owners: @twheeloc

Update revenue-recognition-overview.md
  articles/finance/accounts-receivable/revenue-recognition-overview.md
Owners: @twheeloc

Update revenue-recognition-setup.md
  articles/finance/accounts-receivable/revenue-recognition-setup.md
Owners: @twheeloc

Update revenue-recognition-recognize-deferred-revenue.md
  articles/finance/accounts-receivable/revenue-recognition-recognize-deferred-revenue.md
Owners: @twheeloc

Update revenue-recognition-so-basics.md
  articles/finance/accounts-receivable/revenue-recognition-so-basics.md
Owners: @twheeloc

Update removed-deprecated-features-finance.md
  articles/finance/get-started/removed-deprecated-features-finance.md
Owners: @twheeloc

Update docfx.json
  articles/docfx.json
Owners: none

edit
  articles/supply-chain/master-planning/planning-optimization/not-used-parameters.md
Owners: @kamaybac

Update finance-troubleshooting.md
  articles/finance/finance-troubleshooting.md
Owners: @twheeloc

Update aad-pos-logon.md
  articles/commerce/aad-pos-logon.md
Owners: @josaw1

Update inventory-availability-checks.md
  articles/commerce/inventory-availability-checks.md
Owners: @josaw1

Update emea-nor-satndard-audit-file-for-tax.md
  articles/finance/localizations/emea-nor-satndard-audit-file-for-tax.md
Owners: @kfend

Update channel-merch-config-validator.md
  articles/commerce/channel-merch-config-validator.md
Owners: @josaw1

Update inventory-availability-checks.md
  articles/commerce/inventory-availability-checks.md
Owners: @josaw1

Update pos-inventory-lookup-operation.md
  articles/commerce/pos-inventory-lookup-operation.md
Owners: @josaw1

Update work-with-store-inventory.md
  articles/commerce/work-with-store-inventory.md
Owners: @josaw1

Update inventory-availability-checks.md
  articles/commerce/inventory-availability-checks.md
Owners: @josaw1

Update isv-licensing.md
  articles/fin-ops-core/dev-itpro/dev-tools/isv-licensing.md
Owners: @josaw1

Update work-with-store-inventory.md
  articles/commerce/work-with-store-inventory.md
Owners: @josaw1

Add files via upload
  articles/fin-ops-core/dev-itpro/sysadmin/media/configure-cross-company-data.png
Owners: @johnmichalak

Update srs-overview.md
  articles/fin-ops-core/dev-itpro/sysadmin/srs-overview.md
Owners: @johnmichalak

Update srs-overview.md
  articles/fin-ops-core/dev-itpro/sysadmin/srs-overview.md
Owners: @johnmichalak

Create business-performance-planning
  articles/finance/business-performance-planning
Owners: @twheeloc

Edited
  articles/finance/localizations/emea-nor-satndard-audit-file-for-tax.md
Owners: @kfend

Update sweden.md
  articles/finance/localizations/sweden.md
Owners: @kfend

Add files via upload
  articles/finance/localizations/emea-swe-payment-periods-statistics.md
Owners: @kfend

Update e-invoicing-ita-fatturapa-get-started.md
  articles/finance/localizations/e-invoicing-ita-fatturapa-get-started.md
Owners: @kfend

Update emea-nor-satndard-audit-file-for-tax.md
  articles/finance/localizations/emea-nor-satndard-audit-file-for-tax.md
Owners: @kfend

Edited
  articles/commerce/inventory-availability-checks.md
Owners: @josaw1

Edited updated sections
  articles/commerce/pos-inventory-lookup-operation.md
Owners: @josaw1

Edited updated sections
  articles/commerce/work-with-store-inventory.md
Owners: @josaw1

Update ltm-core-field-master-lists.md
  articles/finance/localizations/ltm-core-field-master-lists.md
Owners: @kfend

Update table-map-health-check.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/table-map-health-check.md
Owners: @josaw1

Update table-map-health-check.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/table-map-health-check.md
Owners: @josaw1

Update user-defined-fields.md
  articles/fin-ops-core/fin-ops/get-started/user-defined-fields.md
Owners: @johnmichalak

edit
  articles/supply-chain/master-planning/planning-optimization/not-used-parameters.md
Owners: @kamaybac

Add GA changes
  articles/supply-chain/asset-management/asset-management-mobile-app/asset-management-app-faq.md
  articles/supply-chain/asset-management/asset-management-mobile-app/asset-management-mobile-app-overview.md
  articles/supply-chain/asset-management/asset-management-mobile-app/maintenance-requests.md
  articles/supply-chain/asset-management/asset-management-mobile-app/onboard-app.md
  articles/supply-chain/asset-management/asset-management-mobile-app/work-orders.md
Owners: @kamaybac

Add PowerBI details
  articles/supply-chain/warehousing/application-insights-monitor-usage-performance.md
Owners: @kamaybac

fix link text
  articles/supply-chain/warehousing/application-insights-monitor-usage-performance.md
Owners: @kamaybac
