Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update GS-e-invoicing-set-up-parameters.md
  articles/finance/localizations/global/GS-e-invoicing-set-up-parameters.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update GS-e-invoicing-set-up-overview.md
  articles/finance/localizations/global/GS-e-invoicing-set-up-overview.md
Owners: @kfend

Update GS-e-invoicing-set-up-overview.md
  articles/finance/localizations/global/GS-e-invoicing-set-up-overview.md
Owners: @kfend

review
  articles/supply-chain/master-planning/supplier-requested-confirmed-dates.md
Owners: @kamaybac

review
  articles/supply-chain/get-started/whats-new-scm-10-0-38.md
Owners: @kamaybac

edit
  articles/supply-chain/get-started/whats-new-scm-10-0-38.md
Owners: @kamaybac

Platform version update
  articles/fin-ops-core/dev-itpro/copilot/enable-copliot-generative-help.md
Owners: @johnmichalak

Update GS-e-invoicing-set-up-parameters.md
  articles/finance/localizations/global/GS-e-invoicing-set-up-parameters.md
Owners: @kfend

Update GS-e-invoicing-set-up-parameters.md
  articles/finance/localizations/global/GS-e-invoicing-set-up-parameters.md
Owners: @kfend

Update latam-overview.md
  articles/finance/localizations/iberoamerica/latam-overview.md
Owners: @kfend

Update enable-copliot-generative-help.md
  articles/fin-ops-core/dev-itpro/copilot/enable-copliot-generative-help.md
Owners: @johnmichalak

Update GS-e-invoicing-set-up-parameters.md
  articles/finance/localizations/global/GS-e-invoicing-set-up-parameters.md
Owners: @kfend

Update enable-copliot-generative-help.md
  articles/fin-ops-core/dev-itpro/copilot/enable-copliot-generative-help.md
Owners: @johnmichalak

Update enable-copliot-generative-help.md
  articles/fin-ops-core/dev-itpro/copilot/enable-copliot-generative-help.md
Owners: @johnmichalak

Update GS-e-invoicing-set-up-parameters.md
  articles/finance/localizations/global/GS-e-invoicing-set-up-parameters.md
Owners: @kfend

Update GS-e-invoicing-set-up-parameters.md
  articles/finance/localizations/global/GS-e-invoicing-set-up-parameters.md
Owners: @kfend

Update whats-new-platform-updates-10-0-38.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-platform-updates-10-0-38.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-38.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-platform-updates-10-0-38.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-38.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-platform-updates-10-0-38.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-38.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-platform-updates-10-0-38.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-38.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-platform-updates-10-0-38.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-38.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-platform-updates-10-0-38.md
Owners: @johnmichalak

review
  articles/supply-chain/master-planning/supplier-requested-confirmed-dates.md
Owners: @kamaybac

Update business-performance-analytics-home-page.md
  articles/finance/business-performance-analytics/business-performance-analytics-home-page.md
Owners: @twheeloc

Update business-performance-analytics-home-page.md
  articles/finance/business-performance-analytics/business-performance-analytics-home-page.md
Owners: @twheeloc

Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Owners: none

Update emea-est-vat-declaration.md
  articles/finance/localizations/estonia/emea-est-vat-declaration.md
Owners: @kfend

Update latam-overview.md
  articles/finance/localizations/iberoamerica/latam-overview.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Edited
  articles/finance/cash-bank-management/Petty-cash.md
Owners: @twheeloc

Editing tweak
  articles/finance/cash-bank-management/Petty-cash.md
Owners: @twheeloc

Update onprem-DMFService.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-DMFService.md
Owners: @johnmichalak

Update e-invoicing-ita-fatturapa-get-started.md
  articles/finance/localizations/italy/e-invoicing-ita-fatturapa-get-started.md
Owners: @kfend

Update e-invoicing-sign-up-install.md
  articles/finance/localizations/global/e-invoicing-sign-up-install.md
Owners: @kfend

Update e-invoicing-id-get-started.md
  articles/finance/localizations/indonesia/e-invoicing-id-get-started.md
Owners: @kfend

Update e-invoicing-sign-up-install.md
  articles/finance/localizations/global/e-invoicing-sign-up-install.md
Owners: @kfend

Update e-invoicing-sign-up-install.md
  articles/finance/localizations/global/e-invoicing-sign-up-install.md
Owners: @kfend

Update universal-tax-rate-api-how-to-setup-clientId-and-clientsecret.md
  articles/finance/localizations/global/universal-tax-rate-api-how-to-setup-clientId-and-clientsecret.md
Owners: @kfend

Update universal-tax-rate-api-configure-tax-solution-provider.md
  articles/finance/localizations/global/universal-tax-rate-api-configure-tax-solution-provider.md
Owners: @kfend

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
