Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Create whats-new-platform-updates-10-0-37.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-37.md
Owners: @johnmichalak

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update emea-dnk-vat-declaration-submission.md
  articles/finance/localizations/emea-dnk-vat-declaration-submission.md
Owners: @kfend

Create whats-new-changed-37.md
  articles/finance/get-started/whats-new-changed-37.md
Owners: @twheeloc

Update whats-new-changed-37.md
  articles/finance/get-started/whats-new-changed-37.md
Owners: @twheeloc

Create hr-whats-new-37.md
  articles/human-resources/get-started/hr-whats-new-37.md
Owners: @twheeloc

Edited
  articles/finance/localizations/apac-aus-tpar.md
Owners: @kfend

Update chat-with-fno-data-on-m365copilot.md
  articles/fin-ops-core/dev-itpro/m365-copilot/chat-with-fno-data-on-m365copilot.md
Owners: @johnmichalak

Rename chat-with-fno-data-on-m365copilot.md to faq-for-chat-with-fno-data-on-m365copilot.md
  articles/fin-ops-core/dev-itpro/m365-copilot/faq-for-chat-with-fno-data-on-m365copilot.md
Owners: @johnmichalak

Update apac-jpn-qualified-invoice-system.md
  articles/finance/localizations/apac-jpn-qualified-invoice-system.md
Owners: @kfend

Edited
  articles/supply-chain/warehousing/mobile-device-workspace.md
Owners: @kamaybac

Edited updated sections
  articles/supply-chain/toc.yml
Owners: @kamaybac

Fixed link
  articles/supply-chain/warehousing/mobile-device-workspace.md
Owners: @kamaybac

Update whats-new-changed-37.md
  articles/finance/get-started/whats-new-changed-37.md
Owners: @twheeloc

Update emea-dnk-vat-declaration-submission.md
  articles/finance/localizations/emea-dnk-vat-declaration-submission.md
Owners: @kfend

Update emea-dnk-vat-declaration-submission.md
  articles/finance/localizations/emea-dnk-vat-declaration-submission.md
Owners: @kfend

Update emea-dnk-vat-declaration-submission.md
  articles/finance/localizations/emea-dnk-vat-declaration-submission.md
Owners: @kfend

Update sales-tax-calculation-on-general-journal.md
  articles/finance/general-ledger/sales-tax-calculation-on-general-journal.md
Owners: @twheeloc

remove LTDR
  .openpublishing.redirection.json
  articles/fin-ops-core/dev-itpro/sysadmin/archive-inventory-purge.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-overview.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-sales-orders.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-setup.md
  articles/fin-ops-core/dev-itpro/toc.yml
  articles/supply-chain/get-started/whats-new-scm-10-0-36.md
Owners: @johnmichalak, @kamaybac

remove comments
  articles/fin-ops-core/dev-itpro/sysadmin/archive-overview.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-sales-orders.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-setup.md
Owners: @johnmichalak

remove comment
  articles/supply-chain/get-started/whats-new-scm-10-0-36.md
Owners: @kamaybac

Update e-invoicing-ita-fatturapa-get-started.md
  articles/finance/localizations/e-invoicing-ita-fatturapa-get-started.md
Owners: @kfend

Update e-invoicing-ita-fatturapa-get-started.md
  articles/finance/localizations/e-invoicing-ita-fatturapa-get-started.md
Owners: @kfend

resolve comments
  articles/supply-chain/pim/export-control-extend-licenses.md
Owners: @kamaybac

joh edit2
  articles/supply-chain/asset-management/work-orders/Material-availability-check.md
Owners: @kamaybac

add link, update dates
  articles/supply-chain/get-started/whats-new-scm-10-0-36.md
  articles/supply-chain/pim/export-control-configure.md
  articles/supply-chain/pim/export-control-extend-licenses.md
  articles/supply-chain/pim/export-control-extend-rules.md
  articles/supply-chain/pim/export-control-extend-sales-orders.md
  articles/supply-chain/pim/export-control-overview.md
  articles/supply-chain/pim/export-control-use.md
Owners: @kamaybac

Update sales-tax-calculation-on-general-journal.md
  articles/finance/general-ledger/sales-tax-calculation-on-general-journal.md
Owners: @twheeloc

Update apac-aus-tpar.md
  articles/finance/localizations/apac-aus-tpar.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update apac-aus-tpar.md
  articles/finance/localizations/apac-aus-tpar.md
Owners: @kfend

Add files via upload
  articles/finance/localizations/media/ltm-Bank-groups.jpg
  articles/finance/localizations/media/ltm-Contacts.jpg
  articles/finance/localizations/media/ltm-Customers.jpg
  articles/finance/localizations/media/ltm-Employees.jpg
  articles/finance/localizations/media/ltm-Legal-entitites.jpg
  articles/finance/localizations/media/ltm-Shipping-carriers.jpg
  articles/finance/localizations/media/ltm-Vendors.jpg
Owners: @kfend

add file, fix links
  articles/supply-chain/get-started/whats-new-home-page.md
  articles/supply-chain/get-started/whats-new-scm-10-0-29.md
  articles/supply-chain/get-started/whats-new-scm-10-0-30.md
  articles/supply-chain/get-started/whats-new-scm-10-0-31.md
  articles/supply-chain/get-started/whats-new-scm-10-0-32.md
  articles/supply-chain/get-started/whats-new-scm-10-0-33.md
  articles/supply-chain/get-started/whats-new-scm-10-0-34.md
  articles/supply-chain/get-started/whats-new-scm-10-0-35.md
  articles/supply-chain/get-started/whats-new-scm-10-0-36.md
  articles/supply-chain/get-started/whats-new-scm-10-0-37.md
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation.md
Owners: @kamaybac

Create ltm-tax-and-legal-attributes.md
  articles/finance/localizations/ltm-tax-and-legal-attributes.md
Owners: @kfend

Delete ltm-Legal-entitites.jpg
  articles/finance/localizations/media/ltm-Legal-entitites.jpg
Owners: @kfend

Add files via upload
  articles/finance/localizations/media/ltm-Legal-entities.jpg
Owners: @kfend

Update ltm-tax-and-legal-attributes.md
  articles/finance/localizations/ltm-tax-and-legal-attributes.md
Owners: @kfend

Update prepare-go-live.md
  articles/fin-ops-core/fin-ops/imp-lifecycle/prepare-go-live.md
Owners: @johnmichalak

Update prepare-go-live.md
  articles/fin-ops-core/fin-ops/imp-lifecycle/prepare-go-live.md
Owners: @johnmichalak

Update pos-operations.md
  articles/commerce/pos-operations.md
Owners: @josaw1

Update faq-for-chat-with-fno-data-on-m365copilot.md
  articles/fin-ops-core/dev-itpro/m365-copilot/faq-for-chat-with-fno-data-on-m365copilot.md
Owners: @johnmichalak
