Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Edited
  articles/fin-ops-core/dev-itpro/lifecycle-services/move-on-prem-to-cloud.md
Owners: @johnmichalak

Adding lead time notice to document copy requests.
  articles/fin-ops-core/dev-itpro/lifecycle-services/move-on-prem-to-cloud.md
Owners: @johnmichalak

Fixing note
  articles/fin-ops-core/dev-itpro/lifecycle-services/move-on-prem-to-cloud.md
Owners: @johnmichalak

Adding emphasis
  articles/fin-ops-core/dev-itpro/lifecycle-services/move-on-prem-to-cloud.md
Owners: @johnmichalak

Update whats-new-commerce-10-0-32.md
  articles/commerce/get-started/whats-new-commerce-10-0-32.md
Owners: @josaw1

Update doc
  articles/commerce/pricing-apis.md
Owners: @josaw1

Correct parameter name.
  articles/commerce/pricing-apis.md
Owners: @josaw1

Update release-process.md
  articles/supply-chain/master-planning/planning-optimization/release-process.md
Owners: @kamaybac

review
  articles/supply-chain/pricing-management/customer-product-attribute-groups.md
  articles/supply-chain/pricing-management/price-attribute-groups.md
  articles/supply-chain/pricing-management/price-attributes-overview.md
  articles/supply-chain/pricing-management/price-component-code.md
  articles/supply-chain/pricing-management/price-component-posting.md
  articles/supply-chain/pricing-management/price-tree-multiple.md
  articles/supply-chain/pricing-management/price-tree-overview.md
  articles/supply-chain/pricing-management/price-tree-single.md
  articles/supply-chain/pricing-management/pricing-management-overview.md
  articles/supply-chain/pricing-management/vendor-list-price.md
Owners: @kamaybac

replace image, add preview limitations
  articles/supply-chain/asset-management/asset-management-mobile-app/asset-management-mobile-app-overview.md
  articles/supply-chain/asset-management/asset-management-mobile-app/media/maintenance-request-scan.png
Owners: @kamaybac

Update move-on-prem-to-cloud.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/move-on-prem-to-cloud.md
Owners: @johnmichalak

review
  articles/supply-chain/master-planning/planning-optimization/release-process.md
Owners: @kamaybac

Update er-fillable-excel.md
  articles/fin-ops-core/dev-itpro/analytics/er-fillable-excel.md
Owners: @johnmichalak

Add files via upload
  articles/fin-ops-core/dev-itpro/analytics/media/ERFormatTypeR.jpg
Owners: @johnmichalak

Update er-fillable-excel.md
  articles/fin-ops-core/dev-itpro/analytics/er-fillable-excel.md
Owners: @johnmichalak

review
  articles/supply-chain/pricing-management/base-price-versions.md
  articles/supply-chain/pricing-management/price-tree-overview.md
Owners: @kamaybac

Update manage-payment-authorizations.md
  articles/commerce/dev-itpro/manage-payment-authorizations.md
Owners: @josaw1

Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Owners: none

Update whats-new-commerce-10-0-32.md
  articles/commerce/get-started/whats-new-commerce-10-0-32.md
Owners: @josaw1

Update commerce-runtime-extensibility.md
  articles/commerce/dev-itpro/commerce-runtime-extensibility.md
Owners: @josaw1

Update pos-app-signing-certificate.md
  articles/commerce/dev-itpro/pos-app-signing-certificate.md
Owners: @josaw1

Update typescript-proxy-retail-pos.md
  articles/commerce/dev-itpro/typescript-proxy-retail-pos.md
Owners: @josaw1

Update RetailSDK-update.md
  articles/commerce/dev-itpro/RetailSDK-update.md
Owners: @josaw1

Update hybridapp.md
  articles/commerce/dev-itpro/hybridapp.md
Owners: @josaw1

Update migrate-sdk.md
  articles/commerce/dev-itpro/retail-sdk/migrate-sdk.md
Owners: @josaw1

Update mpos-build-agent.md
  articles/commerce/dev-itpro/retail-sdk/mpos-build-agent.md
Owners: @josaw1

Update retail-sdk-extensibility-samples.md
  articles/commerce/dev-itpro/retail-sdk/retail-sdk-extensibility-samples.md
Owners: @josaw1

Update retail-sdk-overview.md
  articles/commerce/dev-itpro/retail-sdk/retail-sdk-overview.md
Owners: @josaw1

Update migrate-commerce-sdk.md
  articles/commerce/dev-itpro/retail-sdk/migrate-commerce-sdk.md
Owners: @josaw1

Update create-pos-extension-appx.md
  articles/commerce/dev-itpro/pos-extension/create-pos-extension-appx.md
Owners: @josaw1

Update CSU-core.md
  articles/commerce/dev-itpro/CSU-core.md
Owners: @josaw1

Update manage-payment-authorizations.md
  articles/commerce/dev-itpro/manage-payment-authorizations.md
Owners: @josaw1

Update asset-management-mobile-app-overview.md
  articles/supply-chain/asset-management/asset-management-mobile-app/asset-management-mobile-app-overview.md
Owners: @kamaybac

Create faq.md
  articles/supply-chain/asset-management/asset-management-mobile-app/faq.md
Owners: @kamaybac

Rename faq.md to knownissues.md
  articles/supply-chain/asset-management/asset-management-mobile-app/knownissues.md
Owners: @kamaybac

Create faq.md
  articles/supply-chain/asset-management/asset-management-mobile-app/faq.md
Owners: @kamaybac

Update share-products-across-companies.md
  articles/supply-chain/pim/share-products-across-companies.md
Owners: @kamaybac

add topic
  articles/supply-chain/pricing-management/base-price-versions.md
  articles/supply-chain/pricing-management/media/base-price-determination-chart.png
  articles/supply-chain/pricing-management/sales-trade-agreement-price-determination-rule.md
Owners: @kamaybac

Update whats-new-wma.md
  articles/supply-chain/warehousing/whats-new-wma.md
Owners: @kamaybac

fix links
  articles/supply-chain/pim/share-products-across-companies.md
Owners: @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
