Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update apac-jpn-consolidate-invoices.md
  articles/finance/localizations/apac-jpn-consolidate-invoices.md
Owners: @kfend

Update obo-add-pages-site-builder.md
  articles/commerce/obo-add-pages-site-builder.md
Owners: @josaw1

Update extensible-data-security-policies.md
  articles/fin-ops-core/dev-itpro/sysadmin/extensible-data-security-policies.md
Owners: @johnmichalak

Update extensible-data-security-policies.md
  articles/fin-ops-core/dev-itpro/sysadmin/extensible-data-security-policies.md
Owners: @johnmichalak

Update apac-jpn-consolidate-invoices.md
  articles/finance/localizations/apac-jpn-consolidate-invoices.md
Owners: @kfend

Update apac-jpn-consolidate-invoices.md
  articles/finance/localizations/apac-jpn-consolidate-invoices.md
Owners: @kfend

Update data-import-export-job.md
  articles/fin-ops-core/dev-itpro/data-entities/data-import-export-job.md
Owners: @johnmichalak

Update data-import-export-job.md
  articles/fin-ops-core/dev-itpro/data-entities/data-import-export-job.md
Owners: @johnmichalak

Update obo-configure-hq.md
  articles/commerce/obo-configure-hq.md
Owners: @josaw1

Update optimize-data-migration.md
  articles/fin-ops-core/dev-itpro/sysadmin/optimize-data-migration.md
Owners: @johnmichalak

Update whats-new-platform-update-29.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-platform-update-29.md
Owners: @johnmichalak

Update obo-create-aad-application.md
  articles/commerce/obo-create-aad-application.md
Owners: @josaw1

Update manage-ecommerce-users-roles.md
  articles/commerce/manage-ecommerce-users-roles.md
Owners: @josaw1

Update obo-configure-hq.md
  articles/commerce/obo-configure-hq.md
Owners: @josaw1

Update obo-create-aad-application.md
  articles/commerce/obo-create-aad-application.md
Owners: @josaw1

Update apac-jpn-consolidate-invoices.md
  articles/finance/localizations/apac-jpn-consolidate-invoices.md
Owners: @kfend

Update on-behalf-of.md
  articles/commerce/on-behalf-of.md
Owners: @josaw1

Update hr-migration-admin-go-live-readiness-review.md
  articles/human-resources/hr-migration-admin-go-live-readiness-review.md
Owners: @twheeloc

Delete obo-select-business-partners-org.png
  articles/commerce/media/obo-select-business-partners-org.png
Owners: @josaw1

Delete obo-select-business-partners-org2.png
  articles/commerce/media/obo-select-business-partners-org2.png
Owners: @josaw1

Delete obo-select-business-partners-users3.png
  articles/commerce/media/obo-select-business-partners-users3.png
Owners: @josaw1

Delete obo-commerce-shared-param3.png
  articles/commerce/media/obo-commerce-shared-param3.png
Owners: @josaw1

Update obo-configure-hq.md
  articles/commerce/obo-configure-hq.md
Owners: @josaw1

Update obo-create-aad-application.md
  articles/commerce/obo-create-aad-application.md
Owners: @josaw1

Update emea-dnk-vat-declaration-denmark.md
  articles/finance/localizations/emea-dnk-vat-declaration-denmark.md
Owners: @kfend

Create emea-dnk-vat-declaration-preview.md
  articles/finance/localizations/emea-dnk-vat-declaration-preview.md
Owners: @kfend

Delete obo-add-scope2.png
  articles/commerce/media/obo-add-scope2.png
Owners: @josaw1

Delete obo-configure-custom-IDP2.png
  articles/commerce/media/obo-configure-custom-IDP2.png
Owners: @josaw1

Delete obo-configure-IDP-part2.png
  articles/commerce/media/obo-configure-IDP-part2.png
Owners: @josaw1

Delete obo-register-application2.png
  articles/commerce/media/obo-register-application2.png
Owners: @josaw1

Create emea-dnk-vat-declaration-submission.md
  articles/finance/localizations/emea-dnk-vat-declaration-submission.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Edited updated sections (+fixed issues flagged by spelling/grammar check in other sections)
  articles/finance/localizations/latam-bra-scope.md
Owners: @kfend

Update denmark.md
  articles/finance/localizations/denmark.md
Owners: @kfend

Update denmark.md
  articles/finance/localizations/denmark.md
Owners: @kfend

Update data-para.md
  articles/fin-ops-core/dev-itpro/data-entities/data-para.md
Owners: @johnmichalak

Edited
  articles/finance/localizations/latam-bra-sped-fiscal-establishment.md
Owners: @kfend

Update on-behalf-of.md
  articles/commerce/on-behalf-of.md
Owners: @josaw1

Edited updated sections
  articles/finance/localizations/latam-bra-sped-reinf-electronic-messages.md
Owners: @kfend

Update on-behalf-of.md
  articles/commerce/on-behalf-of.md
Owners: @josaw1

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
