Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Reviewed updates
  articles/supply-chain/global-inventory-accounting/get-started-with-gia.md
Owners: @kamaybac

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update universal-tax-rate-api-configure-tax-solution-provider.md
  articles/finance/localizations/global/universal-tax-rate-api-configure-tax-solution-provider.md
Owners: @kfend

Update universal-tax-rate-api-overview.md
  articles/finance/localizations/global/universal-tax-rate-api-overview.md
Owners: @kfend

Update universal-tax-rate-api-use-tax-assessment.md
  articles/finance/localizations/global/universal-tax-rate-api-use-tax-assessment.md
Owners: @kfend

Update universal-tax-rate-api-overview.md
  articles/finance/localizations/global/universal-tax-rate-api-overview.md
Owners: @kfend

Update universal-tax-rate-api-use-tax-assessment.md
  articles/finance/localizations/global/universal-tax-rate-api-use-tax-assessment.md
Owners: @kfend

Update onprem-DMFService.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-DMFService.md
Owners: @johnmichalak

fix phrasing
  articles/fin-ops-core/dev-itpro/lifecycle-services/update-local-agent.md
Owners: @johnmichalak

Update onprem-DMFService.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-DMFService.md
Owners: @johnmichalak

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Edited
  articles/supply-chain/get-started/whats-new-scm-10-0-39.md
Owners: @kamaybac

Edited
  articles/finance/localizations/global/universal-tax-rate-api-overview.md
Owners: @kfend

Edited
  articles/finance/localizations/global/universal-tax-rate-api-configure-tax-solution-provider.md
Owners: @kfend

Edited
  articles/finance/localizations/global/universal-tax-rate-api-use-tax-assessment.md
Owners: @kfend

Edited
  articles/finance/localizations/global/universal-tax-rate-api-how-to-setup-clientId-and-clientsecret.md
Owners: @kfend

Reviewed updates
  articles/finance/localizations/italy/e-invoicing-ita-fatturapa-get-started.md
Owners: @kfend

Update prepare-company-for-consolidation.md
  articles/finance/general-ledger/prepare-company-for-consolidation.md
Owners: @twheeloc

Update oneversion-isv.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/oneversion-isv.md
Owners: @johnmichalak

Update create-legal-entity.md
  articles/fin-ops-core/fin-ops/organization-administration/tasks/create-legal-entity.md
Owners: @johnmichalak

Reviewed updates
  articles/finance/localizations/indonesia/e-invoicing-id-get-started.md
Owners: @kfend

Reviewed updates
  articles/fin-ops-core/dev-itpro/deployment/ssis-node.md
Owners: @johnmichalak

Reviewed updates
  articles/fin-ops-core/dev-itpro/deployment/setup-deploy-on-premises-latest.md
Owners: @johnmichalak

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update landed-cost-enable.md
  articles/supply-chain/landed-cost/landed-cost-enable.md
Owners: @kamaybac

Update landed-cost-enable.md
  articles/supply-chain/landed-cost/landed-cost-enable.md
Owners: @kamaybac

Update universal-tax-rate-api-overview.md
  articles/finance/localizations/global/universal-tax-rate-api-overview.md
Owners: @kfend

Update landed-cost-enable.md
  articles/supply-chain/landed-cost/landed-cost-enable.md
Owners: @kamaybac

Update universal-tax-rate-api-how-to-setup-clientId-and-clientsecret.md
  articles/finance/localizations/global/universal-tax-rate-api-how-to-setup-clientId-and-clientsecret.md
Owners: @kfend

Update universal-tax-rate-api-how-to-setup-clientId-and-clientsecret.md
  articles/finance/localizations/global/universal-tax-rate-api-how-to-setup-clientId-and-clientsecret.md
Owners: @kfend

Update universal-tax-rate-api-overview.md
  articles/finance/localizations/global/universal-tax-rate-api-overview.md
Owners: @kfend

Add files via upload
  articles/finance/localizations/media/EnableFOUserImpersonationInDataverse.png
Owners: @kfend

Update universal-tax-rate-api-overview.md
  articles/finance/localizations/global/universal-tax-rate-api-overview.md
Owners: @kfend

Update e-invoicing-submit-electronic-documents.md
  articles/finance/localizations/global/e-invoicing-submit-electronic-documents.md
Owners: @kfend

Update e-invoicing-electronic-documents-receiving-log.md
  articles/finance/localizations/global/e-invoicing-electronic-documents-receiving-log.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

edit
  articles/supply-chain/get-started/whats-new-scm-10-0-39.md
  articles/supply-chain/inventory/quality-orders.md
Owners: @kamaybac

small change
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
Owners: @kamaybac

Update install-configure-warehouse-management-app.md
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
Owners: @kamaybac
