Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

review
  articles/supply-chain/master-planning/planning-optimization/planning-optimization-differences-with-built-in.md
Owners: @kamaybac

review
  articles/supply-chain/master-planning/planning-optimization/get-started.md
Owners: @kamaybac

Add Upcoming PQU Calendar - 2024-2025
  articles/fin-ops-core/dev-itpro/get-started/quality-updates-schedule.md
Owners: @johnmichalak

10.0.38
  articles/supply-chain/warehousing/wms-only-mode-example.md
Owners: @kamaybac

10.0.37 GA, 10.0.38 preview
  articles/supply-chain/get-started/whats-new-home-page.md
  articles/supply-chain/get-started/whats-new-scm-10-0-34.md
  articles/supply-chain/get-started/whats-new-scm-10-0-37.md
  articles/supply-chain/get-started/whats-new-scm-10-0-38.md
  articles/supply-chain/toc.yml
  articles/supply-chain/warehousing/inbound-load-handling.md
  articles/supply-chain/warehousing/mobile-device-workspace.md
  articles/supply-chain/warehousing/over-pick-materials-for-production-and-batch-orders.md
  articles/supply-chain/warehousing/warehouse-app-data-inquiry.md
Owners: @kamaybac

Update help-overview.md
  articles/fin-ops-core/fin-ops/get-started/help-overview.md
Owners: @johnmichalak

edit
  articles/supply-chain/get-started/whats-new-scm-10-0-38.md
Owners: @kamaybac

Update remove-csu-package.md
  articles/commerce/dev-itpro/retail-sdk/remove-csu-package.md
Owners: @josaw1

Update latam-overview.md
  articles/finance/localizations/iberoamerica/latam-overview.md
Owners: @kfend

Update ltm-Chile-conf-electronic-invoice.md
  articles/finance/localizations/iberoamerica/ltm-Chile-conf-electronic-invoice.md
Owners: @kfend

Create whats-new-platform-updates-10-0-38.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-38.md
Owners: @johnmichalak

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update financial-reporting-getting-started.md
  articles/finance/general-ledger/financial-reporting-getting-started.md
Owners: @twheeloc

WMS-38
  articles/supply-chain/warehousing/mixed-license-plate-receiving.md
Owners: @kamaybac

review
  articles/supply-chain/asset-management/functional-locations/change-functional-location-type.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

review
  articles/supply-chain/inventory/inventory-visibility-api.md
  articles/supply-chain/inventory/inventory-visibility-product-search.md
Owners: @kamaybac

Update whats-new-changed-10-0-38.md
  articles/finance/get-started/whats-new-changed-10-0-38.md
Owners: @twheeloc

Update hr-infrastructure-merge.md
  articles/human-resources/hr-infrastructure-merge.md
Owners: @twheeloc

Update hr-whats-new-10-0-38.md
  articles/human-resources/get-started/hr-whats-new-10-0-38.md
Owners: @twheeloc

Create real-async.md
  articles/fin-ops-core/dev-itpro/dev-tools/real-async.md
Owners: @josaw1

Update real-async.md
  articles/fin-ops-core/dev-itpro/dev-tools/real-async.md
Owners: @josaw1

Update real-async.md
  articles/fin-ops-core/dev-itpro/dev-tools/real-async.md
Owners: @josaw1

Added cert rotation instructions
  articles/finance/localizations/italy/e-invoicing-ita-fatturapa-get-started.md
  articles/finance/localizations/media/e-invoicing-ita-fatturapa-get-started-kv-cert-newversion.png
  articles/finance/localizations/media/e-invoicing-ita-fatturapa-get-started-proxy-netsh-delete-add.png
  articles/finance/localizations/media/e-invoicing-ita-fatturapa-get-started-proxy-netsh-iisreset.png
  articles/finance/localizations/media/e-invoicing-ita-fatturapa-get-started-proxy-netsh-show.png
Owners: @kfend

indentation
  articles/finance/localizations/italy/e-invoicing-ita-fatturapa-get-started.md
Owners: @kfend

fix
  articles/finance/localizations/italy/e-invoicing-ita-fatturapa-get-started.md
Owners: @kfend

upd1
  articles/finance/localizations/italy/e-invoicing-ita-fatturapa-get-started.md
Owners: @kfend

Create emea-reporting-multiple-vat-registrations-it.md
  articles/finance/localizations/italy/emea-reporting-multiple-vat-registrations-it.md
Owners: @kfend

Update emea-reporting-for-multiple-vat-registrations.md
  articles/finance/localizations/global/emea-reporting-for-multiple-vat-registrations.md
Owners: @kfend

Update price-change-tracking.md
  articles/commerce/price-change-tracking.md
Owners: @josaw1

Update price-change-tracking.md
  articles/commerce/price-change-tracking.md
Owners: @josaw1

Edited
  articles/fin-ops-core/dev-itpro/dev-tools/real-async.md
Owners: @josaw1

Update set-up-assortments.md
  articles/commerce/set-up-assortments.md
Owners: @josaw1

Update omnichannel-media-management-overview.md
  articles/commerce/dev-itpro/omnichannel-media-management-overview.md
Owners: @josaw1

Add files via upload
  articles/finance/localizations/media/mediaMultipleid-image3-1.png
Owners: @kfend

Update emea-reporting-for-multiple-vat-registrations.md
  articles/finance/localizations/global/emea-reporting-for-multiple-vat-registrations.md
Owners: @kfend

Update emea-reporting-for-multiple-vat-registrations.md
  articles/finance/localizations/global/emea-reporting-for-multiple-vat-registrations.md
Owners: @kfend

Update business-performance-analytics-home-page.md
  articles/finance/business-performance-analytics/business-performance-analytics-home-page.md
Owners: @twheeloc

Update quick_setup.ps1 guide
  articles/supply-chain/master-planning/demand-forecasting-setup.md
Owners: @kamaybac

Update demand-forecasting-setup.md
  articles/supply-chain/master-planning/demand-forecasting-setup.md
Owners: @kamaybac

Update set-up-customer-loyalty-program.md
  articles/commerce/set-up-customer-loyalty-program.md
Owners: @josaw1

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
