Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

review
  articles/supply-chain/master-planning/planning-optimization/priority-based-planning.md
Owners: @kamaybac

Update access-BPA.md
  articles/finance/business-performance-analytics/access-BPA.md
Owners: @twheeloc

Update financial-insights.md
  articles/fin-ops-core/dev-itpro/analytics/financial-insights.md
Owners: @johnmichalak

Update financial-insights.md
  articles/fin-ops-core/dev-itpro/analytics/financial-insights.md
Owners: @johnmichalak

Update Install-invoice-capture.md
  articles/finance/accounts-payable/Install-invoice-capture.md
Owners: @twheeloc

Update user-defined-fields.md
  articles/fin-ops-core/fin-ops/get-started/user-defined-fields.md
Owners: @johnmichalak

Update financial-tag.md
  articles/finance/general-ledger/financial-tag.md
Owners: @twheeloc

Update toc.yml
  articles/finance-bc/toc.yml
Owners: none

Update finance.yml
  articles/context/finance.yml
Owners: none

Update toc.yml
  articles/finance-bc/toc.yml
Owners: none

Update toc.yml
  articles/finance-bc/toc.yml
Owners: none

Header and breadcrumb updates
  articles/context/commerce.yml
  articles/docfx.json
Owners: none

Update faq-for-chat-with-fno-data-on-m365copilot.md
  articles/fin-ops-core/dev-itpro/m365-copilot/faq-for-chat-with-fno-data-on-m365copilot.md
Owners: @johnmichalak

Update faq-for-chat-with-fno-data-on-m365copilot.md
  articles/fin-ops-core/dev-itpro/m365-copilot/faq-for-chat-with-fno-data-on-m365copilot.md
Owners: @johnmichalak

Update faq-for-chat-with-fno-data-on-m365copilot.md
  articles/fin-ops-core/dev-itpro/m365-copilot/faq-for-chat-with-fno-data-on-m365copilot.md
Owners: @johnmichalak

Update user-defined-fields.md
  articles/fin-ops-core/fin-ops/get-started/user-defined-fields.md
Owners: @johnmichalak

Update faq-for-chat-with-fno-data-on-m365copilot.md
  articles/fin-ops-core/dev-itpro/m365-copilot/faq-for-chat-with-fno-data-on-m365copilot.md
Owners: @johnmichalak

Update user-defined-fields.md
  articles/fin-ops-core/fin-ops/get-started/user-defined-fields.md
Owners: @johnmichalak

Update financial-insights.md
  articles/fin-ops-core/dev-itpro/analytics/financial-insights.md
Owners: @johnmichalak

Update ledger-settlements.md
  articles/finance/general-ledger/ledger-settlements.md
Owners: @twheeloc

Update auto-settle.md
  articles/finance/general-ledger/auto-settle.md
Owners: @twheeloc

Update financial-insights.md
  articles/fin-ops-core/dev-itpro/analytics/financial-insights.md
Owners: @johnmichalak

Update financial-insights.md
  articles/fin-ops-core/dev-itpro/analytics/financial-insights.md
Owners: @johnmichalak

Update customer-migration.md
  articles/human-resources/customer-migration.md
Owners: @twheeloc

Update hr-admin-payroll-api-integration-dayforce.md
  articles/human-resources/hr-admin-payroll-api-integration-dayforce.md
Owners: @twheeloc

Update hr-admin-payroll-api-integration-dayforce.md
  articles/human-resources/hr-admin-payroll-api-integration-dayforce.md
Owners: @twheeloc

edit
  articles/context/commerce.yml
Owners: none

edit
  articles/docfx.json
Owners: none

edit
  articles/docfx.json
Owners: none

edit
  articles/context/finance.yml
  articles/docfx.json
Owners: none

edit
  articles/docfx.json
Owners: none

edit
  articles/docfx.json
Owners: none

edit
  articles/docfx.json
Owners: none

edit
  articles/docfx.json
Owners: none

edit
  articles/docfx.json
Owners: none

edit
  articles/ops-bc/toc.yml
Owners: none

Update planning-optimization-differences-with-built-in.md
  articles/supply-chain/master-planning/planning-optimization/planning-optimization-differences-with-built-in.md
Owners: @kamaybac

edit
  articles/ops-bc/toc.yml
Owners: none

Edit
  articles/commerce/TOC.yml
  articles/finance/TOC.yml
  articles/human-resources/toc.yml
  articles/ops-bc/toc.yml
  articles/supply-chain/toc.yml
Owners: @josaw1, @twheeloc, @kamaybac

edit
  articles/commerce/TOC.yml
  articles/fin-ops-core/dev-itpro/toc.yml
  articles/finance/TOC.yml
  articles/supply-chain/toc.yml
Owners: @josaw1, @johnmichalak, @twheeloc, @kamaybac
