Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Edited
  articles/finance/localizations/iberoamerica/ltm-Chile-conf-electronic-invoice.md
Owners: @kfend

Fixed link
  articles/finance/localizations/iberoamerica/ltm-Chile-conf-electronic-invoice.md
Owners: @kfend

Edited
  articles/finance/cash-bank-management/Net-customer-and-vendor-balances.md
Owners: @twheeloc

Update set-up-customer-loyalty-program.md
  articles/commerce/set-up-customer-loyalty-program.md
Owners: @josaw1

Update onboard-app.md
  articles/supply-chain/asset-management/asset-management-mobile-app/onboard-app.md
Owners: @kamaybac

Update onboard-app.md
  articles/supply-chain/asset-management/asset-management-mobile-app/onboard-app.md
Owners: @kamaybac

edit
  articles/supply-chain/asset-management/functional-locations/change-functional-location-type.md
  articles/supply-chain/asset-management/objects/change-asset-type.md
  articles/supply-chain/get-started/whats-new-scm-10-0-38.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

rename topic
  articles/supply-chain/procurement/auto-charge-sequence-compound.md
Owners: @kamaybac

Update removed-deprecated-features-finance.md
  articles/finance/get-started/removed-deprecated-features-finance.md
Owners: @twheeloc

Update removed-deprecated-features-finance.md
  articles/finance/get-started/removed-deprecated-features-finance.md
Owners: @twheeloc

Update accounting-source-explorer.md
  articles/finance/accounts-payable/accounting-source-explorer.md
Owners: @twheeloc

Update accounting-source-explorer.md
  articles/finance/accounts-payable/accounting-source-explorer.md
Owners: @twheeloc

Update create-retail-product-kits.md
  articles/commerce/create-retail-product-kits.md
Owners: @josaw1

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Rename ltm-Chile-conf-electronic-invoice.md to ltm-chile-conf-electronic-invoice.md
  articles/finance/localizations/iberoamerica/ltm-chile-conf-electronic-invoice.md
Owners: @kfend

Update set-up-customer-loyalty-program.md
  articles/commerce/set-up-customer-loyalty-program.md
Owners: @josaw1

Update set-up-customer-loyalty-program.md
  articles/commerce/set-up-customer-loyalty-program.md
Owners: @josaw1

review
  articles/supply-chain/procurement/auto-charge-sequence-compound.md
  articles/supply-chain/procurement/automatic-charges-allocation.md
Owners: @kamaybac

Edited updated sections
  articles/finance/localizations/global/emea-reporting-for-multiple-vat-registrations.md
Owners: @kfend

Edited
  articles/finance/localizations/italy/emea-reporting-multiple-vat-registrations-it.md
Owners: @kfend

Update generate-assembly-and-disassembly-orders.md
  articles/commerce/generate-assembly-and-disassembly-orders.md
Owners: @josaw1

Update create-retail-product-kits.md
  articles/commerce/create-retail-product-kits.md
Owners: @josaw1

Update create-retail-product-kits.md
  articles/commerce/create-retail-product-kits.md
Owners: @josaw1

Update about-setting-up-retail-product-kits.md
  articles/commerce/about-setting-up-retail-product-kits.md
Owners: @josaw1

Update generate-assembly-and-disassembly-orders.md
  articles/commerce/generate-assembly-and-disassembly-orders.md
Owners: @josaw1

Update process-kit-assembly-and-disassembly-orders.md
  articles/commerce/process-kit-assembly-and-disassembly-orders.md
Owners: @josaw1

Update about-setting-up-retail-product-kits.md
  articles/commerce/about-setting-up-retail-product-kits.md
Owners: @josaw1

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak

Update rowversion-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/rowversion-change-track.md
Owners: @johnmichalak
