Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Create price-change-tracking.md
  articles/commerce/price-change-tracking.md
Owners: @josaw1

Update quality-updates-schedule.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Update quality-updates-schedule.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Update price-change-tracking.md
  articles/commerce/price-change-tracking.md
Owners: @josaw1

Update quality-updates-schedule.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Update price-change-tracking.md
  articles/commerce/price-change-tracking.md
Owners: @josaw1

Update reset_receipt_number_sequence.md
  articles/commerce/reset_receipt_number_sequence.md
Owners: @josaw1

Update reset_receipt_number_sequence.md
  articles/commerce/reset_receipt_number_sequence.md
Owners: @josaw1

Update release-process.md
  articles/supply-chain/master-planning/planning-optimization/release-process.md
Owners: @kamaybac

review
  articles/supply-chain/master-planning/planning-optimization/release-process.md
Owners: @kamaybac

Update hr-leave-absence-dec-place.md
  articles/human-resources/hr-leave-absence-dec-place.md
Owners: @twheeloc

Update customizing-mappings.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/customizing-mappings.md
Owners: @josaw1

Update customizing-mappings.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/customizing-mappings.md
Owners: @josaw1

update locagent docs
  articles/fin-ops-core/dev-itpro/lifecycle-services/update-local-agent.md
Owners: @johnmichalak

Update whats-new-commerce-10-0-35.md
  articles/commerce/get-started/whats-new-commerce-10-0-35.md
Owners: @josaw1

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update whats-new-home-page.md
  articles/commerce/get-started/whats-new-home-page.md
Owners: @josaw1

Update whats-new-commerce-10-0-34.md
  articles/commerce/get-started/whats-new-commerce-10-0-34.md
Owners: @josaw1

Update whats-new-commerce-10-0-34.md
  articles/commerce/get-started/whats-new-commerce-10-0-34.md
Owners: @josaw1

Update customizing-mappings.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/customizing-mappings.md
Owners: @josaw1

Edited updated sections
  articles/human-resources/business-events-overview.md
Owners: @twheeloc

Edited
  articles/human-resources/hr-configure-batch-bus-events.md
Owners: @twheeloc

Edited updated sections
  articles/human-resources/hr-employee-manager-self-service-edit-personal-information.md
Owners: @twheeloc

Edited
  articles/human-resources/hr-power-auto-temp-bus-events.md
Owners: @twheeloc

Tweak
  articles/human-resources/hr-configure-batch-bus-events.md
Owners: @twheeloc

Edited
  articles/human-resources/hr-leave-absence-dec-place.md
Owners: @twheeloc

Update toc.yml
  articles/human-resources/toc.yml
Owners: @twheeloc

Update customizing-mappings.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/customizing-mappings.md
Owners: @josaw1

Update requirements-and-prerequisites.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/requirements-and-prerequisites.md
Owners: @josaw1

Update requirements-and-prerequisites.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/requirements-and-prerequisites.md
Owners: @josaw1

Update apac-idn-invoicing.md
  articles/finance/localizations/apac-idn-invoicing.md
Owners: @kfend

Update requirements-and-prerequisites.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/requirements-and-prerequisites.md
Owners: @josaw1

Update price-change-tracking.md
  articles/commerce/price-change-tracking.md
Owners: @josaw1

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management-overview.md
Owners: @josaw1

Update assign-media-omnichannel.md
  articles/commerce/assign-media-omnichannel.md
Owners: @josaw1

Update assign-media-omnichannel.md
  articles/commerce/assign-media-omnichannel.md
Owners: @josaw1

Add prerequisites
  articles/supply-chain/sensor-data-intelligence/sdi-deploy-iot-solution-on-azure.md
Owners: @kamaybac

Update removed-deprecated-features-finance.md
  articles/finance/get-started/removed-deprecated-features-finance.md
Owners: @twheeloc

Update bpa-faq.md
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

Create uae-faf.md
  articles/finance/localizations/uae-faf.md
Owners: @kfend

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
