Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update data-upgrade-2012.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/data-upgrade-2012.md
Owners: @johnmichalak

Update whats-new-changed-10-0-36.md
  articles/finance/get-started/whats-new-changed-10-0-36.md
Owners: @twheeloc

Update whats-new-changed-10-0-36.md
  articles/finance/get-started/whats-new-changed-10-0-36.md
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update denmark.md
  articles/finance/localizations/denmark.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update hr-whats-new-10-0-36.md
  articles/human-resources/get-started/hr-whats-new-10-0-36.md
Owners: @twheeloc

Update hr-whats-new-10-0-35.md
  articles/human-resources/get-started/hr-whats-new-10-0-35.md
Owners: @twheeloc

Update hr-whats-new-10-0-34.md
  articles/human-resources/get-started/hr-whats-new-10-0-34.md
Owners: @twheeloc

Update whats-new-home-page.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-home-page.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-34.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-34.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-35.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-35.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-36.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-36.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-34.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-34.md
Owners: @johnmichalak

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update whats-new-home-page.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-home-page.md
Owners: @johnmichalak

Update customer-search.md
  articles/commerce/customer-search.md
Owners: @josaw1

Update POS-search-improvements.md
  articles/commerce/POS-search-improvements.md
Owners: @josaw1

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update POS-returns.md
  articles/commerce/POS-returns.md
Owners: @josaw1

Update customer-orders-overview.md
  articles/commerce/customer-orders-overview.md
Owners: @josaw1

Delete obo-select-business-partners-users.png
  articles/commerce/media/obo-select-business-partners-users.png
Owners: @josaw1

Delete obo-select-business-partner-user.png
  articles/commerce/media/obo-select-business-partner-user.png
Owners: @josaw1

Delete obo-select-business-partners.png
  articles/commerce/media/obo-select-business-partners.png
Owners: @josaw1

Add files via upload
  articles/commerce/media/obo-select-business-partners-users2.png
Owners: @josaw1

Add files via upload
  articles/commerce/media/obo-select-business-partners-org2.png
  articles/commerce/media/obo-select-business-partners-users3.png
Owners: @josaw1

Update on-behalf-of.md
  articles/commerce/on-behalf-of.md
Owners: @josaw1

Delete obo-select-business-partners-users2.png
  articles/commerce/media/obo-select-business-partners-users2.png
Owners: @josaw1

Add files via upload
  articles/commerce/media/obo-add-scope.png
  articles/commerce/media/obo-add-scope2.png
  articles/commerce/media/obo-commerce-shared-param.png
  articles/commerce/media/obo-configure-custom-IDP.png
  articles/commerce/media/obo-register-application.png
Owners: @josaw1

Update obo-configure-hq.md
  articles/commerce/obo-configure-hq.md
Owners: @josaw1

review
  articles/supply-chain/landed-cost/landed-cost-enable.md
  articles/supply-chain/landed-cost/manage-shipping-containers.md
Owners: @kamaybac

fix dates
  articles/supply-chain/get-started/whats-new-home-page.md
  articles/supply-chain/get-started/whats-new-scm-10-0-25.md
  articles/supply-chain/get-started/whats-new-scm-10-0-29.md
  articles/supply-chain/get-started/whats-new-scm-10-0-32.md
  articles/supply-chain/get-started/whats-new-scm-10-0-33.md
  articles/supply-chain/get-started/whats-new-scm-10-0-34.md
  articles/supply-chain/get-started/whats-new-scm-10-0-35.md
  articles/supply-chain/get-started/whats-new-scm-10-0-36.md
Owners: @kamaybac

edit
  articles/supply-chain/get-started/whats-new-scm-10-0-36.md
Owners: @kamaybac

Update whats-new-changed-10-0-36.md
  articles/finance/get-started/whats-new-changed-10-0-36.md
Owners: @twheeloc

Update regulatory-updates.md
  articles/finance/localizations/regulatory-updates.md
Owners: @kfend

Update apac-aus-nzl-e-invoices.md
  articles/finance/localizations/apac-aus-nzl-e-invoices.md
Owners: @kfend

Create apac-jpn-qualified-invoice-system.md
  articles/finance/localizations/apac-jpn-qualified-invoice-system.md
Owners: @kfend

Update whats-new-changed-10-0-36.md
  articles/finance/get-started/whats-new-changed-10-0-36.md
Owners: @twheeloc

review
  articles/supply-chain/supply-chain-dev/warehouse-management-only-mode.md
  articles/supply-chain/warehousing/media/wms-only-high-level-integrations.svg
  articles/supply-chain/warehousing/media/wms-only-inbound-wom-process.svg
  articles/supply-chain/warehousing/media/wms-only-internal-wom-process.svg
  articles/supply-chain/warehousing/media/wms-only-outbound-wom-process.svg
  articles/supply-chain/warehousing/media/wms-only-shipment-order-integrations.svg
  articles/supply-chain/warehousing/warehouse-management-only-mode.md
  articles/supply-chain/warehousing/wms-only-mode-exchange-data.md
  articles/supply-chain/warehousing/wms-only-mode-overview.md
  articles/supply-chain/warehousing/wms-only-mode-using.md
Owners: @kamaybac

edit
  articles/supply-chain/get-started/whats-new-home-page.md
Owners: @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
