Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @twheeloc, @kamaybac

Update sales-returns-unannounced.md
  articles/supply-chain/warehousing/sales-returns-unannounced.md
Owners: @kamaybac

resize images
  articles/supply-chain/warehousing/media/blind-return-policy.svg
  articles/supply-chain/warehousing/media/generate-return-details.svg
  articles/supply-chain/warehousing/media/return-details-policy.svg
  articles/supply-chain/warehousing/media/unannounced-return-process.svg
  articles/supply-chain/warehousing/sales-returns-unannounced.md
Owners: @kamaybac

Update quality-updates-schedule.md
  articles/fin-ops-core/dev-itpro/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Fix PR comments
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/product-mapping.md
Owners: @josaw1

resize image
  articles/supply-chain/warehousing/media/blind-return-policy.svg
  articles/supply-chain/warehousing/media/generate-return-details.svg
  articles/supply-chain/warehousing/media/return-details-policy.svg
  articles/supply-chain/warehousing/media/unannounced-return-process.svg
Owners: @kamaybac

crop image
  articles/supply-chain/warehousing/media/unannounced-return-process.svg
Owners: @kamaybac

Update Enable-prospect-in-prospect-to-cash-concept.md
  articles/fin-ops-core/fin-ops/data-entities/Enable-prospect-in-prospect-to-cash-concept.md
Owners: @johnmichalak

Update not-used-parameters.md
  articles/supply-chain/master-planning/planning-optimization/not-used-parameters.md
Owners: @kamaybac

Update sales-returns-unannounced.md
  articles/supply-chain/warehousing/sales-returns-unannounced.md
Owners: @kamaybac

Update Enable-prospect-in-prospect-to-cash-concept.md
  articles/fin-ops-core/fin-ops/data-entities/Enable-prospect-in-prospect-to-cash-concept.md
Owners: @johnmichalak

review
  articles/supply-chain/master-planning/planning-optimization/not-used-parameters.md
Owners: @kamaybac

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update mapping-tables.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/includes/mapping-tables.md
Owners: @josaw1

Update source-destination.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/includes/source-destination.md
Owners: @josaw1

Update product-mapping.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/product-mapping.md
Owners: @josaw1

Update responsible-ai-overview.md
  articles/commerce/responsible-ai/responsible-ai-overview.md
Owners: @johnmichalak

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @johnmichalak

Update responsible-ai-overview.md
  articles/commerce/responsible-ai/responsible-ai-overview.md
Owners: @johnmichalak

Add files via upload
  articles/commerce/responsible-ai/faqs-copilot-site-builder.md
Owners: @johnmichalak

Update faqs-copilot-site-builder.md
  articles/commerce/responsible-ai/faqs-copilot-site-builder.md
Owners: @johnmichalak

Update responsible-ai-overview.md
  articles/commerce/responsible-ai/responsible-ai-overview.md
Owners: @johnmichalak

Update product-mapping.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/product-mapping.md
Owners: @josaw1

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @johnmichalak

Update faqs-copilot-site-builder.md
  articles/commerce/responsible-ai/faqs-copilot-site-builder.md
Owners: @johnmichalak

Edited
  articles/finance/localizations/italy/emea-ita-sales-tax-books.md
Owners: @johnmichalak

Update product-mapping.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/product-mapping.md
Owners: @josaw1

Edited
  articles/finance/localizations/italy/emea-ita-sales-tax-summary.md
Owners: @johnmichalak

Edited
  articles/finance/localizations/italy/emea-ita-vat-settlement.md
Owners: @johnmichalak

Update product-mapping.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/product-mapping.md
Owners: @josaw1

Edited
  articles/finance/localizations/italy/emea-ita-vat-statements-details.md
Owners: @johnmichalak

Edited
  articles/finance/localizations/italy/emea-ita-yearly-tax-communication.md
Owners: @johnmichalak

Fixed metadata
  articles/finance/localizations/italy/emea-ita-sales-tax-books.md
Owners: @johnmichalak

Fixed link
  articles/finance/localizations/italy/emea-ita-vat-settlement.md
Owners: @johnmichalak

Edited
  articles/finance/localizations/europe/emea-vat-reporting.md
Owners: @johnmichalak

Edited
  articles/finance/localizations/japan/apac-jpn-consumption-tax-report.md
Owners: @johnmichalak

Edited
  articles/finance/localizations/italy/e-invoicing-ita-fatturapa-get-started.md
Owners: @johnmichalak

Edited
  articles/finance/localizations/global/gs-e-invoicing-set-up-overview.md
Owners: @johnmichalak

Edited
  articles/finance/localizations/global/gs-e-invoicing-set-up-parameters.md
Owners: @johnmichalak

Update set-up-customer-loyalty-program.md
  articles/commerce/set-up-customer-loyalty-program.md
Owners: @johnmichalak

WOM-10-0-40
  articles/supply-chain/warehousing/wms-only-mode-exchange-data.md
  articles/supply-chain/warehousing/wms-only-mode-external-shared-warehouse.md
Owners: @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @johnmichalak
/articles/fin-ops-core/dev-itpro/dev-tools @johnmichalak
/articles/fin-ops-core/dev-itpro/extensibility @johnmichalak
/articles/fin-ops-core/dev-itpro/financial @johnmichalak
/articles/fin-ops-core/dev-itpro/gdpr @johnmichalak
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @johnmichalak
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@johnmichalak
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@johnmichalak
/articles/fin-ops-core/dev-itpro/power-platform	@johnmichalak
/articles/fin-ops-core/dev-itpro/process-automation	@johnmichalak
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @johnmichalak
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@johnmichalak
/articles/finance/project-management	@johnmichalak
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@johnmichalak
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@johnmichalak
/articles/fin-and-ops/imp-lifecycle	@johnmichalak
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@johnmichalak
/articles/commerce/dev-itpro  @johnmichalak
/articles/commerce/e-commerce-extensibility	@johnmichalak
/articles/commerce/get-started	@johnmichalak
/articles/commerce/localizations	@johnmichalak
/articles/commerce/includes	@johnmichalak
/articles/commerce/media	@johnmichalak
/articles/commerce/tasks	@johnmichalak
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
