Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update copy-content-between-tenants.md
  articles/commerce/copy-content-between-tenants.md
Owners: @josaw1

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management-overview.md
Owners: @josaw1

Update publish-media-omnichannel.md
  articles/commerce/publish-media-omnichannel.md
Owners: @josaw1

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management-overview.md
Owners: @josaw1

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management-overview.md
Owners: @josaw1

Update pos-operations.md
  articles/commerce/pos-operations.md
Owners: @josaw1

Add files via upload
  articles/commerce/media/OMM_1.png
  articles/commerce/media/OMM_2.png
  articles/commerce/media/OMM_3.png
Owners: @josaw1

Update assign-media-omnichannel.md
  articles/commerce/assign-media-omnichannel.md
Owners: @josaw1

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management-overview.md
Owners: @josaw1

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management-overview.md
Owners: @josaw1

Update assign-media-omnichannel.md
  articles/commerce/assign-media-omnichannel.md
Owners: @josaw1

Update assign-media-omnichannel.md
  articles/commerce/assign-media-omnichannel.md
Owners: @josaw1

Edited
  articles/finance/localizations/ltm-core-bank-expenses.md
Owners: @kfend

Edited
  articles/finance/localizations/ltm-core-journal-name-configuration..md
Owners: @kfend

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management-overview.md
Owners: @josaw1

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management-overview.md
Owners: @josaw1

Update publish-media-omnichannel.md
  articles/commerce/publish-media-omnichannel.md
Owners: @josaw1

Update copy-content-between-tenants.md
  articles/commerce/copy-content-between-tenants.md
Owners: @josaw1

Update ltm-core-bank-expenses.md
  articles/finance/localizations/ltm-core-bank-expenses.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update assign-media-omnichannel.md
  articles/commerce/assign-media-omnichannel.md
Owners: @josaw1

Update publish-media-omnichannel.md
  articles/commerce/publish-media-omnichannel.md
Owners: @josaw1

Update bank-revaluation.md
  articles/finance/cash-bank-management/bank-revaluation.md
Owners: @twheeloc

Added build details link for 10.0.32 release 3
  articles/fin-ops-core/fin-ops/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Update planning-optimization-fit-analysis.md
  articles/supply-chain/master-planning/planning-optimization/planning-optimization-fit-analysis.md
Owners: @kamaybac

Update bank-revaluation.md
  articles/finance/cash-bank-management/bank-revaluation.md
Owners: @twheeloc

Create ltm-core-packing-slip-posting.md
  articles/finance/localizations/ltm-core-packing-slip-posting.md
Owners: @kfend

Updated F&O CMK documentation
  articles/fin-ops-core/dev-itpro/sysadmin/customer-managed-keys.md
Owners: @johnmichalak

Edited
  articles/finance/localizations/ltm-core-packing-slip-posting.md
Owners: @kfend

Update bank-revaluation.md
  articles/finance/cash-bank-management/bank-revaluation.md
Owners: @twheeloc

Update customer-managed-keys.md
  articles/fin-ops-core/dev-itpro/sysadmin/customer-managed-keys.md
Owners: @johnmichalak

Update customer-managed-keys.md
  articles/fin-ops-core/dev-itpro/sysadmin/customer-managed-keys.md
Owners: @johnmichalak

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Edited updated sections
  articles/finance/cash-bank-management/bank-revaluation.md
Owners: @twheeloc

Update set-up-tax-codes.md
  articles/finance/localizations/set-up-tax-codes.md
Owners: @kfend

Update set-up-tax-codes.md
  articles/finance/localizations/set-up-tax-codes.md
Owners: @kfend

review
  articles/supply-chain/master-planning/planning-optimization/planning-optimization-fit-analysis.md
Owners: @kamaybac

Update release-process.md
  articles/supply-chain/master-planning/planning-optimization/release-process.md
Owners: @kamaybac

add link
  articles/supply-chain/get-started/whats-new-scm-10-0-35.md
Owners: @kamaybac

review
  articles/supply-chain/master-planning/planning-optimization/release-process.md
Owners: @kamaybac
