Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Delete articles/commerce/media/customer_hierarhcy_channels.png
  articles/commerce/media/customer_hierarhcy_channels.png
Owners: @josaw1

Add double quotes limitation section
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/initial-sync-guidance.md
Owners: @josaw1

Fixed typo
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/initial-sync-guidance.md
Owners: @josaw1

Restriction on deletion of fixed assets
  articles/finance/fixed-assets/tasks/create-fixed-asset.md
Owners: @twheeloc

Update whats-new-changed-10-0-38.md
  articles/finance/get-started/whats-new-changed-10-0-38.md
Owners: @twheeloc

Update whats-new-changed-10-0-38.md
  articles/finance/get-started/whats-new-changed-10-0-38.md
Owners: @twheeloc

Update whats-new-changed-10-0-38.md
  articles/finance/get-started/whats-new-changed-10-0-38.md
Owners: @twheeloc

Update whats-new-changed-10-0-38.md
  articles/finance/get-started/whats-new-changed-10-0-38.md
Owners: @twheeloc

review
  articles/supply-chain/engineering-change-management/release-product-structure.md
Owners: @kamaybac

Add content
  articles/supply-chain/procurement/advanced-auto-charges.md
  articles/supply-chain/procurement/automatic-charges-allocation.md
  articles/supply-chain/procurement/line-charges-specific-unit.md
  articles/supply-chain/procurement/period-charges.md
Owners: @kamaybac

Update warehousing-for-on-premise-deployments.md
  articles/fin-ops-core/dev-itpro/deployment/warehousing-for-on-premise-deployments.md
Owners: @johnmichalak

Update create-fixed-asset.md
  articles/finance/fixed-assets/tasks/create-fixed-asset.md
Owners: @twheeloc

Create ltm-ledger-posting-report.md
  articles/finance/localizations/iberoamerica/ltm-ledger-posting-report.md
Owners: @kfend

Edited
  articles/finance/localizations/iberoamerica/ltm-ledger-posting-report.md
Owners: @kfend

Fixed URLs
  articles/finance/localizations/iberoamerica/ltm-ledger-posting-report.md
Owners: @kfend

Create ltm-chile-inventory-balance-report.md
  articles/finance/localizations/iberoamerica/ltm-chile-inventory-balance-report.md
Owners: @kfend

Update ltm-chile-inventory-balance-report.md
  articles/finance/localizations/iberoamerica/ltm-chile-inventory-balance-report.md
Owners: @kfend

Edited
  articles/finance/localizations/iberoamerica/ltm-chile-inventory-balance-report.md
Owners: @kfend

Create ltm-chile-withholding-book.md
  articles/finance/localizations/iberoamerica/ltm-chile-withholding-book.md
Owners: @kfend

Update hr-cust-migration.md
  articles/human-resources/hr-cust-migration.md
Owners: @twheeloc

Update AppId and AAD references
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/requirements-and-prerequisites.md
Owners: @josaw1

Update async-customer-mode.md
  articles/commerce/async-customer-mode.md
Owners: @josaw1

add #1
  articles/commerce/TOC.yml
  articles/commerce/price-faq.md
  articles/commerce/price-management.md
  articles/commerce/pricing-apis.md
Owners: @josaw1

add MM
  articles/commerce/price-adjustments-discounts.md
Owners: @josaw1

add MM
  articles/commerce/price-faq.md
Owners: @josaw1

add two.
  articles/commerce/price-adjustments-discounts.md
  articles/commerce/price-faq.md
Owners: @josaw1

fix link.
  articles/commerce/price-faq.md
Owners: @josaw1

remove link desc.
  articles/commerce/price-faq.md
Owners: @josaw1

update docs
  articles/commerce/attribute-attributegroups-lifecycle.md
  articles/commerce/create-channel-hierarchy.md
  articles/commerce/product-recommendations.md
Owners: @josaw1

Fix L2 for hub pages
  articles/docfx.json
Owners: none

Update docfx.json
  articles/docfx.json
Owners: none

review
  articles/supply-chain/inventory/inventory-visibility-configuration.md
  articles/supply-chain/inventory/inventory-visibility-reservations.md
Owners: @kamaybac

Update ltm-chile-inventory-balance-report.md
  articles/finance/localizations/iberoamerica/ltm-chile-inventory-balance-report.md
Owners: @kfend

ADO 15345
  articles/fin-ops-core/dev-itpro/lcs-solutions/business-process-modeler-libraries-lcs-solutions.md
  articles/finance/TOC.yml
  articles/finance/get-started/whats-new-changed-10-0-37.md
  articles/finance/localizations/apac/apac-aus-nzl-e-invoices.md
  articles/finance/localizations/apac/apac-aus-nzl-electronic-invoices.md
  articles/finance/localizations/australia/apac-aus-tpar.md
  articles/finance/localizations/brazil/latam-bra-sped-fiscal-establishment.md
  articles/finance/localizations/denmark/denmark.md
  articles/finance/localizations/denmark/emea-dnk-accounting-basis.md
  articles/finance/localizations/denmark/emea-dnk-vat-declaration-denmark.md
  articles/finance/localizations/denmark/emea-dnk-vat-declaration-preview.md
  articles/finance/localizations/denmark/emea-dnk-vat-declaration-submission.md
  articles/finance/localizations/emea-ita-exil-sales-order-commission-preview.PNG
  articles/finance/localizations/emea-swe-payment-periods-statistics.md
  articles/finance/localizations/france/e-invoicing-fr-get-started.md
  articles/finance/localizations/global/regulatory-updates.md
  articles/finance/localizations/iberoamerica/ltm-core-field-master-lists.md
  articles/finance/localizations/iberoamerica/ltm-tax-legal-attributes.md
  articles/finance/localizations/japan/apac-jpn-consolidate-invoices.md
  articles/finance/localizations/japan/apac-jpn-qualified-invoice-system.md
  articles/finance/localizations/japan/japan.md
  articles/finance/localizations/sweden/emea-swe-payment-periods-statistics.md
  articles/finance/localizations/sweden/sweden.md
  articles/supply-chain/supply-chain-dev/production-floor-execution-styles.md
  articles/supply-chain/toc.yml
Owners: @johnmichalak, @twheeloc, @kfend, @kamaybac

Added redirects
  .openpublishing.redirection.json
Owners: none

Create ltm-invoice-layout-print.md
  articles/finance/localizations/iberoamerica/ltm-invoice-layout-print.md
Owners: @kfend

Update BPA-help-overview.md
  articles/finance/business-performance-analytics/BPA-help-overview.md
Owners: @twheeloc

Update data-entities-data-packages.md
  articles/fin-ops-core/dev-itpro/data-entities/data-entities-data-packages.md
Owners: @johnmichalak

Update data-entities-data-packages.md
  articles/fin-ops-core/dev-itpro/data-entities/data-entities-data-packages.md
Owners: @johnmichalak

Update price-change-tracking.md
  articles/commerce/price-change-tracking.md
Owners: @josaw1
