Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update one-voucher-new.md
  articles/finance/general-ledger/one-voucher-new.md
Owners: @twheeloc

Update one-voucher-new.md
  articles/finance/general-ledger/one-voucher-new.md
Owners: @twheeloc

Update one-voucher-new.md
  articles/finance/general-ledger/one-voucher-new.md
Owners: @twheeloc

Update one-voucher-new.md
  articles/finance/general-ledger/one-voucher-new.md
Owners: @twheeloc

Update pos-extension-overview.md
  articles/commerce/dev-itpro/pos-extension/pos-extension-overview.md
Owners: @josaw1

Update one-voucher-new.md
  articles/finance/general-ledger/one-voucher-new.md
Owners: @twheeloc

Update service-protection-api-limits.md
  articles/fin-ops-core/dev-itpro/data-entities/service-protection-api-limits.md
Owners: @johnmichalak

Update branching.md
  articles/fin-ops-core/dev-itpro/dev-tools/branching.md
Owners: @josaw1

Update version-control-metadata-navigation.md
  articles/fin-ops-core/dev-itpro/dev-tools/version-control-metadata-navigation.md
Owners: @josaw1

Update git-intro.md
  articles/fin-ops-core/dev-itpro/dev-tools/git-intro.md
Owners: @josaw1

Update home-page.md
  articles/fin-ops-core/dev-itpro/business-events/home-page.md
Owners: @johnmichalak

Update home-page.md
  articles/fin-ops-core/dev-itpro/business-events/home-page.md
Owners: @johnmichalak

Update service-protection-api-limits.md
  articles/fin-ops-core/dev-itpro/data-entities/service-protection-api-limits.md
Owners: @johnmichalak

Update service-protection-api-limits.md
  articles/fin-ops-core/dev-itpro/data-entities/service-protection-api-limits.md
Owners: @johnmichalak

Update service-protection-api-limits.md
  articles/fin-ops-core/dev-itpro/data-entities/service-protection-api-limits.md
Owners: @johnmichalak

Update service-protection-api-limits.md
  articles/fin-ops-core/dev-itpro/data-entities/service-protection-api-limits.md
Owners: @johnmichalak

Update service-protection-api-limits.md
  articles/fin-ops-core/dev-itpro/data-entities/service-protection-api-limits.md
Owners: @johnmichalak

Minor Edits
  articles/fin-ops-core/dev-itpro/migration-upgrade/data-upgrade-self-service.md
Owners: @johnmichalak

Added new DTS announcement
  articles/fin-ops-core/dev-itpro/lifecycle-services/dts-announcements.md
Owners: @johnmichalak

Update performancetroubleshooting.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/performancetroubleshooting.md
Owners: @johnmichalak

Revert "Added new DTS announcement"
  articles/fin-ops-core/dev-itpro/lifecycle-services/dts-announcements.md
Owners: @johnmichalak

Update dts-announcements.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/dts-announcements.md
Owners: @johnmichalak

Update intercompany-journal.md
  articles/finance/general-ledger/intercompany-journal.md
Owners: @twheeloc

update text
  articles/fin-ops-core/dev-itpro/lifecycle-services/dts-announcements.md
Owners: @johnmichalak

Update intercompany-journal.md
  articles/finance/general-ledger/intercompany-journal.md
Owners: @twheeloc

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management/omnichannel-media-management-overview.md
Owners: @josaw1

Update intercompany-journal.md
  articles/finance/general-ledger/intercompany-journal.md
Owners: @twheeloc

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management/omnichannel-media-management-overview.md
Owners: @josaw1

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management/omnichannel-media-management-overview.md
Owners: @josaw1

Update dts-announcements.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/dts-announcements.md
Owners: @johnmichalak

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management/omnichannel-media-management-overview.md
Owners: @josaw1

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management/omnichannel-media-management-overview.md
Owners: @josaw1

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management/omnichannel-media-management-overview.md
Owners: @josaw1

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management/omnichannel-media-management-overview.md
Owners: @josaw1

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management/omnichannel-media-management-overview.md
Owners: @josaw1

Added 10.0.32 release-1 schedule and added note
  articles/fin-ops-core/fin-ops/get-started/quality-updates.md
Owners: @johnmichalak

review
  articles/supply-chain/pricing-management/margin-discount-pricing-rules.md
Owners: @kamaybac

Update emea-deu-vat-declaration-germany.md
  articles/finance/localizations/emea-deu-vat-declaration-germany.md
Owners: @kfend

Update planning-optimization-trouble-shooting.md
  articles/supply-chain/master-planning/planning-optimization/planning-optimization-trouble-shooting.md
Owners: @kamaybac

Update ltm-core-document-class-type.md
  articles/finance/localizations/ltm-core-document-class-type.md
Owners: @kfend
