Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update arch-component-versioning.md
  articles/commerce/dev-itpro/arch-component-versioning.md
Owners: @josaw1

Update hosted-build-automation.md
  articles/fin-ops-core/dev-itpro/dev-tools/hosted-build-automation.md
Owners: @josaw1

Update pipeline-add-license-package.md
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-add-license-package.md
Owners: @josaw1

Update hosted-build-automation.md
  articles/fin-ops-core/dev-itpro/dev-tools/hosted-build-automation.md
Owners: @josaw1

Update pipeline-add-license-package.md
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-add-license-package.md
Owners: @josaw1

Update pipeline-create-deployable-package.md
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-create-deployable-package.md
Owners: @josaw1

Update hosted-build-automation.md
  articles/fin-ops-core/dev-itpro/dev-tools/hosted-build-automation.md
Owners: @josaw1

Update pipeline-add-license-package.md
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-add-license-package.md
Owners: @josaw1

Update pipeline-create-deployable-package.md
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-create-deployable-package.md
Owners: @josaw1

Update troubleshoot-on-prem.md
  articles/fin-ops-core/dev-itpro/deployment/troubleshoot-on-prem.md
Owners: @johnmichalak

Update onprem-automate-diagnostics-collection.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-automate-diagnostics-collection.md
Owners: @johnmichalak

Update setup-deploy-on-premises-latest.md
  articles/fin-ops-core/dev-itpro/deployment/setup-deploy-on-premises-latest.md
Owners: @johnmichalak

Update lcs-setup.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/lcs-setup.md
Owners: @josaw1

Update one-version.md
  articles/fin-ops-core/dev-itpro/get-started/one-version.md
Owners: @johnmichalak

Update oneversion-overview.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/oneversion-overview.md
Owners: @johnmichalak

Update pause-service-updates.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/pause-service-updates.md
Owners: @johnmichalak

Update download-hotfix-lcs.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/download-hotfix-lcs.md
Owners: @johnmichalak

Update on-prem-version-update-policy.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/on-prem-version-update-policy.md
Owners: @johnmichalak

Update versions-update-policy.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/versions-update-policy.md
Owners: @johnmichalak

Update public-preview-releases.md
  articles/fin-ops-core/dev-itpro/get-started/public-preview-releases.md
Owners: @johnmichalak

Add files via upload
  articles/fin-ops-core/dev-itpro/media/OneVersion-FAQs-Max-Pause-Transition.png
Owners: @johnmichalak

Update one-version.md
  articles/fin-ops-core/dev-itpro/get-started/one-version.md
Owners: @johnmichalak

Update one-version.md
  articles/fin-ops-core/dev-itpro/get-started/one-version.md
Owners: @johnmichalak

Update one-version.md
  articles/fin-ops-core/dev-itpro/get-started/one-version.md
Owners: @johnmichalak

Add files via upload
  articles/fin-ops-core/dev-itpro/media/OneVersion-FAQs-Staggered-Release-Rollout-Servicing-Model-legend.png
Owners: @johnmichalak

Add files via upload
  articles/fin-ops-core/dev-itpro/media/OneVersion-FAQsa-Staggered-Release-Rollout-Servicing-Model.png
Owners: @johnmichalak

Update one-version.md
  articles/fin-ops-core/dev-itpro/get-started/one-version.md
Owners: @johnmichalak

Update one-version.md
  articles/fin-ops-core/dev-itpro/get-started/one-version.md
Owners: @johnmichalak

Update public-preview-releases.md
  articles/fin-ops-core/dev-itpro/get-started/public-preview-releases.md
Owners: @johnmichalak

Update pause-service-updates.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/pause-service-updates.md
Owners: @johnmichalak

Update download-hotfix-lcs.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/download-hotfix-lcs.md
Owners: @johnmichalak

Update versions-update-policy.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/versions-update-policy.md
Owners: @johnmichalak

Update one-version.md
  articles/fin-ops-core/dev-itpro/get-started/one-version.md
Owners: @johnmichalak

Update versions-update-policy.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/versions-update-policy.md
Owners: @johnmichalak

Update one-version.md
  articles/fin-ops-core/dev-itpro/get-started/one-version.md
Owners: @johnmichalak

Update one-version.md
  articles/fin-ops-core/dev-itpro/get-started/one-version.md
Owners: @johnmichalak

Update versions-update-policy.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/versions-update-policy.md
Owners: @johnmichalak

Update public-preview-releases.md
  articles/fin-ops-core/dev-itpro/get-started/public-preview-releases.md
Owners: @johnmichalak

Update e-invoicing-set-up-parameters.md
  articles/finance/localizations/global/e-invoicing-set-up-parameters.md
Owners: @kfend

Update apac-aus-nzl-electronic-invoices.md
  articles/finance/localizations/apac-aus-nzl-electronic-invoices.md
Owners: @kfend
