Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update payment-workspace.md
  articles/commerce/dev-itpro/payment-workspace.md
Owners: @josaw1

Update payment-workspace.md
  articles/commerce/dev-itpro/payment-workspace.md
Owners: @josaw1

Update payment-workspace.md
  articles/commerce/dev-itpro/payment-workspace.md
Owners: @josaw1

Update index.yml
  articles/commerce/index.yml
Owners: @josaw1

Update whats-new-platform-updates-vcruntime.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-vcruntime.md
Owners: @johnmichalak

Update adyen 10.0.37 version
  articles/commerce/dev-itpro/adyen-connector.md
Owners: @josaw1

Add files via upload
  articles/finance/localizations/media/apac-au-tpar-collect-data.png
  articles/finance/localizations/media/apac-au-tpar-contact-person.png
  articles/finance/localizations/media/apac-au-tpar-create.png
  articles/finance/localizations/media/apac-au-tpar-payees.png
Owners: @kfend

Edited
  articles/commerce/dev-itpro/payment-workspace.md
Owners: @josaw1

Create apac-aus-tpar.md
  articles/finance/localizations/apac-aus-tpar.md
Owners: @kfend

Update apac-aus-tpar.md
  articles/finance/localizations/apac-aus-tpar.md
Owners: @kfend

Delete apac-au-tpar-collect-data.png
  articles/finance/localizations/media/apac-au-tpar-collect-data.png
Owners: @kfend

Delete apac-au-tpar-create.png
  articles/finance/localizations/media/apac-au-tpar-create.png
Owners: @kfend

Delete apac-au-tpar-payees.png
  articles/finance/localizations/media/apac-au-tpar-payees.png
Owners: @kfend

Delete apac-au-tpar-contact-person.png
  articles/finance/localizations/media/apac-au-tpar-contact-person.png
Owners: @kfend

Add files via upload
  articles/finance/localizations/media/apac-au-tpar-collect-data.png
  articles/finance/localizations/media/apac-au-tpar-contact-person.png
  articles/finance/localizations/media/apac-au-tpar-create.png
  articles/finance/localizations/media/apac-au-tpar-payees.png
Owners: @kfend

Update apac-aus-tpar.md
  articles/finance/localizations/apac-aus-tpar.md
Owners: @kfend

Update apac-aus-tpar.md
  articles/finance/localizations/apac-aus-tpar.md
Owners: @kfend

Edited
  articles/supply-chain/pim/export-control-overview.md
Owners: @kamaybac

Update whats-new-platform-updates-vcruntime.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-vcruntime.md
Owners: @johnmichalak

Edited
  articles/supply-chain/pim/export-control-configure.md
Owners: @kamaybac

Update emea-dnk-vat-declaration-submission.md
  articles/finance/localizations/emea-dnk-vat-declaration-submission.md
Owners: @kfend

Tweak
  articles/supply-chain/pim/export-control-configure.md
Owners: @kamaybac

Edited
  articles/supply-chain/pim/export-control-use.md
Owners: @kamaybac

Update whats-new-platform-updates-vcruntime.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-vcruntime.md
Owners: @johnmichalak

Edited
  articles/supply-chain/pim/export-control-extend-sales-orders.md
Owners: @kamaybac

edit
  articles/supply-chain/warehousing/mobile-device-workspace.md
Owners: @kamaybac

various changes
  articles/supply-chain/warehousing/over-pick-materials-for-production-and-batch-orders.md
Owners: @kamaybac

WOM-37
  articles/supply-chain/warehousing/wms-only-mode-exchange-data.md
Owners: @kamaybac

add file
  articles/supply-chain/asset-management/work-orders/Material-availability-check.md
Owners: @kamaybac

WOM-37
  articles/supply-chain/warehousing/wms-only-mode-faq.md
  articles/supply-chain/warehousing/wms-only-mode-setup.md
  articles/supply-chain/warehousing/wms-only-mode-using.md
Owners: @kamaybac

jho adds1
  articles/supply-chain/asset-management/work-orders/Material-availability-check.md
Owners: @kamaybac

review
  articles/supply-chain/warehousing/warehouse-app-data-inquiry.md
Owners: @kamaybac

review
  articles/supply-chain/warehousing/warehouse-app-data-inquiry.md
Owners: @kamaybac

review
  articles/supply-chain/warehousing/warehouse-app-data-inquiry.md
Owners: @kamaybac

Update apac-jpn-consolidate-invoices.md
  articles/finance/localizations/apac-jpn-consolidate-invoices.md
Owners: @kfend

edit
  articles/supply-chain/warehousing/warehouse-app-data-inquiry.md
Owners: @kamaybac

corrections
  articles/finance/localizations/apac-jpn-consolidate-invoices.md
  articles/finance/localizations/apac-jpn-qualified-invoice-system.md
Owners: @kfend

Edited
  articles/supply-chain/pim/export-control-extend-licenses.md
Owners: @kamaybac

Edited
  articles/supply-chain/pim/export-control-extend-rules.md
Owners: @kamaybac

Tweak
  articles/supply-chain/pim/export-control-extend-licenses.md
Owners: @kamaybac
