Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

edit
  articles/fin-ops-core/dev-itpro/sysadmin/archive-setup.md
Owners: @johnmichalak

Update crt-product-requests.md
  articles/commerce/crt-product-requests.md
Owners: @josaw1

Update cloud-deployment-overview.md
  articles/fin-ops-core/dev-itpro/deployment/cloud-deployment-overview.md
Owners: @johnmichalak

Edited
  articles/commerce/crt-product-requests.md
Owners: @josaw1

Update whats-new-dual-write.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/whats-new-dual-write.md
Owners: @josaw1

Update whats-new-dual-write.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/whats-new-dual-write.md
Owners: @josaw1

Update move-lcs-implementation-project-tenant.md
  articles/fin-ops-core/fin-ops/get-started/move-lcs-implementation-project-tenant.md
Owners: @johnmichalak

Update move-lcs-implementation-project-tenant.md
  articles/fin-ops-core/fin-ops/get-started/move-lcs-implementation-project-tenant.md
Owners: @johnmichalak

Update move-lcs-implementation-project-tenant.md
  articles/fin-ops-core/fin-ops/get-started/move-lcs-implementation-project-tenant.md
Owners: @johnmichalak

Update move-lcs-implementation-project-tenant.md
  articles/fin-ops-core/fin-ops/get-started/move-lcs-implementation-project-tenant.md
Owners: @johnmichalak

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update move-lcs-implementation-project-tenant.md
  articles/fin-ops-core/fin-ops/get-started/move-lcs-implementation-project-tenant.md
Owners: @johnmichalak

Update move-lcs-implementation-project-tenant.md
  articles/fin-ops-core/fin-ops/get-started/move-lcs-implementation-project-tenant.md
Owners: @johnmichalak

Update deployenvironment-newinfrastructure.md
  articles/fin-ops-core/dev-itpro/deployment/deployenvironment-newinfrastructure.md
Owners: @johnmichalak

Update prepare-go-live.md
  articles/fin-ops-core/fin-ops/imp-lifecycle/prepare-go-live.md
Owners: @johnmichalak

Update prepare-go-live.md
  articles/fin-ops-core/fin-ops/imp-lifecycle/prepare-go-live.md
Owners: @johnmichalak

Update extensible-data-security-policies.md
  articles/fin-ops-core/dev-itpro/sysadmin/extensible-data-security-policies.md
Owners: @johnmichalak

Update bpa-faq.md
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

Update business-performance-analytics-home-page.md
  articles/finance/business-performance-analytics/business-performance-analytics-home-page.md
Owners: @twheeloc

edit
  articles/fin-ops-core/dev-itpro/sysadmin/archive-sales-orders.md
Owners: @johnmichalak

edit
  articles/fin-ops-core/dev-itpro/sysadmin/archive-overview.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-setup.md
Owners: @johnmichalak

release notes for wma 2.1.12
  articles/supply-chain/warehousing/whats-new-wma.md
Owners: @kamaybac

edit
  articles/fin-ops-core/dev-itpro/sysadmin/archive-setup.md
Owners: @johnmichalak

edit
  articles/fin-ops-core/dev-itpro/sysadmin/archive-setup.md
Owners: @johnmichalak

edit
  articles/fin-ops-core/dev-itpro/sysadmin/archive-setup.md
Owners: @johnmichalak

Update configure-export-data-lake.md
  articles/fin-ops-core/dev-itpro/data-entities/configure-export-data-lake.md
Owners: @johnmichalak

edit
  articles/fin-ops-core/dev-itpro/sysadmin/archive-setup.md
Owners: @johnmichalak

edit
  articles/fin-ops-core/dev-itpro/sysadmin/archive-sales-orders.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-setup.md
Owners: @johnmichalak

review
  articles/supply-chain/warehousing/whats-new-wma.md
Owners: @kamaybac

Update purchase-order-changes-after-confirmation.md
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation.md
Owners: @kamaybac

Update example-balanced-journals-interunit-accounting.md
  articles/finance/general-ledger/example-balanced-journals-interunit-accounting.md
Owners: @twheeloc

review
  articles/supply-chain/warehousing/print-container-labels.md
  articles/supply-chain/warehousing/print-license-plate-labels-using-label-layouts.md
Owners: @kamaybac

Update cpos-custom-aad.md
  articles/commerce/cpos-custom-aad.md
Owners: @josaw1

Update documents-pending-accounting.md
  articles/finance/general-ledger/documents-pending-accounting.md
Owners: @twheeloc

Update global-tax-calcuation-service-overview.md
  articles/finance/localizations/global-tax-calcuation-service-overview.md
Owners: @kfend

Update project-migration-manager.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/project-migration-manager.md
Owners: @johnmichalak

Edited updated sections
  articles/supply-chain/warehousing/print-license-plate-labels-using-label-layouts.md
Owners: @kamaybac

Edited updated sections
  articles/supply-chain/warehousing/print-container-labels.md
Owners: @kamaybac

Edited updated sections
  articles/supply-chain/warehousing/label-printing-using-external-label-service.md
Owners: @kamaybac

Update upgrade-analyzer-tool.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/upgrade-analyzer-tool.md
Owners: @johnmichalak
