Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

add newline
  articles/commerce/get-started/whats-new-commerce-10-0-36.md
Owners: @josaw1

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Updating RSAT documentation to reflect 2.6 changes
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/UI-DevOps-navigate.png
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/UI-settings-tab.png
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/UI-test-plans-tab.png
Owners: @josaw1

Update rsat-overview.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-overview.md
Owners: @josaw1

Update rsat-install-configure.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-install-configure.md
Owners: @josaw1

Add files via upload
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/rsat-settings.png
Owners: @josaw1

Update rsat-install-configure.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-install-configure.md
Owners: @josaw1

Create rsat-user-based-authentication
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-user-based-authentication
Owners: @josaw1

Delete articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-user-based-authentication
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-user-based-authentication
Owners: @josaw1

Create rsat-user-based-authentication.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-user-based-authentication.md
Owners: @josaw1

Update rsat-user-based-authentication.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-user-based-authentication.md
Owners: @josaw1

Update rsat-user-based-authentication.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-user-based-authentication.md
Owners: @josaw1

Update rsat-user-based-authentication.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-user-based-authentication.md
Owners: @josaw1

Update rsat-overview.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-overview.md
Owners: @josaw1

Add S2S certificate change docs.
  articles/fin-ops-core/dev-itpro/dev-tools/secure-developer-vm.md
Owners: @josaw1

Update exception handling inside transaction
  articles/fin-ops-core/dev-itpro/dev-ref/xpp-exceptions.md
Owners: @josaw1

wording
  articles/fin-ops-core/dev-itpro/dev-ref/xpp-exceptions.md
Owners: @josaw1

update
  articles/commerce/Order-fulfillment-POS-setup.md
  articles/commerce/dom-limitations.md
  articles/commerce/dom-processing.md
  articles/commerce/dom-rules.md
  articles/commerce/dom-set-up.md
  articles/commerce/product-discovery-checklist.md
Owners: @josaw1

Create rsat-using-formulas.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-using-formulas.md
Owners: @josaw1

Update rsat-using-formulas.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-using-formulas.md
Owners: @josaw1

Add files via upload
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/rsat-dates-powerfx.png
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/rsat-generate-exception.png
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/rsat-reference-backward.png
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/rsat-reference-forward.png
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/rsat-reference-named.png
Owners: @josaw1

Update rsat-using-formulas.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-using-formulas.md
Owners: @josaw1

Add files via upload
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/enable-local-file-validation-rules-2.png
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/generate-execution-files.png
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/load-test-cases.png
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/rsat-test-cases.png
Owners: @josaw1

Update not-used-parameters.md
  articles/supply-chain/master-planning/planning-optimization/not-used-parameters.md
Owners: @kamaybac

review
  articles/supply-chain/master-planning/supplier-requested-confirmed-dates.md
Owners: @kamaybac

Update rsat-run.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-run.md
Owners: @josaw1

Update whats-new-home-page.md Add PU61 Release
  articles/fin-ops-core/fin-ops/get-started/whats-new-home-page.md
Owners: @johnmichalak

Add files via upload
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/add-test-case.png
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/test-case-add.png
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/test-case-details-context.png
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/test-case-details.png
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/test-case-information.png
Owners: @josaw1

review
  articles/supply-chain/get-started/whats-new-scm-10-0-38.md
  articles/supply-chain/master-planning/supplier-requested-confirmed-dates.md
  articles/supply-chain/master-planning/supply-chain-calendars-master-planning.md
Owners: @kamaybac

Update rsat-maintain-test-cases.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-maintain-test-cases.md
Owners: @josaw1

Add files via upload
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/delete-test-case.png
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/remove-attachment.png
Owners: @josaw1

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Update rsat-maintain-test-cases.md
  articles/fin-ops-core/dev-itpro/perf-test/rsat/rsat-maintain-test-cases.md
Owners: @josaw1

Add files via upload
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/confirm-delete-test-case.png
Owners: @josaw1

Delete articles/fin-ops-core/dev-itpro/perf-test/rsat/media/add-test-case.PNG
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/add-test-case.PNG
Owners: @josaw1

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Delete articles/fin-ops-core/dev-itpro/perf-test/rsat/media/delete-test-case.PNG
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/delete-test-case.PNG
Owners: @josaw1

Delete articles/fin-ops-core/dev-itpro/perf-test/rsat/media/remove-attachment.PNG
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/remove-attachment.PNG
Owners: @josaw1

Delete articles/fin-ops-core/dev-itpro/perf-test/rsat/media/test-case-details-context.PNG
  articles/fin-ops-core/dev-itpro/perf-test/rsat/media/test-case-details-context.PNG
Owners: @josaw1
