Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Edited updated sections
  articles/supply-chain/get-started/removed-deprecated-features-scm-updates.md
Owners: @kamaybac

Edited
  articles/finance/business-performance-analytics/Reports-in-BPA.md
Owners: @twheeloc

Update adyen-connector-setup.md
  articles/commerce/dev-itpro/adyen-connector-setup.md
Owners: @josaw1

Update MPOS-or-CPOS.md
  articles/commerce/MPOS-or-CPOS.md
Owners: @josaw1

Update migrate-mpos-store-commerce.md
  articles/commerce/dev-itpro/pos-extension/migrate-mpos-store-commerce.md
Owners: @josaw1

Update retail-hardware-station-configuration-installation.md
  articles/commerce/retail-hardware-station-configuration-installation.md
Owners: @josaw1

Update migrate-mpos-store-commerce.md
  articles/commerce/dev-itpro/pos-extension/migrate-mpos-store-commerce.md
Owners: @josaw1

Added Anti-Patterns in both, first two, scenarios
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-existing-dv.md
Owners: @sericks007

Added anti-patterns in the scenario
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-new-dv.md
Owners: @sericks007

Update additional-b2c-info.md
  articles/commerce/additional-b2c-info.md
Owners: @josaw1

Update additional-b2c-info.md
  articles/commerce/additional-b2c-info.md
Owners: @josaw1

few format changes
  articles/fin-ops-core/dev-itpro/dev-tools/syssetup.md
Owners: @josaw1

Update syssetup.md
  articles/fin-ops-core/dev-itpro/dev-tools/syssetup.md
Owners: @josaw1

Update syssetup.md
  articles/fin-ops-core/dev-itpro/dev-tools/syssetup.md
Owners: @josaw1

Minor change
  articles/fin-ops-core/dev-itpro/dev-tools/syssetup.md
Owners: @josaw1

Initial commit of the guidance to split packages
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/apply-solution-finance-extended.png
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/apply-solution.png
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/dual-write-packages-app-source.png
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/find-entity-in-split-package.png
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/package-with-update.png
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/separated-solutions-transition-guidance.md
Owners: @josaw1

Update separated-solutions-transition-guidance.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/separated-solutions-transition-guidance.md
Owners: @josaw1

Update separated-solutions-transition-guidance.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/separated-solutions-transition-guidance.md
Owners: @josaw1

Added 10.0.32 release2 &10.0.33 release1 schedule
  articles/fin-ops-core/fin-ops/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Update bpa-faq.md
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

Update how-to-create-and-edit-reports.md
  articles/finance/business-performance-analytics/how-to-create-and-edit-reports.md
Owners: @twheeloc

Update whats-new-platform-updates-10-0-34.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-34.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-33.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-33.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-32.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-32.md
Owners: @johnmichalak

review
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/enable-efficiency-in-quote-to-cash.md
Owners: @josaw1

Update set-up-security.md
  articles/finance/business-performance-analytics/set-up-security.md
Owners: @twheeloc

Create quality-updates-build-details-10-0-31.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-build-details-10-0-31.md
Owners: @johnmichalak

Update bpa-faq.md
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

Update quality-updates-build-details-10-0-31.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-build-details-10-0-31.md
Owners: @johnmichalak

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update install-bpa.md
  articles/finance/business-performance-analytics/install-bpa.md
Owners: @twheeloc

Update ltm-core-sales-invoice-posting-latam.md
  articles/finance/localizations/ltm-core-sales-invoice-posting-latam.md
Owners: @kfend

Update install-bpa.md
  articles/finance/business-performance-analytics/install-bpa.md
Owners: @twheeloc

Added problem desc and solution
  articles/fin-ops-core/fin-ops/get-started/quality-updates-build-details-10-0-31.md
Owners: @johnmichalak

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

added KB Numbers
  articles/fin-ops-core/fin-ops/get-started/quality-updates-build-details-10-0-31.md
Owners: @johnmichalak

Update debug-pos-extension.md
  articles/commerce/dev-itpro/pos-extension/debug-pos-extension.md
Owners: @josaw1

Update knockout-pos-extension.md
  articles/commerce/dev-itpro/pos-extension/knockout-pos-extension.md
Owners: @josaw1

Update migrate-pos-extension.md
  articles/commerce/dev-itpro/pos-extension/migrate-pos-extension.md
Owners: @josaw1

Edited
  articles/fin-ops-core/dev-itpro/deployment/manage-sandboxes-across-projects.md
Owners: @johnmichalak

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
