Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update ltm-core-document-class-type.md
  articles/finance/localizations/ltm-core-document-class-type.md
Owners: @kfend

Update ltm-core-point-relation.md
  articles/finance/localizations/ltm-core-point-relation.md
Owners: @kfend

Update ltm-core-document-class-sales-point.md
  articles/finance/localizations/ltm-core-document-class-sales-point.md
Owners: @kfend

Update ltm-core-tax-application.md
  articles/finance/localizations/ltm-core-tax-application.md
Owners: @kfend

review
  articles/supply-chain/get-started/whats-new-scm-10-0-30.md
  articles/supply-chain/get-started/whats-new-scm-10-0-33.md
  articles/supply-chain/landed-cost/in-transit-processing.md
  articles/supply-chain/landed-cost/landed-cost-enable.md
  articles/supply-chain/landed-cost/manage-shipping-containers.md
  articles/supply-chain/landed-cost/manage-voyages.md
  articles/supply-chain/landed-cost/media/accounting-distributions.png
  articles/supply-chain/landed-cost/over-under-transactions.md
  articles/supply-chain/toc.yml
  articles/supply-chain/transportation/assign-shipments-to-segments.md
  articles/supply-chain/transportation/tasks/reconcile-freight-manually.md
  articles/supply-chain/transportation/transportation-management-overview.md
Owners: @kamaybac

Update data-upgrade-self-service.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/data-upgrade-self-service.md
Owners: @johnmichalak

Add files via upload
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/add_effciency_18.png
Owners: @josaw1

Update enable-efficiency-in-quote-to-cash.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/enable-efficiency-in-quote-to-cash.md
Owners: @josaw1

Update regulatory-updates.md
  articles/finance/localizations/regulatory-updates.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Edited
  articles/fin-ops-core/dev-itpro/perf-test/public-application-tests.md
Owners: @josaw1

Update invoice-capture-overview.md
  articles/finance/accounts-payable/invoice-capture-overview.md
Owners: @twheeloc

Update Install-invoice-capture.md
  articles/finance/accounts-payable/Install-invoice-capture.md
Owners: @twheeloc

Create invoice-capture-channel.md
  articles/finance/accounts-payable/invoice-capture-channel.md
Owners: @twheeloc

Update quality-updates.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates.md
Owners: @johnmichalak

Create quality-updates-schedule.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Create quality-updates-faq.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-faq.md
Owners: @johnmichalak

Update quality-updates.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates.md
Owners: @johnmichalak

Update quality-updates-faq.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-faq.md
Owners: @johnmichalak

Update quality-updates-schedule.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Update quality-updates.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates.md
Owners: @johnmichalak

Update apple-pay-adyen.md
  articles/commerce/dev-itpro/apple-pay-adyen.md
Owners: @josaw1

Update quality-updates-faq.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-faq.md
Owners: @johnmichalak

Update quality-updates-schedule.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Update quality-updates-faq.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-faq.md
Owners: @johnmichalak

Update apple-pay-adyen.md
  articles/commerce/dev-itpro/apple-pay-adyen.md
Owners: @josaw1

Update quality-updates-faq.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-faq.md
Owners: @johnmichalak

Update quality-updates.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates.md
Owners: @johnmichalak

Update quality-updates-schedule.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Update quality-updates.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates.md
Owners: @johnmichalak

Update quality-updates-schedule.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Update quality-updates-faq.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-faq.md
Owners: @johnmichalak

Update invoice-capture-channel.md
  articles/finance/accounts-payable/invoice-capture-channel.md
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update ltm-core-document-class.md
  articles/finance/localizations/ltm-core-document-class.md
Owners: @kfend

Update ltm-core-document-class.md
  articles/finance/localizations/ltm-core-document-class.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update invoice-capture-channel.md
  articles/finance/accounts-payable/invoice-capture-channel.md
Owners: @twheeloc

Update dts-api-info.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/dts-api-info.md
Owners: @johnmichalak
