Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update sales-status-map.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/sales-status-map.md
Owners: @josaw1

Update data-upgrade-self-service.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/data-upgrade-self-service.md
Owners: @johnmichalak

Add topics and review
  articles/supply-chain/pricing-management/base-price-versions.md
  articles/supply-chain/pricing-management/customer-product-attribute-groups.md
  articles/supply-chain/pricing-management/media/parameters-posting.png
  articles/supply-chain/pricing-management/media/price-component-posting-profile.png
  articles/supply-chain/pricing-management/media/price-trees-setup.png
  articles/supply-chain/pricing-management/media/pricing-component-posting.png
  articles/supply-chain/pricing-management/price-attribute-groups.md
  articles/supply-chain/pricing-management/price-attributes-overview.md
  articles/supply-chain/pricing-management/price-attributes-setup.md
  articles/supply-chain/pricing-management/price-component-code.md
  articles/supply-chain/pricing-management/price-component-posting.md
  articles/supply-chain/pricing-management/price-tree-multiple.md
  articles/supply-chain/pricing-management/price-tree-overview.md
  articles/supply-chain/pricing-management/price-tree-single.md
  articles/supply-chain/pricing-management/pricing-management-enable.md
  articles/supply-chain/pricing-management/pricing-management-overview.md
  articles/supply-chain/pricing-management/vendor-list-price.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update data-upgrade-self-service.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/data-upgrade-self-service.md
Owners: @johnmichalak

Update dual-write-prospect-to-cash.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/dual-write-prospect-to-cash.md
Owners: @josaw1

Update data-upgrade-self-service.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/data-upgrade-self-service.md
Owners: @johnmichalak

add topic
  articles/supply-chain/toc.yml
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
  articles/supply-chain/warehousing/warehouse-app-intune.md
Owners: @kamaybac

Update data-upgrade-self-service.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/data-upgrade-self-service.md
Owners: @johnmichalak

Update data-upgrade-self-service.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/data-upgrade-self-service.md
Owners: @johnmichalak

Update data-upgrade-self-service.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/data-upgrade-self-service.md
Owners: @johnmichalak

Edits for new toolkit
  articles/fin-ops-core/dev-itpro/migration-upgrade/data-upgrade-self-service.md
Owners: @johnmichalak

Update data-upgrade-self-service.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/data-upgrade-self-service.md
Owners: @johnmichalak

Update data-upgrade-self-service.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/data-upgrade-self-service.md
Owners: @johnmichalak

Update data-upgrade-self-service.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/data-upgrade-self-service.md
Owners: @johnmichalak

Update data-upgrade-self-service.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/data-upgrade-self-service.md
Owners: @johnmichalak

add topics
  articles/supply-chain/asset-management/asset-management-mobile-app/asset-management-mobile-app-overview.md
  articles/supply-chain/asset-management/asset-management-mobile-app/maintenance-requests.md
  articles/supply-chain/asset-management/asset-management-mobile-app/onboard-app.md
  articles/supply-chain/asset-management/asset-management-mobile-app/work-orders.md
Owners: @kamaybac

10.0.32 update for Adyen version support
  articles/commerce/dev-itpro/adyen-connector.md
Owners: @josaw1

Update adyen-connector.md
  articles/commerce/dev-itpro/adyen-connector.md
Owners: @josaw1

Update xpp-cs-comparison.md
  articles/fin-ops-core/dev-itpro/dev-ref/xpp-cs-comparison.md
Owners: @josaw1

Update move-on-prem-to-cloud.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/move-on-prem-to-cloud.md
Owners: @johnmichalak

Update move-on-prem-to-cloud.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/move-on-prem-to-cloud.md
Owners: @johnmichalak

Update removed-deprecated-features-platform-updates.md
  articles/fin-ops-core/dev-itpro/get-started/removed-deprecated-features-platform-updates.md
Owners: @johnmichalak

Update move-on-prem-to-cloud.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/move-on-prem-to-cloud.md
Owners: @johnmichalak

Major edit to reflect the use of the new tool
  articles/fin-ops-core/dev-itpro/lifecycle-services/move-on-prem-to-cloud.md
Owners: @johnmichalak

Update removed-deprecated-features-commerce.md
  articles/commerce/get-started/removed-deprecated-features-commerce.md
Owners: @josaw1

Edited
  articles/human-resources/mss-overview.md
Owners: @twheeloc

Update and rename ManagingAuthorizationsInCommerce.md to manage-payment-authorizations.md
  articles/commerce/dev-itpro/manage-payment-authorizations.md
Owners: @josaw1

Edited updated sections
  articles/human-resources/hr-employee-manager-self-service-overview.md
Owners: @twheeloc

Reviewed updated sections (+fixed issues flagged by spelling/grammar check)
  articles/fin-ops-core/dev-itpro/business-events/home-page.md
Owners: @johnmichalak

Edited
  articles/human-resources/business-events-overview.md
Owners: @twheeloc

Update manage-payment-authorizations.md
  articles/commerce/dev-itpro/manage-payment-authorizations.md
Owners: @josaw1

Update move-on-prem-to-cloud.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/move-on-prem-to-cloud.md
Owners: @johnmichalak

Update move-on-prem-to-cloud.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/move-on-prem-to-cloud.md
Owners: @johnmichalak

Update move-on-prem-to-cloud.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/move-on-prem-to-cloud.md
Owners: @johnmichalak

Update move-on-prem-to-cloud.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/move-on-prem-to-cloud.md
Owners: @johnmichalak

Update move-on-prem-to-cloud.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/move-on-prem-to-cloud.md
Owners: @johnmichalak

Update move-on-prem-to-cloud.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/move-on-prem-to-cloud.md
Owners: @johnmichalak

Update move-on-prem-to-cloud.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/move-on-prem-to-cloud.md
Owners: @johnmichalak

Update business-events-overview.md
  articles/human-resources/business-events-overview.md
Owners: @twheeloc

Update bus-event-example.md
  articles/human-resources/bus-event-example.md
Owners: @twheeloc

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
