Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update shortcut-keys.md
  articles/fin-ops-core/fin-ops/get-started/shortcut-keys.md
Owners: @johnmichalak

Initial intro document and first link
  articles/fin-ops-core/dev-itpro/dev-tools/git-intro.md
  articles/fin-ops-core/dev-itpro/dev-tools/version-control-metadata-navigation.md
Owners: @josaw1

All Hail Acrolinx (updating content for clarity)
  articles/fin-ops-core/dev-itpro/dev-tools/git-intro.md
Owners: @josaw1

One more content clarification
  articles/fin-ops-core/dev-itpro/dev-tools/git-intro.md
Owners: @josaw1

add topics, images, and review
  articles/supply-chain/asset-management/asset-management-mobile-app/maintenance-requests.md
  articles/supply-chain/asset-management/asset-management-mobile-app/media/maintenance-request-details.png
  articles/supply-chain/asset-management/asset-management-mobile-app/media/maintenance-request-scan.png
  articles/supply-chain/asset-management/asset-management-mobile-app/media/maintenance-request-search.png
  articles/supply-chain/asset-management/asset-management-mobile-app/media/manage-job-details-ui.png
  articles/supply-chain/asset-management/asset-management-mobile-app/media/manage-work-order-details-ui.png
  articles/supply-chain/asset-management/asset-management-mobile-app/media/manage-work-orders-checklist-ui.png
  articles/supply-chain/asset-management/asset-management-mobile-app/media/manage-work-orders-ui.png
  articles/supply-chain/asset-management/asset-management-mobile-app/media/start-page-admins.png
  articles/supply-chain/asset-management/asset-management-mobile-app/media/start-page-requester-only.png
  articles/supply-chain/asset-management/asset-management-mobile-app/onboard-app.md
  articles/supply-chain/asset-management/asset-management-mobile-app/work-orders.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

review
  articles/supply-chain/asset-management/asset-management-mobile-app/maintenance-requests.md
  articles/supply-chain/asset-management/asset-management-mobile-app/onboard-app.md
  articles/supply-chain/asset-management/asset-management-mobile-app/work-orders.md
Owners: @kamaybac

edit
  articles/supply-chain/asset-management/asset-management-mobile-app/onboard-app.md
Owners: @kamaybac

edit
  articles/supply-chain/asset-management/asset-management-mobile-app/asset-management-mobile-app-overview.md
  articles/supply-chain/asset-management/asset-management-mobile-app/onboard-app.md
  articles/supply-chain/asset-management/set-up-asset-management-mobile.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

edit
  articles/supply-chain/asset-management/asset-management-mobile-app/onboard-app.md
Owners: @kamaybac

lightbox
  articles/supply-chain/asset-management/asset-management-mobile-app/maintenance-requests.md
  articles/supply-chain/asset-management/asset-management-mobile-app/work-orders.md
Owners: @kamaybac

Add files via upload
  articles/human-resources/media/Json7.png
Owners: @twheeloc

Update removed-deprecated-features-platform-updates.md
  articles/fin-ops-core/dev-itpro/get-started/removed-deprecated-features-platform-updates.md
Owners: @johnmichalak

review
  articles/supply-chain/asset-management/asset-management-mobile-app/asset-management-mobile-app-overview.md
  articles/supply-chain/asset-management/asset-management-mobile-app/maintenance-requests.md
  articles/supply-chain/asset-management/asset-management-mobile-app/media/maintenance-request-scan.png
  articles/supply-chain/asset-management/asset-management-mobile-app/media/manage-job-details-ui.png
  articles/supply-chain/asset-management/asset-management-mobile-app/media/manage-work-order-details-ui.png
  articles/supply-chain/asset-management/asset-management-mobile-app/media/manage-work-orders-checklist-ui.png
  articles/supply-chain/asset-management/asset-management-mobile-app/media/manage-work-orders-ui.png
  articles/supply-chain/asset-management/asset-management-mobile-app/media/mobile-app-in-phone.png
  articles/supply-chain/asset-management/asset-management-mobile-app/media/start-page-admins.png
  articles/supply-chain/asset-management/asset-management-mobile-app/media/start-page-requester-only.png
  articles/supply-chain/asset-management/asset-management-mobile-app/onboard-app.md
Owners: @kamaybac

Update mss-overview.md
  articles/human-resources/mss-overview.md
Owners: @twheeloc

Update business-events-overview.md
  articles/human-resources/business-events-overview.md
Owners: @twheeloc

Add files via upload
  articles/human-resources/media/Overview-filter.png
Owners: @twheeloc

Update removed-deprecated-features-commerce.md
  articles/commerce/get-started/removed-deprecated-features-commerce.md
Owners: @josaw1

Update verify-accessibility.md
  articles/commerce/verify-accessibility.md
Owners: @josaw1

Update removed-deprecated-features-commerce.md
  articles/commerce/get-started/removed-deprecated-features-commerce.md
Owners: @josaw1

Update verify-accessibility.md
  articles/commerce/verify-accessibility.md
Owners: @josaw1

Update verify-accessibility.md
  articles/commerce/verify-accessibility.md
Owners: @josaw1

Update verify-accessibility.md
  articles/commerce/verify-accessibility.md
Owners: @josaw1

Update gift-card.md
  articles/commerce/dev-itpro/gift-card.md
Owners: @josaw1

Update manage-payment-authorizations.md
  articles/commerce/dev-itpro/manage-payment-authorizations.md
Owners: @josaw1

Update hr-employee-manager-self-service-overview.md
  articles/human-resources/hr-employee-manager-self-service-overview.md
Owners: @twheeloc

Update mss-overview.md
  articles/human-resources/mss-overview.md
Owners: @twheeloc

Update removed-deprecated-features-platform-updates.md
  articles/fin-ops-core/dev-itpro/get-started/removed-deprecated-features-platform-updates.md
Owners: @johnmichalak

Update removed-deprecated-features-platform-updates.md
  articles/fin-ops-core/dev-itpro/get-started/removed-deprecated-features-platform-updates.md
Owners: @johnmichalak

Update gift-card.md
  articles/commerce/dev-itpro/gift-card.md
Owners: @josaw1

Incorporating Tommy's additions
  articles/fin-ops-core/dev-itpro/dev-tools/git-intro.md
Owners: @josaw1

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management/omnichannel-media-management-overview.md
Owners: @josaw1

review
  articles/supply-chain/warehousing/intune-add-managed-device.md
  articles/supply-chain/warehousing/media/intune-add-client-secret.png
  articles/supply-chain/warehousing/media/intune-add-google-app.png
  articles/supply-chain/warehousing/media/intune-add-managed-device.png
  articles/supply-chain/warehousing/media/intune-app-config-policy-settings.png
  articles/supply-chain/warehousing/media/intune-app-properties.png
  articles/supply-chain/warehousing/media/intune-certificate-connectors.png
  articles/supply-chain/warehousing/media/intune-console-certificates.png
  articles/supply-chain/warehousing/media/intune-enter-client-secret.png
  articles/supply-chain/warehousing/media/intune-event-viewer-log.png
  articles/supply-chain/warehousing/media/intune-mdm-push-cert.png
  articles/supply-chain/warehousing/media/intune-vs-rebuild.png
  articles/supply-chain/warehousing/media/intune-windows-config-profile.png
Owners: @kamaybac

edit
  articles/supply-chain/warehousing/intune-add-managed-device.md
  articles/supply-chain/warehousing/warehouse-app-intune.md
Owners: @kamaybac

Edited
  articles/supply-chain/asset-management/asset-management-mobile-app/onboard-app.md
Owners: @kamaybac

Edited
  articles/supply-chain/asset-management/asset-management-mobile-app/asset-management-mobile-app-overview.md
Owners: @kamaybac

Edited
  articles/supply-chain/asset-management/asset-management-mobile-app/work-orders.md
Owners: @kamaybac

Tweak
  articles/supply-chain/asset-management/asset-management-mobile-app/work-orders.md
Owners: @kamaybac

Edited
  articles/supply-chain/asset-management/asset-management-mobile-app/maintenance-requests.md
Owners: @kamaybac

Reviewed updated sections (+fixed issues flagged by spelling/grammar check)
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
Owners: @kamaybac

Update apac-jpn-fixed-asset-depreciation.md
  articles/finance/localizations/apac-jpn-fixed-asset-depreciation.md
Owners: @kfend
