Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update chat-with-fno-data-on-m365copilot.md
  articles/fin-ops-core/dev-itpro/m365-copilot/chat-with-fno-data-on-m365copilot.md
Owners: @johnmichalak

Update PaymentsWorkspace-commerce.md
  articles/commerce/dev-itpro/PaymentsWorkspace-commerce.md
Owners: @josaw1

Update arch-component-versioning.md
  articles/commerce/arch-component-versioning.md
Owners: @josaw1

Update migrate-mpos-store-commerce.md
  articles/commerce/dev-itpro/pos-extension/migrate-mpos-store-commerce.md
Owners: @josaw1

Update retail-peripheral-simulator.md
  articles/commerce/dev-itpro/retail-peripheral-simulator.md
Owners: @josaw1

Update store-commerce-mobile.md
  articles/commerce/dev-itpro/store-commerce-mobile.md
Owners: @josaw1

Update store-commerce.md
  articles/commerce/dev-itpro/store-commerce.md
Owners: @josaw1

Update system-requirements.md
  articles/commerce/get-started/system-requirements.md
Owners: @josaw1

Update reset_receipt_number_sequence.md
  articles/commerce/reset_receipt_number_sequence.md
Owners: @josaw1

Update arch-component-versioning.md
  articles/commerce/arch-component-versioning.md
Owners: @josaw1

Update store-commerce.md
  articles/commerce/dev-itpro/store-commerce.md
Owners: @josaw1

Edited
  articles/supply-chain/warehousing/wms-only-mode-overview.md
Owners: @kamaybac

Update deploy-demo-environment.md
  articles/fin-ops-core/dev-itpro/deployment/deploy-demo-environment.md
Owners: @johnmichalak

Update system-requirements.md
  articles/commerce/get-started/system-requirements.md
Owners: @josaw1

Edited
  articles/supply-chain/warehousing/wms-only-mode-using.md
Owners: @kamaybac

Edited
  articles/supply-chain/warehousing/wms-only-mode-setup.md
Owners: @kamaybac

Edited
  articles/supply-chain/warehousing/wms-only-mode-faq.md
Owners: @kamaybac

Edited
  articles/supply-chain/warehousing/create-or-modify-an-inbound-load.md
Owners: @kamaybac

Update monitoring-and-telemetry-appinsights.md
  articles/fin-ops-core/dev-itpro/sysadmin/monitoring-and-telemetry-appinsights.md
Owners: @johnmichalak

Edited
  articles/supply-chain/warehousing/wms-only-mode-exchange-data.md
Owners: @kamaybac

Edited
  articles/supply-chain/warehousing/wms-only-mode-example.md
Owners: @kamaybac

Update emea-dnk-vat-declaration-preview.md
  articles/finance/localizations/emea-dnk-vat-declaration-preview.md
Owners: @kfend

Update archive-tax-transactions.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-tax-transactions.md
Owners: @johnmichalak

Edited updated sections
  articles/finance/accounts-payable/invoice-capture-faq.md
Owners: @twheeloc

Update quick-bulk-orders.md
  articles/commerce/b2b/quick-bulk-orders.md
Owners: @josaw1

Update emea-dnk-vat-declaration-submission.md
  articles/finance/localizations/emea-dnk-vat-declaration-submission.md
Owners: @kfend

Update pos-inbound-inventory-operation.md
  articles/commerce/pos-inbound-inventory-operation.md
Owners: @josaw1

Update quality-updates-schedule.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Update customer-migration.md
  articles/human-resources/customer-migration.md
Owners: @twheeloc

Remove tag <Blockquote>
  articles/fin-ops-core/dev-itpro/data-entities/behavioral-properties-data-entities.md
Owners: @johnmichalak

Remove tag <Blockquote>
  articles/fin-ops-core/fin-ops/get-started/ax-2012-features-not-implemented-but-not-deprecated.md
Owners: @johnmichalak

Remove tag <Blockquote>
  articles/fin-ops-core/fin-ops/get-started/whats-new-dynamics-365-operations-1611.md
Owners: @johnmichalak

Remove tag <Blockquote>
  articles/fin-ops-core/fin-ops/get-started/whats-new-platform-update-3.md
Owners: @johnmichalak

Remove tag <Blockquote>
  articles/fin-ops-core/fin-ops/hr/localizations/noam-usa-benefit-accrual-plan-tasks.md
Owners: @twheeloc

Remove tag <Blockquote>
  articles/fin-ops-core/fin-ops/hr/localizations/noam-usa-benefit-set-up-tasks.md
Owners: @twheeloc

Remove tag <Blockquote>
  articles/fin-ops-core/fin-ops/hr/localizations/noam-usa-earning-code-group-tasks.md
Owners: @twheeloc

Remove tag <Blockquote>
  articles/fin-ops-core/fin-ops/hr/localizations/noam-usa-garnishment-tax-levy-enrollment-tasks.md
Owners: @twheeloc

Remove tag <Blockquote>
  articles/fin-ops-core/fin-ops/hr/localizations/noam-usa-garnishment-tax-levy-set-up-tasks.md
Owners: @twheeloc

Remove tag <Blockquote>
  articles/fin-ops-core/fin-ops/hr/localizations/noam-usa-premium-earning-setup-tasks.md
Owners: @twheeloc

Remove tag <Blockquote>
  articles/fin-ops-core/fin-ops/hr/localizations/noam-usa-worker-position-payroll-tasks.md
Owners: @twheeloc

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
