Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update invoice-capture-config-group.md
  articles/finance/accounts-payable/invoice-capture-config-group.md
Owners: @twheeloc

Update quality-updates-faq.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-faq.md
Owners: @johnmichalak

Update config-invoice-capture.md
  articles/finance/accounts-payable/config-invoice-capture.md
Owners: @twheeloc

Update quality-updates-schedule.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Update priority-based-batch-scheduling.md
  articles/fin-ops-core/dev-itpro/sysadmin/priority-based-batch-scheduling.md
Owners: @johnmichalak

Update retail-device-activation.md
  articles/commerce/dev-itpro/retail-device-activation.md
Owners: @josaw1

Update retail-device-activation.md
  articles/commerce/dev-itpro/retail-device-activation.md
Owners: @josaw1

Edited updated sections (+fixed issues flagged by spelling/grammar check)
  articles/fin-ops-core/dev-itpro/dev-tools/version-control-metadata-navigation.md
Owners: @josaw1

Update retail-device-activation.md
  articles/commerce/dev-itpro/retail-device-activation.md
Owners: @josaw1

14339 metadata changes
  articles/commerce/localizations/emea-fra-cash-registers.md
  articles/commerce/localizations/emea-fra-deployment.md
  articles/commerce/localizations/emea-fra-fi-deployment.md
  articles/commerce/localizations/emea-fra-fi-migration.md
  articles/commerce/localizations/emea-fra-fiscal-archive.md
  articles/commerce/localizations/latam-bra-cf-e-sat.md
  articles/commerce/localizations/latam-bra-customer-information.md
  articles/commerce/localizations/latam-bra-nfce-cancel-return.md
  articles/commerce/localizations/latam-bra-nfce-contingency-mode.md
  articles/commerce/localizations/latam-bra-nfce.md
  articles/commerce/localizations/latam-bra-retail-statements.md
  articles/commerce/localizations/rus-fpi-sample.md
  articles/commerce/manual-publish-rating-reviews.md
  articles/commerce/store-selector.md
  articles/commerce/troubleshoot/hide-ratings-refiner.md
  articles/fin-ops-core/dev-itpro/deployment/Auto-Update-Commerce-Scale-Unit.md
  articles/finance/localizations/apac-ind-GST-troubleshooting-setoff-rule-activate-take-long-time.md
  articles/finance/localizations/apac-ind-GST-troubleshooting-setoff-rule-error-transactions-on-voucher-not balance.md
  articles/finance/localizations/apac-ind-GST-troubleshooting-tax-not-calculated.md
  articles/finance/localizations/apac-ind-GST-troubleshooting-taxtrans-or-voucher-not-generated.md
  articles/finance/localizations/rus-calculation-tax-asset-tax-liability-registers.md
  articles/finance/localizations/rus-cash-flow-tax-registers.md
  articles/finance/localizations/rus-client-bank-export.md
  articles/finance/localizations/rus-other-tax-registers.md
  articles/finance/localizations/rus-rated-expenses-registers.md
  articles/human-resources/hr-develop-enter-skills.md
  articles/human-resources/hr-develop-map-skills.md
  articles/human-resources/hr-develop-skills.md
Owners: @josaw1, @johnmichalak, @kfend, @twheeloc

Update priority-based-batch-scheduling.md
  articles/fin-ops-core/dev-itpro/sysadmin/priority-based-batch-scheduling.md
Owners: @johnmichalak

Update invoice-capture-rec-files.md
  articles/finance/accounts-payable/invoice-capture-rec-files.md
Owners: @twheeloc

Update quality-updates-schedule.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Update config-invoice-capture.md
  articles/finance/accounts-payable/config-invoice-capture.md
Owners: @twheeloc

Edited
  articles/commerce/troubleshoot/fix-common-posting-issues.md
Owners: @josaw1

Adding config for reusable content repo
  .openpublishing.publish.config.json
Owners: none

Create sb-project-deferrals.md
  articles/finance/accounts-receivable/sb-project-deferrals.md
Owners: @twheeloc

Update config-invoice-capture.md
  articles/finance/accounts-payable/config-invoice-capture.md
Owners: @twheeloc

Update dts-announcements.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/dts-announcements.md
Owners: @johnmichalak

Update new-environments-visual-studio-teams-branch-retail-projects.md
  articles/commerce/dev-itpro/new-environments-visual-studio-teams-branch-retail-projects.md
Owners: @josaw1

Update cpe-bopis.md
  articles/commerce/cpe-bopis.md
Owners: @josaw1

Delete Aggregated_transactions.png
  articles/commerce/media/Aggregated_transactions.png
Owners: @josaw1

Delete Edit_selected_transactions.png
  articles/commerce/media/Edit_selected_transactions.png
Owners: @josaw1

Delete Edit_transaction.png
  articles/commerce/media/Edit_transaction.png
Owners: @josaw1

Delete Publish.png
  articles/commerce/media/Publish.png
Owners: @josaw1

Delete Revalidate_transactions.png
  articles/commerce/media/Revalidate_transactions.png
Owners: @josaw1

Delete Statement_posting_steps.png
  articles/commerce/media/Statement_posting_steps.png
Owners: @josaw1

Delete Transaction_validation_errors.png
  articles/commerce/media/Transaction_validation_errors.png
Owners: @josaw1

Delete View_validation_errors.png
  articles/commerce/media/View_validation_errors.png
Owners: @josaw1

Update fix-common-posting-issues.md
  articles/commerce/troubleshoot/fix-common-posting-issues.md
Owners: @josaw1

Edited
  articles/fin-ops-core/dev-itpro/dev-tools/branching.md
Owners: @josaw1

Edited
  articles/fin-ops-core/dev-itpro/dev-tools/git-intro.md
Owners: @josaw1

Adding new fields for Adyen Configuration
  articles/commerce/dev-itpro/adyen-connector-setup.md
Owners: @josaw1

Update import-BAI2-ER.md
  articles/finance/accounts-payable/import-BAI2-ER.md
Owners: @twheeloc

Update adyen-connector-setup.md
  articles/commerce/dev-itpro/adyen-connector-setup.md
Owners: @josaw1

Update adyen-connector-setup.md
  articles/commerce/dev-itpro/adyen-connector-setup.md
Owners: @josaw1

Update adyen-connector-setup.md
  articles/commerce/dev-itpro/adyen-connector-setup.md
Owners: @josaw1

Update adyen-connector-setup.md
  articles/commerce/dev-itpro/adyen-connector-setup.md
Owners: @josaw1

Update adyen-connector-setup.md
  articles/commerce/dev-itpro/adyen-connector-setup.md
Owners: @josaw1

Update account-management.md
  articles/commerce/account-management.md
Owners: @josaw1
