Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Delete emea-reporting-for-multiple-vat-registrations-pl.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-pl.md
Owners: @kfend

Delete emea-reporting-for-multiple-vat-registrations-no.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-no.md
Owners: @kfend

Delete emea-reporting-for-multiple-vat-registrations-nl.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-nl.md
Owners: @kfend

Delete emea-reporting-for-multiple-vat-registrations-fr.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-fr.md
Owners: @kfend

Delete emea-reporting-for-multiple-vat-registrations-fi.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-fi.md
Owners: @kfend

Delete emea-reporting-for-multiple-vat-registrations-es.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-es.md
Owners: @kfend

Delete emea-reporting-for-multiple-vat-registrations-dk.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-dk.md
Owners: @kfend

Delete emea-reporting-for-multiple-vat-registrations-de.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-de.md
Owners: @kfend

Update emea-reporting-for-multiple-vat-registrations.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations.md
Owners: @kfend

Update emea-reporting-for-multiple-vat-registrations.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update emea-tax-reconciliation-report.md
  articles/finance/localizations/emea-tax-reconciliation-report.md
Owners: @kfend

Edited updated sections (+plus fixed mistake flagged by spelling/grammar check)
  articles/human-resources/hr-workflow-manage-employee-information.md
Owners: @twheeloc

Update channel-setup-online.md
  articles/commerce/channel-setup-online.md
Owners: @josaw1

Update inventory-lookup-channel-side-calc.md
  articles/commerce/inventory-lookup-channel-side-calc.md
Owners: @josaw1

Update inventory-availability-apis.md
  articles/commerce/inventory-availability-apis.md
Owners: @josaw1

Update set-up-assortments.md
  articles/commerce/set-up-assortments.md
Owners: @josaw1

Update emea-reporting-for-multiple-vat-registrations-ch.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-ch.md
Owners: @kfend

Update emea-reporting-for-multiple-vat-registrations-be.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-be.md
Owners: @kfend

add notice for preload introduction
  articles/supply-chain/inventory/inventory-visibility-power-platform.md
Owners: @kamaybac

add notice for onhand summary
  articles/supply-chain/inventory/inventory-visibility-power-platform.md
Owners: @kamaybac

Update fix-common-posting-issues.md
  articles/commerce/troubleshoot/fix-common-posting-issues.md
Owners: @josaw1

Update environment-migration-process.md
  articles/fin-ops-core/dev-itpro/deployment/environment-migration-process.md
Owners: @johnmichalak

Update qa-address-books.md
  articles/fin-ops-core/fin-ops/organization-administration/qa-address-books.md
Owners: @johnmichalak

Update and rename emea-reporting-for-multiple-vat-registrations-be.md to emea-reporting-multiple-vat-registrations-be.md
  articles/finance/localizations/emea-reporting-multiple-vat-registrations-be.md
Owners: @kfend

Update and rename emea-reporting-for-multiple-vat-registrations-at.md to emea-reporting-multiple-vat-registrations-at.md
  articles/finance/localizations/emea-reporting-multiple-vat-registrations-at.md
Owners: @kfend

Create data-export-perform.md
  articles/fin-ops-core/dev-itpro/data-entities/data-export-perform.md
Owners: @johnmichalak

Update emea-reporting-multiple-vat-registrations-at.md
  articles/finance/localizations/emea-reporting-multiple-vat-registrations-at.md
Owners: @kfend

Update emea-reporting-multiple-vat-registrations-be.md
  articles/finance/localizations/emea-reporting-multiple-vat-registrations-be.md
Owners: @kfend

Update and rename emea-reporting-for-multiple-vat-registrations-cz.md to emea-reporting-multiple-vat-registrations-cz.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-cz.md
  articles/finance/localizations/emea-reporting-multiple-vat-registrations-cz.md
Owners: @kfend

Update and rename emea-reporting-for-multiple-vat-registrations-ch.md to emea-reporting-multiple-vat-registrations-ch.md
  articles/finance/localizations/emea-reporting-multiple-vat-registrations-ch.md
Owners: @kfend

Update and rename emea-reporting-for-multiple-vat-registrations-de.md to emea-reporting-multiple-vat-registrations-de.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-de.md
  articles/finance/localizations/emea-reporting-multiple-vat-registrations-de.md
Owners: @kfend

Update emea-reporting-for-multiple-vat-registrations-dk.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-dk.md
Owners: @kfend

Rename emea-reporting-for-multiple-vat-registrations-dk.md to emea-reporting-multiple-vat-registrations-dk.md
  articles/finance/localizations/emea-reporting-multiple-vat-registrations-dk.md
Owners: @kfend

Update and rename emea-reporting-for-multiple-vat-registrations-es.md to emea-reporting-multiple-vat-registrations-es.md
  articles/finance/localizations/emea-reporting-multiple-vat-registrations-es.md
Owners: @kfend

Update and rename emea-reporting-for-multiple-vat-registrations-fi.md to emea-reporting-multiple-vat-registrations-fi.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-fi.md
  articles/finance/localizations/emea-reporting-multiple-vat-registrations-fi.md
Owners: @kfend

Update and rename emea-reporting-for-multiple-vat-registrations-fr.md to emea-reporting-multiple-vat-registrations-fr.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-fr.md
  articles/finance/localizations/emea-reporting-multiple-vat-registrations-fr.md
Owners: @kfend

Update and rename emea-reporting-for-multiple-vat-registrations-nl.md to emea-reporting-multiple-vat-registrations-nl.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-nl.md
  articles/finance/localizations/emea-reporting-multiple-vat-registrations-nl.md
Owners: @kfend

Update and rename emea-reporting-for-multiple-vat-registrations-no.md to emea-reporting-multiple-vat-registrations-no.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-no.md
  articles/finance/localizations/emea-reporting-multiple-vat-registrations-no.md
Owners: @kfend

Update and rename emea-reporting-for-multiple-vat-registrations-pl.md to emea-reporting-multiple-vat-registrations-pl.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-pl.md
  articles/finance/localizations/emea-reporting-multiple-vat-registrations-pl.md
Owners: @kfend

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
