Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Delete articles/commerce/media/Copilot_Cozmino_Exciting content.png
  articles/commerce/media/Copilot_Cozmino_Exciting content.png
Owners: @josaw1

Delete articles/commerce/media/Customize_Product_Page.png
  articles/commerce/media/Customize_Product_Page.png
Owners: @josaw1

Delete articles/commerce/media/Customize_Product_Page_Launch_Copilot.png
  articles/commerce/media/Customize_Product_Page_Launch_Copilot.png
Owners: @josaw1

Delete articles/commerce/media/EnrichedProductPageByCopilot.jpeg
  articles/commerce/media/EnrichedProductPageByCopilot.jpeg
Owners: @josaw1

Delete articles/commerce/media/EnrichedProductPageByCopilot-Mobile.jpeg
  articles/commerce/media/EnrichedProductPageByCopilot-Mobile.jpeg
Owners: @josaw1

Delete articles/commerce/media/Feature_Enable_Tenant_level.png
  articles/commerce/media/Feature_Enable_Tenant_level.png
Owners: @josaw1

Delete articles/commerce/media/InitialGenerate_WithUserInstructionsAndAttributeChoices.png
  articles/commerce/media/InitialGenerate_WithUserInstructionsAndAttributeChoices.png
Owners: @josaw1

Delete articles/commerce/media/OrderHistoryWithSearchAndFilters.png
  articles/commerce/media/OrderHistoryWithSearchAndFilters.png
Owners: @josaw1

Delete articles/commerce/media/Reiterate_Initial_Response_With_Updated_User_Prompt.png
  articles/commerce/media/Reiterate_Initial_Response_With_Updated_User_Prompt.png
Owners: @josaw1

Delete articles/commerce/media/Review_and_make_last_minute_inline_edits.png
  articles/commerce/media/Review_and_make_last_minute_inline_edits.png
Owners: @josaw1

Delete articles/commerce/media/SelectiveContentFiltering.png
  articles/commerce/media/SelectiveContentFiltering.png
Owners: @josaw1

Delete articles/commerce/media/Template_With_OrderHistory_AllowingSearchAndFiltering.png
  articles/commerce/media/Template_With_OrderHistory_AllowingSearchAndFiltering.png
Owners: @josaw1

Update copilot-site-builder.md
  articles/commerce/copilot-site-builder.md
Owners: @josaw1

Update copilot-site-builder.md
  articles/commerce/copilot-site-builder.md
Owners: @josaw1

Update copilot-site-builder.md
  articles/commerce/copilot-site-builder.md
Owners: @josaw1

Edited
  articles/commerce/order-history-module.md
Owners: @josaw1

Edited
  articles/commerce/copilot-site-builder.md
Owners: @josaw1

Tweaked
  articles/commerce/copilot-site-builder.md
Owners: @josaw1

Tweak
  articles/commerce/order-history-module.md
Owners: @josaw1

Update extended-logon.md
  articles/commerce/extended-logon.md
Owners: @josaw1

Update extended-logon.md
  articles/commerce/extended-logon.md
Owners: @josaw1

WMS-39
  articles/supply-chain/warehousing/wms-only-mode-exchange-data.md
  articles/supply-chain/warehousing/wms-only-mode-setup.md
Owners: @kamaybac

WMS-39
  articles/supply-chain/warehousing/wms-only-mode-exchange-data.md
Owners: @kamaybac

WMS-39
  articles/supply-chain/warehousing/wms-only-mode-setup.md
Owners: @kamaybac

WMS-39
  articles/supply-chain/warehousing/wms-only-mode-exchange-data.md
Owners: @kamaybac

Update drs-srs-dev.md
  articles/fin-ops-core/dev-itpro/sysadmin/drs-srs-dev.md
Owners: @johnmichalak

Update drs-srs-dev.md
  articles/fin-ops-core/dev-itpro/sysadmin/drs-srs-dev.md
Owners: @johnmichalak

Update global-sales-tax-group-determination.md
  articles/finance/localizations/global/global-sales-tax-group-determination.md
Owners: @kfend

Add files via upload
  articles/finance/localizations/media/OverrideSalesTax_No1.jpg
  articles/finance/localizations/media/OverrideSalesTax_No2.jpg
  articles/finance/localizations/media/OverrideSalesTax_Yes.jpg
Owners: @kfend

Update global-sales-tax-group-determination.md
  articles/finance/localizations/global/global-sales-tax-group-determination.md
Owners: @kfend

Update global-sales-tax-group-determination.md
  articles/finance/localizations/global/global-sales-tax-group-determination.md
Owners: @kfend

Edited updated sections
  articles/fin-ops-core/dev-itpro/sysadmin/drs-srs-dev.md
Owners: @johnmichalak

Update define-vendor-payment-fees.md
  articles/finance/accounts-payable/tasks/define-vendor-payment-fees.md
Owners: @twheeloc

Update client-disconnected.md
  articles/fin-ops-core/dev-itpro/user-interface/client-disconnected.md
Owners: @johnmichalak

add support dates and versions
  articles/fin-ops-core/dev-itpro/deployment/onprem-compatibility.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-upgrade-os.md
Owners: @johnmichalak

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update client-disconnected.md
  articles/fin-ops-core/dev-itpro/user-interface/client-disconnected.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-38.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-platform-updates-10-0-38.md
Owners: @johnmichalak

Update messaging-user.md
  articles/fin-ops-core/dev-itpro/user-interface/messaging-user.md
Owners: @johnmichalak

Update extended-logon.md
  articles/commerce/extended-logon.md
Owners: @josaw1

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
