Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Minor updates - Olga
  articles/fin-ops-core/dev-itpro/deployment/environment-migration-process.md
Owners: @johnmichalak

Minor edit
  articles/fin-ops-core/dev-itpro/deployment/geo-to-geo-migrations.md
Owners: @johnmichalak

Removing references to Preview and other edits
  articles/fin-ops-core/dev-itpro/lifecycle-services/project-migration-manager.md
Owners: @johnmichalak

Minor edits
  articles/fin-ops-core/dev-itpro/deployment/geo-to-geo-migrations.md
Owners: @johnmichalak

Minor edits
  articles/fin-ops-core/dev-itpro/deployment/environment-migration-process.md
Owners: @johnmichalak

Minor edit
  articles/fin-ops-core/dev-itpro/deployment/geo-to-geo-migrations.md
Owners: @johnmichalak

Update adyen-connector.md
  articles/commerce/dev-itpro/adyen-connector.md
Owners: @josaw1

Update google-pay-adyen.md
  articles/commerce/dev-itpro/google-pay-adyen.md
Owners: @josaw1

review
  articles/supply-chain/warehousing/label-printing-using-bartender.md
Owners: @kamaybac

Update troubleshoot-on-prem.md
  articles/fin-ops-core/dev-itpro/deployment/troubleshoot-on-prem.md
Owners: @johnmichalak

Update sdk-updates.md
  articles/commerce/e-commerce-extensibility/sdk-updates.md
Owners: @josaw1

Update troubleshoot-on-prem.md
  articles/fin-ops-core/dev-itpro/deployment/troubleshoot-on-prem.md
Owners: @johnmichalak

Minor change
  articles/fin-ops-core/dev-itpro/deployment/geo-to-geo-migrations.md
Owners: @johnmichalak

Removing process specific considerations
  articles/fin-ops-core/dev-itpro/deployment/geo-to-geo-migrations.md
Owners: @johnmichalak

Removing reference to Sandbox
  articles/fin-ops-core/dev-itpro/deployment/environment-migration-process.md
Owners: @johnmichalak

review
  articles/supply-chain/get-started/whats-new-scm-10-0-34.md
  articles/supply-chain/toc.yml
  articles/supply-chain/warehousing/label-printing-using-bartender.md
  articles/supply-chain/warehousing/label-printing-using-external-label-service.md
  articles/supply-chain/warehousing/label-printing-using-nicelabel.md
Owners: @kamaybac

Update about 48 hours downtime
  articles/fin-ops-core/dev-itpro/deployment/environment-migration-process.md
Owners: @johnmichalak

Update sysda.md
  articles/fin-ops-core/dev-itpro/dev-ref/sysda.md
Owners: @josaw1

Update sysda.md
  articles/fin-ops-core/dev-itpro/dev-ref/sysda.md
Owners: @josaw1

Removing old text
  articles/fin-ops-core/dev-itpro/deployment/environment-migration-process.md
Owners: @johnmichalak

Update configure-BPA.md
  articles/finance/business-performance-analytics/configure-BPA.md
Owners: @twheeloc

Update sysda.md
  articles/fin-ops-core/dev-itpro/dev-ref/sysda.md
Owners: @josaw1

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management/omnichannel-media-management-overview.md
Owners: @josaw1

Update project-migration-manager.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/project-migration-manager.md
Owners: @johnmichalak

Update ltm-core-value-query.md
  articles/finance/localizations/ltm-core-value-query.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Updating TestConnector limitations for clarity
  articles/commerce/dev-itpro/payments-retail.md
Owners: @josaw1

Updates to install parameters
  articles/commerce/dev-itpro/pos-extension/migrate-mpos-store-commerce.md
  articles/commerce/dev-itpro/store-commerce.md
Owners: @josaw1

Updating instruction to set Omni-channel Payments
  articles/commerce/dev-itpro/linked-refunds.md
Owners: @josaw1

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update and rename commerce-scale-unit-extensions-health-check.md to csu-extensions-check.md
  articles/commerce/dev-itpro/retail-sdk/csu-extensions-check.md
Owners: @josaw1

Delete install-metadata-hotfix-package.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/install-metadata-hotfix-package.md
Owners: @johnmichalak

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update continuous-delivery-home-page.md
  articles/fin-ops-core/dev-itpro/dev-tools/continuous-delivery-home-page.md
Owners: @josaw1

Update cloud-operations-servicing.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/cloud-operations-servicing.md
Owners: @johnmichalak

Update download-hotfix-lcs.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/download-hotfix-lcs.md
Owners: @johnmichalak

Update upgrade-home-page.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/upgrade-home-page.md
Owners: @johnmichalak

Update csu-extensions-check.md
  articles/commerce/dev-itpro/retail-sdk/csu-extensions-check.md
Owners: @josaw1

Update download-hotfix-lcs.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/download-hotfix-lcs.md
Owners: @johnmichalak

Update csu-extensions-check.md
  articles/commerce/dev-itpro/retail-sdk/csu-extensions-check.md
Owners: @josaw1

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
