Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update whats-new-platform-update-30.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-platform-update-30.md
Owners: @johnmichalak

Update pos-inbound-inventory-operation.md
  articles/commerce/pos-inbound-inventory-operation.md
Owners: @josaw1

Update reset_receipt_number_sequence.md
  articles/commerce/reset_receipt_number_sequence.md
Owners: @josaw1

Update define-loyalty-cards.md
  articles/commerce/tasks/define-loyalty-cards.md
Owners: @josaw1

Update ltm-core-field-master-lists.md
  articles/finance/localizations/ltm-core-field-master-lists.md
Owners: @kfend

Edited
  articles/finance/localizations/ltm-core-field-master-lists.md
Owners: @kfend

Update isv-licensing.md
  articles/fin-ops-core/dev-itpro/dev-tools/isv-licensing.md
Owners: @josaw1

Update isv-licensing.md
  articles/fin-ops-core/dev-itpro/dev-tools/isv-licensing.md
Owners: @josaw1

Update price-change-tracking.md
  articles/commerce/price-change-tracking.md
Owners: @josaw1

Update define-loyalty-cards.md
  articles/commerce/tasks/define-loyalty-cards.md
Owners: @josaw1

Update price-change-tracking.md
  articles/commerce/price-change-tracking.md
Owners: @josaw1

Changed BOYD to BYOD
  articles/fin-ops-core/dev-itpro/analytics/export-entities-to-your-own-database.md
Owners: @johnmichalak

Update register-driver-check-check-out-appointment.md
  articles/supply-chain/transportation/tasks/register-driver-check-check-out-appointment.md
Owners: @kamaybac

review
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash-concept.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash-enable.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash-use.md
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @josaw1, @johnmichalak

update
  articles/commerce/channel-merch-config-validator.md
Owners: @josaw1

remove archive solution articles
  .openpublishing.redirection.json
  articles/fin-ops-core/dev-itpro/sysadmin/archive-customizations.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-general-ledger.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-overview.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-sales-orders.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-setup.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-tax-transactions.md
  articles/fin-ops-core/dev-itpro/toc.yml
  articles/supply-chain/get-started/whats-new-scm-10-0-34.md
  articles/supply-chain/get-started/whats-new-scm-10-0-36.md
Owners: @johnmichalak, @kamaybac

fix date
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash-use.md
Owners: @josaw1

edit note
  articles/fin-ops-core/dev-itpro/sysadmin/archive-overview.md
Owners: @johnmichalak

fix redirects
  .openpublishing.redirection.json
Owners: none

replace telemetry details with links to GitHub
  articles/supply-chain/warehousing/application-insights-monitor-usage-performance.md
Owners: @kamaybac

Update set-up-maintain-vendor-collaboration.md
  articles/supply-chain/procurement/set-up-maintain-vendor-collaboration.md
Owners: @kamaybac

Update field-service.md
  articles/supply-chain/sales-marketing/field-service.md
Owners: @kamaybac

Update prospect-to-cash.md
  articles/supply-chain/sales-marketing/prospect-to-cash.md
Owners: @kamaybac

Update message-processor.md
  articles/supply-chain/supply-chain-dev/message-processor.md
Owners: @kamaybac

edit
  articles/fin-ops-core/dev-itpro/sysadmin/archive-overview.md
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update channel-merch-config-validator.md
  articles/commerce/channel-merch-config-validator.md
Owners: @josaw1

Update configure-approval-process-workflow.md
  articles/fin-ops-core/fin-ops/organization-administration/configure-approval-process-workflow.md
Owners: @johnmichalak

Update configure-approval-process-workflow.md
  articles/fin-ops-core/fin-ops/organization-administration/configure-approval-process-workflow.md
Owners: @johnmichalak

Update configure-approval-step-workflow.md
  articles/fin-ops-core/fin-ops/organization-administration/configure-approval-step-workflow.md
Owners: @johnmichalak

Update configure-automated-task-workflow.md
  articles/fin-ops-core/fin-ops/organization-administration/configure-automated-task-workflow.md
Owners: @johnmichalak

Update configure-conditional-decision-workflow.md
  articles/fin-ops-core/fin-ops/organization-administration/configure-conditional-decision-workflow.md
Owners: @johnmichalak

Update channel-merch-config-validator.md
  articles/commerce/channel-merch-config-validator.md
Owners: @josaw1

Update commerce-troubleshooting.md
  articles/commerce/commerce-troubleshooting.md
Owners: @josaw1

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update configure-expenditure-reviewers.md
  articles/fin-ops-core/fin-ops/organization-administration/configure-expenditure-reviewers.md
Owners: @johnmichalak

Update configure-line-item-workflow.md
  articles/fin-ops-core/fin-ops/organization-administration/configure-line-item-workflow.md
Owners: @johnmichalak

Update configure-manual-decision-workflow.md
  articles/fin-ops-core/fin-ops/organization-administration/configure-manual-decision-workflow.md
Owners: @johnmichalak

Update configure-manual-task-workflow.md
  articles/fin-ops-core/fin-ops/organization-administration/configure-manual-task-workflow.md
Owners: @johnmichalak

Update configure-parallel-activity-workflow.md
  articles/fin-ops-core/fin-ops/organization-administration/configure-parallel-activity-workflow.md
Owners: @johnmichalak

Update configure-parallel-branch-workflow.md
  articles/fin-ops-core/fin-ops/organization-administration/configure-parallel-branch-workflow.md
Owners: @johnmichalak

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
