Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Create ltm-Colombia-format-1012.md
  articles/finance/localizations/iberoamerica/ltm-Colombia-format-1012.md
Owners: @kfend

Edited
  articles/fin-ops-core/dev-itpro/deployment/schema-changes.md
Owners: @johnmichalak

Update one-version.md
  articles/fin-ops-core/dev-itpro/get-started/one-version.md
Owners: @johnmichalak

Update configure-power-bi-integration.md
  articles/fin-ops-core/dev-itpro/analytics/configure-power-bi-integration.md
Owners: @johnmichalak

Update configure-power-bi-integration.md
  articles/fin-ops-core/dev-itpro/analytics/configure-power-bi-integration.md
Owners: @johnmichalak

Update one-version.md
  articles/fin-ops-core/dev-itpro/get-started/one-version.md
Owners: @johnmichalak

Update one-version.md
  articles/fin-ops-core/dev-itpro/get-started/one-version.md
Owners: @johnmichalak

Update one-version.md
  articles/fin-ops-core/dev-itpro/get-started/one-version.md
Owners: @johnmichalak

Update one-version.md
  articles/fin-ops-core/dev-itpro/get-started/one-version.md
Owners: @johnmichalak

Update and rename whats-new-platform-updates-10-0-37.md to whats-new-platform-updates-10-0-37.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-platform-updates-10-0-37.md
Owners: @johnmichalak

Rename whats-new-platform-updates-10-0-38.md to whats-new-platform-updates-10-0-38.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-platform-updates-10-0-38.md
Owners: @johnmichalak

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update whats-new-commerce-10-0-37.md
  articles/commerce/get-started/whats-new-commerce-10-0-37.md
Owners: @josaw1

Update whats-new-commerce-10-0-38.md
  articles/commerce/get-started/whats-new-commerce-10-0-38.md
Owners: @josaw1

Update whats-new-changed-10-0-37.md
  articles/finance/get-started/whats-new-changed-10-0-37.md
Owners: @twheeloc

Update whats-new-changed-10-0-38.md
  articles/finance/get-started/whats-new-changed-10-0-38.md
Owners: @twheeloc

Update hr-whats-new-10-0-37.md
  articles/human-resources/get-started/hr-whats-new-10-0-37.md
Owners: @twheeloc

Update hr-whats-new-10-0-38.md
  articles/human-resources/get-started/hr-whats-new-10-0-38.md
Owners: @twheeloc

Update whats-new-scm-10-0-37.md
  articles/supply-chain/get-started/whats-new-scm-10-0-37.md
Owners: @kamaybac

Update whats-new-scm-10-0-38.md
  articles/supply-chain/get-started/whats-new-scm-10-0-38.md
Owners: @kamaybac

Update whats-new-commerce-10-0-37.md
  articles/commerce/get-started/whats-new-commerce-10-0-37.md
Owners: @josaw1

Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Owners: none

Update emea-peppol-import.md
  articles/finance/localizations/europe/emea-peppol-import.md
Owners: @kfend

Update e-invoicing-pol-get-started.md
  articles/finance/localizations/poland/e-invoicing-pol-get-started.md
Owners: @kfend

Update inventory-visibility-reservations.md
  articles/supply-chain/inventory/inventory-visibility-reservations.md
Owners: @kamaybac

update
  articles/commerce/dev-itpro/commerce-runtime-extensibility-trigger.md
  articles/commerce/dev-itpro/retail-server-icontroller-extension.md
Owners: @josaw1

remove learning catalog
  .openpublishing.redirection.json
  articles/supply-chain/get-started/learning-catalog-administrator.md
  articles/supply-chain/get-started/learning-catalog-bdm.md
  articles/supply-chain/get-started/learning-catalog-business-user.md
  articles/supply-chain/get-started/learning-catalog-developer.md
  articles/supply-chain/get-started/learning-catalog-functional-consultant.md
  articles/supply-chain/get-started/learning-catalog-partner-sales.md
  articles/supply-chain/get-started/learning-catalog-project-manager.md
  articles/supply-chain/get-started/learning-catalog-solution-architect.md
  articles/supply-chain/get-started/learning-catalog.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update schema-changes.md
  articles/fin-ops-core/dev-itpro/deployment/schema-changes.md
Owners: @johnmichalak

review
  articles/supply-chain/sales-marketing/auto-charge-sequence-compound.md
  articles/supply-chain/sales-marketing/line-charges-specific-unit.md
Owners: @kamaybac

Update tutorial-retrieve-environment-metadata-logic-apps.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/api/tutorial-retrieve-environment-metadata-logic-apps.md
Owners: @johnmichalak

Update tutorial-retrieve-environment-metadata-logic-apps.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/api/tutorial-retrieve-environment-metadata-logic-apps.md
Owners: @johnmichalak

Update tutorial-retrieve-environment-metadata-logic-apps.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/api/tutorial-retrieve-environment-metadata-logic-apps.md
Owners: @johnmichalak

Update export-database.md
  articles/fin-ops-core/dev-itpro/database/export-database.md
Owners: @johnmichalak

Update import-database.md
  articles/fin-ops-core/dev-itpro/database/import-database.md
Owners: @johnmichalak

Update dbmovement-operations.md
  articles/fin-ops-core/dev-itpro/database/dbmovement-operations.md
Owners: @johnmichalak

Update dbmovement-operations.md
  articles/fin-ops-core/dev-itpro/database/dbmovement-operations.md
Owners: @johnmichalak

Update export-database.md
  articles/fin-ops-core/dev-itpro/database/export-database.md
Owners: @johnmichalak

Update import-database.md
  articles/fin-ops-core/dev-itpro/database/import-database.md
Owners: @johnmichalak

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Edited
  articles/fin-ops-core/dev-itpro/lifecycle-services/api/tutorial-retrieve-environment-metadata-logic-apps.md
Owners: @johnmichalak
