Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update e-invoicing-set-up-parameters.md
  articles/finance/localizations/global/e-invoicing-set-up-parameters.md
Owners: @kfend

Update process-interest.md
  articles/finance/accounts-receivable/tasks/process-interest.md
Owners: @twheeloc

Update process-interest.md
  articles/finance/accounts-receivable/tasks/process-interest.md
Owners: @twheeloc

Update process-interest.md
  articles/finance/accounts-receivable/tasks/process-interest.md
Owners: @twheeloc

Update on-prem-version-update-policy.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/on-prem-version-update-policy.md
Owners: @johnmichalak

Update on-prem-version-update-policy.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/on-prem-version-update-policy.md
Owners: @johnmichalak

Update on-prem-version-update-policy.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/on-prem-version-update-policy.md
Owners: @johnmichalak

Update environment-migration-process.md
  articles/fin-ops-core/dev-itpro/deployment/environment-migration-process.md
Owners: @johnmichalak

Edited updated sections
  articles/fin-ops-core/dev-itpro/deployment/setup-deploy-on-premises-latest.md
Owners: @johnmichalak

Update customer-portal-setup.md
  articles/supply-chain/sales-marketing/customer-portal-setup.md
Owners: @kamaybac

Edited
  articles/fin-ops-core/dev-itpro/deployment/troubleshoot-on-prem.md
Owners: @johnmichalak

Edited
  articles/fin-ops-core/dev-itpro/deployment/onprem-automate-diagnostics-collection.md
Owners: @johnmichalak

Add new releases for LBD
  articles/fin-ops-core/dev-itpro/migration-upgrade/on-prem-version-update-policy.md
Owners: @johnmichalak

Create ltm-ssrsreport-services.md
  articles/finance/localizations/iberoamerica/ltm-ssrsreport-services.md
Owners: @kfend

Update planning-optimization-trouble-shooting for installation issues
  articles/supply-chain/master-planning/planning-optimization/planning-optimization-trouble-shooting.md
Owners: @kamaybac

Planning optimization Prerequisites update
  articles/supply-chain/master-planning/planning-optimization/get-started.md
Owners: @kamaybac

review
  articles/supply-chain/master-planning/planning-optimization/get-started.md
Owners: @kamaybac

[WMA] Restructure "How to setup the connection" on ms learning website
  articles/supply-chain/warehousing/configure-service-based-auth-warehouse-management-app.md
  articles/supply-chain/warehousing/configure-user-based-auth-warehouse-management-app.md
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
Owners: @kamaybac

review
  articles/supply-chain/master-planning/planning-optimization/planning-optimization-trouble-shooting.md
Owners: @kamaybac

review
  articles/supply-chain/master-planning/planning-optimization/get-started.md
Owners: @kamaybac

review
  articles/supply-chain/sales-marketing/customer-portal-setup.md
Owners: @kamaybac

fix links
  articles/supply-chain/sales-marketing/customer-portal-setup.md
Owners: @kamaybac

fix links
  articles/supply-chain/sales-marketing/customer-portal-setup.md
Owners: @kamaybac

fix link
  articles/supply-chain/sales-marketing/customer-portal-setup.md
Owners: @kamaybac

update breadcrumbs and TOC
  articles/docfx.json
  articles/finance-bc/toc.yml
Owners: none

test
  articles/ops-bc/toc.yml
  articles/supply-chain-bc/toc.yml
Owners: none

fix breadcrumbs
  articles/finance-bc/toc.yml
  articles/ops-bc/toc.yml
  articles/supply-chain-bc/toc.yml
Owners: none

edit
  articles/ops-bc/toc.yml
  articles/supply-chain-bc/toc.yml
Owners: none

edit
  articles/ops-bc/toc.yml
Owners: none

Update pipeline-create-deployable-package.md
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-create-deployable-package.md
Owners: @josaw1

Update pipeline-add-license-package.md
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-add-license-package.md
Owners: @josaw1

Update pipeline-create-deployable-package.md
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-create-deployable-package.md
Owners: @josaw1

Update pipeline-add-license-package.md
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-add-license-package.md
Owners: @josaw1

Update pipeline-add-license-package.md
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-add-license-package.md
Owners: @josaw1

Update pipeline-add-license-package.md
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-add-license-package.md
Owners: @josaw1

Update pipeline-add-license-package.md
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-add-license-package.md
Owners: @josaw1

Update pipeline-create-deployable-package.md
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-create-deployable-package.md
Owners: @josaw1

Update access-application-metadata-er-configuration.md
  articles/fin-ops-core/dev-itpro/analytics/tasks/access-application-metadata-er-configuration.md
Owners: @johnmichalak

Update ltm-chile-set-up-legal-entity-tax-information.md
  articles/finance/localizations/chile/ltm-chile-set-up-legal-entity-tax-information.md
Owners: @kfend

Create ltm-check-printing.md
  articles/finance/localizations/iberoamerica/ltm-check-printing.md
Owners: @kfend

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
