Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update responsible-ai-overview.md
  articles/fin-ops-core/dev-itpro/responsible-ai/responsible-ai-overview.md
Owners: @johnmichalak

Update responsible-ai-overview.md
  articles/fin-ops-core/dev-itpro/responsible-ai/responsible-ai-overview.md
Owners: @johnmichalak

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Edited
  articles/finance/localizations/ltm-tax-and-legal-attributes.md
Owners: @kfend

Updated description metadata
  articles/finance/localizations/ltm-tax-and-legal-attributes.md
Owners: @kfend

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update whats-new-changed-37.md
  articles/finance/get-started/whats-new-changed-37.md
Owners: @twheeloc

Update emea-nor-satndard-audit-file-for-tax.md
  articles/finance/localizations/emea-nor-satndard-audit-file-for-tax.md
Owners: @kfend

Updated database name references
  articles/fin-ops-core/dev-itpro/analytics/reset-financial-reporting-datamart-after-restore.md
Owners: @johnmichalak

Update emea-nor-satndard-audit-file-for-tax.md
  articles/finance/localizations/emea-nor-satndard-audit-file-for-tax.md
Owners: @kfend

Update emea-nor-satndard-audit-file-for-tax.md
  articles/finance/localizations/emea-nor-satndard-audit-file-for-tax.md
Owners: @kfend

Update emea-nor-satndard-audit-file-for-tax.md
  articles/finance/localizations/emea-nor-satndard-audit-file-for-tax.md
Owners: @kfend

Edited
  articles/finance/general-ledger/auto-split-journal.md
Owners: @twheeloc

Update responsible-ai-overview.md
  articles/fin-ops-core/dev-itpro/responsible-ai/responsible-ai-overview.md
Owners: @johnmichalak

Update quick-bulk-orders.md
  articles/commerce/b2b/quick-bulk-orders.md
Owners: @josaw1

Update channel-merch-config-validator.md
  articles/commerce/channel-merch-config-validator.md
Owners: @josaw1

Update configure-channel-hierarchy.md
  articles/commerce/configure-channel-hierarchy.md
Owners: @josaw1

Update whats-new-platform-updates-10-0-37.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-37.md
Owners: @johnmichalak

Update whats-new-commerce-10-0-37.md
  articles/commerce/get-started/whats-new-commerce-10-0-37.md
Owners: @josaw1

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update whats-new-commerce-10-0-37.md
  articles/commerce/get-started/whats-new-commerce-10-0-37.md
Owners: @josaw1

Update whats-new-commerce-10-0-35.md
  articles/commerce/get-started/whats-new-commerce-10-0-35.md
Owners: @josaw1

Update whats-new-home-page.md
  articles/commerce/get-started/whats-new-home-page.md
Owners: @josaw1

Edited
  articles/supply-chain/warehousing/over-pick-materials-for-production-and-batch-orders.md
Owners: @kamaybac

Update whats-new-commerce-10-0-36.md
  articles/commerce/get-started/whats-new-commerce-10-0-36.md
Owners: @josaw1

Update broker-contract.md
  articles/finance/accounts-payable/broker-contract.md
Owners: @twheeloc

Update mobile-invoice-approvals.md
  articles/finance/accounts-payable/mobile-invoice-approvals.md
Owners: @twheeloc

Update project-invoicing.md
  articles/finance/accounts-payable/project-invoicing.md
Owners: @twheeloc

Update royalty-contract.md
  articles/finance/accounts-payable/royalty-contract.md
Owners: @twheeloc

Update vendor-bank-account-workflow.md
  articles/finance/accounts-payable/vendor-bank-account-workflow.md
Owners: @twheeloc

Update collections-coordinator-summary-faq.md
  articles/finance/accounts-receivable/collections-coordinator-summary-faq.md
Owners: @twheeloc

Edited updated sections
  articles/finance/localizations/e-invoicing-fr-get-started.md
Owners: @kfend

Update collections-process-automate.md
  articles/finance/accounts-receivable/collections-process-automate.md
Owners: @twheeloc

Update vendor-bank-account-workflow.md
  articles/finance/accounts-payable/vendor-bank-account-workflow.md
Owners: @twheeloc

Update collections-coordinator-summary-faq.md
  articles/finance/accounts-receivable/collections-coordinator-summary-faq.md
Owners: @twheeloc

Update config-paramtrs-collections-proc-automate.md
  articles/finance/accounts-receivable/config-paramtrs-collections-proc-automate.md
Owners: @twheeloc

Update credit-collections-power-bi.md
  articles/finance/accounts-receivable/credit-collections-power-bi.md
Owners: @twheeloc

Update budget-proposals.md
  articles/finance/finance-insights/budget-proposals.md
Owners: @twheeloc
