Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update apac-jpn-consolidate-invoices.md
  articles/finance/localizations/apac-jpn-consolidate-invoices.md
Owners: @kfend

Update apac-jpn-consolidate-invoices.md
  articles/finance/localizations/apac-jpn-consolidate-invoices.md
Owners: @kfend

Update apac-jpn-consolidate-invoices.md
  articles/finance/localizations/apac-jpn-consolidate-invoices.md
Owners: @kfend

review
  articles/supply-chain/warehousing/wms-only-mode-overview.md
  articles/supply-chain/warehousing/wms-only-mode-setup.md
  articles/supply-chain/warehousing/wms-only-mode-using.md
Owners: @kamaybac

Update apac-jpn-consolidate-invoices.md
  articles/finance/localizations/apac-jpn-consolidate-invoices.md
Owners: @kfend

Update pos-inbound-inventory-operation.md
  articles/commerce/pos-inbound-inventory-operation.md
Owners: @josaw1

Create archive-tax-transactions.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-tax-transactions.md
Owners: @johnmichalak

Update archive-tax-transactions.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-tax-transactions.md
Owners: @johnmichalak

Rename Chat-with-FO-data-on-M365Copilot.md to chat-with-fno-data-on-m365copilot.md
  articles/fin-ops-core/dev-itpro/m365-copilot/chat-with-fno-data-on-m365copilot.md
Owners: @johnmichalak

Update toc.yml archive-tax-transactions.md
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Create test
  articles/fin-ops-core/dev-itpro/m365-copilot/media/test.png
Owners: @johnmichalak

Edited
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-vcruntime.md
Owners: @johnmichalak

Tweak
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-vcruntime.md
Owners: @johnmichalak

Add files via upload
  articles/fin-ops-core/dev-itpro/m365-copilot/media/FO-StructuredData-Architecture.png
Owners: @johnmichalak

Update adyen-connector.md for 10.0.36
  articles/commerce/dev-itpro/adyen-connector.md
Owners: @josaw1

Update update-local-agent.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/update-local-agent.md
Owners: @johnmichalak

Update certificate-rotation-on-prem.md
  articles/fin-ops-core/dev-itpro/deployment/certificate-rotation-on-prem.md
Owners: @johnmichalak

Update certificate-rotation-on-prem.md
  articles/fin-ops-core/dev-itpro/deployment/certificate-rotation-on-prem.md
Owners: @johnmichalak

Update revenue-recognition-setup.md
  articles/finance/accounts-receivable/revenue-recognition-setup.md
Owners: @twheeloc

Update revenue-recognition-so-basics.md
  articles/finance/accounts-receivable/revenue-recognition-so-basics.md
Owners: @twheeloc

Update revenue-recognition-recognize-deferred-revenue.md
  articles/finance/accounts-receivable/revenue-recognition-recognize-deferred-revenue.md
Owners: @twheeloc

Update chat-with-fno-data-on-m365copilot.md
  articles/fin-ops-core/dev-itpro/m365-copilot/chat-with-fno-data-on-m365copilot.md
Owners: @johnmichalak

Update whats-new-ve.md
  articles/fin-ops-core/dev-itpro/power-platform/whats-new-ve.md
Owners: @sericks007

Article for the Payments Workspace
  articles/commerce/dev-itpro/PaymentsWorkspace-commerce.md
Owners: @josaw1

Update apac-jpn-qualified-invoice-system.md
  articles/finance/localizations/apac-jpn-qualified-invoice-system.md
Owners: @kfend

Update apac-jpn-consolidate-invoices.md
  articles/finance/localizations/apac-jpn-consolidate-invoices.md
Owners: @kfend

Add files via upload
  articles/finance/localizations/media/apac_aus_nzl_einvoice_parameters.jpg
Owners: @kfend

Update apac-aus-nzl-electronic-invoices.md
  articles/finance/localizations/apac-aus-nzl-electronic-invoices.md
Owners: @kfend

Update prepare-go-live.md
  articles/fin-ops-core/fin-ops/imp-lifecycle/prepare-go-live.md
Owners: @johnmichalak

Create ssis-node.md
  articles/fin-ops-core/dev-itpro/deployment/ssis-node.md
Owners: @johnmichalak

review
  articles/supply-chain/warehousing/wms-only-mode-example.md
  articles/supply-chain/warehousing/wms-only-mode-exchange-data.md
  articles/supply-chain/warehousing/wms-only-mode-faq.md
  articles/supply-chain/warehousing/wms-only-mode-setup.md
  articles/supply-chain/warehousing/wms-only-mode-using.md
Owners: @kamaybac

Add files via upload
  articles/commerce/commerce-troubleshooting.md
Owners: @josaw1

Update commerce-troubleshooting.md
  articles/commerce/commerce-troubleshooting.md
Owners: @josaw1

Update ssis-node.md
  articles/fin-ops-core/dev-itpro/deployment/ssis-node.md
Owners: @johnmichalak

Update business-performance-analytics-home-page.md
  articles/finance/business-performance-analytics/business-performance-analytics-home-page.md
Owners: @twheeloc

Update bpa-faq.md
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

Update install-bpa.md
  articles/finance/business-performance-analytics/install-bpa.md
Owners: @twheeloc

Update configure-BPA.md
  articles/finance/business-performance-analytics/configure-BPA.md
Owners: @twheeloc

Update Reports-in-BPA.md
  articles/finance/business-performance-analytics/Reports-in-BPA.md
Owners: @twheeloc

Update set-up-security.md
  articles/finance/business-performance-analytics/set-up-security.md
Owners: @twheeloc
