Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update emea-est-vat-declaration.md
  articles/finance/localizations/estonia/emea-est-vat-declaration.md
Owners: @kfend

Update emea-est-vat-declaration.md
  articles/finance/localizations/estonia/emea-est-vat-declaration.md
Owners: @kfend

Edited
  articles/supply-chain/master-planning/safety-stock-pegging.md
Owners: @kamaybac

Edited updated sections
  articles/supply-chain/master-planning/planning-optimization/planning-optimization-differences-with-built-in.md
Owners: @kamaybac

Add files via upload
  articles/fin-ops-core/dev-itpro/deployment/media/deleteprodenvironment_2-dk.png
Owners: @johnmichalak

Update delete-production-environment.md
  articles/fin-ops-core/dev-itpro/deployment/delete-production-environment.md
Owners: @johnmichalak

Add files via upload
  articles/finance/localizations/media/zatca_integration_workflow.png
Owners: @kfend

Added workflow image
  articles/finance/localizations/mea/e-invoicing-sa-onboarding.md
Owners: @kfend

Updated onboarding script
  articles/finance/localizations/mea/e-invoicing-sa-onboarding.md
Owners: @kfend

Create B2B-commmerce-order-enhancements.md
  articles/commerce/B2B-commmerce-order-enhancements.md
Owners: @josaw1

Add files via upload
  articles/finance/cash-bank-management/Cash application in advanced bank reconciliation.md
  articles/finance/cash-bank-management/Clear reversal bank statement transactions in advanced bank reconciliation.md
  articles/finance/cash-bank-management/Clear reversal company transactions in advanced bank reconciliation.md
  articles/finance/cash-bank-management/Generate voucher in advanced bank reconciliation.md
Owners: @twheeloc

Update advanced-bank-reconciliation-overview.md
  articles/finance/cash-bank-management/advanced-bank-reconciliation-overview.md
Owners: @twheeloc

Update advanced-bank-reconciliation-overview.md
  articles/finance/cash-bank-management/advanced-bank-reconciliation-overview.md
Owners: @twheeloc

Update Cash application in advanced bank reconciliation.md
  articles/finance/cash-bank-management/Cash application in advanced bank reconciliation.md
Owners: @twheeloc

Update Clear reversal bank statement transactions in advanced bank reconciliation.md
  articles/finance/cash-bank-management/Clear reversal bank statement transactions in advanced bank reconciliation.md
Owners: @twheeloc

Update Clear reversal company transactions in advanced bank reconciliation.md
  articles/finance/cash-bank-management/Clear reversal company transactions in advanced bank reconciliation.md
Owners: @twheeloc

Update Generate voucher in advanced bank reconciliation.md
  articles/finance/cash-bank-management/Generate voucher in advanced bank reconciliation.md
Owners: @twheeloc

Add files via upload
  articles/finance/cash-bank-management/Clear bridging payments using advanced bank reconciliation.md
Owners: @twheeloc

remove preview banners
  articles/supply-chain/inventory/inventory-visibility-api.md
  articles/supply-chain/inventory/inventory-visibility-product-search-app.md
  articles/supply-chain/inventory/inventory-visibility-product-search.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

add new links
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
Owners: @kamaybac

added usernamepassword section
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
Owners: @kamaybac

WMS-39
  articles/supply-chain/warehousing/wms-only-mode-exchange-data.md
Owners: @kamaybac

add brief description of sso
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
  articles/supply-chain/warehousing/warehouse-app-authenticate-user-based.md
Owners: @kamaybac

addition text
  articles/supply-chain/warehousing/warehouse-app-authenticate-user-based.md
Owners: @kamaybac

Add topic
  articles/supply-chain/master-planning/ignore-transaction-types.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update dom-runs-results.md
  articles/commerce/dom-runs-results.md
Owners: @josaw1

Update pricing-apis.md
  articles/commerce/pricing-apis.md
Owners: @josaw1

Update pricing-apis.md
  articles/commerce/pricing-apis.md
Owners: @josaw1

Update pricing-apis.md
  articles/commerce/pricing-apis.md
Owners: @josaw1

Update pricing-apis.md
  articles/commerce/pricing-apis.md
Owners: @josaw1

Update pricing-apis.md
  articles/commerce/pricing-apis.md
Owners: @josaw1

Update pricing-apis.md
  articles/commerce/pricing-apis.md
Owners: @josaw1

Update pricing-apis.md
  articles/commerce/pricing-apis.md
Owners: @josaw1

Update pricing-apis.md
  articles/commerce/pricing-apis.md
Owners: @josaw1

Update pricing-apis.md
  articles/commerce/pricing-apis.md
Owners: @josaw1

Update pricing-apis.md
  articles/commerce/pricing-apis.md
Owners: @josaw1

Interim changes for new version of electronic invoicing for Indonesia feature
  articles/finance/localizations/indonesia/e-invoicing-id-get-started.md
Owners: @kfend

Update responsible-ai-overview.md
  articles/fin-ops-core/dev-itpro/responsible-ai/responsible-ai-overview.md
Owners: @johnmichalak

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
