Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update how-to-create-and-edit-reports.md
  articles/finance/business-performance-analytics/how-to-create-and-edit-reports.md
Owners: @twheeloc

Update ssis-node.md
  articles/fin-ops-core/dev-itpro/deployment/ssis-node.md
Owners: @johnmichalak

Update ssis-node.md
  articles/fin-ops-core/dev-itpro/deployment/ssis-node.md
Owners: @johnmichalak

Update ssis-node.md
  articles/fin-ops-core/dev-itpro/deployment/ssis-node.md
Owners: @johnmichalak

Update ssis-node.md
  articles/fin-ops-core/dev-itpro/deployment/ssis-node.md
Owners: @johnmichalak

Update ssis-node.md
  articles/fin-ops-core/dev-itpro/deployment/ssis-node.md
Owners: @johnmichalak

Update ssis-node.md
  articles/fin-ops-core/dev-itpro/deployment/ssis-node.md
Owners: @johnmichalak

Create index.yml
  articles/commerce/index.yml
Owners: @josaw1

Rename index.md to welcome.md
  articles/commerce/welcome.md
Owners: @josaw1

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Owners: none

Update ssis-node.md
  articles/fin-ops-core/dev-itpro/deployment/ssis-node.md
Owners: @johnmichalak

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update ssis-node.md
  articles/fin-ops-core/dev-itpro/deployment/ssis-node.md
Owners: @johnmichalak

Update ssis-node.md
  articles/fin-ops-core/dev-itpro/deployment/ssis-node.md
Owners: @johnmichalak

Create commerce-welcome.md
  articles/commerce/commerce-welcome.md
Owners: @josaw1

Update ssis-node.md
  articles/fin-ops-core/dev-itpro/deployment/ssis-node.md
Owners: @johnmichalak

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Rename welcome.md to index.md
  articles/commerce/index.md
Owners: @josaw1

Update ssis-node.md
  articles/fin-ops-core/dev-itpro/deployment/ssis-node.md
Owners: @johnmichalak

Delete index.md
  articles/commerce/index.md
Owners: @josaw1

Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Owners: none

Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Owners: none

Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Owners: none

Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Owners: none

Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Owners: none

Delete commerce-welcome.md
  articles/commerce/commerce-welcome.md
Owners: @josaw1

Create welcome.md
  articles/commerce/welcome.md
Owners: @josaw1

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update customer-migration.md
  articles/human-resources/customer-migration.md
Owners: @twheeloc

review
  articles/supply-chain/warehousing/wms-only-mode-exchange-data.md
  articles/supply-chain/warehousing/wms-only-mode-setup.md
  articles/supply-chain/warehousing/wms-only-mode-using.md
Owners: @kamaybac

Remove tag <Blockquate>
  articles/fin-ops-core/dev-itpro/analytics/financial-performance-power-bi-content-pack.md
Owners: @johnmichalak

Update release-process.md
  articles/supply-chain/master-planning/planning-optimization/release-process.md
Owners: @kamaybac

Remove tag <Blockquate>
  articles/fin-ops-core/dev-itpro/analytics/financial-reporting-tree-definitions.md
Owners: @johnmichalak

Remove tag <Blockquate>
  articles/fin-ops-core/dev-itpro/analytics/model-aggregate-data.md
Owners: @johnmichalak

Remove tag <Blockquate>
  articles/fin-ops-core/fin-ops/get-started/whats-new-dynamics-365-operations-1611.md
Owners: @johnmichalak

Remove tag <Blockquate>
  articles/fin-ops-core/fin-ops/hr/localizations/noam-usa-benefit-accrual-plan-tasks.md
Owners: @twheeloc

Remove tag <Blockquate>
  articles/fin-ops-core/fin-ops/hr/localizations/noam-usa-earning-code-group-tasks.md
Owners: @twheeloc

Remove tag <Blockquate>
  articles/fin-ops-core/fin-ops/hr/localizations/noam-usa-garnishment-tax-levy-enrollment-tasks.md
Owners: @twheeloc

Remove tag <Blockquate>
  articles/fin-ops-core/fin-ops/hr/localizations/noam-usa-pay-statements.md
Owners: @twheeloc

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
