Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update whats-new-wma.md
  articles/supply-chain/warehousing/whats-new-wma.md
Owners: @kamaybac

review
  articles/supply-chain/warehousing/cycle-counting-scenarios.md
  articles/supply-chain/warehousing/cycle-counting.md
Owners: @kamaybac

Update upgrade-party-gab.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/upgrade-party-gab.md
Owners: @josaw1

Update upgrade-party-gab.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/upgrade-party-gab.md
Owners: @josaw1

Update domains-commerce.md
  articles/commerce/domains-commerce.md
Owners: @josaw1

Update customer-migration.md
  articles/human-resources/customer-migration.md
Owners: @twheeloc

Update domains-commerce.md
  articles/commerce/domains-commerce.md
Owners: @josaw1

Update reset_receipt_number_sequence.md
  articles/commerce/reset_receipt_number_sequence.md
Owners: @josaw1

Update environment-lifecycle-database-movements.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-database-movements.md
Owners: @sericks007

Create clean-up-data.md
  articles/fin-ops-core/dev-itpro/data-entities/clean-up-data.md
Owners: @johnmichalak

Update environment-lifecycle-development-environments.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-development-environments.md
Owners: @sericks007

Update clean-up-data.md
  articles/fin-ops-core/dev-itpro/data-entities/clean-up-data.md
Owners: @johnmichalak

Update clean-up-data.md
  articles/fin-ops-core/dev-itpro/data-entities/clean-up-data.md
Owners: @johnmichalak

Update column-definitions-financial-reports.md
  articles/fin-ops-core/dev-itpro/analytics/column-definitions-financial-reports.md
Owners: @johnmichalak

Update column-definitions-financial-reports.md
  articles/fin-ops-core/dev-itpro/analytics/column-definitions-financial-reports.md
Owners: @johnmichalak

Update reset_receipt_number_sequence.md
  articles/commerce/reset_receipt_number_sequence.md
Owners: @josaw1

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update reset_receipt_number_sequence.md
  articles/commerce/reset_receipt_number_sequence.md
Owners: @josaw1

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Edited
  articles/fin-ops-core/dev-itpro/data-entities/clean-up-data.md
Owners: @johnmichalak

Update configure-your-domain-name.md
  articles/commerce/configure-your-domain-name.md
Owners: @josaw1

Update configure-your-domain-name.md
  articles/commerce/configure-your-domain-name.md
Owners: @josaw1

New diagnostics collection article
  articles/fin-ops-core/dev-itpro/deployment/onprem-automate-diagnostics-collection.md
  articles/fin-ops-core/dev-itpro/deployment/setup-deploy-on-premises-latest.md
  articles/fin-ops-core/dev-itpro/deployment/troubleshoot-on-prem.md
Owners: @johnmichalak

update toc
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update install-configure-warehouse-management-app.md
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
Owners: @kamaybac

Update release-process.md
  articles/supply-chain/master-planning/planning-optimization/release-process.md
Owners: @kamaybac

Update new-master-planning-engine.md
  articles/supply-chain/master-planning/new-master-planning-engine.md
Owners: @kamaybac

label change: delivery date > receipt date
  articles/supply-chain/get-started/whats-new-scm-10-0-36.md
  articles/supply-chain/procurement/procurement-sourcing-overview.md
  articles/supply-chain/procurement/purchase-agreements.md
  articles/supply-chain/procurement/purchase-order-approval-confirmation.md
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation.md
  articles/supply-chain/procurement/purchase-order-creation.md
  articles/supply-chain/procurement/request-quotations.md
  articles/supply-chain/procurement/supply-risk-assessment-configuration.md
  articles/supply-chain/procurement/supply-risk-assessment-workspace.md
  articles/supply-chain/procurement/tasks/create-purchase-order-delivery-schedule.md
  articles/supply-chain/procurement/tasks/create-purchase-order.md
  articles/supply-chain/procurement/tasks/create-request-quotation.md
  articles/supply-chain/procurement/tasks/create-requisition-consumption.md
  articles/supply-chain/procurement/tasks/enter-compare-rfq-bids-award-contracts.md
  articles/supply-chain/procurement/vendor-collaboration-mobile-workspace.md
  articles/supply-chain/procurement/vendor-collaboration-work-customers-dynamics-365-operations.md
  articles/supply-chain/procurement/vendor-collaboration-work-external-vendors.md
  articles/supply-chain/procurement/vendor-rebates.md
Owners: @kamaybac

edit
  articles/supply-chain/procurement/procurement-sourcing-overview.md
Owners: @kamaybac

Update cloud-edge-landing-page.md
  articles/supply-chain/cloud-edge/cloud-edge-landing-page.md
Owners: @kamaybac

edit
  articles/supply-chain/master-planning/new-master-planning-engine.md
Owners: @kamaybac

Update plan-filters.md
  articles/supply-chain/master-planning/planning-optimization/plan-filters.md
Owners: @kamaybac

Update clean-up-data.md
  articles/fin-ops-core/dev-itpro/data-entities/clean-up-data.md
Owners: @johnmichalak

Update pipeline-add-license-package.md
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-add-license-package.md
Owners: @josaw1

Update hosted-build-automation.md
  articles/fin-ops-core/dev-itpro/dev-tools/hosted-build-automation.md
Owners: @josaw1

Update pipeline-create-deployable-package.md
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-create-deployable-package.md
Owners: @josaw1

Restoring moved content
  articles/commerce/dev-itpro/domains-commerce.md
Owners: @josaw1

Update pipeline-create-deployable-package.md
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-create-deployable-package.md
Owners: @josaw1

Update arch-component-versioning.md
  articles/commerce/dev-itpro/arch-component-versioning.md
Owners: @josaw1

Update sdk-updates.md
  articles/commerce/e-commerce-extensibility/sdk-updates.md
Owners: @josaw1
