Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update financial-dimension-sets.md
  articles/finance/general-ledger/financial-dimension-sets.md
Owners: @twheeloc

Update financial-dimension-sets.md
  articles/finance/general-ledger/financial-dimension-sets.md
Owners: @twheeloc

Edited
  articles/fin-ops-core/dev-itpro/migration-upgrade/download-hotfix-lcs.md
Owners: @johnmichalak

Update configure-export-data-lake.md
  articles/fin-ops-core/dev-itpro/data-entities/configure-export-data-lake.md
Owners: @johnmichalak

Update configure-export-data-lake.md
  articles/fin-ops-core/dev-itpro/data-entities/configure-export-data-lake.md
Owners: @johnmichalak

Update and rename tm-post-transactions.md to ltm-post-transactions.md
  articles/finance/localizations/iberoamerica/ltm-post-transactions.md
Owners: @kfend

Edited
  articles/fin-ops-core/dev-itpro/lifecycle-services/pause-service-updates.md
Owners: @johnmichalak

Add files via upload
  articles/finance/general-ledger/financial-dimension-set-new.md
Owners: @twheeloc

Edited
  articles/fin-ops-core/dev-itpro/migration-upgrade/versions-update-policy.md
Owners: @johnmichalak

Update Azure-Data-Lake-GA-version-overview.md
  articles/fin-ops-core/dev-itpro/data-entities/Azure-Data-Lake-GA-version-overview.md
Owners: @johnmichalak

Update Azure-Data-Lake-GA-version-overview.md
  articles/fin-ops-core/dev-itpro/data-entities/Azure-Data-Lake-GA-version-overview.md
Owners: @johnmichalak

Update Azure-Data-Lake-GA-version-overview.md
  articles/fin-ops-core/dev-itpro/data-entities/Azure-Data-Lake-GA-version-overview.md
Owners: @johnmichalak

Edited
  articles/fin-ops-core/dev-itpro/get-started/public-preview-releases.md
Owners: @johnmichalak

Update emea-dnk-vend-e-invoice.md
  articles/finance/localizations/denmark/emea-dnk-vend-e-invoice.md
Owners: @kfend

tweak
  articles/fin-ops-core/dev-itpro/get-started/public-preview-releases.md
Owners: @johnmichalak

Edited
  articles/fin-ops-core/dev-itpro/get-started/one-version.md
Owners: @johnmichalak

Update isv-licensing.md
  articles/fin-ops-core/dev-itpro/dev-tools/isv-licensing.md
Owners: @josaw1

Update financial-dimension-set-new.md
  articles/finance/general-ledger/financial-dimension-set-new.md
Owners: @twheeloc

Update financial-dimension-set-new.md
  articles/finance/general-ledger/financial-dimension-set-new.md
Owners: @twheeloc

Update ltm-CostaRica-electronic-invoice-conf.md
  articles/finance/localizations/iberoamerica/ltm-CostaRica-electronic-invoice-conf.md
Owners: @kfend

Update dynamic-printing-selection.md
  articles/supply-chain/warehousing/dynamic-printing-selection.md
Owners: @kamaybac

Update latam-bra-scope.md
  articles/finance/localizations/brazil/latam-bra-scope.md
Owners: @kfend

review
  articles/supply-chain/toc.yml
  articles/supply-chain/warehousing/warehouse-app-company-logo.md
  articles/supply-chain/warehousing/warehouse-management-app-company-logo
Owners: @kamaybac

Update global-sales-tax-group-determination.md
  articles/finance/localizations/global/global-sales-tax-group-determination.md
Owners: @kfend

Update ltm-Configure-invoices-CostaRica.md
  articles/finance/localizations/iberoamerica/ltm-Configure-invoices-CostaRica.md
Owners: @kfend

Update ltm-Configure-invoices-Panama.md
  articles/finance/localizations/iberoamerica/ltm-Configure-invoices-Panama.md
Owners: @kfend

Update emea-deu-cust-e-invoices.md
  articles/finance/localizations/germany/emea-deu-cust-e-invoices.md
Owners: @kfend

Update latam-bra-scope.md
  articles/finance/localizations/brazil/latam-bra-scope.md
Owners: @kfend

Update ltm-Set-up-legal-entity-and-tax-Panama.md
  articles/finance/localizations/iberoamerica/ltm-Set-up-legal-entity-and-tax-Panama.md
Owners: @kfend

Update and rename ltm-Configure-invoices-Nicaragua.md to ltm-configure-invoices-nicaragua.md
  articles/finance/localizations/iberoamerica/ltm-Configure-invoices-Nicaragua.md
  articles/finance/localizations/iberoamerica/ltm-configure-invoices-nicaragua.md
Owners: @kfend

Update and rename ltm-Configure-invoices-CostaRica.md to ltm-configure-invoices-costa-rica.md
  articles/finance/localizations/iberoamerica/ltm-Configure-invoices-CostaRica.md
  articles/finance/localizations/iberoamerica/ltm-configure-invoices-costa-rica.md
Owners: @kfend

Update and rename ltm-Configure-invoices-Panama.md to ltm-configure-invoices-panama.md
  articles/finance/localizations/iberoamerica/ltm-Configure-invoices-Panama.md
  articles/finance/localizations/iberoamerica/ltm-configure-invoices-panama.md
Owners: @kfend

Update emea-deu-cust-e-invoices.md
  articles/finance/localizations/germany/emea-deu-cust-e-invoices.md
Owners: @kfend

Update emea-deu-cust-e-invoices.md
  articles/finance/localizations/germany/emea-deu-cust-e-invoices.md
Owners: @kfend

review
  articles/supply-chain/inventory/inventory-visibility-api.md
  articles/supply-chain/inventory/inventory-visibility-product-search.md
  articles/supply-chain/inventory/product-search-setup.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update auto-split-journal.md
  articles/finance/general-ledger/auto-split-journal.md
Owners: @twheeloc

Update Azure-Data-Lake-GA-version-overview.md
  articles/fin-ops-core/dev-itpro/data-entities/Azure-Data-Lake-GA-version-overview.md
Owners: @johnmichalak

Update ltm-CostaRica-electronic-invoice-conf.md
  articles/finance/localizations/iberoamerica/ltm-CostaRica-electronic-invoice-conf.md
Owners: @kfend

Update ltm-vat-book.md
  articles/finance/localizations/iberoamerica/ltm-vat-book.md
Owners: @kfend

Update isv-licensing.md
  articles/fin-ops-core/dev-itpro/dev-tools/isv-licensing.md
Owners: @josaw1
