Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

review
  articles/supply-chain/pricing-management/concurrent-pricing-rules.md
  articles/supply-chain/pricing-management/discounts.md
  articles/supply-chain/pricing-management/media/concurrency-flowchart.png
  articles/supply-chain/pricing-management/price-structure-multiple.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update for Apple Pay module theme call out
  articles/commerce/dev-itpro/apple-pay-adyen.md
Owners: @josaw1

Update add-change-acctg-rprtg-crrncy.md
  articles/finance/general-ledger/add-change-acctg-rprtg-crrncy.md
Owners: @twheeloc

Update view-journal-entries-or-transactions.md
  articles/finance/general-ledger/tasks/view-journal-entries-or-transactions.md
Owners: @twheeloc

Reviewed updated sections
  articles/human-resources/hr-setup-parameters.md
Owners: @twheeloc

Edited
  articles/human-resources/hr-manage-part.md
Owners: @twheeloc

Fix header
  articles/fin-ops-core/dev-itpro/lifecycle-services/update-local-agent.md
Owners: @johnmichalak

Update hr-manage-part.md
  articles/human-resources/hr-manage-part.md
Owners: @twheeloc

Update hr-setup-parameters.md
  articles/human-resources/hr-setup-parameters.md
Owners: @twheeloc

Update apple-pay-adyen.md
  articles/commerce/dev-itpro/apple-pay-adyen.md
Owners: @josaw1

Update apple-pay-adyen.md
  articles/commerce/dev-itpro/apple-pay-adyen.md
Owners: @josaw1

Incorporating Tommy's suggested revisions
  articles/fin-ops-core/dev-itpro/dev-tools/git-intro.md
Owners: @josaw1

Update apple-pay-adyen.md
  articles/commerce/dev-itpro/apple-pay-adyen.md
Owners: @josaw1

Change link to RegisterETW file
  articles/finance/general-ledger/financial-reporting-getting-started.md
Owners: @twheeloc

Added required user role info blurb
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-deploy-asset.md
Owners: @josaw1

Added required user role info blurb
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-deploy-asset.md
Owners: @josaw1

Update pipeline-deploy-asset.md
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-deploy-asset.md
Owners: @josaw1

Update inventory-onhand-consistency-check.md
  articles/supply-chain/inventory/inventory-onhand-consistency-check.md
Owners: @kamaybac

Update inventory-onhand-consistency-check.md
  articles/supply-chain/inventory/inventory-onhand-consistency-check.md
Owners: @kamaybac

Update inventory-onhand-consistency-check.md
  articles/supply-chain/inventory/inventory-onhand-consistency-check.md
Owners: @kamaybac

Update latam-bra-nfe-certs.md
  articles/finance/localizations/latam-bra-nfe-certs.md
Owners: @kfend

update ms.date
  articles/finance/localizations/tax-integration-uptake-features.md
Owners: @kfend

update ms.date
  articles/finance/localizations/tax-integration-modification-swtich-functions-frontend.md
Owners: @kfend

update ms.date
  articles/finance/localizations/tax-integration-implement-tax-integration-activities.md
Owners: @kfend

update ms.date
  articles/finance/localizations/tax-integration-how-to-add-activity.md
Owners: @kfend

update ms.date
  articles/finance/localizations/tax-integration-flow.md
Owners: @kfend

update ms.date
  articles/finance/localizations/tax-integration-facade-sequence-activity.md
Owners: @kfend

update ms.date
  articles/finance/localizations/tax-integration-entrance-code.md
Owners: @kfend

Update latam-bra-nfe-certs.md
  articles/finance/localizations/latam-bra-nfe-certs.md
Owners: @kfend

add topics and review
  articles/supply-chain/pricing-management/base-price-versions.md
  articles/supply-chain/pricing-management/concurrent-pricing-rules.md
  articles/supply-chain/pricing-management/discounts.md
  articles/supply-chain/pricing-management/margin-price-adjustments.md
  articles/supply-chain/pricing-management/price-attributes-overview.md
  articles/supply-chain/pricing-management/price-attributes-setup.md
  articles/supply-chain/pricing-management/price-component-code.md
  articles/supply-chain/pricing-management/price-component-posting.md
  articles/supply-chain/pricing-management/price-rules.md
  articles/supply-chain/pricing-management/price-structure-concurrence.md
  articles/supply-chain/pricing-management/price-structure-details.md
  articles/supply-chain/pricing-management/price-structure-multiple.md
  articles/supply-chain/pricing-management/price-structure-overview.md
  articles/supply-chain/pricing-management/price-structure-single.md
  articles/supply-chain/pricing-management/sales-trade-agreement-prices.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

Delete p18.png
  articles/commerce/dev-itpro/media/p18.png
Owners: @josaw1

Delete p20.png
  articles/commerce/dev-itpro/media/p20.png
Owners: @josaw1

Delete p22.png
  articles/commerce/dev-itpro/media/p22.png
Owners: @josaw1

Delete p23.png
  articles/commerce/dev-itpro/media/p23.png
Owners: @josaw1

Delete p24.png
  articles/commerce/dev-itpro/media/p24.png
Owners: @josaw1

Add files via upload
  articles/commerce/dev-itpro/media/p18.png
  articles/commerce/dev-itpro/media/p20.png
  articles/commerce/dev-itpro/media/p22.png
  articles/commerce/dev-itpro/media/p23.png
  articles/commerce/dev-itpro/media/p24.png
Owners: @josaw1

Update retail-device-activation.md
  articles/commerce/dev-itpro/retail-device-activation.md
Owners: @josaw1

review
  articles/supply-chain/pricing-management/base-price-versions.md
  articles/supply-chain/pricing-management/concurrent-pricing-rules.md
  articles/supply-chain/pricing-management/customer-product-attribute-groups.md
  articles/supply-chain/pricing-management/discounts.md
  articles/supply-chain/pricing-management/margin-price-adjustments.md
  articles/supply-chain/pricing-management/price-attribute-groups.md
  articles/supply-chain/pricing-management/price-attributes-overview.md
  articles/supply-chain/pricing-management/price-attributes-setup.md
  articles/supply-chain/pricing-management/price-component-code.md
  articles/supply-chain/pricing-management/price-component-posting.md
  articles/supply-chain/pricing-management/price-determination-rules.md
  articles/supply-chain/pricing-management/price-rules.md
  articles/supply-chain/pricing-management/price-structure-concurrence.md
  articles/supply-chain/pricing-management/price-structure-details.md
  articles/supply-chain/pricing-management/price-structure-multiple.md
  articles/supply-chain/pricing-management/price-structure-overview.md
  articles/supply-chain/pricing-management/price-structure-single.md
  articles/supply-chain/pricing-management/pricing-management-enable.md
  articles/supply-chain/pricing-management/pricing-management-overview.md
  articles/supply-chain/pricing-management/sales-trade-agreement-prices.md
  articles/supply-chain/pricing-management/vendor-list-price.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update key-invoice-data-ap-system-vendor-invoice.md
  articles/finance/accounts-payable/tasks/key-invoice-data-ap-system-vendor-invoice.md
Owners: @twheeloc

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
