Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update financial-reporting-getting-started.md
  articles/finance/general-ledger/financial-reporting-getting-started.md
Owners: @twheeloc

Update business-performance-analytics-data-model.md
  articles/finance/business-performance-analytics/business-performance-analytics-data-model.md
Owners: @twheeloc

Update credit-collections-power-bi.md
  articles/finance/accounts-receivable/credit-collections-power-bi.md
Owners: @twheeloc

Update credit-collections-power-bi.md
  articles/finance/accounts-receivable/credit-collections-power-bi.md
Owners: @twheeloc

Update credit-collections-power-bi.md
  articles/finance/accounts-receivable/credit-collections-power-bi.md
Owners: @twheeloc

update
  articles/commerce/cloud-powered-search-overview.md
Owners: @josaw1

minor update
  articles/commerce/cloud-powered-search-overview.md
Owners: @josaw1

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Update e-invoicing-isv-connector.md
  articles/finance/localizations/global/e-invoicing-isv-connector.md
Owners: @kfend

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

move cross-region info
  articles/fin-ops-core/dev-itpro/copilot/enable-copilot.md
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation-enable.md
Owners: @johnmichalak, @kamaybac

add region info
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation-enable.md
Owners: @kamaybac

add region info
  articles/fin-ops-core/dev-itpro/copilot/enable-copilot.md
Owners: @johnmichalak

WMS-39
  articles/supply-chain/warehousing/warehousing-mobile-device-app-license-plate-receiving.md
  articles/supply-chain/warehousing/wms-only-mode-exchange-data.md
Owners: @kamaybac

Update Install-BPP2.md
  articles/finance/business-performance-planning/Install-BPP2.md
Owners: @twheeloc

Update bpp-app-install.md
  articles/finance/business-performance-planning/bpp-app-install.md
Owners: @twheeloc

Add note about FileAssetId
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-deploy-asset.md
Owners: @josaw1

fix link
  articles/fin-ops-core/dev-itpro/copilot/enable-copilot.md
Owners: @johnmichalak

Create ltm-Set-up-legal-entity-and-tax-Paraguay.md
  articles/finance/localizations/iberoamerica/ltm-Set-up-legal-entity-and-tax-Paraguay.md
Owners: @kfend

Create ltm-create-customer-and-vendor-Paraguay.md
  articles/finance/localizations/iberoamerica/ltm-create-customer-and-vendor-Paraguay.md
Owners: @kfend

Create ltm-Configure-invoices-Paraguay.md
  articles/finance/localizations/iberoamerica/ltm-Configure-invoices-Paraguay.md
Owners: @kfend

review
  articles/fin-ops-core/dev-itpro/copilot/enable-copilot.md
  articles/fin-ops-core/dev-itpro/copilot/enable-copliot-generative-help.md
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation-enable.md
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation.md
Owners: @johnmichalak, @kamaybac

Create ltm-Set-up-legal-entity-and-tax-Uruguay.md
  articles/finance/localizations/ltm-Set-up-legal-entity-and-tax-Uruguay.md
Owners: @kfend

Create ltm-create-customer-and-vendor-Uruguay.md
  articles/finance/localizations/iberoamerica/ltm-create-customer-and-vendor-Uruguay.md
Owners: @kfend

Rename NHR-notification-and-registration to NHR-notification-and-registration.md
  articles/finance/localizations/denmark/NHR-notification-and-registration.md
Owners: @kfend

Update NHR-notification-and-registration.md
  articles/finance/localizations/denmark/NHR-notification-and-registration.md
Owners: @kfend

Create ltm-Configure-invoices-Uruguay.md
  articles/finance/localizations/iberoamerica/ltm-Configure-invoices-Uruguay.md
Owners: @kfend

Update quality-updates-schedule.md
  articles/fin-ops-core/dev-itpro/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Create invoice-capture-dim.md
  articles/finance/accounts-payable/invoice-capture-dim.md
Owners: @twheeloc

Create invoice-capture-custom.md
  articles/finance/accounts-payable/invoice-capture-custom.md
Owners: @twheeloc

Update cloud-powered-search-overview.md
  articles/commerce/cloud-powered-search-overview.md
Owners: @josaw1

review
  articles/supply-chain/faq-inventory-query.md
  articles/supply-chain/inventory/inventory-visibility-copilot-api.md
  articles/supply-chain/inventory/media/copilot-icon.png
  articles/supply-chain/responsible-ai-overview.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

review
  articles/supply-chain/inventory/inventory-visibility-copilot-api.md
  articles/supply-chain/responsible-ai-overview.md
Owners: @kamaybac

Update invoice-capture-dim.md
  articles/finance/accounts-payable/invoice-capture-dim.md
Owners: @twheeloc

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
