Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update whats-new-commerce-10-0-33.md
  articles/commerce/get-started/whats-new-commerce-10-0-33.md
Owners: @josaw1

Update er-data-sources.md
  articles/fin-ops-core/dev-itpro/analytics/er-data-sources.md
Owners: @johnmichalak

Edited
  articles/commerce/dev-itpro/manage-payment-authorizations.md
Owners: @josaw1

Update whats-new-commerce-10-0-32.md
  articles/commerce/get-started/whats-new-commerce-10-0-32.md
Owners: @josaw1

Update manage-payment-authorizations.md
  articles/commerce/dev-itpro/manage-payment-authorizations.md
Owners: @josaw1

Update project-migration-manager.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/project-migration-manager.md
Owners: @johnmichalak

Update compare-etw-eventlog.md
  articles/commerce/dev-itpro/compare-etw-eventlog.md
Owners: @josaw1

Update compare-etw-eventlog.md
  articles/commerce/dev-itpro/compare-etw-eventlog.md
Owners: @josaw1

Create ltm-core-tax-application.md
  articles/finance/localizations/ltm-core-tax-application.md
Owners: @kfend

Create runtime-extensions-health-check.md
  articles/commerce/dev-itpro/retail-sdk/runtime-extensions-health-check.md
Owners: @josaw1

Update customer-lockbox.md
  articles/fin-ops-core/dev-itpro/sysadmin/customer-lockbox.md
Owners: @johnmichalak

accept -> accepts
  articles/commerce/pricing-apis.md
Owners: @josaw1

Update ltm-core-document-class-type.md
  articles/finance/localizations/ltm-core-document-class-type.md
Owners: @kfend

Create ltm-core-latam-parameters-Fhernandez0088.md
  articles/finance/localizations/ltm-core-latam-parameters-Fhernandez0088.md
Owners: @kfend

Update dual-write-prospect-to-cash.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/dual-write-prospect-to-cash.md
Owners: @josaw1

Update pricing-engine.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/pricing-engine.md
Owners: @josaw1

Update dual-write-prospect-to-cash.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/dual-write-prospect-to-cash.md
Owners: @josaw1

Update ltm-core-tax-application.md
  articles/finance/localizations/ltm-core-tax-application.md
Owners: @kfend

Create add-efficiency-in-quote-to-cash-with-dynamics-365-sales
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash-with-dynamics-365-sales
Owners: @josaw1

Update dual-write-prospect-to-cash.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/dual-write-prospect-to-cash.md
Owners: @josaw1

Update pricing-engine.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/pricing-engine.md
Owners: @josaw1

Update sales-status-map.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/sales-status-map.md
Owners: @josaw1

Create How-To-enable-Add-efficiency-in-Quote-to-Cash-with-Dynamics-365-Sales
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/How-To-enable-Add-efficiency-in-Quote-to-Cash-with-Dynamics-365-Sales
Owners: @josaw1

Update pricing-apis.md
  articles/commerce/pricing-apis.md
Owners: @josaw1

Update pricing-apis.md
  articles/commerce/pricing-apis.md
Owners: @josaw1

Update pricing-apis.md
  articles/commerce/pricing-apis.md
Owners: @josaw1

Update whats-new-dual-write.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/whats-new-dual-write.md
Owners: @josaw1

Update whats-new-dual-write.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/whats-new-dual-write.md
Owners: @josaw1

Update hr-admin-integration-payroll-api-leave-balance.md
  articles/human-resources/hr-admin-integration-payroll-api-leave-balance.md
Owners: @twheeloc

change file names
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/enable-efficiency-in-quote-to-cash.md
Owners: @josaw1

add topics, review
  articles/supply-chain/pricing-management/base-price-versions.md
  articles/supply-chain/pricing-management/margin-component-price-adjustments.md
  articles/supply-chain/pricing-management/price-component-posting.md
  articles/supply-chain/pricing-management/price-rules.md
  articles/supply-chain/pricing-management/price-structure-multiple.md
  articles/supply-chain/pricing-management/price-structure-overview.md
  articles/supply-chain/pricing-management/price-structure-single.md
  articles/supply-chain/pricing-management/sales-trade-agreement-prices.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update general-journal-processing.md
  articles/finance/general-ledger/general-journal-processing.md
Owners: @twheeloc

Update ltm-core-document-class-sales-point.md
  articles/finance/localizations/ltm-core-document-class-sales-point.md
Owners: @kfend

Update ltm-core-point-relation.md
  articles/finance/localizations/ltm-core-point-relation.md
Owners: @kfend

Update ltm-core-point-relation.md
  articles/finance/localizations/ltm-core-point-relation.md
Owners: @kfend

Update ltm-core-document-class.md
  articles/finance/localizations/ltm-core-document-class.md
Owners: @kfend

Added redirect
  .openpublishing.redirection.json
  articles/fin-ops-core/fin-ops/get-started/move-environments-data-center.md
Owners: @johnmichalak

Added new search.app values
  articles/docfx.json
Owners: none

Update move-on-prem-to-cloud.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/move-on-prem-to-cloud.md
Owners: @johnmichalak

Create ltm-core-invoice-posting-latam.md
  articles/finance/localizations/ltm-core-invoice-posting-latam.md
Owners: @kfend

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
