Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update service-description.md
  articles/fin-ops-core/dev-itpro/get-started/service-description.md
Owners: @johnmichalak

Update service-description.md
  articles/fin-ops-core/dev-itpro/get-started/service-description.md
Owners: @johnmichalak

Update service-description.md
  articles/fin-ops-core/dev-itpro/get-started/service-description.md
Owners: @johnmichalak

Update service-description.md
  articles/fin-ops-core/dev-itpro/get-started/service-description.md
Owners: @johnmichalak

Update service-description.md
  articles/fin-ops-core/dev-itpro/get-started/service-description.md
Owners: @johnmichalak

Update database-movement-toolkit.md
  articles/fin-ops-core/dev-itpro/database/database-movement-toolkit.md
Owners: @johnmichalak

Update database-pitr-prod-sandbox.md
  articles/fin-ops-core/dev-itpro/database/database-pitr-prod-sandbox.md
Owners: @johnmichalak

Update database-point-in-time-restore.md
  articles/fin-ops-core/dev-itpro/database/database-point-in-time-restore.md
Owners: @johnmichalak

Update database-refresh.md
  articles/fin-ops-core/dev-itpro/database/database-refresh.md
Owners: @johnmichalak

Update dbmovement-operations.md
  articles/fin-ops-core/dev-itpro/database/dbmovement-operations.md
Owners: @johnmichalak

Update export-database.md
  articles/fin-ops-core/dev-itpro/database/export-database.md
Owners: @johnmichalak

Update import-database.md
  articles/fin-ops-core/dev-itpro/database/import-database.md
Owners: @johnmichalak

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update finance-troubleshooting.md
  articles/finance/finance-troubleshooting.md
Owners: @twheeloc

Update financial-reporting-getting-started.md
  articles/finance/general-ledger/financial-reporting-getting-started.md
Owners: @twheeloc

update
  articles/commerce/retail-product-kit-setup.md
Owners: @josaw1

Update Check-number-validation.md
  articles/finance/cash-bank-management/Check-number-validation.md
Owners: @twheeloc

Update quality-updates-schedule.md
  articles/fin-ops-core/dev-itpro/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Create inventory-copilot-API.md
  articles/supply-chain/inventory/inventory-copilot-API.md
Owners: @kamaybac

Rename inventory-copilot-API.md to inventory-visibility-copilot-API.md
  articles/supply-chain/inventory/inventory-visibility-copilot-API.md
Owners: @kamaybac

Update toc.yml
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update inventory-visibility-copilot-API.md
  articles/supply-chain/inventory/inventory-visibility-copilot-API.md
Owners: @kamaybac

review
  articles/supply-chain/procurement/auto-charge-sequence-compound.md
Owners: @kamaybac

review
  articles/supply-chain/inventory/inventory-visibility-copilot-API.md
Owners: @kamaybac

Update inventory-visibility-copilot-API.md
  articles/supply-chain/inventory/inventory-visibility-copilot-API.md
Owners: @kamaybac

Update inventory-visibility-copilot-API.md
  articles/supply-chain/inventory/inventory-visibility-copilot-API.md
Owners: @kamaybac

review
  articles/supply-chain/inventory/inventory-visibility-copilot-API.md
Owners: @kamaybac

content
  articles/fin-ops-core/fin-ops/get-started/Copilot-GenerativeHelp.md
  articles/fin-ops-core/fin-ops/get-started/help-overview.md
Owners: @johnmichalak

FAQ empty doc
  articles/fin-ops-core/dev-itpro/responsible-ai/responsible-ai-overview.md
  articles/fin-ops-core/fin-ops/copilot/copilot-generative-help-rai-faq.md
  articles/fin-ops-core/fin-ops/copilot/copilot-generative-help.md
  articles/fin-ops-core/fin-ops/get-started/help-overview.md
  articles/supply-chain/responsible-ai-overview.md
Owners: @johnmichalak, @josaw1, @kamaybac

review
  articles/supply-chain/inventory/inventory-visibility-copilot-api2.md
Owners: @kamaybac

review
  articles/supply-chain/inventory/inventory-visibility-copilot-api.md
Owners: @kamaybac

review
  articles/supply-chain/toc.yml
Owners: @kamaybac

rearrange
  articles/fin-ops-core/dev-itpro/copilot/enable-copilot.md
  articles/fin-ops-core/fin-ops/copilot/media/copilot-help-welcome.png
  articles/fin-ops-core/fin-ops/get-started/help-overview.md
Owners: @johnmichalak, @josaw1

add preview banner
  articles/supply-chain/inventory/inventory-visibility-copilot-api.md
Owners: @kamaybac

fix link
  articles/supply-chain/toc.yml
Owners: @kamaybac

edit
  articles/supply-chain/inventory/inventory-visibility-copilot-api.md
Owners: @kamaybac

faq ver1
  articles/fin-ops-core/fin-ops/copilot/copilot-generative-help-rai-faq.md
  articles/fin-ops-core/fin-ops/copilot/copilot-generative-help.md
  articles/fin-ops-core/fin-ops/copilot/media/copilot-homepage -explain-worflow.png
  articles/fin-ops-core/fin-ops/get-started/help-overview.md
Owners: @josaw1, @johnmichalak

Update set-up-accounts-receivable-aging-information.md
  articles/finance/accounts-receivable/tasks/set-up-accounts-receivable-aging-information.md
Owners: @twheeloc

Update set-up-accounts-receivable-aging-information.md
  articles/finance/accounts-receivable/tasks/set-up-accounts-receivable-aging-information.md
Owners: @twheeloc

Update environment-lifecycle-connect-finops-existing-dv.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-existing-dv.md
Owners: @sericks007
