Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Rename columbia.md to colombia.md
  articles/finance/localizations/iberoamerica/colombia.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update install-csu-vhd.md
  articles/commerce/dev-itpro/install-csu-vhd.md
Owners: @josaw1

Update uruguay.md
  articles/finance/localizations/iberoamerica/uruguay.md
Owners: @kfend

Update colombia.md
  articles/finance/localizations/iberoamerica/colombia.md
Owners: @kfend

Update install-csu-vhd.md
  articles/commerce/dev-itpro/install-csu-vhd.md
Owners: @josaw1

Update install-csu-vhd.md
  articles/commerce/dev-itpro/install-csu-vhd.md
Owners: @josaw1

Update uruguay.md
  articles/finance/localizations/iberoamerica/uruguay.md
Owners: @kfend

Rename articles/finance/localizations/ltm-set-up-legal-entity-tax-uruguay.md to articles/finance/localizations/localizations/ltm-set-up-legal-entity-tax-uruguay.md
  articles/finance/localizations/localizations/ltm-set-up-legal-entity-tax-uruguay.md
Owners: @kfend

Rename articles/finance/localizations/localizations/ltm-set-up-legal-entity-tax-uruguay.md to articles/finance/localizations/localizations/iberoamerica/ltm-set-up-legal-entity-tax-uruguay.md
  articles/finance/localizations/localizations/iberoamerica/ltm-set-up-legal-entity-tax-uruguay.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Delete articles/finance/localizations/localizations/iberoamerica directory
  articles/finance/localizations/localizations/iberoamerica/ltm-set-up-legal-entity-tax-uruguay.md
Owners: @kfend

Create ltm-set-up-legal-entity-tax-uruguay.md
  articles/finance/localizations/iberoamerica/ltm-set-up-legal-entity-tax-uruguay.md
Owners: @kfend

Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Owners: none

Update install-csu-vhd.md
  articles/commerce/dev-itpro/install-csu-vhd.md
Owners: @josaw1

Rename install-csu-vhd.md to install-csu-dev-env.md
  articles/commerce/dev-itpro/install-csu-dev-env.md
Owners: @josaw1

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update define-loyalty-cards.md
  articles/commerce/tasks/define-loyalty-cards.md
Owners: @josaw1

Update define-loyalty-programs.md
  articles/commerce/tasks/define-loyalty-programs.md
Owners: @josaw1

Update define-loyalty-programs.md
  articles/commerce/tasks/define-loyalty-programs.md
Owners: @josaw1

Update define-loyalty-cards.md
  articles/commerce/tasks/define-loyalty-cards.md
Owners: @josaw1

Update e-invoicing-fr-get-started.md
  articles/finance/localizations/france/e-invoicing-fr-get-started.md
Owners: @kfend

Update batch-job-cleanup.md
  articles/fin-ops-core/dev-itpro/sysadmin/batch-job-cleanup.md
Owners: @johnmichalak

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

updating some words
  articles/commerce/extended-logon.md
Owners: @josaw1

minor update
  articles/commerce/extended-logon.md
Owners: @josaw1

Update inventory-visibility-product-search.md
  articles/supply-chain/inventory/inventory-visibility-product-search.md
Owners: @kamaybac

Update small-parcel-shipping.md
  articles/supply-chain/warehousing/small-parcel-shipping.md
Owners: @kamaybac

Update service-protection-api-limits.md
  articles/fin-ops-core/dev-itpro/data-entities/service-protection-api-limits.md
Owners: @johnmichalak

Edited updated sections
  articles/supply-chain/inventory/inventory-visibility-allocation.md
Owners: @kamaybac

Edited updated sections
  articles/supply-chain/inventory/inventory-visibility-api.md
Owners: @kamaybac

WMS-39
  articles/supply-chain/warehousing/wms-only-mode-example.md
  articles/supply-chain/warehousing/wms-only-mode-exchange-data.md
  articles/supply-chain/warehousing/wms-only-mode-overview.md
Owners: @kamaybac

Edited updated sections
  articles/supply-chain/inventory/inventory-visibility-available-to-promise.md
Owners: @kamaybac

Edited updated sections
  articles/supply-chain/inventory/inventory-visibility-configuration.md
Owners: @kamaybac

Reviewed
  articles/supply-chain/inventory/inventory-visibility-dashboard.md
Owners: @kamaybac

Edited
  articles/supply-chain/inventory/inventory-visibility-inventory-summary.md
Owners: @kamaybac

Edited
  articles/supply-chain/inventory/inventory-visibility-whs-support.md
Owners: @kamaybac

Create filter-and-search-order-history.md
  articles/commerce/filter-and-search-order-history.md
Owners: @josaw1
