Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @sericks007, @robinarh, @andreabichsel, @roschlom, @josaw, @kfend, @josaw1, @kamaybac

Update mx-00010-e-invoicing-cfdi.md
  articles/finance/localizations/tasks/mx-00010-e-invoicing-cfdi.md
Owners: @kfend

Update apac-mys-gst.md
  articles/finance/localizations/apac-mys-gst.md
Owners: @kfend

Update config-settings-for-features.md
  articles/commerce/e-commerce-extensibility/config-settings-for-features.md
Owners: @josaw1

Update cli-command-reference.md
  articles/commerce/e-commerce-extensibility/cli-command-reference.md
Owners: @josaw1

Create emea-gbr-mtd-vat-integration-declaration.md
  articles/finance/localizations/emea-gbr-mtd-vat-integration-declaration.md
Owners: @kfend

Linking Mismatch
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/lcs-setup.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/powerplat_integration_mismatchLink.png
Owners: @robinarh

Fixing invalid links
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/lcs-setup.md
Owners: @robinarh

Update request-pipeline-hook.md
  articles/commerce/e-commerce-extensibility/request-pipeline-hook.md
Owners: @josaw1

Update request-pipeline-hook.md
  articles/commerce/e-commerce-extensibility/request-pipeline-hook.md
Owners: @josaw1

Add full error message
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/lcs-setup.md
Owners: @robinarh

Update request-pipeline-hook.md
  articles/commerce/e-commerce-extensibility/request-pipeline-hook.md
Owners: @josaw1

Update lcs-setup.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/lcs-setup.md
Owners: @robinarh

Update lcs-setup.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/lcs-setup.md
Owners: @robinarh

Update e-invoicing-get-started-import-vendor-invoices.md
  articles/finance/localizations/e-invoicing-get-started-import-vendor-invoices.md
Owners: @kfend

VS2019 support
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-21.md
Owners: @sericks007

Update e-invoicing-get-started-import-vendor-invoices.md
  articles/finance/localizations/e-invoicing-get-started-import-vendor-invoices.md
Owners: @kfend

Update e-invoicing-get-started-import-vendor-invoices.md
  articles/finance/localizations/e-invoicing-get-started-import-vendor-invoices.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @roschlom

Update e-invoicing-get-started-import-vendor-invoices.md
  articles/finance/localizations/e-invoicing-get-started-import-vendor-invoices.md
Owners: @kfend

Update onprem-compatibility.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-compatibility.md
Owners: @sericks007

Update request-pipeline-hook.md
  articles/commerce/e-commerce-extensibility/request-pipeline-hook.md
Owners: @josaw1

Update cli-command-reference.md
  articles/commerce/e-commerce-extensibility/cli-command-reference.md
Owners: @josaw1

Update grid-capabilities.md
  articles/fin-ops-core/fin-ops/get-started/grid-capabilities.md
Owners: @sericks007

Update cm-sales-order-credit-holds.md
  articles/finance/accounts-receivable/cm-sales-order-credit-holds.md
Owners: @roschlom

Create config-paramtrs-collections-proc-automate.md
  articles/finance/accounts-receivable/config-paramtrs-collections-proc-automate.md
Owners: @roschlom

Update collections-process-automate.md
  articles/finance/accounts-receivable/collections-process-automate.md
Owners: @roschlom

Update TOC.yml
  articles/finance/TOC.yml
Owners: @roschlom

Update request-pipeline-hook.md
  articles/commerce/e-commerce-extensibility/request-pipeline-hook.md
Owners: @josaw1

Update config-paramtrs-collections-proc-automate.md
  articles/finance/accounts-receivable/config-paramtrs-collections-proc-automate.md
Owners: @roschlom

Update request-pipeline-hook.md
  articles/commerce/e-commerce-extensibility/request-pipeline-hook.md
Owners: @josaw1

Update config-paramtrs-collections-proc-automate.md
  articles/finance/accounts-receivable/config-paramtrs-collections-proc-automate.md
Owners: @roschlom

Edited
  articles/supply-chain/warehousing/reason-codes-for-counting-journals.md
Owners: @kamaybac

Update development-tools-overview.md
  articles/fin-ops-core/dev-itpro/dev-tools/development-tools-overview.md
Owners: @robinarh

Update development-tools-overview.md
  articles/fin-ops-core/dev-itpro/dev-tools/development-tools-overview.md
Owners: @robinarh

Update whats-new-platform-updates-10-0-21.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-21.md
Owners: @sericks007

Update development-tools-overview.md
  articles/fin-ops-core/dev-itpro/dev-tools/development-tools-overview.md
Owners: @robinarh

Update removed-deprecated-features-commerce.md
  articles/commerce/get-started/removed-deprecated-features-commerce.md
Owners: @josaw1

Add images
  articles/supply-chain/inventory/inventory-visibility-power-platfrom.md
  articles/supply-chain/inventory/inventory-visibility-reservations.md
Owners: @kamaybac

add images
  articles/supply-chain/inventory/media/Inventory-visibility-query-settings.png
  articles/supply-chain/inventory/media/inventory-visibility-dimension-mapping.png
  articles/supply-chain/inventory/media/inventory-visibility-onhand-list.png
  articles/supply-chain/inventory/media/unblock-file.png
Owners: @kamaybac

remove file with upper case name
  articles/supply-chain/inventory/media/Inventory-visibility-query-settings.png
Owners: @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@sericks007
/articles/fin-ops-core/dev-itpro/analytics	@sericks007
/articles/fin-ops-core/dev-itpro/business-events @sericks007
/articles/fin-ops-core/dev-itpro/data-entities	@sericks007
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@robinarh
/articles/fin-ops-core/dev-itpro/database	@sericks007
/articles/fin-ops-core/dev-itpro/deployment	@sericks007 
/articles/fin-ops-core/dev-itpro/dev-ref @robinarh
/articles/fin-ops-core/dev-itpro/dev-tools @robinarh
/articles/fin-ops-core/dev-itpro/extensibility @robinarh
/articles/fin-ops-core/dev-itpro/financial @robinarh
/articles/fin-ops-core/dev-itpro/gdpr @robinarh
/articles/fin-ops-core/dev-itpro/get-started	@sericks007
/articles/fin-ops-core/dev-itpro/help @sericks007
/articles/fin-ops-core/dev-itpro/includes @robinarh
/articles/fin-ops-core/dev-itpro/lcs-solutions	@sericks007
/articles/fin-ops-core/dev-itpro/lifecycle-services	@sericks007
/articles/fin-ops-core/dev-itpro/media	@sericks007
/articles/fin-ops-core/dev-itpro/migration-upgrade	@sericks007
/articles/fin-ops-core/dev-itpro/mobile-apps	@sericks007
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@robinarh
/articles/fin-ops-core/dev-itpro/office-integration	@sericks007
/articles/fin-ops-core/dev-itpro/perf-test	@robinarh
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@robinarh
/articles/fin-ops-core/dev-itpro/sysadmin	@sericks007
/articles/fin-ops-core/dev-itpro/user-interface	@sericks007
/articles/fin-ops-core/fin-ops @robinarh
/articles/fin-ops-core/fin-ops/get-started @sericks007
/articles/fin-ops-core/fin-ops/hr @andreabichsel
/articles/fin-ops-core/fin-ops/imp-lifecycle @sericks007
/articles/fin-ops-core/fin-ops/includes @sericks007
/articles/fin-ops-core/fin-ops/organization-administration @sericks007
/articles/finance	@roschlom
/articles/finance/accounts-payable	@roschlom
/articles/finance/asset-leasing	@roschlom
/articles/finance/budgeting	@roschlom
/articles/finance/cash-bank-management	@roschlom
/articles/finance/cost-accounting	@roschlom @josaw
/articles/finance/expense-management	 @roschlom
/articles/finance/fixed-assets	 @roschlom
/articles/finance/general-ledger 	@roschlom
/articles/finance/get-started 	@roschlom
/articles/finance/includes 	@roschlom
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@roschlom
/articles/fin-and-ops/get-started	@sericks007 @kfend
/articles/fin-and-ops/hr	@andreabichsel
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@sericks007
/articles/human-resources @andreabichsel
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @robinarh
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @andreabichsel
