Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update whats-new-home-page.md
  articles/human-resources/whats-new-home-page.md
Owners: @twheeloc

Update hr-whats-new-10-0-35.md
  articles/human-resources/get-started/hr-whats-new-10-0-35.md
Owners: @twheeloc

Update hr-whats-new-37.md
  articles/human-resources/get-started/hr-whats-new-37.md
Owners: @twheeloc

Update and rename business-performance-analytics-data-model to business-performance-analytics-data-model.md
  articles/finance/business-performance-analytics/business-performance-analytics-data-model.md
Owners: @twheeloc

Rename hr-whats-new-37.md to hr-whats-new-10-0-37.md
  articles/human-resources/get-started/hr-whats-new-10-0-37.md
Owners: @twheeloc

review
  articles/supply-chain/asset-management/work-orders/material-availability-check-work-orders.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update hr-whats-new-10-0-37.md
  articles/human-resources/get-started/hr-whats-new-10-0-37.md
Owners: @twheeloc

Rename whats-new-changed-37.md to whats-new-changed-10-0-37.md
  articles/finance/get-started/whats-new-changed-10-0-37.md
Owners: @twheeloc

Update hr-whats-new-10-0-37.md
  articles/human-resources/get-started/hr-whats-new-10-0-37.md
Owners: @twheeloc

Add KB link
  articles/supply-chain/get-started/whats-new-scm-10-0-37.md
Owners: @kamaybac

Update whats-new-platform-updates-10-0-37.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-37.md
Owners: @johnmichalak

policheck fixes
  articles/commerce/country-region-picker-module.md
  articles/fin-ops-core/dev-itpro/lcs-solutions/country-region.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-changed-8-1-3.md
  articles/finance/localizations/e-invoicing-faq.md
  articles/finance/localizations/emea-aut-intrastat.md
  articles/finance/localizations/emea-esp-intra-community-vat.md
  articles/finance/localizations/emea-registration-ids.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations.md
  articles/finance/localizations/ltm-core-address-setup.md
  articles/human-resources/hr-admin-integration-ats-api-candidate-to-hire.md
  articles/human-resources/hr-admin-integration-ats-api-person.md
  articles/human-resources/hr-benefits-setup-parameters.md
  articles/supply-chain/procurement/tasks/create-vendor-account.md
Owners: @josaw1, @johnmichalak, @kfend, @twheeloc, @kamaybac

Update business-performance-analytics-data-model.md
  articles/finance/business-performance-analytics/business-performance-analytics-data-model.md
Owners: @twheeloc

Edited
  articles/human-resources/get-started/hr-whats-new-10-0-37.md
Owners: @twheeloc

Update edit-order-trans.md
  articles/commerce/edit-order-trans.md
Owners: @josaw1

Update install-configure-warehouse-management-app.md
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
Owners: @kamaybac

review
  articles/supply-chain/asset-management/work-orders/material-availability-check-work-orders.md
Owners: @kamaybac

review
  articles/supply-chain/asset-management/work-orders/material-availability-check-work-orders.md
Owners: @kamaybac

Update source-from-multiple-vendors.md
  articles/supply-chain/master-planning/source-from-multiple-vendors.md
Owners: @kamaybac

review
  articles/supply-chain/inventory/quality-associations.md
  articles/supply-chain/warehousing/configure-mobile-devices-warehouse.md
  articles/supply-chain/warehousing/media/wms-only-internal-wom-process.svg
  articles/supply-chain/warehousing/mixed-license-plate-receiving.md
  articles/supply-chain/warehousing/warehouse-slotting.md
  articles/supply-chain/warehousing/wms-only-mode-exchange-data.md
Owners: @kamaybac

review
  articles/supply-chain/inventory/quality-associations.md
  articles/supply-chain/warehousing/wms-only-mode-faq.md
  articles/supply-chain/warehousing/wms-only-mode-setup.md
  articles/supply-chain/warehousing/wms-only-mode-using.md
Owners: @kamaybac

Update e-invoicing-set-up-rcs.md
  articles/finance/localizations/e-invoicing-set-up-rcs.md
Owners: @kfend

review
  articles/supply-chain/inventory/quality-associations.md
  articles/supply-chain/warehousing/warehouse-slotting.md
  articles/supply-chain/warehousing/wms-only-mode-faq.md
  articles/supply-chain/warehousing/wms-only-mode-using.md
Owners: @kamaybac

review
  articles/supply-chain/warehousing/wms-only-mode-exchange-data.md
Owners: @kamaybac

Update validate-pack.md
  articles/fin-ops-core/dev-itpro/deployment/validate-pack.md
Owners: @johnmichalak

Update hr-admin-overview.md
  articles/human-resources/hr-admin-overview.md
Owners: @twheeloc

Update hr-cust-migration.md
  articles/human-resources/hr-cust-migration.md
Owners: @twheeloc

Update customer-migration.md
  articles/human-resources/customer-migration.md
Owners: @twheeloc

review
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash-concept.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash-enable.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash-use.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/dual-write-prospect-to-cash.md
  articles/fin-ops-core/dev-itpro/toc.yml
  articles/supply-chain/get-started/whats-new-scm-10-0-33.md
  articles/supply-chain/get-started/whats-new-scm-10-0-34.md
Owners: @josaw1, @johnmichalak, @kamaybac

review
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash-concept.md
Owners: @josaw1

Update business-performance-analytics-data-model.md
  articles/finance/business-performance-analytics/business-performance-analytics-data-model.md
Owners: @twheeloc

Update edit-order-trans.md
  articles/commerce/edit-order-trans.md
Owners: @josaw1

Update removed-deprecated-features-finance.md
  articles/finance/get-started/removed-deprecated-features-finance.md
Owners: @twheeloc

Create ltm-core-field-master-lists.md
  articles/finance/localizations/ltm-core-field-master-lists.md
Owners: @kfend

Update pos-serialized-items.md
  articles/commerce/pos-serialized-items.md
Owners: @josaw1

Update whats-new-home-page.md
  articles/finance/get-started/whats-new-home-page.md
Owners: @twheeloc

Update apac-chn-import-golden-tax-data-entity.md
  articles/finance/localizations/apac-chn-import-golden-tax-data-entity.md
Owners: @kfend

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update apac-idn-wht-declaration.md
  articles/finance/localizations/apac-idn-wht-declaration.md
Owners: @kfend

Update faq-for-chat-with-fno-data-on-m365copilot.md
  articles/fin-ops-core/dev-itpro/m365-copilot/faq-for-chat-with-fno-data-on-m365copilot.md
Owners: @johnmichalak

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
