Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update share-products-across-companies.md
  articles/supply-chain/pim/share-products-across-companies.md
Owners: @kamaybac

Update share-products-across-companies.md
  articles/supply-chain/pim/share-products-across-companies.md
Owners: @kamaybac

Update respond-dsr-request-talent.md
  articles/fin-ops-core/dev-itpro/gdpr/respond-dsr-request-talent.md
Owners: @josaw1

review
  articles/supply-chain/landed-cost/landed-cost-enable.md
  articles/supply-chain/landed-cost/manage-shipping-containers.md
Owners: @kamaybac

Update respond-dsr-request-talent.md
  articles/fin-ops-core/dev-itpro/gdpr/respond-dsr-request-talent.md
Owners: @josaw1

Update planning-optimization-trouble-shooting.md
  articles/supply-chain/master-planning/planning-optimization/planning-optimization-trouble-shooting.md
Owners: @kamaybac

3 Acrolinx fixes
  articles/finance/finance-troubleshooting.md
Owners: @twheeloc

Update enable-power-platform-integration.md
  articles/fin-ops-core/dev-itpro/power-platform/enable-power-platform-integration.md
Owners: @sericks007

Update extended-logon.md
  articles/commerce/extended-logon.md
Owners: @josaw1

Update cookie-compliance.md
  articles/commerce/cookie-compliance.md
Owners: @josaw1

Update connectors.md
  articles/commerce/e-commerce-extensibility/connectors.md
Owners: @josaw1

Update targeting-overview.md
  articles/commerce/targeting-overview.md
Owners: @josaw1

Update implementation-offline-troubleshooting.md
  articles/commerce/dev-itpro/implementation-offline-troubleshooting.md
Owners: @josaw1

Update noam-usa-benefit-set-up-tasks.md
  articles/fin-ops-core/fin-ops/hr/localizations/noam-usa-benefit-set-up-tasks.md
Owners: @twheeloc

Update finance-troubleshooting.md
  articles/finance/finance-troubleshooting.md
Owners: @twheeloc

Update cases.md
  articles/fin-ops-core/fin-ops/organization-administration/cases.md
Owners: @johnmichalak

Update cases.md
  articles/fin-ops-core/fin-ops/organization-administration/cases.md
Owners: @johnmichalak

Update cases.md
  articles/fin-ops-core/fin-ops/organization-administration/cases.md
Owners: @johnmichalak

Update cases.md
  articles/fin-ops-core/fin-ops/organization-administration/cases.md
Owners: @johnmichalak

Reviewed updated sections (+fixed issue flagged by spelling/grammar check)
  articles/supply-chain/landed-cost/shipping-information-setup.md
Owners: @kamaybac

Edited updated sections
  articles/supply-chain/landed-cost/landed-cost-enable.md
Owners: @kamaybac

Edited updated sections
  articles/supply-chain/landed-cost/manage-shipping-containers.md
Owners: @kamaybac

Reviewed updated sections (+ fixed issue flagged by spelling/grammar check)
  articles/supply-chain/inventory/inventory-visibility-configuration.md
Owners: @kamaybac

Reviewed updated sections (+fixed issue flagged by spelling/grammar check)
  articles/supply-chain/inventory/inventory-visibility-setup.md
Owners: @kamaybac

Update finance-troubleshooting.md
  articles/finance/finance-troubleshooting.md
Owners: @twheeloc

Update finance-troubleshooting.md
  articles/finance/finance-troubleshooting.md
Owners: @twheeloc

Update finance-troubleshooting.md
  articles/finance/finance-troubleshooting.md
Owners: @twheeloc

Update add-change-acctg-rprtg-crrncy.md
  articles/finance/general-ledger/add-change-acctg-rprtg-crrncy.md
Owners: @twheeloc

Update view-journal-entries-or-transactions.md
  articles/finance/general-ledger/tasks/view-journal-entries-or-transactions.md
Owners: @twheeloc

Update rev-rec-bundles.md
  articles/finance/accounts-receivable/rev-rec-bundles.md
Owners: @twheeloc

fixed link
  articles/fin-ops-core/dev-itpro/sysadmin/customer-lockbox.md
Owners: @johnmichalak

Update overview-workflow-system.md
  articles/fin-ops-core/fin-ops/organization-administration/overview-workflow-system.md
Owners: @johnmichalak

Update configure-approval-step-workflow.md
  articles/fin-ops-core/fin-ops/organization-administration/configure-approval-step-workflow.md
Owners: @johnmichalak

Update qa-address-books.md
  articles/fin-ops-core/fin-ops/organization-administration/qa-address-books.md
Owners: @johnmichalak

Update qa-address-books.md
  articles/fin-ops-core/fin-ops/organization-administration/qa-address-books.md
Owners: @johnmichalak

Update workflow-actions.md
  articles/fin-ops-core/fin-ops/organization-administration/workflow-actions.md
Owners: @johnmichalak

Update create-vendor-payments-payment-proposal.md
  articles/finance/accounts-payable/create-vendor-payments-payment-proposal.md
Owners: @twheeloc

Update settle-partial-vendor-payment-before-discount-or-final-payment-after.md
  articles/finance/accounts-payable/settle-partial-vendor-payment-before-discount-or-final-payment-after.md
Owners: @twheeloc

Update settle-partial-vendor-payment-discounts-vendor-credit-notes.md
  articles/finance/accounts-payable/settle-partial-vendor-payment-discounts-vendor-credit-notes.md
Owners: @twheeloc

Update settle-partial-vendor-payment-multiple-discount-periods.md
  articles/finance/accounts-payable/settle-partial-vendor-payment-multiple-discount-periods.md
Owners: @twheeloc
