Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Rename ltm-create-customer-and-vendor-Panama.md to ltm-create-customer-vendor-panama.md
  articles/finance/localizations/iberoamerica/ltm-create-customer-vendor-panama.md
Owners: @kfend

Update and rename ltm-Set-up-legal-entity-and-tax-Nicaragua.md to ltm-set-up-legal-entity-tax-nicaragua.md
  articles/finance/localizations/iberoamerica/ltm-set-up-legal-entity-tax-nicaragua.md
Owners: @kfend

Update and rename ltm-create-customer-and-vendor-Nicaragua.md to ltm-create-customer-vendor-nicaragua.md
  articles/finance/localizations/iberoamerica/ltm-create-customer-vendor-nicaragua.md
Owners: @kfend

Update ltm-chile-fees-certificate-resume.md
  articles/finance/localizations/iberoamerica/ltm-chile-fees-certificate-resume.md
Owners: @kfend

Update ltm-chile-fees-certificate-resume.md
  articles/finance/localizations/iberoamerica/ltm-chile-fees-certificate-resume.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update ltm-8-columns-report.md
  articles/finance/localizations/iberoamerica/ltm-8-columns-report.md
Owners: @kfend

Update ltm-chile-fees-certificate-resume.md
  articles/finance/localizations/iberoamerica/ltm-chile-fees-certificate-resume.md
Owners: @kfend

Update ltm-chile-withholding-book.md
  articles/finance/localizations/iberoamerica/ltm-chile-withholding-book.md
Owners: @kfend

Update ltm-vat-book.md
  articles/finance/localizations/iberoamerica/ltm-vat-book.md
Owners: @kfend

Update ltm-Chile-conf-electronic-invoice.md
  articles/finance/localizations/iberoamerica/ltm-Chile-conf-electronic-invoice.md
Owners: @kfend

Update dbmovement-scenario-goldenconfig.md
  articles/fin-ops-core/dev-itpro/database/dbmovement-scenario-goldenconfig.md
Owners: @johnmichalak

update docs
  articles/commerce/price-change-tracking.md
  articles/commerce/set-up-assortments.md
Owners: @josaw1

update
  articles/commerce/TOC.yml
  articles/commerce/about-setting-up-retail-product-kits.md
  articles/commerce/create-retail-product-kits.md
  articles/commerce/generate-assembly-and-disassembly-orders.md
  articles/commerce/media/Dn497848.RetailProductKitsProcessFlow(AX.60).gif
  articles/commerce/media/Dn497863.KitBiggerProcess(AX.60).gif
  articles/commerce/media/Dn497863.SetupProductKits(AX.60).gif
  articles/commerce/process-kit-assembly-and-disassembly-orders.md
Owners: @josaw1

Update emea-deu-vat-declaration-germany.md
  articles/finance/localizations/germany/emea-deu-vat-declaration-germany.md
Owners: @kfend

review
  articles/supply-chain/asset-management/objects/change-asset-type.md
  articles/supply-chain/asset-management/objects/change-objecttype.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update get-started.md
  articles/supply-chain/master-planning/planning-optimization/get-started.md
Owners: @kamaybac

Update ltm-latam-in-customer-payment.md
  articles/finance/localizations/iberoamerica/ltm-latam-in-customer-payment.md
Owners: @kfend

Update whats-new-changed-10-0-38.md
  articles/finance/get-started/whats-new-changed-10-0-38.md
Owners: @twheeloc

Update planning-optimization-differences-with-built-in.md
  articles/supply-chain/master-planning/planning-optimization/planning-optimization-differences-with-built-in.md
Owners: @kamaybac

add deprecation details
  articles/supply-chain/get-started/removed-deprecated-features-scm-updates.md
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
  articles/supply-chain/warehousing/warehouse-app-authenticate-service-based.md
  articles/supply-chain/warehousing/warehouse-app-intune-user-based.md
Owners: @kamaybac

Update removed-deprecated-features-scm-updates.md
  articles/supply-chain/get-started/removed-deprecated-features-scm-updates.md
Owners: @kamaybac

review
  articles/supply-chain/get-started/removed-deprecated-features-scm-updates.md
Owners: @kamaybac

Update ltm-latam-in-vendor-payment.md
  articles/finance/localizations/iberoamerica/ltm-latam-in-vendor-payment.md
Owners: @kfend

Update whats-new-changed-10-0-38.md
  articles/finance/get-started/whats-new-changed-10-0-38.md
Owners: @twheeloc

Update planning-optimization-differences-with-built-in.md
  articles/supply-chain/master-planning/planning-optimization/planning-optimization-differences-with-built-in.md
Owners: @kamaybac

edit
  articles/supply-chain/get-started/removed-deprecated-features-scm-updates.md
Owners: @kamaybac

Update quality-updates-schedule.md
  articles/fin-ops-core/dev-itpro/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Update ltm-Panama-EI-connec-configuration.md
  articles/finance/localizations/iberoamerica/ltm-Panama-EI-connec-configuration.md
Owners: @kfend

Update emea-cze-eu-sales-list.md
  articles/finance/localizations/czech-republic/emea-cze-eu-sales-list.md
Owners: @kfend

Update emea-cze-vat-declaration-tax-declaration-model.md
  articles/finance/localizations/czech-republic/emea-cze-vat-declaration-tax-declaration-model.md
Owners: @kfend

Update and rename ltm-Costa-Rica-EI-connec-configuration.md to ltm-costa-rica-ei-connec-configuration.md
  articles/finance/localizations/iberoamerica/ltm-Costa-Rica-EI-connec-configuration.md
  articles/finance/localizations/iberoamerica/ltm-costa-rica-ei-connec-configuration.md
Owners: @kfend

Update ltm-Chile-conf-electronic-invoice.md
  articles/finance/localizations/iberoamerica/ltm-Chile-conf-electronic-invoice.md
Owners: @kfend

Update remove-csu-package.md
  articles/commerce/dev-itpro/retail-sdk/remove-csu-package.md
Owners: @josaw1

review
  articles/supply-chain/master-planning/planning-optimization/planning-optimization-differences-with-built-in.md
Owners: @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
