Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update planning-optimization-differences-with-built-in.md
  articles/supply-chain/master-planning/planning-optimization/planning-optimization-differences-with-built-in.md
Owners: @kamaybac

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update whats-new-ve.md
  articles/fin-ops-core/dev-itpro/power-platform/whats-new-ve.md
Owners: @sericks007

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update whats-new-ve.md
  articles/fin-ops-core/dev-itpro/power-platform/whats-new-ve.md
Owners: @sericks007

Update troubleshooting.md
  articles/fin-ops-core/dev-itpro/business-events/troubleshooting.md
Owners: @johnmichalak

Create che-be-ve-error.md
  articles/fin-ops-core/dev-itpro/business-events/che-be-ve-error.md
Owners: @johnmichalak

Update che-be-ve-error.md
  articles/fin-ops-core/dev-itpro/business-events/che-be-ve-error.md
Owners: @johnmichalak

policheck fixes
  articles/finance/accounts-payable/create-vendor-payments-payment-proposal.md
  articles/finance/general-ledger/indirect-taxes-overview.md
  articles/finance/localizations/e-invoicing-bra-get-started.md
  articles/finance/localizations/emea-cze-intrastat.md
  articles/finance/localizations/emea-reverse-charge.md
  articles/finance/localizations/tasks/set-up-invoice-declaration-vendors.md
Owners: @twheeloc, @kfend

Update xpp-operators.md
  articles/fin-ops-core/dev-itpro/dev-ref/xpp-operators.md
Owners: @josaw1

Update async-customer-mode.md
  articles/commerce/async-customer-mode.md
Owners: @josaw1

Update CollectionsWorkspace.md
  articles/finance/accounts-receivable/CollectionsWorkspace.md
Owners: @twheeloc

WOM-36
  articles/supply-chain/supply-chain-dev/message-processor.md
  articles/supply-chain/supply-chain-dev/warehouse-management-only-mode.md
  articles/supply-chain/warehousing/create-or-modify-an-inbound-load.md
  articles/supply-chain/warehousing/import-asn-data-entity.md
  articles/supply-chain/warehousing/warehouse-management-only-mode.md
  articles/supply-chain/warehousing/warehouse-message-processor-messages.md
Owners: @kamaybac

WOM-36
  articles/supply-chain/warehousing/warehouse-management-only-mode.md
Owners: @kamaybac

WOM-36
  articles/supply-chain/warehousing/warehouse-management-only-mode.md
Owners: @kamaybac

Update emea-fra-VAT-declaration-preview-France.md
  articles/finance/localizations/emea-fra-VAT-declaration-preview-France.md
Owners: @kfend

review
  articles/supply-chain/inventory/inventory-visibility-setup.md
  articles/supply-chain/inventory/inventory-visibility-tips.md
Owners: @kamaybac

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update inventory-visibility-setup.md
  articles/supply-chain/inventory/inventory-visibility-setup.md
Owners: @kamaybac

fix labels
  articles/supply-chain/sales-marketing/tasks/create-new-trade-agreement.md
Owners: @kamaybac

review
  articles/supply-chain/sales-marketing/tasks/create-new-trade-agreement.md
Owners: @kamaybac

policheck fixes
  articles/commerce/e-commerce-localization-guide.md
  articles/commerce/localizations/rus-simplified-address.md
  articles/fin-ops-core/dev-itpro/analytics/general-electronic-reporting-manage-configuration-lifecycle.md
  articles/fin-ops-core/dev-itpro/analytics/tasks/er-upgrade-format.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-changed-10-0-2.md
  articles/finance/get-started/whats-new-changed-10-0-14.md
  articles/finance/get-started/whats-new-changed-10-0-15.md
  articles/finance/get-started/whats-new-changed-10-0-30.md
  articles/finance/get-started/whats-new-changed-10-0-34.md
  articles/finance/get-started/whats-new-changed-10-0-35.md
  articles/finance/get-started/whats-new-changed-10-0-9.md
  articles/finance/get-started/whats-new-changed-changed-10-0-33.md
  articles/finance/localizations/emea-ISO20022-file-formats.md
  articles/finance/localizations/emea-aut-intrastat.md
  articles/finance/localizations/emea-che-swiss-qr-bills.md
  articles/finance/localizations/emea-fiscal-service-integration.md
  articles/finance/localizations/emea-intrastat.md
  articles/finance/localizations/emea-ita-withholding-tax.md
  articles/finance/localizations/emea-oioubl-standards-electronic-invoicing.md
  articles/finance/localizations/emea-set-up-report-inventory-journal-names.md
  articles/finance/localizations/ind-news-letter-10-0-15-19.md
  articles/finance/localizations/ltm-core-journal-name-configuration..md
  articles/finance/localizations/ltm-core-latam-parameters.md
  articles/finance/localizations/ltm-core-sales-invoice-posting-latam.md
  articles/finance/localizations/tasks/create-post-customer-invoice-public-sector-customer.md
  articles/finance/localizations/tasks/create-post-free-text-invoice-public-sector-customer.md
  articles/finance/localizations/tasks/eur-00015-vat-id.md
  articles/finance/localizations/tasks/transfer-transactions-intrastat.md
Owners: @josaw1, @johnmichalak, @twheeloc, @kfend

Update collections-coordinator-summary-faq.md
  articles/finance/accounts-receivable/collections-coordinator-summary-faq.md
Owners: @twheeloc

Update Reassign-CSU.md
  articles/fin-ops-core/dev-itpro/deployment/Reassign-CSU.md
Owners: @johnmichalak

Update implementation-offline-troubleshooting.md
  articles/commerce/dev-itpro/implementation-offline-troubleshooting.md
Owners: @josaw1

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update catalogs-b2b-sites.md
  articles/commerce/catalogs-b2b-sites.md
Owners: @josaw1

Delete Catalog-Picker-Route-Site-Extensions.png
  articles/commerce/media/Catalog-Picker-Route-Site-Extensions.png
Owners: @josaw1

Update CollectionsCoordinatorSummary.md
  articles/finance/accounts-receivable/CollectionsCoordinatorSummary.md
Owners: @twheeloc

Update catalogs-b2b-sites-FAQ.md
  articles/commerce/catalogs-b2b-sites-FAQ.md
Owners: @josaw1

Update catalogs-b2b-sites-FAQ.md
  articles/commerce/catalogs-b2b-sites-FAQ.md
Owners: @josaw1

Update implementation-offline-troubleshooting.md
  articles/commerce/dev-itpro/implementation-offline-troubleshooting.md
Owners: @josaw1

Update Reassign-CSU.md
  articles/fin-ops-core/dev-itpro/deployment/Reassign-CSU.md
Owners: @johnmichalak

Update implementation-offline-troubleshooting.md
  articles/commerce/dev-itpro/implementation-offline-troubleshooting.md
Owners: @josaw1

Update catalogs-b2b-sites-FAQ.md
  articles/commerce/catalogs-b2b-sites-FAQ.md
Owners: @josaw1

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
