Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update latam-bra-scope.md
  articles/finance/localizations/latam-bra-scope.md
Owners: @kfend

Update hr-migration-admin-go-live-readiness-review.md
  articles/human-resources/hr-migration-admin-go-live-readiness-review.md
Owners: @twheeloc

Update hr-migration-admin-go-live-readiness-review.md
  articles/human-resources/hr-migration-admin-go-live-readiness-review.md
Owners: @twheeloc

Update hr-migration-admin-go-live-readiness-review.md
  articles/human-resources/hr-migration-admin-go-live-readiness-review.md
Owners: @twheeloc

edit
  articles/supply-chain/cost-management/cost-calculation-level.md
  articles/supply-chain/cost-management/inventory-aging-report-storage.md
  articles/supply-chain/get-started/whats-new-scm-10-0-33.md
  articles/supply-chain/get-started/whats-new-scm-10-0-36.md
  articles/supply-chain/landed-cost/landed-cost-enable.md
  articles/supply-chain/landed-cost/manage-shipping-containers.md
  articles/supply-chain/master-planning/demand-forecasting-setup.md
  articles/supply-chain/master-planning/make-to-order-supply-automation.md
  articles/supply-chain/master-planning/planning-optimization/capability-based-scheduling.md
  articles/supply-chain/master-planning/planning-optimization/delay-tolerance.md
  articles/supply-chain/master-planning/planning-optimization/infinite-capacity-planning.md
  articles/supply-chain/master-planning/planning-optimization/marking.md
Owners: @kamaybac

Update latam-bra-scope.md
  articles/finance/localizations/latam-bra-scope.md
Owners: @kfend

Update latam-bra-sped-reinf.md
  articles/finance/localizations/latam-bra-sped-reinf.md
Owners: @kfend

Update latam-bra-sped-reinf.md
  articles/finance/localizations/latam-bra-sped-reinf.md
Owners: @kfend

Update latam-bra-sped-reinf-electronic-messages.md
  articles/finance/localizations/latam-bra-sped-reinf-electronic-messages.md
Owners: @kfend

Update latam-bra-sped-reinf-electronic-messages.md
  articles/finance/localizations/latam-bra-sped-reinf-electronic-messages.md
Owners: @kfend

Update latam-bra-sped-reinf-overview.md
  articles/finance/localizations/latam-bra-sped-reinf-overview.md
Owners: @kfend

Update latam-bra-sped-reinf-overview.md
  articles/finance/localizations/latam-bra-sped-reinf-overview.md
Owners: @kfend

Update latam-bra-sped-reinf-setup-fiscal-books.md
  articles/finance/localizations/latam-bra-sped-reinf-setup-fiscal-books.md
Owners: @kfend

Update latam-bra-sped-reinf-setup-fiscal-books.md
  articles/finance/localizations/latam-bra-sped-reinf-setup-fiscal-books.md
Owners: @kfend

Create latam-bra-sped-fiscal-establishment.md
  articles/finance/localizations/latam-bra-sped-fiscal-establishment.md
Owners: @kfend

Update latam-bra-sped-reinf.md
  articles/finance/localizations/latam-bra-sped-reinf.md
Owners: @kfend

Update plan-local-chart-of-accounts.md
  articles/finance/general-ledger/plan-local-chart-of-accounts.md
Owners: @twheeloc

Update quality-updates-schedule.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Update business-performance-analytics-home-page.md
  articles/finance/business-performance-analytics/business-performance-analytics-home-page.md
Owners: @twheeloc

edit
  articles/supply-chain/faq-confirmed-po-changes.md
  articles/supply-chain/faq-sdi-spike.md
Owners: @kamaybac

37-recv-completed
  articles/supply-chain/warehousing/inbound-load-handling.md
  articles/supply-chain/warehousing/media/inbound-process.svg
Owners: @kamaybac

edit
  articles/supply-chain/get-started/whats-new-scm-10-0-34.md
  articles/supply-chain/landed-cost/estimate-manage-landed-costs.md
  articles/supply-chain/landed-cost/landed-cost-enable.md
  articles/supply-chain/landed-cost/manage-shipping-containers.md
  articles/supply-chain/landed-cost/manage-voyages.md
Owners: @kamaybac

edit
  articles/supply-chain/landed-cost/manage-voyages.md
Owners: @kamaybac

Update apac-aus-nzl-e-invoices.md
  articles/finance/localizations/apac-aus-nzl-e-invoices.md
Owners: @kfend

Update latam-bra-sped-fiscal-establishment.md
  articles/finance/localizations/latam-bra-sped-fiscal-establishment.md
Owners: @kfend

Update latam-bra-sped-reinf-setup-fiscal-books.md
  articles/finance/localizations/latam-bra-sped-reinf-setup-fiscal-books.md
Owners: @kfend

Update latam-bra-sped-reinf.md
  articles/finance/localizations/latam-bra-sped-reinf.md
Owners: @kfend

Update latam-bra-sped-fiscal-establishment.md
  articles/finance/localizations/latam-bra-sped-fiscal-establishment.md
Owners: @kfend

Update landed-cost-enable.md
  articles/supply-chain/landed-cost/landed-cost-enable.md
Owners: @kamaybac

Update landed-cost-enable.md
  articles/supply-chain/landed-cost/landed-cost-enable.md
Owners: @kamaybac

Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Owners: none

Rename index.md to welcome.md
  articles/human-resources/welcome.md
Owners: @twheeloc

Update apac-aus-nzl-electronic-invoices.md
  articles/finance/localizations/apac-aus-nzl-electronic-invoices.md
Owners: @kfend

Create index.yml
  articles/human-resources/index.yml
Owners: @twheeloc

Update toc.yml
  articles/human-resources/toc.yml
Owners: @twheeloc

update feature states
  articles/finance/accounts-payable/maintain-vendor-bank-info.md
  articles/supply-chain/engineering-change-management/product-engineering-overview.md
  articles/supply-chain/get-started/whats-new-scm-10-0-21.md
  articles/supply-chain/get-started/whats-new-scm-10-0-25.md
  articles/supply-chain/get-started/whats-new-scm-10-0-36.md
  articles/supply-chain/landed-cost/landed-cost-enable.md
  articles/supply-chain/master-planning/planning-optimization/calculate-delivery-dates-using-ctp.md
  articles/supply-chain/master-planning/planning-optimization/ddmrp-enable.md
  articles/supply-chain/master-planning/planning-optimization/not-used-parameters.md
  articles/supply-chain/master-planning/planning-optimization/planning-optimization-fit-analysis.md
  articles/supply-chain/master-planning/planning-optimization/priority-based-planning.md
  articles/supply-chain/master-planning/source-from-multiple-vendors.md
  articles/supply-chain/pim/product-dimensions.md
  articles/supply-chain/procurement/sealed-bidding.md
  articles/supply-chain/procurement/supply-risk-assessment-configuration.md
  articles/supply-chain/production-control/deferred-posting.md
  articles/supply-chain/production-control/production-floor-execution-configure.md
  articles/supply-chain/production-control/report-finished-job-device.md
  articles/supply-chain/rebate-management/rebate-management-enable.md
  articles/supply-chain/sales-marketing/calc-line-net-amounts-import.md
  articles/supply-chain/toc.yml
  articles/supply-chain/transportation/assign-shipments-to-segments.md
  articles/supply-chain/warehousing/gs1-barcodes.md
  articles/supply-chain/warehousing/inbound-load-handling.md
  articles/supply-chain/warehousing/packing-work.md
  articles/supply-chain/warehousing/warehouse-work-policies.md
  articles/supply-chain/warehousing/warehousing-mobile-device-app-license-plate-receiving.md
Owners: @twheeloc, @kamaybac

Update apac-aus-nzl-electronic-invoices.md
  articles/finance/localizations/apac-aus-nzl-electronic-invoices.md
Owners: @kfend

Update apac-jpn-consolidate-invoices.md
  articles/finance/localizations/apac-jpn-consolidate-invoices.md
Owners: @kfend

Update business-performance-analytics-home-page.md
  articles/finance/business-performance-analytics/business-performance-analytics-home-page.md
Owners: @twheeloc

Update apac-jpn-consolidate-invoices.md
  articles/finance/localizations/apac-jpn-consolidate-invoices.md
Owners: @kfend
