Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

review
  articles/supply-chain/faq-sdi-spike.md
Owners: @kamaybac

Update inventory-visibility-api.md
  articles/supply-chain/inventory/inventory-visibility-api.md
Owners: @kamaybac

edit
  articles/supply-chain/master-planning/continue-using-deprecated-planning.md
Owners: @kamaybac

review
  articles/supply-chain/master-planning/continue-using-deprecated-planning.md
Owners: @kamaybac

update to Entra ID branding
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
  articles/supply-chain/warehousing/warehouse-app-intune.md
Owners: @kamaybac

remove images
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
Owners: @kamaybac

Update continue-using-deprecated-planning.md
  articles/supply-chain/master-planning/continue-using-deprecated-planning.md
Owners: @kamaybac

Update release-process.md
  articles/supply-chain/master-planning/planning-optimization/release-process.md
Owners: @kamaybac

Update release-process.md
  articles/supply-chain/master-planning/planning-optimization/release-process.md
Owners: @kamaybac

Update deprecated-master-planning-overview.md
  articles/supply-chain/master-planning/deprecated-master-planning-overview.md
Owners: @kamaybac

review
  articles/supply-chain/inventory/inventory-visibility-dashboard.md
Owners: @kamaybac

Update hr-admin-payroll-api-integration-dayforce.md
  articles/human-resources/hr-admin-payroll-api-integration-dayforce.md
Owners: @twheeloc

Update hr-admin-payroll-api-integration-dayforce.md
  articles/human-resources/hr-admin-payroll-api-integration-dayforce.md
Owners: @twheeloc

Update hr-admin-integration-dayforce.md
  articles/human-resources/hr-admin-integration-dayforce.md
Owners: @twheeloc

Update hr-admin-payroll-api-integration-dayforce.md
  articles/human-resources/hr-admin-payroll-api-integration-dayforce.md
Owners: @twheeloc

Update hr-admin-payroll-api-integration-dayforce.md
  articles/human-resources/hr-admin-payroll-api-integration-dayforce.md
Owners: @twheeloc

Update emea-swe-payment-periods-statistics.md
  articles/finance/localizations/emea-swe-payment-periods-statistics.md
Owners: @kfend

Update hr-admin-payroll-api-integration-dayforce.md
  articles/human-resources/hr-admin-payroll-api-integration-dayforce.md
Owners: @twheeloc

Update project-migration-manager.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/project-migration-manager.md
Owners: @johnmichalak

Update lcs-works-lcs.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/lcs-works-lcs.md
Owners: @johnmichalak

Update lcs-works-lcs.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/lcs-works-lcs.md
Owners: @johnmichalak

Update hr-admin-payroll-api-integration-dayforce.md
  articles/human-resources/hr-admin-payroll-api-integration-dayforce.md
Owners: @twheeloc

Update hr-admin-payroll-api-integration-dayforce.md
  articles/human-resources/hr-admin-payroll-api-integration-dayforce.md
Owners: @twheeloc

Update hr-admin-payroll-api-integration-dayforce.md
  articles/human-resources/hr-admin-payroll-api-integration-dayforce.md
Owners: @twheeloc

Update public-preview-releases.md
  articles/fin-ops-core/fin-ops/get-started/public-preview-releases.md
Owners: @johnmichalak

Edited updated sections
  articles/human-resources/hr-admin-integration-finance.md
Owners: @twheeloc

Edited updated sections
  articles/human-resources/customer-migration.md
Owners: @twheeloc

Edited updated sections
  articles/human-resources/hr-cust-migration.md
Owners: @twheeloc

Create toc.yml
  articles/finance/breadcrumb/toc.yml
Owners: @twheeloc

Update toc.yml
  articles/finance-bc/toc.yml
Owners: none

Delete articles/finance/breadcrumb/toc.yml
  articles/finance/breadcrumb/toc.yml
Owners: @twheeloc

ADO 15268
  .openpublishing.redirection.json
  articles/finance/budgeting/position-budgeting-set-up-issues.md
  articles/finance/general-ledger/sales-tax-troubleshooting-field-value-taxtrans-incorrect.md
  articles/finance/general-ledger/sales-tax-troubleshooting-tax-calculation-bad-performance.md
  articles/finance/general-ledger/sales-tax-troubleshooting-tax-not-calculated-amount-zero.md
  articles/finance/general-ledger/sales-tax-troubleshooting-tax-posted-to-wrong-ledger-account.md
  articles/finance/general-ledger/sales-tax-troubleshooting-taxtrans-record-not-generated.md
  articles/finance/general-ledger/sales-tax-troubleshooting-voucher-not-generated.md
  articles/finance/localizations/apac-ind-GST-troubleshooting-default-value-in-tax-information-not-expected.md
  articles/finance/localizations/apac-ind-GST-troubleshooting-field-value-incorrect-GSTR-report-result.md
  articles/finance/localizations/apac-ind-GST-troubleshooting-invoice-journal-wrong.md
  articles/finance/localizations/apac-ind-GST-troubleshooting-ledger-account-voucher-wrong.md
  articles/finance/localizations/apac-ind-GST-troubleshooting-open-designer-current-used-tax-configuration.md
  articles/finance/localizations/apac-ind-GST-troubleshooting-records-fields-not-showing-GSTR-report.md
  articles/finance/localizations/apac-ind-GST-troubleshooting-setoff-rule-activate-take-long-time.md
  articles/finance/localizations/apac-ind-GST-troubleshooting-tax-amount-wrong-after-calculation.md
  articles/finance/localizations/apac-ind-GST-troubleshooting-tax-configuration-errors.md
  articles/finance/localizations/apac-ind-GST-troubleshooting-tax-not-calculated.md
  articles/finance/localizations/apac-ind-GST-troubleshooting-tax-transaction-id-incorrect.md
  articles/finance/localizations/apac-ind-GST-troubleshooting-taxtrans-or-voucher-not-generated.md
  articles/finance/localizations/tax-engine-trouble-shooting.md
  articles/finance/localizations/tcs-troubleshooting-enable-debug-mode.md
  articles/finance/localizations/tcs-troubleshooting-failed-access-tax-service.md
  articles/finance/localizations/tcs-troubleshooting-no-matching-result.md
  articles/finance/localizations/tcs-troubleshooting-tax-code-cannot-be-determined.md
  articles/finance/localizations/tcs-troubleshooting-tax-feature-list-empty-tax-calculation-parameter.md
Owners: @twheeloc, @kfend

Update price-change-tracking.md
  articles/commerce/troubleshoot/price-change-tracking.md
Owners: @josaw1

Update price-change-tracking.md
  articles/commerce/troubleshoot/price-change-tracking.md
Owners: @josaw1

ADO 15268
  .openpublishing.redirection.json
  articles/finance/localizations/apac-ind-GST-troubleshooting-setoff-rule-error-transactions-on-voucher-not balance.md
Owners: @kfend

Update price-change-tracking.md
  articles/commerce/troubleshoot/price-change-tracking.md
Owners: @josaw1

Edited
  articles/finance/localizations/emea-swe-payment-periods-statistics.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update public-preview-releases.md
  articles/fin-ops-core/fin-ops/get-started/public-preview-releases.md
Owners: @johnmichalak

Edited
  articles/supply-chain/inventory/inventory-visibility-dashboard.md
Owners: @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
