Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

WOM-36
  articles/supply-chain/warehousing/warehouse-management-only-mode.md
Owners: @kamaybac

review
  articles/finance/accounts-receivable/rev-rec-bundles.md
  articles/supply-chain/sales-marketing/media/product-bundle-01.png
  articles/supply-chain/sales-marketing/media/product-bundle-02.png
  articles/supply-chain/sales-marketing/media/product-bundle-03.png
  articles/supply-chain/sales-marketing/media/product-bundle-04.png
  articles/supply-chain/sales-marketing/media/product-bundle-06.png
  articles/supply-chain/sales-marketing/media/product-bundle-07.png
  articles/supply-chain/sales-marketing/media/product-bundle-08.png
  articles/supply-chain/sales-marketing/media/product-bundle-09.png
  articles/supply-chain/sales-marketing/product-bundle-setup.md
  articles/supply-chain/sales-marketing/product-bundles-overview.md
  articles/supply-chain/sales-marketing/product-bundles-setup.md
  articles/supply-chain/sales-marketing/product-bundles-use.md
  articles/supply-chain/toc.yml
Owners: @twheeloc, @kamaybac

Update invoice-capture-rec-files.md
  articles/finance/accounts-payable/invoice-capture-rec-files.md
Owners: @twheeloc

Update invoice-capture-workspace.md
  articles/finance/accounts-payable/invoice-capture-workspace.md
Owners: @twheeloc

Update config-invoice-capture.md
  articles/finance/accounts-payable/config-invoice-capture.md
Owners: @twheeloc

Edited updated sections
  articles/fin-ops-core/dev-itpro/sysadmin/archive-overview.md
Owners: @johnmichalak

Edited updated sections
  articles/fin-ops-core/dev-itpro/sysadmin/archive-sales-orders.md
Owners: @johnmichalak

Update whats-new-changed-10-0-36.md
  articles/finance/get-started/whats-new-changed-10-0-36.md
Owners: @twheeloc

Edited updated sections
  articles/fin-ops-core/dev-itpro/sysadmin/archive-setup.md
Owners: @johnmichalak

Update whats-new-changed-10-0-36.md
  articles/finance/get-started/whats-new-changed-10-0-36.md
Owners: @twheeloc

Update whats-new-changed-10-0-36.md
  articles/finance/get-started/whats-new-changed-10-0-36.md
Owners: @twheeloc

Update whats-new-changed-10-0-36.md
  articles/finance/get-started/whats-new-changed-10-0-36.md
Owners: @twheeloc

Update whats-new-changed-10-0-36.md
  articles/finance/get-started/whats-new-changed-10-0-36.md
Owners: @twheeloc

Edited
  articles/fin-ops-core/dev-itpro/migration-upgrade/coll-dev-env.md
Owners: @johnmichalak

Update whats-new-changed-10-0-36.md
  articles/finance/get-started/whats-new-changed-10-0-36.md
Owners: @twheeloc

Edited updated sections (+fixed issue flagged by spelling/grammar check)
  articles/fin-ops-core/dev-itpro/migration-upgrade/upgrade-overview-2012.md
Owners: @johnmichalak

Edited updated sections
  articles/finance/accounts-payable/invoice-capture-workspace.md
Owners: @twheeloc

Update on-behalf-of.md
  articles/commerce/on-behalf-of.md
Owners: @josaw1

Update on-behalf-of.md
  articles/commerce/on-behalf-of.md
Owners: @josaw1

Update bpa-faq.md
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

review
  articles/supply-chain/sales-marketing/product-bundles-overview.md
  articles/supply-chain/sales-marketing/product-bundles-setup.md
  articles/supply-chain/sales-marketing/product-bundles-use.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update bpa-faq.md
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

Update data-export-perform.md
  articles/fin-ops-core/dev-itpro/data-entities/data-export-perform.md
Owners: @johnmichalak

Update posting-performance.md
  articles/finance/general-ledger/posting-performance.md
Owners: @twheeloc

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management-overview.md
Owners: @josaw1

Update publish-groups.md
  articles/commerce/publish-groups.md
Owners: @josaw1

Update posting-performance.md
  articles/finance/general-ledger/posting-performance.md
Owners: @twheeloc

Update posting-performance.md
  articles/finance/general-ledger/posting-performance.md
Owners: @twheeloc

Edited updated sections
  articles/finance/accounts-payable/config-invoice-capture.md
Owners: @twheeloc

Update posting-performance.md
  articles/finance/general-ledger/posting-performance.md
Owners: @twheeloc

Update enrich-product-page.md
  articles/commerce/enrich-product-page.md
Owners: @josaw1

Update add-manage-content.md
  articles/commerce/add-manage-content.md
Owners: @josaw1

Update obo-create-aad-application.md
  articles/commerce/obo-create-aad-application.md
Owners: @josaw1

Update obo-add-pages-site-builder.md
  articles/commerce/obo-add-pages-site-builder.md
Owners: @josaw1

Update obo-create-aad-application.md
  articles/commerce/obo-create-aad-application.md
Owners: @josaw1

Update obo-create-aad-application.md
  articles/commerce/obo-create-aad-application.md
Owners: @josaw1

Update obo-create-aad-application.md
  articles/commerce/obo-create-aad-application.md
Owners: @josaw1

Update enable-cash-flow-forecasting.md
  articles/finance/finance-insights/enable-cash-flow-forecasting.md
Owners: @twheeloc

Update cash-flow-forecasting.md
  articles/finance/cash-bank-management/cash-flow-forecasting.md
Owners: @twheeloc

Update isv-licensing.md
  articles/fin-ops-core/dev-itpro/dev-tools/isv-licensing.md
Owners: @josaw1

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
