Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update extended-logon.md
  articles/commerce/extended-logon.md
Owners: @josaw1

Update developer-home-page.md
  articles/fin-ops-core/dev-itpro/dev-tools/developer-home-page.md
Owners: @josaw1

Update Net-customer-and-vendor-balances.md
  articles/finance/cash-bank-management/Net-customer-and-vendor-balances.md
Owners: @twheeloc

Add files via upload
  articles/finance/cash-bank-management/Petty cash.md
Owners: @twheeloc

Rename Petty cash.md to Petty-cash.md
  articles/finance/cash-bank-management/Petty-cash.md
Owners: @twheeloc

Update GetActivePrices and GetProductPromotions
  articles/commerce/pricing-apis.md
Owners: @josaw1

Update the Supplies requested date documentation with more details on how ti works and examples of different scenarios
  articles/supply-chain/master-planning/supplier-requested-confirmed-dates.md
Owners: @kamaybac

Update copilot-site-builder.md
  articles/commerce/copilot-site-builder.md
Owners: @josaw1

Update order-history-module.md
  articles/commerce/order-history-module.md
Owners: @josaw1

Create staging-tables.md
  articles/fin-ops-core/dev-itpro/data-entities/staging-tables.md
Owners: @johnmichalak

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update copilot-site-builder.md
  articles/commerce/copilot-site-builder.md
Owners: @josaw1

Update copilot-site-builder.md
  articles/commerce/copilot-site-builder.md
Owners: @josaw1

Update order-history-module.md
  articles/commerce/order-history-module.md
Owners: @josaw1

Update extended-logon.md
  articles/commerce/extended-logon.md
Owners: @josaw1

Update git-intro.md
  articles/fin-ops-core/dev-itpro/dev-tools/git-intro.md
Owners: @josaw1

Add files via upload
  articles/commerce/media/mix-and-match-sample.png
Owners: @josaw1

Delete articles/commerce/media/mix-and-match-sample-1.png
  articles/commerce/media/mix-and-match-sample-1.png
Owners: @josaw1

Update pricing-examples.md
  articles/commerce/pricing-examples.md
Owners: @josaw1

Update pricing-extensions.md
  articles/commerce/pricing-extensions.md
Owners: @josaw1

Update environment-migration-process.md
  articles/fin-ops-core/dev-itpro/deployment/environment-migration-process.md
Owners: @johnmichalak

Update staging-tables.md
  articles/fin-ops-core/dev-itpro/data-entities/staging-tables.md
Owners: @johnmichalak

Update client-disconnected.md
  articles/fin-ops-core/dev-itpro/user-interface/client-disconnected.md
Owners: @johnmichalak

Edited
  articles/fin-ops-core/dev-itpro/data-entities/staging-tables.md
Owners: @johnmichalak

Update manage-seo-metadata.md
  articles/commerce/manage-seo-metadata.md
Owners: @josaw1

review
  articles/supply-chain/master-planning/strict-safety-pegging.md
Owners: @kamaybac

review
  articles/supply-chain/inventory/inventory-visibility-diagnostic-tool.md
Owners: @kamaybac

add new topic to TOC
  articles/supply-chain/toc.yml
Owners: @kamaybac

Create bpa-excel.md
  articles/finance/business-performance-analytics/bpa-excel.md
Owners: @twheeloc

Update apac-ind-e-invoices.md
  articles/finance/localizations/india/apac-ind-e-invoices.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update bpa-excel.md
  articles/finance/business-performance-analytics/bpa-excel.md
Owners: @twheeloc

Update bpa-excel.md
  articles/finance/business-performance-analytics/bpa-excel.md
Owners: @twheeloc

Update bpa-excel.md
  articles/finance/business-performance-analytics/bpa-excel.md
Owners: @twheeloc

Update emea-dnk-vat-declaration-submission.md
  articles/finance/localizations/denmark/emea-dnk-vat-declaration-submission.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update copilot-site-builder.md
  articles/commerce/copilot-site-builder.md
Owners: @josaw1

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
