Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

review
  articles/supply-chain/get-started/removed-deprecated-features-scm-updates.md
Owners: @kamaybac

Update Reports-in-BPA.md
  articles/finance/business-performance-analytics/Reports-in-BPA.md
Owners: @twheeloc

review
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/enable-efficiency-in-quote-to-cash.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/add_effciency_1.png
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/add_effciency_2.png
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/qtc-origin-ownership.svg
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @josaw1, @johnmichalak

Update and rename SysSetup to syssetup.md
  articles/fin-ops-core/fin-ops/get-started/SysSetup
  articles/fin-ops-core/fin-ops/get-started/syssetup.md
Owners: @johnmichalak

Create syssetup.md
  articles/fin-ops-core/dev-itpro/dev-tools/syssetup.md
Owners: @josaw1

Update syssetup.md
  articles/fin-ops-core/dev-itpro/dev-tools/syssetup.md
Owners: @josaw1

Update syssetup.md
  articles/fin-ops-core/dev-itpro/dev-tools/syssetup.md
Owners: @josaw1

Update syssetup.md
  articles/fin-ops-core/dev-itpro/dev-tools/syssetup.md
Owners: @josaw1

Update subscription-billing-summary.md
  articles/finance/accounts-receivable/subscription-billing-summary.md
Owners: @twheeloc

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update quick-bulk-orders.md
  articles/commerce/b2b/quick-bulk-orders.md
Owners: @josaw1

Update quick-bulk-orders.md
  articles/commerce/b2b/quick-bulk-orders.md
Owners: @josaw1

Update tax-integration-uptake-features.md
  articles/finance/localizations/tax-integration-uptake-features.md
Owners: @kfend

Update quick-bulk-orders.md
  articles/commerce/b2b/quick-bulk-orders.md
Owners: @josaw1

Update custom-help-overview.md
  articles/fin-ops-core/dev-itpro/help/custom-help-overview.md
Owners: @johnmichalak

Update pos-healthcheck.md
  articles/commerce/pos-healthcheck.md
Owners: @josaw1

Update custom-help-overview.md
  articles/fin-ops-core/dev-itpro/help/custom-help-overview.md
Owners: @johnmichalak

Update general-journal-processing.md
  articles/finance/general-ledger/general-journal-processing.md
Owners: @twheeloc

Update hr-whats-new-10-0-34.md
  articles/human-resources/get-started/hr-whats-new-10-0-34.md
Owners: @twheeloc

Update toc.yml
  articles/human-resources/toc.yml
Owners: @twheeloc

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update store-commerce-capabilities.md
  articles/commerce/store-commerce-capabilities.md
Owners: @josaw1

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update pos-healthcheck.md
  articles/commerce/pos-healthcheck.md
Owners: @josaw1

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update store-commerce-capabilities.md
  articles/commerce/store-commerce-capabilities.md
Owners: @josaw1

Update pos-healthcheck.md
  articles/commerce/pos-healthcheck.md
Owners: @josaw1

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update separated-solutions.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/separated-solutions.md
Owners: @josaw1

Update separated-solutions.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/separated-solutions.md
Owners: @josaw1

Edited
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

Tweak
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

Update separated-solutions.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/separated-solutions.md
Owners: @josaw1

Update tax-integration-flow.md
  articles/finance/localizations/tax-integration-flow.md
Owners: @kfend

Update separated-solutions.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/separated-solutions.md
Owners: @josaw1

Update separated-solutions.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/separated-solutions.md
Owners: @josaw1

Update separated-solutions.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/separated-solutions.md
Owners: @josaw1

Edited
  articles/finance/business-performance-analytics/set-up-security.md
Owners: @twheeloc

Edited
  articles/finance/business-performance-analytics/how-to-create-and-edit-reports.md
Owners: @twheeloc

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
