Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Minor edit
  articles/fin-ops-core/dev-itpro/migration-upgrade/prepare-data-upgrade.md
Owners: @johnmichalak

WOM-36
  articles/supply-chain/warehousing/create-or-modify-an-inbound-load.md
Owners: @kamaybac

Update uae-faf.md
  articles/finance/localizations/uae-faf.md
Owners: @kfend

Delete uae-faf-ud.png
  articles/finance/localizations/media/uae-faf-ud.png
Owners: @kfend

wma 2.1.9.0 release notes
  articles/supply-chain/warehousing/whats-new-wma.md
Owners: @kamaybac

Update publish-media-omnichannel.md
  articles/commerce/publish-media-omnichannel.md
Owners: @josaw1

review
  articles/supply-chain/warehousing/whats-new-wma.md
Owners: @kamaybac

Update uae-faf.md
  articles/finance/localizations/uae-faf.md
Owners: @kfend

Update pos-operations.md
  articles/commerce/pos-operations.md
Owners: @josaw1

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update pos-operations.md
  articles/commerce/pos-operations.md
Owners: @josaw1

Update import-export-manifest.md
  articles/commerce/import-export-manifest.md
Owners: @josaw1

Edited
  articles/commerce/copy-content-between-tenants.md
Owners: @josaw1

Edited
  articles/commerce/omnichannel-media-management-overview.md
Owners: @josaw1

Edited
  articles/commerce/publish-media-omnichannel.md
Owners: @josaw1

Edited
  articles/commerce/assign-media-omnichannel.md
Owners: @josaw1

Tweak
  articles/commerce/copy-content-between-tenants.md
Owners: @josaw1

Create posting-performance.md
  articles/finance/general-ledger/posting-performance.md
Owners: @twheeloc

Update finance-troubleshooting.md
  articles/finance/finance-troubleshooting.md
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Updated F&O Lockbox documentation
  articles/fin-ops-core/dev-itpro/sysadmin/customer-lockbox.md
Owners: @johnmichalak

Update posting-performance.md
  articles/finance/general-ledger/posting-performance.md
Owners: @twheeloc

Edited
  articles/finance/general-ledger/posting-performance.md
Owners: @twheeloc

Tweak
  articles/finance/general-ledger/posting-performance.md
Owners: @twheeloc

Create configuration-health-check.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/configuration-health-check.md
Owners: @josaw1

Update budget-analysis-public-sector.md
  articles/finance/public-sector/budget-analysis-public-sector.md
Owners: @twheeloc

Update consume-retail-server-api.md
  articles/commerce/dev-itpro/consume-retail-server-api.md
Owners: @josaw1

Update import-export-manifest.md
  articles/commerce/import-export-manifest.md
Owners: @josaw1

Update import-export-manifest.md
  articles/commerce/import-export-manifest.md
Owners: @josaw1

review
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash-enable.md
Owners: @josaw1

review
  articles/fin-ops-core/dev-itpro/sysadmin/archive-overview.md
Owners: @johnmichalak

Update archive-customizations.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-customizations.md
Owners: @johnmichalak

Update service-protection-api-limits.md
  articles/fin-ops-core/dev-itpro/data-entities/service-protection-api-limits.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-35.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-35.md
Owners: @johnmichalak

Update archive-customizations.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-customizations.md
Owners: @johnmichalak

Update budget-analysis-public-sector.md
  articles/finance/public-sector/budget-analysis-public-sector.md
Owners: @twheeloc

Update whats-new-platform-updates-10-0-35.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-35.md
Owners: @johnmichalak

Update whats-new-platform-updates-10-0-35.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-35.md
Owners: @johnmichalak
