Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update quality-updates.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates.md
Owners: @johnmichalak

Update quality-updates-schedule.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Update quality-updates-faq.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-faq.md
Owners: @johnmichalak

Update quality-updates.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates.md
Owners: @johnmichalak

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update apple-pay-adyen.md
  articles/commerce/dev-itpro/apple-pay-adyen.md
Owners: @josaw1

Edited
  articles/finance/accounts-payable/invoice-capture-workspace.md
Owners: @twheeloc

Update apple-pay-adyen.md
  articles/commerce/dev-itpro/apple-pay-adyen.md
Owners: @josaw1

Edited updated sections
  articles/fin-ops-core/dev-itpro/sysadmin/priority-based-batch-scheduling.md
Owners: @johnmichalak

Update apple-pay-adyen.md
  articles/commerce/dev-itpro/apple-pay-adyen.md
Owners: @josaw1

Edited updated sections
  articles/finance/accounts-payable/invoice-capture-config-group.md
Owners: @twheeloc

Updates from Lane
  articles/fin-ops-core/dev-itpro/power-platform/enable-power-platform-integration.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-existing-dv.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-new-dv.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-core-concepts.md
  articles/fin-ops-core/dev-itpro/power-platform/media/Scenario1_Step3.png
Owners: @sericks007

Update monitor-replication.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/monitor-replication.md
Owners: @johnmichalak

Edited updated sections
  articles/supply-chain/inventory/inventory-visibility-reservations.md
Owners: @kamaybac

Update monitor-replication.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/monitor-replication.md
Owners: @johnmichalak

New Doc
  articles/fin-ops-core/dev-itpro/migration-upgrade/monitor-replication.md
Owners: @johnmichalak

Update apple-pay-adyen.md
  articles/commerce/dev-itpro/apple-pay-adyen.md
Owners: @josaw1

Update apple-pay-adyen.md
  articles/commerce/dev-itpro/apple-pay-adyen.md
Owners: @josaw1

Update google-pay-adyen.md
  articles/commerce/dev-itpro/google-pay-adyen.md
Owners: @josaw1

Update google-pay-adyen.md
  articles/commerce/dev-itpro/google-pay-adyen.md
Owners: @josaw1

Edited updated sections
  articles/finance/accounts-payable/invoice-capture-rec-files.md
Owners: @twheeloc

Edited updated sections
  articles/finance/accounts-payable/config-invoice-capture.md
Owners: @twheeloc

Update apple-pay-adyen.md
  articles/commerce/dev-itpro/apple-pay-adyen.md
Owners: @josaw1

Update general-journal-processing.md
  articles/finance/general-ledger/general-journal-processing.md
Owners: @twheeloc

Update monitor-replication.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/monitor-replication.md
Owners: @johnmichalak

Update monitor-replication.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/monitor-replication.md
Owners: @johnmichalak

Update monitor-replication.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/monitor-replication.md
Owners: @johnmichalak

Update apple-pay-adyen.md
  articles/commerce/dev-itpro/apple-pay-adyen.md
Owners: @josaw1

Add files via upload
  articles/fin-ops-core/dev-itpro/migration-upgrade/media/Articles-generated4.png
  articles/fin-ops-core/dev-itpro/migration-upgrade/media/First-step5.png
  articles/fin-ops-core/dev-itpro/migration-upgrade/media/Launch-replication-monitor1.png
  articles/fin-ops-core/dev-itpro/migration-upgrade/media/Replication-Monitor2.png
  articles/fin-ops-core/dev-itpro/migration-upgrade/media/Send-band8.png
  articles/fin-ops-core/dev-itpro/migration-upgrade/media/Snapshot-agent-details3.png
  articles/fin-ops-core/dev-itpro/migration-upgrade/media/Undis-commands-completed7.png
  articles/fin-ops-core/dev-itpro/migration-upgrade/media/Undistributed-commands6.png
Owners: @johnmichalak

Update google-pay-adyen.md
  articles/commerce/dev-itpro/google-pay-adyen.md
Owners: @josaw1

Update google-pay-adyen.md
  articles/commerce/dev-itpro/google-pay-adyen.md
Owners: @josaw1

Edited updated sections
  articles/commerce/dev-itpro/apple-pay-adyen.md
Owners: @josaw1

Update whats-new-changed-10-0-34.md
  articles/finance/get-started/whats-new-changed-10-0-34.md
Owners: @twheeloc

Update whats-new-changed-10-0-34.md
  articles/finance/get-started/whats-new-changed-10-0-34.md
Owners: @twheeloc

Update planning-optimization-fit-analysis.md
  articles/supply-chain/master-planning/planning-optimization/planning-optimization-fit-analysis.md
Owners: @kamaybac

review
  articles/supply-chain/warehousing/label-printing-using-nicelabel.md
Owners: @kamaybac

review
  articles/supply-chain/master-planning/new-master-planning-engine.md
Owners: @kamaybac

review
  articles/supply-chain/master-planning/new-master-planning-engine.md
Owners: @kamaybac

Update source-destination.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/includes/source-destination.md
Owners: @josaw1

fix links
  articles/supply-chain/get-started/whats-new-scm-10-0-33.md
Owners: @kamaybac
