Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update faq-for-chat-with-fno-data-on-m365copilot.md
  articles/fin-ops-core/dev-itpro/m365-copilot/faq-for-chat-with-fno-data-on-m365copilot.md
Owners: @johnmichalak

Update faq-for-chat-with-fno-data-on-m365copilot.md
  articles/fin-ops-core/dev-itpro/m365-copilot/faq-for-chat-with-fno-data-on-m365copilot.md
Owners: @johnmichalak

Update faq-for-chat-with-fno-data-on-m365copilot.md
  articles/fin-ops-core/dev-itpro/m365-copilot/faq-for-chat-with-fno-data-on-m365copilot.md
Owners: @johnmichalak

Update whats-new-ve.md
  articles/fin-ops-core/dev-itpro/power-platform/whats-new-ve.md
Owners: @sericks007

Update behavioral-properties-data-entities.md
  articles/fin-ops-core/dev-itpro/data-entities/behavioral-properties-data-entities.md
Owners: @johnmichalak

Update ltm-tax-and-legal-attributes.md
  articles/finance/localizations/ltm-tax-and-legal-attributes.md
Owners: @kfend

Edited updated sections
  articles/finance/localizations/denmark.md
Owners: @kfend

Edited updated sections
  articles/finance/localizations/emea-dnk-vat-declaration-denmark.md
Owners: @kfend

Edited
  articles/finance/localizations/emea-dnk-vat-declaration-preview.md
Owners: @kfend

Update document-reporting-services.md
  articles/fin-ops-core/dev-itpro/analytics/document-reporting-services.md
Owners: @johnmichalak

Update ax-2012-features-not-implemented-but-not-deprecated.md
  articles/fin-ops-core/fin-ops/get-started/ax-2012-features-not-implemented-but-not-deprecated.md
Owners: @johnmichalak

Update whats-new-dynamics-365-operations-1611.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-dynamics-365-operations-1611.md
Owners: @johnmichalak

Update whats-new-dynamics-365-operations-1611.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-dynamics-365-operations-1611.md
Owners: @johnmichalak

Update whats-new-platform-update-3.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-platform-update-3.md
Owners: @johnmichalak

Update noam-usa-benefit-accrual-plan-tasks.md
  articles/fin-ops-core/fin-ops/hr/localizations/noam-usa-benefit-accrual-plan-tasks.md
Owners: @twheeloc

Update noam-usa-benefit-set-up-tasks.md
  articles/fin-ops-core/fin-ops/hr/localizations/noam-usa-benefit-set-up-tasks.md
Owners: @twheeloc

Update noam-usa-earning-code-group-tasks.md
  articles/fin-ops-core/fin-ops/hr/localizations/noam-usa-earning-code-group-tasks.md
Owners: @twheeloc

Update noam-usa-garnishment-tax-levy-enrollment-tasks.md
  articles/fin-ops-core/fin-ops/hr/localizations/noam-usa-garnishment-tax-levy-enrollment-tasks.md
Owners: @twheeloc

Update noam-usa-garnishment-tax-levy-set-up-tasks.md
  articles/fin-ops-core/fin-ops/hr/localizations/noam-usa-garnishment-tax-levy-set-up-tasks.md
Owners: @twheeloc

Update noam-usa-premium-earning-setup-tasks.md
  articles/fin-ops-core/fin-ops/hr/localizations/noam-usa-premium-earning-setup-tasks.md
Owners: @twheeloc

Update noam-usa-worker-position-payroll-tasks.md
  articles/fin-ops-core/fin-ops/hr/localizations/noam-usa-worker-position-payroll-tasks.md
Owners: @twheeloc

Update configure-manual-task-workflow.md
  articles/fin-ops-core/fin-ops/organization-administration/configure-manual-task-workflow.md
Owners: @johnmichalak

Update emea-invoice-processing.md
  articles/finance/localizations/emea-invoice-processing.md
Owners: @kfend

Update emea-pol-sales-tax-reports.md
  articles/finance/localizations/emea-pol-sales-tax-reports.md
Owners: @kfend

Update whats-new-changed-37.md
  articles/finance/get-started/whats-new-changed-37.md
Owners: @twheeloc

add features
  articles/supply-chain/get-started/whats-new-scm-10-0-36.md
  articles/supply-chain/get-started/whats-new-scm-10-0-37.md
Owners: @kamaybac

update TOC
  articles/supply-chain/toc.yml
Owners: @kamaybac

arrange table
  articles/supply-chain/get-started/whats-new-scm-10-0-37.md
Owners: @kamaybac

add link
  articles/supply-chain/get-started/whats-new-scm-10-0-37.md
Owners: @kamaybac

Update e-invoicing-ita-fatturapa-get-started.md
  articles/finance/localizations/e-invoicing-ita-fatturapa-get-started.md
Owners: @kfend

Update ltm-tax-and-legal-attributes.md
  articles/finance/localizations/ltm-tax-and-legal-attributes.md
Owners: @kfend

Update posting-performance.md
  articles/finance/general-ledger/posting-performance.md
Owners: @twheeloc

Create auto-split-journal.md
  articles/finance/general-ledger/auto-split-journal.md
Owners: @twheeloc

Update auto-split-journal.md
  articles/finance/general-ledger/auto-split-journal.md
Owners: @twheeloc

review
  articles/supply-chain/warehousing/inbound-load-handling.md
  articles/supply-chain/warehousing/media/inbound-process.png
  articles/supply-chain/warehousing/media/inbound-process.svg
Owners: @kamaybac

joh_4
  articles/supply-chain/asset-management/work-orders/Material-availability-check.md
  articles/supply-chain/asset-management/work-orders/media/MatAvail - Warning.png
  articles/supply-chain/asset-management/work-orders/media/MatAvail - checkmark.png
  articles/supply-chain/asset-management/work-orders/media/MatAvail - unknown.png
Owners: @kamaybac

Edited
  articles/finance/localizations/emea-dnk-vat-declaration-submission.md
Owners: @kfend

Update bpa-faq.md
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

Update bpa-faq.md
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

Update auto-split-journal.md
  articles/finance/general-ledger/auto-split-journal.md
Owners: @twheeloc
