Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update channel-side-calculation-faq.md
  articles/commerce/channel-side-calculation-faq.md
Owners: @josaw1

Update channel-side-calculation.md
  articles/commerce/channel-side-calculation.md
Owners: @josaw1

Update inventory-availability-apis.md
  articles/commerce/inventory-availability-apis.md
Owners: @josaw1

Update inventory-lookup-channel-side-calc.md
  articles/commerce/inventory-lookup-channel-side-calc.md
Owners: @josaw1

Update optimize-inventory-data.md
  articles/commerce/optimize-inventory-data.md
Owners: @josaw1

Update pos-inbound-inventory-operation.md
  articles/commerce/pos-inbound-inventory-operation.md
Owners: @josaw1

Update Enhanced-Mass-Deployment.md
  articles/commerce/dev-itpro/Enhanced-Mass-Deployment.md
Owners: @josaw1

Shell of the scenario for saurabh
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-existing-dv.md
Owners: @sericks007

Update compare-etw-eventlog.md
  articles/commerce/dev-itpro/compare-etw-eventlog.md
Owners: @josaw1

Update DFP.md
  articles/commerce/dev-itpro/DFP.md
Owners: @josaw1

Update commerce-payments.md
  articles/commerce/dev-itpro/commerce-payments.md
Owners: @josaw1

Update gift-card.md
  articles/commerce/dev-itpro/gift-card.md
Owners: @josaw1

Update pos-app-signing-certificate.md
  articles/commerce/dev-itpro/pos-app-signing-certificate.md
Owners: @josaw1

Update migrate-mpos-store-commerce.md
  articles/commerce/dev-itpro/pos-extension/migrate-mpos-store-commerce.md
Owners: @josaw1

Update store-commerce-sign-in.md
  articles/commerce/troubleshoot/store-commerce-sign-in.md
Owners: @josaw1

Update with images
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-new-dv.md
  articles/fin-ops-core/dev-itpro/power-platform/media/Scenario1_Step1.png
Owners: @sericks007

Updates
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-new-dv.md
  articles/fin-ops-core/dev-itpro/power-platform/media/Scenario1_Step2.png
  articles/fin-ops-core/dev-itpro/power-platform/media/Scenario2_Step1.png
  articles/fin-ops-core/dev-itpro/power-platform/media/Scenario2_Step2.png
Owners: @sericks007

2nd Scenario steps
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-existing-dv.md
  articles/fin-ops-core/dev-itpro/power-platform/media/Scenario2_Step2.png
Owners: @sericks007

Update inventory-onhand-consistency-check.md
  articles/supply-chain/inventory/inventory-onhand-consistency-check.md
Owners: @kamaybac

Update inventory-onhand-consistency-check.md
  articles/supply-chain/inventory/inventory-onhand-consistency-check.md
Owners: @kamaybac

review
  articles/supply-chain/asset-management/asset-management-mobile-app/asset-management-app-faq.md
  articles/supply-chain/asset-management/asset-management-mobile-app/asset-management-app-known-issues.md
Owners: @kamaybac

merge topics
  articles/supply-chain/asset-management/asset-management-mobile-app/asset-management-app-faq.md
  articles/supply-chain/asset-management/asset-management-mobile-app/asset-management-app-known-issues.md
  articles/supply-chain/asset-management/asset-management-mobile-app/onboard-app.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

10.0.32 GA
  articles/finance/accounts-payable/vendor-bank-account-workflow.md
  articles/supply-chain/asset-management/asset-management-mobile-app/maintenance-requests.md
  articles/supply-chain/asset-management/asset-management-mobile-app/work-orders.md
  articles/supply-chain/get-started/whats-new-home-page.md
  articles/supply-chain/get-started/whats-new-scm-10-0-25.md
  articles/supply-chain/get-started/whats-new-scm-10-0-28.md
  articles/supply-chain/get-started/whats-new-scm-10-0-29.md
  articles/supply-chain/get-started/whats-new-scm-10-0-32.md
  articles/supply-chain/get-started/whats-new-scm-10-0-33.md
  articles/supply-chain/global-inventory-accounting/get-started-with-gia.md
  articles/supply-chain/pim/share-products-across-companies.md
  articles/supply-chain/toc.yml
Owners: @twheeloc, @kamaybac

Corrected Date and updated status
  articles/fin-ops-core/fin-ops/get-started/quality-updates.md
Owners: @johnmichalak

Update ltm-core-address-setup.md
  articles/finance/localizations/ltm-core-address-setup.md
Owners: @kfend

Update ltm-core-vendors-set.md
  articles/finance/localizations/ltm-core-vendors-set.md
Owners: @kfend

Update ltm-core-document-class-letter.md
  articles/finance/localizations/ltm-core-document-class-letter.md
Owners: @kfend

Update ltm-core-tax-id-type.md
  articles/finance/localizations/ltm-core-tax-id-type.md
Owners: @kfend

Update ltm-core-taxpayer-type.md
  articles/finance/localizations/ltm-core-taxpayer-type.md
Owners: @kfend

Update ltm-core-sales-point-prefixes.md
  articles/finance/localizations/ltm-core-sales-point-prefixes.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update new-environments-visual-studio-teams-branch-retail-projects.md
  articles/commerce/dev-itpro/new-environments-visual-studio-teams-branch-retail-projects.md
Owners: @josaw1

Update pos-extension-overview.md
  articles/commerce/dev-itpro/pos-extension/pos-extension-overview.md
Owners: @josaw1

Update whats-new-dual-write.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/whats-new-dual-write.md
Owners: @josaw1

Update whats-new-commerce-10-0-32.md
  articles/commerce/get-started/whats-new-commerce-10-0-32.md
Owners: @josaw1

Update whats-new-home-page.md
  articles/commerce/get-started/whats-new-home-page.md
Owners: @josaw1

Update whats-new-commerce-10-0-32.md
  articles/commerce/get-started/whats-new-commerce-10-0-32.md
Owners: @josaw1

Create ltm-core-document-class-sales-point.md
  articles/finance/localizations/ltm-core-document-class-sales-point.md
Owners: @kfend

review
  articles/supply-chain/pricing-management/sales-trade-agreement-prices.md
Owners: @kamaybac

Update whats-new-commerce-10-0-32.md
  articles/commerce/get-started/whats-new-commerce-10-0-32.md
Owners: @josaw1
