Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update whats-new-changed-10-0-36.md
  articles/finance/get-started/whats-new-changed-10-0-36.md
Owners: @twheeloc

Update hr-admin-integration-hr-rm.md
  articles/human-resources/hr-admin-integration-hr-rm.md
Owners: @twheeloc

Update load-data-dataflows.md
  articles/finance/business-performance-planning/load-data-dataflows.md
Owners: @twheeloc

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update load-data-dataflows.md
  articles/finance/business-performance-planning/load-data-dataflows.md
Owners: @twheeloc

Update load-data-dataflows.md
  articles/finance/business-performance-planning/load-data-dataflows.md
Owners: @twheeloc

Update create-cubes.md
  articles/finance/business-performance-planning/create-cubes.md
Owners: @twheeloc

Update powerBI-visual-install.md
  articles/finance/business-performance-planning/powerBI-visual-install.md
Owners: @twheeloc

Update Dimensions.md
  articles/finance/business-performance-planning/Dimensions.md
Owners: @twheeloc

Update bpa-faq.md
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

Update automatic-charges-allocation.md
  articles/supply-chain/procurement/automatic-charges-allocation.md
Owners: @kamaybac

Update emea-ita-vat-statements-details.md
  articles/finance/localizations/italy/emea-ita-vat-statements-details.md
Owners: @kfend

Update hr-admin-integration-hr-rm.md
  articles/human-resources/hr-admin-integration-hr-rm.md
Owners: @twheeloc

Update hr-admin-integration-hr-rm.md
  articles/human-resources/hr-admin-integration-hr-rm.md
Owners: @twheeloc

Update hr-admin-integration-hr-rm.md
  articles/human-resources/hr-admin-integration-hr-rm.md
Owners: @twheeloc

Update hr-admin-integration-hr-rm.md
  articles/human-resources/hr-admin-integration-hr-rm.md
Owners: @twheeloc

Update hr-admin-integration-hr-rm.md
  articles/human-resources/hr-admin-integration-hr-rm.md
Owners: @twheeloc

Update hr-admin-integration-hr-rm.md
  articles/human-resources/hr-admin-integration-hr-rm.md
Owners: @twheeloc

Update hr-admin-integration-hr-rm.md
  articles/human-resources/hr-admin-integration-hr-rm.md
Owners: @twheeloc

Update bpa-faq.md
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

Update index.yml
  articles/finance/index.yml
Owners: @twheeloc

Edited
  articles/finance/localizations/denmark/e-invoicing-dk-get-started.md
Owners: @kfend

Edited
  articles/finance/localizations/global/e-invoicing-isv-connector.md
Owners: @kfend

Fixed broken link
  articles/finance/localizations/global/e-invoicing-isv-connector.md
Owners: @kfend

Fixed link
  articles/finance/localizations/global/e-invoicing-isv-connector.md
Owners: @kfend

Fixed metadata
  articles/finance/localizations/global/e-invoicing-isv-connector.md
Owners: @kfend

Clarify key rotation importance
  articles/commerce/dev-itpro/retail-store-scale-unit-configuration-installation.md
Owners: @josaw1

Update retail-store-scale-unit-configuration-installation.md
  articles/commerce/dev-itpro/retail-store-scale-unit-configuration-installation.md
Owners: @josaw1

Update cloud-powered-search-overview.md
  articles/commerce/cloud-powered-search-overview.md
Owners: @josaw1

Update business-performance-planning-overview.md
  articles/finance/business-performance-planning/business-performance-planning-overview.md
Owners: @twheeloc

Update cloud-powered-search-overview.md
  articles/commerce/cloud-powered-search-overview.md
Owners: @josaw1

Update cloud-powered-search-overview.md
  articles/commerce/cloud-powered-search-overview.md
Owners: @josaw1

Update cloud-powered-search-overview.md
  articles/commerce/cloud-powered-search-overview.md
Owners: @josaw1

Update cloud-powered-search-overview.md
  articles/commerce/cloud-powered-search-overview.md
Owners: @josaw1

Create bpp-customs-visual-overview.md
  articles/finance/business-performance-planning/bpp-customs-visual-overview.md
Owners: @twheeloc

Update e-invoicing-isv-connector.md
  articles/finance/localizations/global/e-invoicing-isv-connector.md
Owners: @kfend

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/denmark/e-invoicing-dk-get-started.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update emea-ita-vat-statements-details.md
  articles/finance/localizations/italy/emea-ita-vat-statements-details.md
Owners: @kfend

Update public-preview-releases.md
  articles/fin-ops-core/dev-itpro/get-started/public-preview-releases.md
Owners: @johnmichalak
