Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @sericks007, @robinarh, @andreabichsel, @roschlom, @josaw, @kfend, @josaw1, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@sericks007
/articles/fin-ops-core/dev-itpro/analytics	@sericks007
/articles/fin-ops-core/dev-itpro/business-events @sericks007
/articles/fin-ops-core/dev-itpro/data-entities	@sericks007
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@robinarh
/articles/fin-ops-core/dev-itpro/database	@sericks007
/articles/fin-ops-core/dev-itpro/deployment	@sericks007 
/articles/fin-ops-core/dev-itpro/dev-ref @robinarh
/articles/fin-ops-core/dev-itpro/dev-tools @robinarh
/articles/fin-ops-core/dev-itpro/extensibility @robinarh
/articles/fin-ops-core/dev-itpro/financial @robinarh
/articles/fin-ops-core/dev-itpro/gdpr @robinarh
/articles/fin-ops-core/dev-itpro/get-started	@sericks007
/articles/fin-ops-core/dev-itpro/help @sericks007
/articles/fin-ops-core/dev-itpro/includes @robinarh
/articles/fin-ops-core/dev-itpro/lcs-solutions	@sericks007
/articles/fin-ops-core/dev-itpro/lifecycle-services	@sericks007
/articles/fin-ops-core/dev-itpro/media	@sericks007
/articles/fin-ops-core/dev-itpro/migration-upgrade	@sericks007
/articles/fin-ops-core/dev-itpro/mobile-apps	@sericks007
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@robinarh
/articles/fin-ops-core/dev-itpro/office-integration	@sericks007
/articles/fin-ops-core/dev-itpro/perf-test	@robinarh
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@robinarh
/articles/fin-ops-core/dev-itpro/sysadmin	@sericks007
/articles/fin-ops-core/dev-itpro/user-interface	@sericks007
/articles/fin-ops-core/fin-ops @robinarh
/articles/fin-ops-core/fin-ops/get-started @sericks007
/articles/fin-ops-core/fin-ops/hr @andreabichsel
/articles/fin-ops-core/fin-ops/imp-lifecycle @sericks007
/articles/fin-ops-core/fin-ops/includes @sericks007
/articles/fin-ops-core/fin-ops/organization-administration @sericks007
/articles/finance	@roschlom
/articles/finance/accounts-payable	@roschlom
/articles/finance/asset-leasing	@roschlom
/articles/finance/budgeting	@roschlom
/articles/finance/cash-bank-management	@roschlom
/articles/finance/cost-accounting	@roschlom @josaw
/articles/finance/expense-management	 @roschlom
/articles/finance/fixed-assets	 @roschlom
/articles/finance/general-ledger 	@roschlom
/articles/finance/get-started 	@roschlom
/articles/finance/includes 	@roschlom
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@roschlom
/articles/fin-and-ops/get-started	@sericks007 @kfend
/articles/fin-and-ops/hr	@andreabichsel
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@sericks007
/articles/human-resources @andreabichsel
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @robinarh
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @andreabichsel

Update whats-new-home-page.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-home-page.md
Owners: @sericks007

Update request-pipeline-hook.md
  articles/commerce/e-commerce-extensibility/request-pipeline-hook.md
Owners: @josaw1

Update request-pipeline-hook.md
  articles/commerce/e-commerce-extensibility/request-pipeline-hook.md
Owners: @josaw1

Update request-pipeline-hook.md
  articles/commerce/e-commerce-extensibility/request-pipeline-hook.md
Owners: @josaw1

Update request-pipeline-hook.md
  articles/commerce/e-commerce-extensibility/request-pipeline-hook.md
Owners: @josaw1

Update request-pipeline-hook.md
  articles/commerce/e-commerce-extensibility/request-pipeline-hook.md
Owners: @josaw1

Update request-pipeline-hook.md
  articles/commerce/e-commerce-extensibility/request-pipeline-hook.md
Owners: @josaw1

Update request-pipeline-hook.md
  articles/commerce/e-commerce-extensibility/request-pipeline-hook.md
Owners: @josaw1

Add files via upload
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/Troubleshoot_live_sync_issue_1.png
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/Troubleshoot_live_sync_issue_2.png
Owners: @robinarh

Update dual-write-troubleshooting-live-sync.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/dual-write-troubleshooting-live-sync.md
Owners: @robinarh

Update whats-new-commerce-10-0-21.md
  articles/commerce/get-started/whats-new-commerce-10-0-21.md
Owners: @josaw1

Update dual-write-troubleshooting-live-sync.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/dual-write-troubleshooting-live-sync.md
Owners: @robinarh

Update dimension-default-values.md
  articles/finance/general-ledger/dimension-default-values.md
Owners: @roschlom

Update TOC.yml
  articles/finance/TOC.yml
Owners: @roschlom

Update cli-command-reference.md
  articles/commerce/e-commerce-extensibility/cli-command-reference.md
Owners: @josaw1

Update emea-fra-fi-migration.md
  articles/commerce/localizations/emea-fra-fi-migration.md
Owners: @josaw1

fix links
  articles/supply-chain/rebate-management/deduction-workbench.md
  articles/supply-chain/rebate-management/process-review-post.md
Owners: @kamaybac

Update cloud-edge-landing-page.md
  articles/supply-chain/cloud-edge/cloud-edge-landing-page.md
Owners: @kamaybac

Add preview banners
  articles/supply-chain/landed-cost/in-transit-processing.md
  articles/supply-chain/landed-cost/update-tracking-putaway.md
  articles/supply-chain/rebate-management/deduction-workbench.md
  articles/supply-chain/rebate-management/process-review-post.md
  articles/supply-chain/warehousing/reason-codes-for-counting-journals.md
Owners: @kamaybac

Update inventory visibility doc
  articles/supply-chain/inventory/inventory-visibility-api.md
  articles/supply-chain/inventory/inventory-visibility-configuration.md
  articles/supply-chain/inventory/inventory-visibility-power-platform.md
  articles/supply-chain/inventory/inventory-visibility-reservations.md
  articles/supply-chain/inventory/inventory-visibility-setup.md
  articles/supply-chain/inventory/inventory-visibility.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

edit
  articles/supply-chain/get-started/whats-new-home-page.md
  articles/supply-chain/get-started/whats-new-scm-10-0-21.md
Owners: @kamaybac

add link
  articles/supply-chain/get-started/whats-new-scm-10-0-21.md
Owners: @kamaybac

Update er-destination-type-email.md
  articles/fin-ops-core/dev-itpro/analytics/er-destination-type-email.md
Owners: @sericks007

review
  articles/supply-chain/warehousing/reason-codes-for-counting-journals.md
Owners: @kamaybac

Update whats-new-platform-updates-10-0-21.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-21.md
Owners: @sericks007

Update whats-new-platform-updates-10-0-21.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-21.md
Owners: @sericks007

Update onprem-compatibility.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-compatibility.md
Owners: @sericks007

Update onprem-compatibility.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-compatibility.md
Owners: @sericks007

Update update-local-agent.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/update-local-agent.md
Owners: @sericks007

Update update-local-agent.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/update-local-agent.md
Owners: @sericks007

add link
  articles/supply-chain/get-started/whats-new-scm-10-0-21.md
Owners: @kamaybac

Update TOC.yml
  articles/finance/TOC.yml
Owners: @roschlom

Update global-sales-tax-group-determination.md
  articles/finance/localizations/global-sales-tax-group-determination.md
Owners: @kfend

Update emea-deu-intrastat.md
  articles/finance/localizations/emea-deu-intrastat.md
Owners: @kfend

Update onprem-localagent-options.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-localagent-options.md
Owners: @sericks007

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @sericks007

Update demand-forecasting-setup.md
  articles/supply-chain/master-planning/demand-forecasting-setup.md
Owners: @kamaybac

review
  articles/supply-chain/inventory/inventory-visibility-api.md
  articles/supply-chain/inventory/inventory-visibility-configuration.md
  articles/supply-chain/inventory/inventory-visibility-power-platform.md
  articles/supply-chain/inventory/inventory-visibility-power-platfrom.md
  articles/supply-chain/inventory/inventory-visibility-setup.md
  articles/supply-chain/inventory/inventory-visibility.md
Owners: @kamaybac

Update er-destination-type-email.md
  articles/fin-ops-core/dev-itpro/analytics/er-destination-type-email.md
Owners: @sericks007

Update latam-bra-nfe-nt2020.005.md
  articles/finance/localizations/latam-bra-nfe-nt2020.005.md
Owners: @kfend
