Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update retail-peripherals-overview.md
  articles/commerce/retail-peripherals-overview.md
Owners: @josaw1

Update retail-peripherals-overview.md
  articles/commerce/retail-peripherals-overview.md
Owners: @josaw1

Create ltm-Chile-elec-invo-conncection.md
  articles/finance/localizations/iberoamerica/ltm-Chile-elec-invo-conncection.md
Owners: @kfend

Update basic-budgeting-overview-configuration.md
  articles/finance/budgeting/basic-budgeting-overview-configuration.md
Owners: @twheeloc

Update finance-troubleshooting.md
  articles/finance/finance-troubleshooting.md
Owners: @twheeloc

Update configure-env-file.md
  articles/commerce/e-commerce-extensibility/configure-env-file.md
Owners: @josaw1

Add topic
  articles/supply-chain/inventory/inventory-visibility-track-inventory-log-history.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update release-process.md
  articles/supply-chain/master-planning/planning-optimization/release-process.md
Owners: @kamaybac

review
  articles/supply-chain/master-planning/planning-optimization/release-process.md
Owners: @kamaybac

rename files
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
  articles/supply-chain/warehousing/warehouse-app-authenticate-service-based.md
  articles/supply-chain/warehousing/warehouse-app-authenticate-user-based.md
Owners: @kamaybac

review
  articles/supply-chain/toc.yml
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
  articles/supply-chain/warehousing/warehouse-app-authenticate-service-based.md
  articles/supply-chain/warehousing/warehouse-app-authenticate-user-based.md
Owners: @kamaybac

review
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
  articles/supply-chain/warehousing/warehouse-app-authenticate-service-based.md
  articles/supply-chain/warehousing/warehouse-app-authenticate-user-based.md
Owners: @kamaybac

review
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
  articles/supply-chain/warehousing/warehouse-app-authenticate-service-based.md
  articles/supply-chain/warehousing/warehouse-app-authenticate-user-based.md
Owners: @kamaybac

Update link texts
  articles/supply-chain/get-started/removed-deprecated-features-scm-updates.md
  articles/supply-chain/get-started/whats-new-scm-10-0-34.md
  articles/supply-chain/get-started/whats-new-scm-10-0-36.md
  articles/supply-chain/index.yml
  articles/supply-chain/supply-chain-dev/whats-new-scm-10-0-12.md
  articles/supply-chain/toc.yml
  articles/supply-chain/warehousing/configure-app-field-names-priorities-warehouse.md
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
  articles/supply-chain/warehousing/mobile-device-user-settings.md
  articles/supply-chain/warehousing/step-icons-titles.md
  articles/supply-chain/warehousing/whats-new-wma.md
Owners: @kamaybac

review
  articles/supply-chain/warehousing/configure-app-field-names-priorities-warehouse.md
Owners: @kamaybac

10.0.35 End of service update
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update POS-returns.md
  articles/commerce/POS-returns.md
Owners: @josaw1

Edited
  articles/finance/localizations/iberoamerica/ltm-Set-up-legal-entity-and-tax-Nicaragua.md
Owners: @kfend

Create ltm-Panama-elect-inv-conf.md
  articles/finance/localizations/iberoamerica/ltm-Panama-elect-inv-conf.md
Owners: @kfend

tweak
  articles/finance/localizations/iberoamerica/ltm-Set-up-legal-entity-and-tax-Nicaragua.md
Owners: @kfend

Edited
  articles/finance/localizations/iberoamerica/set-up-legal-entity-tax-costa-rica.md
Owners: @kfend

Edited
  articles/finance/localizations/iberoamerica/ltm-Set-up-legal-entity-and-tax-Panama.md
Owners: @kfend

Edited
  articles/finance/localizations/iberoamerica/ltm-configure-invoices-costa-rica.md
Owners: @kfend

Edited
  articles/finance/localizations/iberoamerica/ltm-configure-invoices-nicaragua.md
Owners: @kfend

Edited
  articles/finance/localizations/iberoamerica/ltm-configure-invoices-panama.md
Owners: @kfend

Edited
  articles/finance/localizations/iberoamerica/ltm-create-customer-and-vendor-Panama.md
Owners: @kfend

Edited
  articles/finance/localizations/iberoamerica/ltm-create-customer-vendor-costa-rica.md
Owners: @kfend

Edited
  articles/finance/localizations/iberoamerica/ltm-create-customer-and-vendor-Nicaragua.md
Owners: @kfend

Edited updated sections
  articles/finance/budgeting/basic-budgeting-overview-configuration.md
Owners: @twheeloc

Update POS-returns.md
  articles/commerce/POS-returns.md
Owners: @josaw1

Update ltm-Panama-elect-inv-conf.md
  articles/finance/localizations/iberoamerica/ltm-Panama-elect-inv-conf.md
Owners: @kfend

Update ltm-Panama-elect-inv-conf.md
  articles/finance/localizations/iberoamerica/ltm-Panama-elect-inv-conf.md
Owners: @kfend

Update and rename ltm-CostaRica-electronic-invoice-conf.md to ltm-costa-rica-electronic-invoice-conf.md
  articles/finance/localizations/iberoamerica/ltm-CostaRica-electronic-invoice-conf.md
  articles/finance/localizations/iberoamerica/ltm-costa-rica-electronic-invoice-conf.md
Owners: @kfend

Update ltm-costa-rica-electronic-invoice-conf.md
  articles/finance/localizations/iberoamerica/ltm-costa-rica-electronic-invoice-conf.md
Owners: @kfend

Update and rename ltm-Chile-elec-invo-conncection.md to ltm-chile-elec-invo-conncection.md
  articles/finance/localizations/iberoamerica/ltm-Chile-elec-invo-conncection.md
  articles/finance/localizations/iberoamerica/ltm-chile-elec-invo-conncection.md
Owners: @kfend

Create ltm-latam-in-customer-payment.md
  articles/finance/localizations/iberoamerica/ltm-latam-in-customer-payment.md
Owners: @kfend

Add UpdateProductWarehouseAvailability API in "Inventory availability APIs for e-commerce"
  articles/commerce/dev-itpro/inventory-availability-apis.md
Owners: @josaw1

Create ltm-latam-in-vendor-payment.md
  articles/finance/localizations/iberoamerica/ltm-latam-in-vendor-payment.md
Owners: @kfend

Create ltm-Costa-Rica-EI-connec-configuration.md
  articles/finance/localizations/iberoamerica/ltm-Costa-Rica-EI-connec-configuration.md
Owners: @kfend

Create ltm-Panama-EI-connec-configuration.md
  articles/finance/localizations/iberoamerica/ltm-Panama-EI-connec-configuration.md
Owners: @kfend
