Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update emea-egy-wht-declaration.md
  articles/finance/localizations/emea-egy-wht-declaration.md
Owners: @kfend

Update emea-est-eu-sales-list.md
  articles/finance/localizations/emea-est-eu-sales-list.md
Owners: @kfend

Update emea-eu-sales-list-example.md
  articles/finance/localizations/emea-eu-sales-list-example.md
Owners: @kfend

Update chat-module-pva.md
  articles/commerce/chat-module-pva.md
Owners: @josaw1

Edited
  articles/supply-chain/asset-management/work-orders/material-availability-check-work-orders.md
Owners: @kamaybac

Update removed-deprecated-features-platform-updates.md
  articles/fin-ops-core/dev-itpro/get-started/removed-deprecated-features-platform-updates.md
Owners: @johnmichalak

Tweak
  articles/supply-chain/asset-management/work-orders/material-availability-check-work-orders.md
Owners: @kamaybac

Update emea-fin-eu-sales-list.md
  articles/finance/localizations/emea-fin-eu-sales-list.md
Owners: @kfend

Update emea-fra-eu-sales-list.md
  articles/finance/localizations/emea-fra-eu-sales-list.md
Owners: @kfend

Update emea-hun-eu-sales-list.md
  articles/finance/localizations/emea-hun-eu-sales-list.md
Owners: @kfend

Update emea-ltu-eu-sales-list.md
  articles/finance/localizations/emea-ltu-eu-sales-list.md
Owners: @kfend

Update whats-new-changed-10-0-25.md
  articles/finance/get-started/whats-new-changed-10-0-25.md
Owners: @twheeloc

Update whats-new-changed-10-0-26.md
  articles/finance/get-started/whats-new-changed-10-0-26.md
Owners: @twheeloc

Update whats-new-changed-10-0-27.md
  articles/finance/get-started/whats-new-changed-10-0-27.md
Owners: @twheeloc

Update whats-new-changed-10-0-28.md
  articles/finance/get-started/whats-new-changed-10-0-28.md
Owners: @twheeloc

Update whats-new-changed-10-0-29.md
  articles/finance/get-started/whats-new-changed-10-0-29.md
Owners: @twheeloc

Update whats-new-changed-10-0-30.md
  articles/finance/get-started/whats-new-changed-10-0-30.md
Owners: @twheeloc

Update whats-new-changed-10-0-31.md
  articles/finance/get-started/whats-new-changed-10-0-31.md
Owners: @twheeloc

Update whats-new-changed-10-0-32.md
  articles/finance/get-started/whats-new-changed-10-0-32.md
Owners: @twheeloc

Update whats-new-changed-changed-10-0-33.md
  articles/finance/get-started/whats-new-changed-changed-10-0-33.md
Owners: @twheeloc

Update whats-new-changed-10-0-34.md
  articles/finance/get-started/whats-new-changed-10-0-34.md
Owners: @twheeloc

Update whats-new-changed-10-0-35.md
  articles/finance/get-started/whats-new-changed-10-0-35.md
Owners: @twheeloc

Update whats-new-changed-10-0-36.md
  articles/finance/get-started/whats-new-changed-10-0-36.md
Owners: @twheeloc

Update whats-new-changed-10-0-37.md
  articles/finance/get-started/whats-new-changed-10-0-37.md
Owners: @twheeloc

Update rus-work-with-customs-clearance.md
  articles/finance/localizations/rus-work-with-customs-clearance.md
Owners: @kfend

Update rus-set-up-customs-clearance.md
  articles/finance/localizations/rus-set-up-customs-clearance.md
Owners: @kfend

Update rus-rated-expenses-registers.md
  articles/finance/localizations/rus-rated-expenses-registers.md
Owners: @kfend

Update rus-other-tax-registers.md
  articles/finance/localizations/rus-other-tax-registers.md
Owners: @kfend

Update rus-client-bank-export.md
  articles/finance/localizations/rus-client-bank-export.md
Owners: @kfend

Update rus-cash-flow-tax-registers.md
  articles/finance/localizations/rus-cash-flow-tax-registers.md
Owners: @kfend

Update rus-calculation-tax-asset-tax-liability-registers.md
  articles/finance/localizations/rus-calculation-tax-asset-tax-liability-registers.md
Owners: @kfend

Update rus-bad-debts.md
  articles/finance/localizations/rus-bad-debts.md
Owners: @kfend

Update rcs-delete-environment.md
  articles/finance/localizations/rcs-delete-environment.md
Owners: @kfend

Update removed-deprecated-features-platform-updates.md
  articles/fin-ops-core/dev-itpro/get-started/removed-deprecated-features-platform-updates.md
Owners: @johnmichalak

Update removed-deprecated-features-platform-updates.md
  articles/fin-ops-core/dev-itpro/get-started/removed-deprecated-features-platform-updates.md
Owners: @johnmichalak

Update emea-uk-eu-sales-list.md
  articles/finance/localizations/emea-uk-eu-sales-list.md
Owners: @kfend

Update emea-swe-eu-sales-list.md
  articles/finance/localizations/emea-swe-eu-sales-list.md
Owners: @kfend

Update emea-pol-eu-sales-list.md
  articles/finance/localizations/emea-pol-eu-sales-list.md
Owners: @kfend

Update Retained-earnings-enhancements.md
  articles/finance/general-ledger/Retained-earnings-enhancements.md
Owners: @twheeloc

Update financial-reporting-keyboard-shortcuts.md
  articles/finance/general-ledger/financial-reporting-keyboard-shortcuts.md
Owners: @twheeloc

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
