Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update set-up-depreciation-books-2016-05.md
  articles/finance/fixed-assets/tasks/set-up-depreciation-books-2016-05.md
Owners: @twheeloc

Update set-up-depreciation-profiles.md
  articles/finance/fixed-assets/tasks/set-up-depreciation-profiles.md
Owners: @twheeloc

Update set-up-bonus-depreciation.md
  articles/finance/fixed-assets/tasks/set-up-bonus-depreciation.md
Owners: @twheeloc

Update create-depreciation-proposal.md
  articles/finance/fixed-assets/tasks/create-depreciation-proposal.md
Owners: @twheeloc

Update calculate-fixed-asset-depreciation-legal-entities.md
  articles/finance/fixed-assets/tasks/calculate-fixed-asset-depreciation-legal-entities.md
Owners: @twheeloc

Update change-depreciation-conventions-multiple-fixed-assets.md
  articles/finance/fixed-assets/tasks/change-depreciation-conventions-multiple-fixed-assets.md
Owners: @twheeloc

Update set-up-lease-books.md
  articles/finance/asset-leasing/set-up-lease-books.md
Owners: @twheeloc

Update set-up-lease-journal-names.md
  articles/finance/asset-leasing/set-up-lease-journal-names.md
Owners: @twheeloc

Update add-lease.md
  articles/finance/asset-leasing/add-lease.md
Owners: @twheeloc

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update migrate-commerce-sdk.md
  articles/commerce/dev-itpro/retail-sdk/migrate-commerce-sdk.md
Owners: @josaw1

Update migrate-commerce-sdk.md
  articles/commerce/dev-itpro/retail-sdk/migrate-commerce-sdk.md
Owners: @josaw1

fix link
  articles/supply-chain/index.md
Owners: @kamaybac

Update reserve-inventory-quantities.md
  articles/supply-chain/inventory/reserve-inventory-quantities.md
Owners: @kamaybac

review
  articles/supply-chain/inventory/reserve-inventory-quantities.md
Owners: @kamaybac

reorg concurrency
  articles/supply-chain/pricing-management/concurrence-cross-codes.md
  articles/supply-chain/pricing-management/concurrence-within-codes.md
  articles/supply-chain/pricing-management/discounts.md
  articles/supply-chain/pricing-management/price-component-code.md
  articles/supply-chain/pricing-management/price-structure-details.md
  articles/supply-chain/pricing-management/price-structure-overview.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

rename file
  articles/supply-chain/pricing-management/concurrence-cross-codes.md
  articles/supply-chain/pricing-management/concurrence-within-codes.md
  articles/supply-chain/pricing-management/discounts.md
  articles/supply-chain/pricing-management/margin-discount-pricing-rules
  articles/supply-chain/pricing-management/margin-price-adjustments.md
  articles/supply-chain/pricing-management/price-structure-overview.md
  articles/supply-chain/pricing-management/price-structure-single.md
  articles/supply-chain/pricing-management/pricing-management-overview.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

review
  articles/supply-chain/pricing-management/base-price-determination-rules.md
  articles/supply-chain/pricing-management/base-price-versions.md
  articles/supply-chain/pricing-management/concurrence-within-codes.md
  articles/supply-chain/pricing-management/margin-discount-pricing-rules.md
  articles/supply-chain/pricing-management/price-structure-details.md
  articles/supply-chain/pricing-management/price-structure-multiple.md
  articles/supply-chain/pricing-management/vendor-list-price.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update enable-efficiency-in-quote-to-cash.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/enable-efficiency-in-quote-to-cash.md
Owners: @josaw1

Update add-efficiency-in-quote-to-cash.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash.md
Owners: @josaw1

Update add-efficiency-in-quote-to-cash.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash.md
Owners: @josaw1

Update sales-status-map.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/sales-status-map.md
Owners: @josaw1

Update create-main-account.md
  articles/finance/general-ledger/tasks/create-main-account.md
Owners: @twheeloc

Update create-accrual-schemes.md
  articles/finance/general-ledger/tasks/create-accrual-schemes.md
Owners: @twheeloc

Update create-advanced-rules-journals.md
  articles/finance/general-ledger/tasks/create-advanced-rules-journals.md
Owners: @twheeloc

Update dual-write-prospect-to-cash.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/dual-write-prospect-to-cash.md
Owners: @josaw1

Update process-ledger-allocation-journal.md
  articles/finance/general-ledger/tasks/process-ledger-allocation-journal.md
Owners: @twheeloc

Update post-periodic-journals.md
  articles/finance/general-ledger/tasks/post-periodic-journals.md
Owners: @twheeloc

Update create-journal-entry-template.md
  articles/finance/general-ledger/tasks/create-journal-entry-template.md
Owners: @twheeloc

Update close-fiscal-year.md
  articles/finance/general-ledger/tasks/close-fiscal-year.md
Owners: @twheeloc

Update mass-financial-period-close.md
  articles/finance/general-ledger/tasks/mass-financial-period-close.md
Owners: @twheeloc

review
  articles/supply-chain/pricing-management/base-price-determination-rules.md
  articles/supply-chain/pricing-management/base-price-versions.md
  articles/supply-chain/pricing-management/concurrence-cross-codes.md
  articles/supply-chain/pricing-management/concurrence-within-codes.md
  articles/supply-chain/pricing-management/margin-discount-pricing-rules.md
  articles/supply-chain/pricing-management/margin-price-adjustments.md
  articles/supply-chain/pricing-management/sales-trade-agreement-prices.md
  articles/supply-chain/pricing-management/vendor-list-price.md
Owners: @kamaybac

review
  articles/supply-chain/pricing-management/concurrence-within-codes.md
  articles/supply-chain/pricing-management/margin-discount-pricing-rules.md
Owners: @kamaybac

Update branching.md
  articles/fin-ops-core/dev-itpro/dev-tools/branching.md
Owners: @josaw1

Making updates to docs around geo migrations
  articles/fin-ops-core/dev-itpro/deployment/deployment-options-geo.md
Owners: @johnmichalak

Update deployment-options-geo.md
  articles/fin-ops-core/dev-itpro/deployment/deployment-options-geo.md
Owners: @johnmichalak

init
  articles/finance/localizations/e-invoicing-ita-fatturapa-get-started.md
Owners: @kfend

upd version
  articles/finance/localizations/e-invoicing-ita-fatturapa-get-started.md
Owners: @kfend

upd2
  articles/finance/localizations/e-invoicing-ita-fatturapa-get-started.md
Owners: @kfend

Fix product name casing
  articles/fin-ops-core/dev-itpro/dev-tools/branching.md
Owners: @josaw1
