Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update invoice-capture-config-group.md
  articles/finance/accounts-payable/invoice-capture-config-group.md
Owners: @twheeloc

review
  articles/fin-ops-core/dev-itpro/sysadmin/archive-general-ledger.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-overview.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-sales-orders.md
Owners: @johnmichalak

Update e-invoicing-pol-get-started.md
  articles/finance/localizations/e-invoicing-pol-get-started.md
Owners: @kfend

review
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash-use.md
  articles/supply-chain/supply-chain-dev/message-processor.md
Owners: @josaw1, @kamaybac

review
  articles/fin-ops-core/dev-itpro/sysadmin/archive-general-ledger.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-overview.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-sales-orders.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-using.md
Owners: @johnmichalak

review
  articles/fin-ops-core/dev-itpro/sysadmin/archive-customizations.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-general-ledger.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-overview.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-sales-orders.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-setup.md
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

review
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash-concept.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash-enable.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash-use.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/add_effciency_14.png
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/add_effciency_15.png
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/add_effciency_16.png
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/add_effciency_17.png
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/add_effciency_18.png
Owners: @josaw1

Updated link to KB
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-31.md
Owners: @johnmichalak

Update arch-component-versioning.md
  articles/commerce/arch-component-versioning.md
Owners: @josaw1

Update sdk-updates.md
  articles/commerce/e-commerce-extensibility/sdk-updates.md
Owners: @josaw1

Update invoice-capture-config-group.md
  articles/finance/accounts-payable/invoice-capture-config-group.md
Owners: @twheeloc

Update invoice-capture-config-group.md
  articles/finance/accounts-payable/invoice-capture-config-group.md
Owners: @twheeloc

Update invoice-capture-config-group.md
  articles/finance/accounts-payable/invoice-capture-config-group.md
Owners: @twheeloc

Split section
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-database-movements.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-delete-env.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-edit-properties-dv.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-general-activities.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-reset-change-env-type-dv.md
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @sericks007, @johnmichalak

Update general-journal-processing.md
  articles/finance/general-ledger/general-journal-processing.md
Owners: @twheeloc

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update determine-carry-forward-budget.md
  articles/finance/public-sector/determine-carry-forward-budget.md
Owners: @twheeloc

Update environment-lifecycle-database-movements.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-database-movements.md
Owners: @sericks007

Update post-fixed-asset-transactions-posting-layers.md
  articles/finance/fixed-assets/post-fixed-asset-transactions-posting-layers.md
Owners: @twheeloc

Update environment-lifecycle-database-movements.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-database-movements.md
Owners: @sericks007

Update reduce-balance-depreciation.md
  articles/finance/fixed-assets/reduce-balance-depreciation.md
Owners: @twheeloc

Update environment-lifecycle-delete-env.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-delete-env.md
Owners: @sericks007

Update environment-lifecycle-edit-properties-dv.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-edit-properties-dv.md
Owners: @sericks007

Update reduce-balance-depreciation.md
  articles/finance/fixed-assets/reduce-balance-depreciation.md
Owners: @twheeloc

Update environment-lifecycle-database-movements.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-database-movements.md
Owners: @sericks007

Update environment-lifecycle-database-movements.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-database-movements.md
Owners: @sericks007

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update publish-status-headquarters.md
  articles/commerce/publish-status-headquarters.md
Owners: @josaw1

Update broker-contract.md
  articles/finance/accounts-payable/broker-contract.md
Owners: @twheeloc

Update accounting-distributions.md
  articles/finance/accounts-payable/accounting-distributions.md
Owners: @twheeloc

Update automate-vendor-payment-proposal.md
  articles/finance/accounts-payable/automate-vendor-payment-proposal.md
Owners: @twheeloc

Update create-vendor-payments-payment-proposal.md
  articles/finance/accounts-payable/create-vendor-payments-payment-proposal.md
Owners: @twheeloc

Update default-offset-accounts-vendor-invoice-journals.md
  articles/finance/accounts-payable/default-offset-accounts-vendor-invoice-journals.md
Owners: @twheeloc

Update electronic-reporting-sample-vendor-checks.md
  articles/finance/accounts-payable/electronic-reporting-sample-vendor-checks.md
Owners: @twheeloc

Update set-up-generate-positive-pay-files.md
  articles/finance/accounts-payable/set-up-generate-positive-pay-files.md
Owners: @twheeloc

Update vendor-copy.md
  articles/finance/accounts-payable/vendor-copy.md
Owners: @twheeloc

Update close-accounts-receivable.md
  articles/finance/accounts-receivable/close-accounts-receivable.md
Owners: @twheeloc

fix links
  articles/supply-chain/get-started/whats-new-scm-10-0-35.md
Owners: @kamaybac

Update whats-new-dual-write.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/whats-new-dual-write.md
Owners: @josaw1

Update CollectionsWorkspace.md
  articles/finance/accounts-receivable/CollectionsWorkspace.md
Owners: @twheeloc

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
