Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update er-functions-text-text.md
  articles/fin-ops-core/dev-itpro/analytics/er-functions-text-text.md
Owners: @johnmichalak

Update er-functions-text-translate.md
  articles/fin-ops-core/dev-itpro/analytics/er-functions-text-translate.md
Owners: @johnmichalak

Update er-functions-text-trim.md
  articles/fin-ops-core/dev-itpro/analytics/er-functions-text-trim.md
Owners: @johnmichalak

Update er-functions-text-upper.md
  articles/fin-ops-core/dev-itpro/analytics/er-functions-text-upper.md
Owners: @johnmichalak

Update er-compress-outbound-files.md
  articles/fin-ops-core/dev-itpro/analytics/er-compress-outbound-files.md
Owners: @johnmichalak

Update expense-management-content-pack.md
  articles/fin-ops-core/dev-itpro/analytics/expense-management-content-pack.md
Owners: @johnmichalak

Update financial-insights.md
  articles/fin-ops-core/dev-itpro/analytics/financial-insights.md
Owners: @johnmichalak

Update financial-performance-power-bi-content-pack.md
  articles/fin-ops-core/dev-itpro/analytics/financial-performance-power-bi-content-pack.md
Owners: @johnmichalak

Update general-electronic-reporting-formula-designer.md
  articles/fin-ops-core/dev-itpro/analytics/general-electronic-reporting-formula-designer.md
Owners: @johnmichalak

Update learning-power-bi.md
  articles/fin-ops-core/dev-itpro/analytics/learning-power-bi.md
Owners: @johnmichalak

Update ledger-budgets-power-bi.md
  articles/fin-ops-core/dev-itpro/analytics/ledger-budgets-power-bi.md
Owners: @johnmichalak

Update organizational-training-analysis-power-bi-content-pack.md
  articles/fin-ops-core/dev-itpro/analytics/organizational-training-analysis-power-bi-content-pack.md
Owners: @johnmichalak

Update power-bi-home-page.md
  articles/fin-ops-core/dev-itpro/analytics/power-bi-home-page.md
Owners: @johnmichalak

Update practice-manager-power-bi.md
  articles/fin-ops-core/dev-itpro/analytics/practice-manager-power-bi.md
Owners: @johnmichalak

Update production-performance-power-bi.md
  articles/fin-ops-core/dev-itpro/analytics/production-performance-power-bi.md
Owners: @johnmichalak

Update purchase-content-pack-for-power-bi.md
  articles/fin-ops-core/dev-itpro/analytics/purchase-content-pack-for-power-bi.md
Owners: @johnmichalak

Update recruiting-analysis-power-bi-content-pack.md
  articles/fin-ops-core/dev-itpro/analytics/recruiting-analysis-power-bi-content-pack.md
Owners: @johnmichalak

Update sales-profitability-performance-content-pack.md
  articles/fin-ops-core/dev-itpro/analytics/sales-profitability-performance-content-pack.md
Owners: @johnmichalak

Update setup-security-cost-accounting-content-pack.md
  articles/fin-ops-core/dev-itpro/analytics/setup-security-cost-accounting-content-pack.md
Owners: @johnmichalak

Update warehouse-power-bi-content.md
  articles/fin-ops-core/dev-itpro/analytics/warehouse-power-bi-content.md
Owners: @johnmichalak

Update workforce-analysis-power-bi-content-pack.md
  articles/fin-ops-core/dev-itpro/analytics/workforce-analysis-power-bi-content-pack.md
Owners: @johnmichalak

Update employee-development-PBI.md
  articles/fin-ops-core/dev-itpro/analytics/employee-development-PBI.md
Owners: @johnmichalak

Update employee-competencies-and-development-analysis-power-bi-content-pack.md
  articles/fin-ops-core/dev-itpro/analytics/employee-competencies-and-development-analysis-power-bi-content-pack.md
Owners: @johnmichalak

Update download-electronic-reporting-configuration-lcs.md
  articles/fin-ops-core/dev-itpro/analytics/download-electronic-reporting-configuration-lcs.md
Owners: @johnmichalak

Update cost-management-content-pack.md
  articles/fin-ops-core/dev-itpro/analytics/cost-management-content-pack.md
Owners: @johnmichalak

Update cost-accounting-analysis-content-pack.md
  articles/fin-ops-core/dev-itpro/analytics/cost-accounting-analysis-content-pack.md
Owners: @johnmichalak

Update ledger-budgets-power-bi.md
  articles/fin-ops-core/dev-itpro/analytics/ledger-budgets-power-bi.md
Owners: @johnmichalak

Update CFO-power-bi.md
  articles/fin-ops-core/dev-itpro/analytics/CFO-power-bi.md
Owners: @johnmichalak

Update bi-reporting-home-page.md
  articles/fin-ops-core/dev-itpro/analytics/bi-reporting-home-page.md
Owners: @johnmichalak

Update hr-admin-integration-finance.md
  articles/human-resources/hr-admin-integration-finance.md
Owners: @twheeloc

Update hr-cust-migration.md
  articles/human-resources/hr-cust-migration.md
Owners: @twheeloc

Update lcs-works-lcs.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/lcs-works-lcs.md
Owners: @johnmichalak

Update customer-migration.md
  articles/human-resources/customer-migration.md
Owners: @twheeloc

Update obo-add-pages-site-builder.md
  articles/commerce/obo-add-pages-site-builder.md
Owners: @josaw1

Update hr-admin-integration-finance.md
  articles/human-resources/hr-admin-integration-finance.md
Owners: @twheeloc

Update ledger-settlements.md
  articles/finance/general-ledger/ledger-settlements.md
Owners: @twheeloc

Update auto-settle.md
  articles/finance/general-ledger/auto-settle.md
Owners: @twheeloc

Create hr-admin-payroll-api-integration-dayforce.md
  articles/human-resources/hr-admin-payroll-api-integration-dayforce.md
Owners: @twheeloc

Update hr-admin-payroll-api-integration-dayforce.md
  articles/human-resources/hr-admin-payroll-api-integration-dayforce.md
Owners: @twheeloc

Update hr-admin-payroll-api-integration-dayforce.md
  articles/human-resources/hr-admin-payroll-api-integration-dayforce.md
Owners: @twheeloc

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
