Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update regulatory-updates.md
  articles/finance/localizations/regulatory-updates.md
Owners: @kfend

Edited
  articles/fin-ops-core/dev-itpro/data-entities/data-para.md
Owners: @johnmichalak

Update hr-cust-migration.md
  articles/human-resources/hr-cust-migration.md
Owners: @twheeloc

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Minor Edits
  articles/fin-ops-core/dev-itpro/migration-upgrade/analyze-code-upgrade.md
Owners: @johnmichalak

Update emea-ltu-intrastat.md
  articles/finance/localizations/emea-ltu-intrastat.md
Owners: @kfend

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update POS-search-improvements.md
  articles/commerce/POS-search-improvements.md
Owners: @josaw1

Update customer-search.md
  articles/commerce/customer-search.md
Owners: @josaw1

Added serial confirmation documentation
  articles/supply-chain/warehousing/batch-and-license-plate-confirmation.md
Owners: @kamaybac

review
  articles/supply-chain/landed-cost/manage-shipping-containers.md
  articles/supply-chain/landed-cost/manage-voyages.md
Owners: @kamaybac

Update whats-new-changed-10-0-36.md
  articles/finance/get-started/whats-new-changed-10-0-36.md
Owners: @twheeloc

review
  articles/fin-ops-core/fin-ops/get-started/whats-new-application-July-2017-update.md
  articles/supply-chain/toc.yml
  articles/supply-chain/warehousing/batch-and-license-plate-confirmation.md
  articles/supply-chain/warehousing/flexible-warehouse-level-dimension-reservation.md
Owners: @johnmichalak, @kamaybac

review
  articles/supply-chain/warehousing/batch-and-license-plate-confirmation.md
Owners: @kamaybac

review
  articles/supply-chain/warehousing/batch-and-license-plate-confirmation.md
Owners: @kamaybac

Revert "Serial confirmation documentation"
  articles/fin-ops-core/fin-ops/get-started/whats-new-application-July-2017-update.md
  articles/supply-chain/toc.yml
  articles/supply-chain/warehousing/batch-and-license-plate-confirmation.md
  articles/supply-chain/warehousing/flexible-warehouse-level-dimension-reservation.md
Owners: @johnmichalak, @kamaybac

edit
  articles/supply-chain/toc.yml
  articles/supply-chain/warehousing/batch-and-license-plate-confirmation.md
  articles/supply-chain/warehousing/flexible-warehouse-level-dimension-reservation.md
Owners: @kamaybac

review
  articles/supply-chain/production-control/bill-of-material-bom.md
Owners: @kamaybac

Update regulatory-updates.md
  articles/finance/localizations/regulatory-updates.md
Owners: @kfend

Update regulatory-updates.md
  articles/finance/localizations/regulatory-updates.md
Owners: @kfend

Minor
  articles/fin-ops-core/dev-itpro/migration-upgrade/coll-dev-env.md
Owners: @johnmichalak

Update data-para.md
  articles/fin-ops-core/dev-itpro/data-entities/data-para.md
Owners: @johnmichalak

Update analyze-code-upgrade.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/analyze-code-upgrade.md
Owners: @johnmichalak

review
  articles/supply-chain/toc.yml
  articles/supply-chain/warehousing/wms-only-mode-example.md
  articles/supply-chain/warehousing/wms-only-mode-exchange-data.md
  articles/supply-chain/warehousing/wms-only-mode-faq.md
  articles/supply-chain/warehousing/wms-only-mode-overview.md
  articles/supply-chain/warehousing/wms-only-mode-setup.md
  articles/supply-chain/warehousing/wms-only-mode-using.md
Owners: @kamaybac

review
  articles/supply-chain/toc.yml
Owners: @kamaybac

Minor Edit
  articles/fin-ops-core/dev-itpro/migration-upgrade/data-upgrade-2012.md
Owners: @johnmichalak

Update channel-setup-retail.md
  articles/commerce/channel-setup-retail.md
Owners: @josaw1

review
  articles/supply-chain/warehousing/wms-only-mode-overview.md
  articles/supply-chain/warehousing/wms-only-mode-setup.md
Owners: @kamaybac

Update adyen-connector.md
  articles/commerce/dev-itpro/adyen-connector.md
Owners: @josaw1

Update channel-setup-retail.md
  articles/commerce/channel-setup-retail.md
Owners: @josaw1

Update whats-new-home-page.md
  articles/finance/get-started/whats-new-home-page.md
Owners: @twheeloc

Update whats-new-changed-10-0-34.md
  articles/finance/get-started/whats-new-changed-10-0-34.md
Owners: @twheeloc

Update whats-new-changed-10-0-35.md
  articles/finance/get-started/whats-new-changed-10-0-35.md
Owners: @twheeloc

Update whats-new-changed-10-0-36.md
  articles/finance/get-started/whats-new-changed-10-0-36.md
Owners: @twheeloc

Update channel-setup-retail.md
  articles/commerce/channel-setup-retail.md
Owners: @josaw1

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update customer-search.md
  articles/commerce/customer-search.md
Owners: @josaw1

Update POS-search-improvements.md
  articles/commerce/POS-search-improvements.md
Owners: @josaw1

Update customer-search.md
  articles/commerce/customer-search.md
Owners: @josaw1

Update coll-dev-env.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/coll-dev-env.md
Owners: @johnmichalak
