Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Edited update sections
  articles/finance/localizations/emea-ita-e-invoices.md
Owners: @kfend

Fixed link
  articles/finance/localizations/emea-ita-e-invoices.md
Owners: @kfend

Edited updated sections
  articles/commerce/localizations/emea-eeu-advance-invoices-for-retail.md
Owners: @josaw1

Edited updated sections
  articles/commerce/localizations/emea-eeu-deployment.md
Owners: @josaw1

Fixed link
  articles/commerce/localizations/emea-eeu-deployment.md
Owners: @josaw1

Edited updated sections
  articles/finance/cash-bank-management/reconcile-bank-statements-advanced-bank-reconciliation.md
Owners: @twheeloc

Update data-import-export-job.md
  articles/fin-ops-core/dev-itpro/data-entities/data-import-export-job.md
Owners: @johnmichalak

Update
  articles/commerce/set-up-assortments.md
Owners: @josaw1

fix
  articles/commerce/category-management-product-creation.md
Owners: @josaw1

Important Documentation updates
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation.md
Owners: @kamaybac

Update
  articles/commerce/set-up-bar-code-masks.md
Owners: @josaw1

Additional comment on required Power Platform integration
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation.md
Owners: @kamaybac

Adding status of app installation
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation.md
Owners: @kamaybac

Cloud label printing fixes
  articles/supply-chain/warehousing/label-printing-using-bartender.md
  articles/supply-chain/warehousing/label-printing-using-nicelabel.md
Owners: @kamaybac

Update purchase-order-changes-after-confirmation.md
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation.md
Owners: @kamaybac

Update emea-pol-vdek.md
  articles/finance/localizations/emea-pol-vdek.md
Owners: @kfend

Edited
  articles/supply-chain/sensor-data-intelligence/sdi-scenario-anomaly.md
Owners: @kamaybac

Edited updated sections
  articles/supply-chain/sensor-data-intelligence/sdi-home-page.md
Owners: @kamaybac

Edited updated sections
  articles/supply-chain/sensor-data-intelligence/sdi-deploy-iot-solution-on-azure.md
Owners: @kamaybac

Tweak
  articles/supply-chain/sensor-data-intelligence/sdi-scenario-anomaly.md
Owners: @kamaybac

Update setup-local-dev-env.md
  articles/commerce/dev-itpro/setup-local-dev-env.md
Owners: @josaw1

Update enable-power-platform-integration.md
  articles/fin-ops-core/dev-itpro/power-platform/enable-power-platform-integration.md
Owners: @sericks007

update image
  articles/finance/general-ledger/extend-tax-engine-configurations.md
  articles/finance/general-ledger/media/gte-tax-amount-update-formula.png
Owners: @twheeloc

Update emea-eeu-deployment.md
  articles/commerce/localizations/emea-eeu-deployment.md
Owners: @josaw1

Update emea-eeu-deployment.md
  articles/commerce/localizations/emea-eeu-deployment.md
Owners: @josaw1

Update Install-invoice-capture.md
  articles/finance/accounts-payable/Install-invoice-capture.md
Owners: @twheeloc

Update Install-invoice-capture.md
  articles/finance/accounts-payable/Install-invoice-capture.md
Owners: @twheeloc

Create emea-tax-reconciliation-report.md
  articles/finance/localizations/emea-tax-reconciliation-report.md
Owners: @kfend

Update norway.md
  articles/finance/localizations/norway.md
Owners: @kfend

Update iceland.md
  articles/finance/localizations/iceland.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Create global-exchange-rate-type-sales-tax.md
  articles/finance/localizations/global-exchange-rate-type-sales-tax.md
Owners: @kfend

Update import-export-manifest.md
  articles/commerce/import-export-manifest.md
Owners: @josaw1

Update global-exchange-rate-type-sales-tax.md
  articles/finance/localizations/global-exchange-rate-type-sales-tax.md
Owners: @kfend

Update global-exchange-rate-type-sales-tax.md
  articles/finance/localizations/global-exchange-rate-type-sales-tax.md
Owners: @kfend

Update TOC.yml global-exchange-rate-type-sales-tax.md
  articles/finance/TOC.yml
Owners: @twheeloc

Update global-exchange-rate-type-sales-tax.md
  articles/finance/localizations/global-exchange-rate-type-sales-tax.md
Owners: @kfend

Add files via upload
  articles/finance/localizations/media/GLParamenters_EnableExchangeRateType_1.jpg
  articles/finance/localizations/media/GLParamenters_EnableExchangeRateType_2.jpg
  articles/finance/localizations/media/GLParamenters_EnableExchangeRateType_3.jpg
  articles/finance/localizations/media/PostedSalesTaxTaxExchRate_5-1.png
  articles/finance/localizations/media/PostingAccountsSalesTaxTaxExchRate_3-1.png
  articles/finance/localizations/media/SalesTaxTransactionsTaxExchRateSubledger_4-2.png
  articles/finance/localizations/media/SalesTaxTransactionsTaxExchRate_4-1.png
  articles/finance/localizations/media/SalesTaxTransactionsTaxExchRate_4.png
  articles/finance/localizations/media/VoucherTaxExchRate_5-1.png
Owners: @kfend

Update global-exchange-rate-type-sales-tax.md
  articles/finance/localizations/global-exchange-rate-type-sales-tax.md
Owners: @kfend

Update global-exchange-rate-type-sales-tax.md
  articles/finance/localizations/global-exchange-rate-type-sales-tax.md
Owners: @kfend

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
