Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update configure-BPA.md
  articles/finance/business-performance-analytics/configure-BPA.md
Owners: @twheeloc

Update manage-sandboxes-across-projects.md
  articles/fin-ops-core/dev-itpro/deployment/manage-sandboxes-across-projects.md
Owners: @johnmichalak

Update bpa-faq.md
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

Update manage-sandboxes-across-projects.md
  articles/fin-ops-core/dev-itpro/deployment/manage-sandboxes-across-projects.md
Owners: @johnmichalak

Update feature-management-overview.md
  articles/fin-ops-core/fin-ops/get-started/feature-management/feature-management-overview.md
Owners: @johnmichalak

Update feature-management-overview.md
  articles/fin-ops-core/fin-ops/get-started/feature-management/feature-management-overview.md
Owners: @johnmichalak

Edited
  articles/finance/localizations/tax-integration-implement-tax-integration-activities.md
Owners: @kfend

Update feature-management-overview.md
  articles/fin-ops-core/fin-ops/get-started/feature-management/feature-management-overview.md
Owners: @johnmichalak

Update feature-management-overview.md
  articles/fin-ops-core/fin-ops/get-started/feature-management/feature-management-overview.md
Owners: @johnmichalak

Edited
  articles/finance/localizations/tax-integration-how-to-add-activity.md
Owners: @kfend

Update feature-management-overview.md
  articles/fin-ops-core/fin-ops/get-started/feature-management/feature-management-overview.md
Owners: @johnmichalak

Update tax-integration-modification-swtich-functions-frontend.md
  articles/finance/localizations/tax-integration-modification-swtich-functions-frontend.md
Owners: @kfend

Update tax-integration-modification-swtich-functions-frontend.md
  articles/finance/localizations/tax-integration-modification-swtich-functions-frontend.md
Owners: @kfend

Update feature-management-overview.md
  articles/fin-ops-core/fin-ops/get-started/feature-management/feature-management-overview.md
Owners: @johnmichalak

Update feature-management-overview.md
  articles/fin-ops-core/fin-ops/get-started/feature-management/feature-management-overview.md
Owners: @johnmichalak

Update tax-integration-uptake-features.md
  articles/finance/localizations/tax-integration-uptake-features.md
Owners: @kfend

Update feature-management-overview.md
  articles/fin-ops-core/fin-ops/get-started/feature-management/feature-management-overview.md
Owners: @johnmichalak

Update how-to-create-and-edit-reports.md
  articles/finance/business-performance-analytics/how-to-create-and-edit-reports.md
Owners: @twheeloc

Edited
  articles/finance/localizations/tax-integration-facade-sequence-activity.md
Owners: @kfend

Fixed link
  articles/finance/localizations/tax-integration-facade-sequence-activity.md
Owners: @kfend

Update Reports-in-BPA.md
  articles/finance/business-performance-analytics/Reports-in-BPA.md
Owners: @twheeloc

Update CSU-core.md
  articles/commerce/dev-itpro/CSU-core.md
Owners: @josaw1

Update commerce-runtime-extensibility.md
  articles/commerce/dev-itpro/commerce-runtime-extensibility.md
Owners: @josaw1

Update retail-component-events-diagnostics-troubleshooting.md
  articles/commerce/dev-itpro/retail-component-events-diagnostics-troubleshooting.md
Owners: @josaw1

Update retail-modern-pos-architecture.md
  articles/commerce/dev-itpro/retail-modern-pos-architecture.md
Owners: @josaw1

Update retail-server-icontroller-extension.md
  articles/commerce/dev-itpro/retail-server-icontroller-extension.md
Owners: @josaw1

Update retail-sdk-packaging.md
  articles/commerce/dev-itpro/retail-sdk/retail-sdk-packaging.md
Owners: @josaw1

Update Enhanced-Mass-Deployment.md
  articles/commerce/dev-itpro/Enhanced-Mass-Deployment.md
Owners: @josaw1

Update retail-mass-deployment.md
  articles/commerce/dev-itpro/retail-mass-deployment.md
Owners: @josaw1

Update retail-modern-pos-device-activation.md
  articles/commerce/retail-modern-pos-device-activation.md
Owners: @josaw1

Update create-pos-extension-package.md
  articles/commerce/dev-itpro/pos-extension/create-pos-extension-package.md
Owners: @josaw1

Update cpos-extension-package.md
  articles/commerce/dev-itpro/pos-extension/cpos-extension-package.md
Owners: @josaw1

Update pos-control-non-screen.md
  articles/commerce/dev-itpro/pos-control-non-screen.md
Owners: @josaw1

Update hardware-device-extension.md
  articles/commerce/dev-itpro/hardware-device-extension.md
Owners: @josaw1

Update custom-field-pos-totals.md
  articles/commerce/dev-itpro/custom-field-pos-totals.md
Owners: @josaw1

Update commerce-runtime-extensibility-trigger.md
  articles/commerce/dev-itpro/commerce-runtime-extensibility-trigger.md
Owners: @josaw1

Update build-pipeline.md
  articles/commerce/dev-itpro/build-pipeline.md
Owners: @josaw1

Update commerce-runtime-extensibility.md
  articles/commerce/dev-itpro/commerce-runtime-extensibility.md
Owners: @josaw1

updated based on a doc bug
  articles/commerce/b2b/quick-bulk-orders.md
Owners: @josaw1

review
  articles/supply-chain/get-started/removed-deprecated-features-scm-updates.md
Owners: @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
