Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update channel-setup-retail.md
  articles/commerce/channel-setup-retail.md
Owners: @josaw1

Edited
  articles/finance/business-performance-analytics/BPA-self-help-2.md
Owners: @twheeloc

Edited
  articles/finance/business-performance-analytics/BPA-self-help-3.md
Owners: @twheeloc

Edited
  articles/finance/business-performance-analytics/BPA-self-help-4.md
Owners: @twheeloc

Edited
  articles/finance/business-performance-analytics/BPA-self-help-5.md
Owners: @twheeloc

Edited
  articles/finance/business-performance-analytics/BPA-self-help-6.md
Owners: @twheeloc

Edited
  articles/finance/business-performance-analytics/BPA-self-help-7.md
Owners: @twheeloc

Update drs-srs-tables.md
  articles/fin-ops-core/dev-itpro/sysadmin/drs-srs-tables.md
Owners: @johnmichalak

Update catalogs-b2b-sites-dev.md
  articles/commerce/catalogs-b2b-sites-dev.md
Owners: @josaw1

Update channel-merch-config-validator.md
  articles/commerce/channel-merch-config-validator.md
Owners: @josaw1

Update chat-module-pva.md
  articles/commerce/chat-module-pva.md
Owners: @josaw1

Update domains-commerce.md
  articles/commerce/domains-commerce.md
Owners: @josaw1

Update cpos-custom-aad.md
  articles/commerce/cpos-custom-aad.md
Owners: @josaw1

Update copy-ecommerce-site.md
  articles/commerce/copy-ecommerce-site.md
Owners: @josaw1

Update configure-channel-hierarchy.md
  articles/commerce/configure-channel-hierarchy.md
Owners: @josaw1

Update commerce-posting-parameters.md
  articles/commerce/commerce-posting-parameters.md
Owners: @josaw1

Update commerce-chat-overview.md
  articles/commerce/commerce-chat-overview.md
Owners: @josaw1

Update chat-proactive-chat-parameters.md
  articles/commerce/chat-proactive-chat-parameters.md
Owners: @josaw1

Update clienteling-overview.md
  articles/commerce/clienteling-overview.md
Owners: @josaw1

Update commerce-chat-module.md
  articles/commerce/commerce-chat-module.md
Owners: @josaw1

Update auto-create-invc-lines-at-import.md
  articles/finance/accounts-payable/auto-create-invc-lines-at-import.md
Owners: @twheeloc

update docs
  articles/commerce/TOC.yml
  articles/commerce/channel-merch-config-validator.md
  articles/commerce/order-checkouts-with-inventory-availability.md
  articles/commerce/pos-inventory-lookup-operation.md
  articles/commerce/work-with-store-inventory.md
Owners: @josaw1

Update learning-catalog-solution-architect.md
  articles/finance/get-started/learning-catalog-solution-architect.md
Owners: @twheeloc

Update learning-catalog-solution-architect.md
  articles/supply-chain/get-started/learning-catalog-solution-architect.md
Owners: @kamaybac

Update learning-catalog-developer.md
  articles/supply-chain/get-started/learning-catalog-developer.md
Owners: @kamaybac

Update iot-intelligence-home-page.md
  articles/supply-chain/iot/iot-intelligence-home-page.md
Owners: @kamaybac

Update extensibility.md
  articles/supply-chain/master-planning/planning-optimization/extensibility.md
Owners: @kamaybac

Update set-up-maintain-vendor-collaboration.md
  articles/supply-chain/procurement/set-up-maintain-vendor-collaboration.md
Owners: @kamaybac

Update production-floor-execution-customize.md
  articles/supply-chain/production-control/production-floor-execution-customize.md
Owners: @kamaybac

Update field-service.md
  articles/supply-chain/sales-marketing/field-service.md
Owners: @kamaybac

Update prospect-to-cash.md
  articles/supply-chain/sales-marketing/prospect-to-cash.md
Owners: @kamaybac

Update sales-order-template-mapping-direct-two-ways.md
  articles/supply-chain/sales-marketing/sales-order-template-mapping-direct-two-ways.md
Owners: @kamaybac

Update accounts-template-mapping-direct.md
  articles/supply-chain/sales-marketing/accounts-template-mapping-direct.md
Owners: @kamaybac

Update field-service-invoice.md
  articles/supply-chain/sales-marketing/field-service-invoice.md
Owners: @kamaybac

Update contacts-template-mapping-direct.md
  articles/supply-chain/sales-marketing/contacts-template-mapping-direct.md
Owners: @kamaybac

Update synchronize-inventory-level-info.md
  articles/supply-chain/sales-marketing/synchronize-inventory-level-info.md
Owners: @kamaybac

Update synchronize-inventory-adjustments.md
  articles/supply-chain/sales-marketing/synchronize-inventory-adjustments.md
Owners: @kamaybac

Update products-template-mapping-direct.md
  articles/supply-chain/sales-marketing/products-template-mapping-direct.md
Owners: @kamaybac

Update field-service-product.md
  articles/supply-chain/sales-marketing/field-service-product.md
Owners: @kamaybac

Update synchronize-products-inv-unit.md
  articles/supply-chain/sales-marketing/synchronize-products-inv-unit.md
Owners: @kamaybac
