Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

edit
  articles/supply-chain/faq-inventory-query.md
  articles/supply-chain/inventory/inventory-visibility-copilot-api.md
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation.md
Owners: @kamaybac

Update purchase-order-changes-after-confirmation.md
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation.md
Owners: @kamaybac

Update Concurrency control release status
  articles/fin-ops-core/dev-itpro/sysadmin/priority-based-batch-scheduling.md
Owners: @johnmichalak

Batch Concurrency Control General Availability
  articles/fin-ops-core/dev-itpro/sysadmin/priority-based-batch-scheduling.md
Owners: @johnmichalak

edit
  articles/fin-ops-core/dev-itpro/m365-copilot/faq-for-chat-with-fno-data-on-m365copilot.md
  articles/fin-ops-core/dev-itpro/responsible-ai/responsible-ai-overview.md
  articles/fin-ops-core/dev-itpro/toc.yml
  articles/fin-ops-core/fin-ops/copilot/copilot-for-finance-operations.md
  articles/fin-ops-core/fin-ops/copilot/faq-copilot-generative-help.md
  articles/fin-ops-core/fin-ops/get-started/help-overview.md
  articles/supply-chain/responsible-ai-overview.md
Owners: @johnmichalak, @josaw1, @kamaybac

edit
  articles/fin-ops-core/dev-itpro/m365-copilot/faq-for-chat-with-fno-data-on-m365copilot.md
  articles/fin-ops-core/dev-itpro/responsible-ai/responsible-ai-overview.md
  articles/supply-chain/faq-confirmed-po-changes.md
  articles/supply-chain/faq-inventory-query.md
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation.md
  articles/supply-chain/responsible-ai-overview.md
Owners: @johnmichalak, @kamaybac

Create e-invoicing-isv-connector.md
  articles/finance/localizations/global/e-invoicing-isv-connector.md
Owners: @kfend

edit
  articles/fin-ops-core/fin-ops/copilot/copilot-for-finance-operations.md
Owners: @josaw1

edit
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update e-invoicing-isv-connector.md
  articles/finance/localizations/global/e-invoicing-isv-connector.md
Owners: @kfend

Edit
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

edit
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Create e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Update enable-copilot.md
  articles/fin-ops-core/dev-itpro/copilot/enable-copilot.md
Owners: @johnmichalak

Update faq-inventory-query.md
  articles/supply-chain/faq-inventory-query.md
Owners: @kamaybac

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

add new topic
  articles/supply-chain/demand-planning/custom-azure-machine-learning-algorithms.md
  articles/supply-chain/demand-planning/design-forecast-models.md
  articles/supply-chain/demand-planning/forecast-profiles.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

edit
  articles/supply-chain/demand-planning/custom-azure-machine-learning-algorithms.md
Owners: @kamaybac

Update adyen-connector.md
  articles/commerce/dev-itpro/adyen-connector.md
Owners: @josaw1

review
  articles/supply-chain/inventory/inventory-onhand-mobile-app.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

fix link
  articles/supply-chain/inventory/inventory-onhand-mobile-app.md
Owners: @kamaybac

add link
  articles/supply-chain/get-started/whats-new-scm-10-0-38.md
Owners: @kamaybac

Update quality-updates-schedule.md
  articles/fin-ops-core/dev-itpro/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Update purchase-on-premises.md
  articles/fin-ops-core/dev-itpro/get-started/purchase-on-premises.md
Owners: @johnmichalak

Edited updated sections
  articles/supply-chain/demand-planning/design-forecast-models.md
Owners: @kamaybac

Edited
  articles/supply-chain/demand-planning/custom-azure-machine-learning-algorithms.md
Owners: @kamaybac

Fixed links
  articles/supply-chain/demand-planning/forecast-profiles.md
Owners: @kamaybac

Update purchase-on-premises.md
  articles/fin-ops-core/dev-itpro/get-started/purchase-on-premises.md
Owners: @johnmichalak

Edited
  articles/finance/localizations/iberoamerica/ltm-Colombia-format-1001.md
Owners: @kfend

Edited updated sections
  articles/supply-chain/get-started/whats-new-scm-10-0-38.md
Owners: @kamaybac

Edited updated sections
  articles/supply-chain/toc.yml
Owners: @kamaybac

Edited
  articles/supply-chain/inventory/inventory-onhand-mobile-app.md
Owners: @kamaybac

Add files via upload
  articles/commerce/dom-clean-up.md
  articles/commerce/dom-extensibility.md
  articles/commerce/dom-limitations.md
  articles/commerce/dom-processing.md
  articles/commerce/dom-rules.md
  articles/commerce/results-of-dom-runs.md
  articles/commerce/set-up-dom.md
Owners: @josaw1

Update dom.md
  articles/commerce/dom.md
Owners: @josaw1
