Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update configure-BPA.md
  articles/finance/business-performance-analytics/configure-BPA.md
Owners: @twheeloc

Update configure-BPA.md
  articles/finance/business-performance-analytics/configure-BPA.md
Owners: @twheeloc

Update business-performance-analytics-home-page.md
  articles/finance/business-performance-analytics/business-performance-analytics-home-page.md
Owners: @twheeloc

Update business-performance-analytics-home-page.md
  articles/finance/business-performance-analytics/business-performance-analytics-home-page.md
Owners: @twheeloc

Update business-performance-analytics-home-page.md
  articles/finance/business-performance-analytics/business-performance-analytics-home-page.md
Owners: @twheeloc

Update quality-updates-build-details-10-0-31.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-build-details-10-0-31.md
Owners: @johnmichalak

Update how-to-create-and-edit-reports.md
  articles/finance/business-performance-analytics/how-to-create-and-edit-reports.md
Owners: @twheeloc

Update configure-BPA.md
  articles/finance/business-performance-analytics/configure-BPA.md
Owners: @twheeloc

Update bpa-faq.md
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

Update Reports-in-BPA.md
  articles/finance/business-performance-analytics/Reports-in-BPA.md
Owners: @twheeloc

Update install-bpa.md
  articles/finance/business-performance-analytics/install-bpa.md
Owners: @twheeloc

Update set-up-security.md
  articles/finance/business-performance-analytics/set-up-security.md
Owners: @twheeloc

Update ltm-core-latam-parameters.md
  articles/finance/localizations/ltm-core-latam-parameters.md
Owners: @kfend

Update quality-updates-build-details-10-0-31.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-build-details-10-0-31.md
Owners: @johnmichalak

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update quality-updates-build-details-10-0-31.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-build-details-10-0-31.md
Owners: @johnmichalak

Update quality-updates-schedule.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-schedule.md
Owners: @johnmichalak

Update mpos-extension-packaging.md
  articles/commerce/dev-itpro/pos-extension/mpos-extension-packaging.md
Owners: @josaw1

Update pos-extension-overview.md
  articles/commerce/dev-itpro/pos-extension/pos-extension-overview.md
Owners: @josaw1

Update new-environments-visual-studio-teams-branch-retail-projects.md
  articles/commerce/dev-itpro/new-environments-visual-studio-teams-branch-retail-projects.md
Owners: @josaw1

Add files via upload
  articles/commerce/includes/retail-sdk-deprecation-banner.md
Owners: @josaw1

Update retail-server-icontroller-extension.md
  articles/commerce/dev-itpro/retail-server-icontroller-extension.md
Owners: @josaw1

Update migrate-commerce-sdk.md
  articles/commerce/dev-itpro/retail-sdk/migrate-commerce-sdk.md
Owners: @josaw1

Update er-data-sources.md
  articles/fin-ops-core/dev-itpro/analytics/er-data-sources.md
Owners: @johnmichalak

Update er-data-sources.md
  articles/fin-ops-core/dev-itpro/analytics/er-data-sources.md
Owners: @johnmichalak

Update typescript-proxy-retail-pos.md
  articles/commerce/dev-itpro/typescript-proxy-retail-pos.md
Owners: @josaw1

Update retail-store-scale-unit-configuration-installation.md
  articles/commerce/dev-itpro/retail-store-scale-unit-configuration-installation.md
Owners: @josaw1

Update quality-updates-build-details-10-0-31.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-build-details-10-0-31.md
Owners: @johnmichalak

Update quality-updates-build-details-10-0-31.md
  articles/fin-ops-core/fin-ops/get-started/quality-updates-build-details-10-0-31.md
Owners: @johnmichalak

Update bpa-faq.md
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

add content from FastTrack + links to guidance
  articles/fin-ops-core/dev-itpro/data-entities/data-entities.md
  articles/fin-ops-core/dev-itpro/data-entities/entity-customer-definitions-customerbase.md
  articles/fin-ops-core/dev-itpro/data-entities/entity-customer-details-v2-na.md
  articles/fin-ops-core/dev-itpro/data-entities/entity-customers-v3-customerv3.md
  articles/fin-ops-core/dev-itpro/data-entities/entity-products-v2-productsv2.md
  articles/fin-ops-core/dev-itpro/data-entities/entity-released-products-v2-releasedproductv2.md
  articles/fin-ops-core/dev-itpro/data-entities/entity-sales-order-headers-v2-salesorderheaderv2.md
  articles/fin-ops-core/dev-itpro/data-entities/entity-sales-order-lines-v2-salesorderline.md
  articles/fin-ops-core/dev-itpro/data-entities/entity-vendor-invoice-charges-vendorinvoiceheadercharge.md
  articles/fin-ops-core/dev-itpro/data-entities/entity-vendor-invoice-document-attachment-v2-vendorinvoicedocumentattachment.md
  articles/fin-ops-core/dev-itpro/data-entities/entity-vendor-invoice-header-vendorinvoiceheader.md
  articles/fin-ops-core/dev-itpro/data-entities/entity-vendor-invoice-line-charges-vendorinvoicelinecharge.md
  articles/fin-ops-core/dev-itpro/data-entities/entity-vendor-invoice-line-vendorinvoiceline.md
  articles/supply-chain/pim/data-entities.md
Owners: @johnmichalak, @kamaybac

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update planning-optimization-trouble-shooting.md
  articles/supply-chain/master-planning/planning-optimization/planning-optimization-trouble-shooting.md
Owners: @kamaybac

review
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash.md
Owners: @josaw1

revise Sales integration features
  articles/supply-chain/get-started/whats-new-scm-10-0-33.md
  articles/supply-chain/get-started/whats-new-scm-10-0-34.md
Owners: @kamaybac

Update planning-optimization-fit-analysis.md
  articles/supply-chain/master-planning/planning-optimization/planning-optimization-fit-analysis.md
Owners: @kamaybac

review
  articles/supply-chain/master-planning/planning-optimization/planning-optimization-fit-analysis.md
Owners: @kamaybac

Update ltm-core-value-query.md
  articles/finance/localizations/ltm-core-value-query.md
Owners: @kfend

Update Deferral-posting-methods.md
  articles/finance/accounts-receivable/Deferral-posting-methods.md
Owners: @twheeloc

Update subscription-billing-summary.md
  articles/finance/accounts-receivable/subscription-billing-summary.md
Owners: @twheeloc
