Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update configure-ssrs-on-premises.md
  articles/fin-ops-core/dev-itpro/analytics/configure-ssrs-on-premises.md
Owners: @johnmichalak

Update electronic-reporting-embed-images-shapes.md
  articles/fin-ops-core/dev-itpro/analytics/electronic-reporting-embed-images-shapes.md
Owners: @johnmichalak

Update er-app-specific-parameters-configure-format.md
  articles/fin-ops-core/dev-itpro/analytics/er-app-specific-parameters-configure-format.md
Owners: @johnmichalak

Update er-app-specific-parameters-set-up.md
  articles/fin-ops-core/dev-itpro/analytics/er-app-specific-parameters-set-up.md
Owners: @johnmichalak

Update er-backup-storage-templates.md
  articles/fin-ops-core/dev-itpro/analytics/er-backup-storage-templates.md
Owners: @johnmichalak

Update er-barcode-data-sources.md
  articles/fin-ops-core/dev-itpro/analytics/er-barcode-data-sources.md
Owners: @johnmichalak

Update er-bdm-add-field-to-excel-template.md
  articles/fin-ops-core/dev-itpro/analytics/er-bdm-add-field-to-excel-template.md
Owners: @johnmichalak

Update er-bdm-update-structure.md
  articles/fin-ops-core/dev-itpro/analytics/er-bdm-update-structure.md
Owners: @johnmichalak

Update er-business-document-management.md
  articles/fin-ops-core/dev-itpro/analytics/er-business-document-management.md
Owners: @johnmichalak

Update er-business-document-management-new-template-ui.md
  articles/fin-ops-core/dev-itpro/analytics/er-business-document-management-new-template-ui.md
Owners: @johnmichalak

Update er-calculated-field-ds-performance.md
  articles/fin-ops-core/dev-itpro/analytics/er-calculated-field-ds-performance.md
Owners: @johnmichalak

Update er-calculated-field-type.md
  articles/fin-ops-core/dev-itpro/analytics/er-calculated-field-type.md
Owners: @johnmichalak

Update er-components-inspections.md
  articles/fin-ops-core/dev-itpro/analytics/er-components-inspections.md
Owners: @johnmichalak

Update er-configure-data-import-batch.md
  articles/fin-ops-core/dev-itpro/analytics/er-configure-data-import-batch.md
Owners: @johnmichalak

Update er-configure-data-import-sharepoint.md
  articles/fin-ops-core/dev-itpro/analytics/er-configure-data-import-sharepoint.md
Owners: @johnmichalak

Update er-country-dependent-model-mapping.md
  articles/fin-ops-core/dev-itpro/analytics/er-country-dependent-model-mapping.md
Owners: @johnmichalak

Update er-cross-company-data-sources.md
  articles/fin-ops-core/dev-itpro/analytics/er-cross-company-data-sources.md
Owners: @johnmichalak

Update er-custom-storage-generated-documents.md
  articles/fin-ops-core/dev-itpro/analytics/er-custom-storage-generated-documents.md
Owners: @johnmichalak

Update er-custom-storage-generated-files.md
  articles/fin-ops-core/dev-itpro/analytics/er-custom-storage-generated-files.md
Owners: @johnmichalak

Update er-data-model-parameterized-calls.md
  articles/fin-ops-core/dev-itpro/analytics/er-data-model-parameterized-calls.md
Owners: @johnmichalak

Update er-data-sources.md
  articles/fin-ops-core/dev-itpro/analytics/er-data-sources.md
Owners: @johnmichalak

Update financial-insights.md
  articles/fin-ops-core/dev-itpro/analytics/financial-insights.md
Owners: @johnmichalak

Update inventory-visibility-api.md
  articles/supply-chain/inventory/inventory-visibility-api.md
Owners: @kamaybac

Update inventory-visibility-api.md
  articles/supply-chain/inventory/inventory-visibility-api.md
Owners: @kamaybac

Create product-search-setup.md
  articles/supply-chain/inventory/product-search-setup.md
Owners: @kamaybac

Update toc.yml
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update inventory-visibility-api.md
  articles/supply-chain/inventory/inventory-visibility-api.md
Owners: @kamaybac

review
  articles/supply-chain/asset-management/asset-management-mobile-app/asset-management-app-faq.md
Owners: @kamaybac

Update inventory-visibility-api.md
  articles/supply-chain/inventory/inventory-visibility-api.md
Owners: @kamaybac

Update migrate-commerce-sdk.md
  articles/commerce/dev-itpro/retail-sdk/migrate-commerce-sdk.md
Owners: @josaw1

review
  articles/supply-chain/asset-management/asset-management-mobile-app/asset-management-app-faq.md
Owners: @kamaybac

review
  articles/supply-chain/asset-management/asset-management-mobile-app/asset-management-app-faq.md
  articles/supply-chain/asset-management/asset-management-mobile-app/asset-management-mobile-app-overview.md
  articles/supply-chain/asset-management/asset-management-mobile-app/maintenance-requests.md
  articles/supply-chain/asset-management/asset-management-mobile-app/onboard-app.md
  articles/supply-chain/asset-management/asset-management-mobile-app/work-orders.md
Owners: @kamaybac

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update trace-execution-er-troubleshoot-perf.md
  articles/fin-ops-core/dev-itpro/analytics/trace-execution-er-troubleshoot-perf.md
Owners: @johnmichalak

Update relative-path-data-bindings-er-models-format.md
  articles/fin-ops-core/dev-itpro/analytics/relative-path-data-bindings-er-models-format.md
Owners: @johnmichalak

Update rcs-optional-attributes.md
  articles/fin-ops-core/dev-itpro/analytics/rcs-optional-attributes.md
Owners: @johnmichalak

Update general-electronic-reporting-report-configuration-get-data-powerbi.md
  articles/fin-ops-core/dev-itpro/analytics/general-electronic-reporting-report-configuration-get-data-powerbi.md
Owners: @johnmichalak

Update general-electronic-reporting-manage-configuration-lifecycle.md
  articles/fin-ops-core/dev-itpro/analytics/general-electronic-reporting-manage-configuration-lifecycle.md
Owners: @johnmichalak

Update general-electronic-reporting.md
  articles/fin-ops-core/dev-itpro/analytics/general-electronic-reporting.md
Owners: @johnmichalak

Update er-user-input-parameter-data-sources.md
  articles/fin-ops-core/dev-itpro/analytics/er-user-input-parameter-data-sources.md
Owners: @johnmichalak

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
