Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management/omnichannel-media-management-overview.md
Owners: @josaw1

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management/omnichannel-media-management-overview.md
Owners: @josaw1

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management/omnichannel-media-management-overview.md
Owners: @josaw1

Update environment-migration-process.md
  articles/fin-ops-core/dev-itpro/deployment/environment-migration-process.md
Owners: @johnmichalak

Update environment-migration-process.md
  articles/fin-ops-core/dev-itpro/deployment/environment-migration-process.md
Owners: @johnmichalak

Update environment-migration-process.md
  articles/fin-ops-core/dev-itpro/deployment/environment-migration-process.md
Owners: @johnmichalak

Update project-migration-manager.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/project-migration-manager.md
Owners: @johnmichalak

review
  articles/supply-chain/toc.yml
  articles/supply-chain/warehousing/gs1-barcodes.md
  articles/supply-chain/warehousing/warehouse-app-packing-containers.md
  articles/supply-chain/warehousing/work-user-sessions.md
Owners: @kamaybac

Updates
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/lcs-setup.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/reset.md
  articles/fin-ops-core/dev-itpro/power-platform/enable-power-platform-integration.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-core-concepts.md
  articles/fin-ops-core/dev-itpro/power-platform/overview.md
  articles/fin-ops-core/dev-itpro/toc.yml
  articles/supply-chain/global-inventory-accounting/get-started-with-gia.md
Owners: @josaw1, @sericks007, @johnmichalak, @kamaybac

Update whats-new-scm-10-0-34.md
  articles/supply-chain/get-started/whats-new-scm-10-0-34.md
Owners: @kamaybac

Update whats-new-scm-10-0-34.md
  articles/supply-chain/get-started/whats-new-scm-10-0-34.md
Owners: @kamaybac

review
  articles/fin-ops-core/dev-itpro/sysadmin/archiving-overview.md
  articles/fin-ops-core/dev-itpro/sysadmin/archiving-sales-orders.md
  articles/fin-ops-core/dev-itpro/sysadmin/archiving-setup.md
Owners: @johnmichalak

Update e-invoicing-pol-get-started.md
  articles/finance/localizations/e-invoicing-pol-get-started.md
Owners: @kfend

Update e-invoicing-pol-get-started.md
  articles/finance/localizations/e-invoicing-pol-get-started.md
Owners: @kfend

Update e-invoicing-pol-get-started.md
  articles/finance/localizations/e-invoicing-pol-get-started.md
Owners: @kfend

Update e-invoicing-pol-get-started.md
  articles/finance/localizations/e-invoicing-pol-get-started.md
Owners: @kfend

Update bpa-faq.md
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

Update e-invoicing-pol-get-started.md
  articles/finance/localizations/e-invoicing-pol-get-started.md
Owners: @kfend

Update e-invoicing-pol-get-started.md
  articles/finance/localizations/e-invoicing-pol-get-started.md
Owners: @kfend

Update e-invoicing-pol-get-started.md
  articles/finance/localizations/e-invoicing-pol-get-started.md
Owners: @kfend

Update bpa-faq.md
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

Update bpa-faq.md
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

Update environment-lifecycle-connect-finops-existing-dv.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-existing-dv.md
Owners: @sericks007

Update environment-lifecycle-connect-finops-new-dv.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-new-dv.md
Owners: @sericks007

Update environment-lifecycle-connect-finops-existing-dv.md
  articles/fin-ops-core/dev-itpro/power-platform/environment-lifecycle-connect-finops-existing-dv.md
Owners: @sericks007

Update deployment-options-geo.md
  articles/fin-ops-core/dev-itpro/deployment/deployment-options-geo.md
Owners: @johnmichalak

Update geo-to-geo-migrations.md
  articles/fin-ops-core/dev-itpro/deployment/geo-to-geo-migrations.md
Owners: @johnmichalak

Update pipeline-lcs-connection.md
  articles/fin-ops-core/dev-itpro/dev-tools/pipeline-lcs-connection.md
Owners: @josaw1

Update deployment-options-geo.md
  articles/fin-ops-core/dev-itpro/deployment/deployment-options-geo.md
Owners: @johnmichalak

Update deployenvironment-newinfrastructure.md
  articles/fin-ops-core/dev-itpro/deployment/deployenvironment-newinfrastructure.md
Owners: @johnmichalak

Update project-migration-manager.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/project-migration-manager.md
Owners: @johnmichalak

Edited
  articles/commerce/dev-itpro/store-commerce-faq.md
Owners: @josaw1

Update environment-migration-process.md
  articles/fin-ops-core/dev-itpro/deployment/environment-migration-process.md
Owners: @johnmichalak

Update deployment-options-geo.md
  articles/fin-ops-core/dev-itpro/deployment/deployment-options-geo.md
Owners: @johnmichalak

Update environment-migration-process.md
  articles/fin-ops-core/dev-itpro/deployment/environment-migration-process.md
Owners: @johnmichalak

Update environment-migration-process.md
  articles/fin-ops-core/dev-itpro/deployment/environment-migration-process.md
Owners: @johnmichalak

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management/omnichannel-media-management-overview.md
Owners: @josaw1

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management/omnichannel-media-management-overview.md
Owners: @josaw1

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management/omnichannel-media-management-overview.md
Owners: @josaw1

Update work-user-sessions.md
  articles/supply-chain/warehousing/work-user-sessions.md
Owners: @kamaybac
