Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

policheck fixes
  articles/commerce/country-region-picker-module.md
  articles/fin-ops-core/dev-itpro/analytics/tasks/er-generate-documents-application-data-update-part-5-generate-documents-application-data-update.md
  articles/fin-ops-core/dev-itpro/data-entities/countryregion-codes-configuration-keys.md
  articles/fin-ops-core/dev-itpro/dev-ref/xpp-data-composite.md
  articles/fin-ops-core/fin-ops/get-started/whats-new-platform-update-8.md
  articles/finance/accounts-receivable/archive-printed-invoices.md
  articles/finance/general-ledger/electronic-messaging-setup.md
  articles/finance/get-started/whats-new-changed-10-0-22.md
  articles/finance/get-started/whats-new-changed-10-0-23.md
  articles/finance/get-started/whats-new-changed-10-0-31.md
  articles/finance/localizations/apac-sau-sales-tax.md
  articles/finance/localizations/e-invoicing-eg-get-started.md
  articles/finance/localizations/e-invoicing-pol-get-started.md
  articles/finance/localizations/emea-cze-eu-sales-list.md
  articles/finance/localizations/emea-deu-intrastat.md
  articles/finance/localizations/emea-fra-intrastat.md
  articles/finance/localizations/emea-hun-fixed-asset-to-inventory.md
  articles/finance/localizations/emea-hun-sales-tax-reports.md
  articles/finance/localizations/emea-nl-intrastat.md
  articles/finance/localizations/emea-pol-standard-audit-file-saf.md
  articles/finance/localizations/emea-pol-vdek-setup.md
  articles/finance/localizations/emea-registration-ids.md
  articles/finance/localizations/emea-swe-VAT-declaration-Sweden.md
  articles/finance/localizations/ltm-core-bank-expenses.md
  articles/finance/localizations/tasks/customize-german-audit-file-configuration.md
  articles/supply-chain/pim/country-of-origin.md
Owners: @josaw1, @johnmichalak, @twheeloc, @kfend, @kamaybac

Update clean-up-source-data-upgrade.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/clean-up-source-data-upgrade.md
Owners: @johnmichalak

Update emea-eeu-advance-invoices-for-retail.md
  articles/commerce/localizations/emea-eeu-advance-invoices-for-retail.md
Owners: @josaw1

Update emea-eeu-deployment.md
  articles/commerce/localizations/emea-eeu-deployment.md
Owners: @josaw1

Update whats-new-dual-write.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/whats-new-dual-write.md
Owners: @josaw1

Update whats-new-dual-write.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/whats-new-dual-write.md
Owners: @josaw1

Update whats-new-dual-write.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/whats-new-dual-write.md
Owners: @josaw1

Update bank-revaluation.md
  articles/finance/cash-bank-management/bank-revaluation.md
Owners: @twheeloc

update
  articles/commerce/inventory-availability-apis.md
Owners: @josaw1

update
  articles/commerce/inventory-lookup-channel-side-calc.md
Owners: @josaw1

Update emea-ita-e-invoices.md
  articles/finance/localizations/emea-ita-e-invoices.md
Owners: @kfend

Update emea-eeu-advance-invoices-for-retail.md
  articles/commerce/localizations/emea-eeu-advance-invoices-for-retail.md
Owners: @josaw1

Create emea-reporting-for-multiple-vat-registrations-cz.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-cz.md
Owners: @kfend

Update emea-reporting-for-multiple-vat-registrations-cz.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-cz.md
Owners: @kfend

Create emea-reporting-for-multiple-vat-registrations-at.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-at.md
Owners: @kfend

Create emea-reporting-for-multiple-vat-registrations-be.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-be.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update emea-reporting-for-multiple-vat-registrations.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations.md
Owners: @kfend

Create emea-reporting-for-multiple-vat-registrations-dk.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-dk.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update emea-reporting-for-multiple-vat-registrations.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations.md
Owners: @kfend

Create emea-reporting-for-multiple-vat-registrations-fi.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-fi.md
Owners: @kfend

Update emea-reporting-for-multiple-vat-registrations.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations.md
Owners: @kfend

Create emea-reporting-for-multiple-vat-registrations-fr.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-fr.md
Owners: @kfend

Create emea-reporting-for-multiple-vat-registrations-de.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-de.md
Owners: @kfend

Create emea-reporting-for-multiple-vat-registrations-nl.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-nl.md
Owners: @kfend

Create emea-reporting-for-multiple-vat-registrations-no.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-no.md
Owners: @kfend

Create emea-reporting-for-multiple-vat-registrations-pl.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-pl.md
Owners: @kfend

Create emea-reporting-for-multiple-vat-registrations-es.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-es.md
Owners: @kfend

Create emea-reporting-for-multiple-vat-registrations-se.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-se.md
Owners: @kfend

Create emea-reporting-for-multiple-vat-registrations-ch.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-ch.md
Owners: @kfend

Create emea-reporting-for-multiple-vat-registrations-uk.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-uk.md
Owners: @kfend

Update emea-reporting-for-multiple-vat-registrations-at.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-at.md
Owners: @kfend

Update emea-reporting-for-multiple-vat-registrations-be.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-be.md
Owners: @kfend

Update emea-reporting-for-multiple-vat-registrations-dk.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-dk.md
Owners: @kfend

Update emea-reporting-for-multiple-vat-registrations-fi.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-fi.md
Owners: @kfend

Update emea-reporting-for-multiple-vat-registrations-fr.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-fr.md
Owners: @kfend

Update emea-reporting-for-multiple-vat-registrations-de.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-de.md
Owners: @kfend

Update emea-reporting-for-multiple-vat-registrations-nl.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-nl.md
Owners: @kfend

Update emea-reporting-for-multiple-vat-registrations-no.md
  articles/finance/localizations/emea-reporting-for-multiple-vat-registrations-no.md
Owners: @kfend
