Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update service-protection-api-limits.md
  articles/fin-ops-core/dev-itpro/data-entities/service-protection-api-limits.md
Owners: @johnmichalak

Update lcs-aad-app-reg.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/lcs-aad-app-reg.md
Owners: @johnmichalak

Update lcs-aad-app-reg.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/lcs-aad-app-reg.md
Owners: @johnmichalak

Update emea-deu-vat-declaration-germany.md
  articles/finance/localizations/emea-deu-vat-declaration-germany.md
Owners: @kfend

Update e-invoicing-ita-fatturapa-get-started.md
  articles/finance/localizations/e-invoicing-ita-fatturapa-get-started.md
Owners: @kfend

Update er-fillable-excel.md
  articles/fin-ops-core/dev-itpro/analytics/er-fillable-excel.md
Owners: @johnmichalak

Update invoice-capture-channel.md
  articles/finance/accounts-payable/invoice-capture-channel.md
Owners: @twheeloc

Update invoice-capture-channel.md
  articles/finance/accounts-payable/invoice-capture-channel.md
Owners: @twheeloc

Edited
  articles/finance/general-ledger/one-voucher-new.md
Owners: @twheeloc

Edited updated sections
  articles/finance/localizations/emea-deu-vat-declaration-germany.md
Owners: @kfend

Edited updated sections
  articles/fin-ops-core/dev-itpro/analytics/er-fillable-excel.md
Owners: @johnmichalak

Add User and Password to Console
  articles/fin-ops-core/dev-itpro/database/dbmovement-scenario-exportuat.md
Owners: @johnmichalak

Update emea-deu-vat-declaration-germany.md
  articles/finance/localizations/emea-deu-vat-declaration-germany.md
Owners: @kfend

Update create-predefined-product-variants.md
  articles/supply-chain/pim/tasks/create-predefined-product-variants.md
Owners: @kamaybac

add file, review
  articles/supply-chain/master-planning/media/safety-stock-example.png
  articles/supply-chain/master-planning/planning-optimization/planning-optimization-differences-with-built-in.md
  articles/supply-chain/master-planning/safety-stock-replenishment.md
  articles/supply-chain/master-planning/safety-stock.md
Owners: @kamaybac

review
  articles/supply-chain/master-planning/safety-stock.md
Owners: @kamaybac

Update dual-write-prospect-to-cash.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/dual-write-prospect-to-cash.md
Owners: @josaw1

Update financial-reporting-getting-started.md
  articles/finance/general-ledger/financial-reporting-getting-started.md
Owners: @twheeloc

Update new-master-planning-engine.md
  articles/supply-chain/master-planning/new-master-planning-engine.md
Owners: @kamaybac

remove comments
  articles/supply-chain/pricing-management/base-price-determination-rules.md
  articles/supply-chain/pricing-management/base-price-versions.md
  articles/supply-chain/pricing-management/concurrence-cross-codes.md
  articles/supply-chain/pricing-management/concurrence-within-codes.md
  articles/supply-chain/pricing-management/customer-product-attribute-groups.md
  articles/supply-chain/pricing-management/discounts.md
  articles/supply-chain/pricing-management/margin-discount-pricing-rules.md
  articles/supply-chain/pricing-management/margin-price-adjustments.md
  articles/supply-chain/pricing-management/price-attribute-groups.md
  articles/supply-chain/pricing-management/price-attributes-overview.md
  articles/supply-chain/pricing-management/price-attributes-setup.md
  articles/supply-chain/pricing-management/price-component-code.md
  articles/supply-chain/pricing-management/price-component-posting.md
  articles/supply-chain/pricing-management/price-structure-details.md
  articles/supply-chain/pricing-management/price-structure-multiple.md
  articles/supply-chain/pricing-management/price-structure-overview.md
  articles/supply-chain/pricing-management/price-structure-single.md
  articles/supply-chain/pricing-management/sales-trade-agreement-prices.md
  articles/supply-chain/pricing-management/vendor-list-price.md
Owners: @kamaybac

Update financial-reporting-getting-started.md
  articles/finance/general-ledger/financial-reporting-getting-started.md
Owners: @twheeloc

Update financial-reporting-getting-started.md
  articles/finance/general-ledger/financial-reporting-getting-started.md
Owners: @twheeloc

Update financial-reporting-getting-started.md
  articles/finance/general-ledger/financial-reporting-getting-started.md
Owners: @twheeloc

Update financial-reporting-getting-started.md
  articles/finance/general-ledger/financial-reporting-getting-started.md
Owners: @twheeloc

Update financial-reporting-getting-started.md
  articles/finance/general-ledger/financial-reporting-getting-started.md
Owners: @twheeloc

Create fin-reports-best.md
  articles/finance/financial-reporting/fin-reports-best.md
Owners: @twheeloc

Update fin-reports-best.md
  articles/finance/financial-reporting/fin-reports-best.md
Owners: @twheeloc

Update fin-reports-best.md
  articles/finance/financial-reporting/fin-reports-best.md
Owners: @twheeloc

Update cookie-compliance.md
  articles/commerce/cookie-compliance.md
Owners: @josaw1

Update cookie-compliance.md
  articles/commerce/cookie-compliance.md
Owners: @josaw1

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Rename articles/finance/financial-reporting/fin-reports-best.md to articles/finance/general-ledger/fin-reports-best.md
  articles/finance/general-ledger/fin-reports-best.md
Owners: @twheeloc

Update invoice-capture-channel.md
  articles/finance/accounts-payable/invoice-capture-channel.md
Owners: @twheeloc

Update Install-invoice-capture.md
  articles/finance/accounts-payable/Install-invoice-capture.md
Owners: @twheeloc

Update cookie-compliance.md
  articles/commerce/cookie-compliance.md
Owners: @josaw1

Update service-protection-api-limits.md
  articles/fin-ops-core/dev-itpro/data-entities/service-protection-api-limits.md
Owners: @johnmichalak

Update service-protection-api-limits.md
  articles/fin-ops-core/dev-itpro/data-entities/service-protection-api-limits.md
Owners: @johnmichalak

Update invoice-capture-overview.md
  articles/finance/accounts-payable/invoice-capture-overview.md
Owners: @twheeloc

Update chat-module-pva.md
  articles/commerce/chat-module-pva.md
Owners: @josaw1

Update invoice-capture-config-group.md
  articles/finance/accounts-payable/invoice-capture-config-group.md
Owners: @twheeloc

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
