Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update emea-pol-vat-declaration.md
  articles/finance/localizations/poland/emea-pol-vat-declaration.md
Owners: @kfend

Update client-disconnected.md
  articles/fin-ops-core/dev-itpro/user-interface/client-disconnected.md
Owners: @johnmichalak

Update emea-pol-vat-declaration.md
  articles/finance/localizations/poland/emea-pol-vat-declaration.md
Owners: @kfend

Update client-disconnected.md
  articles/fin-ops-core/dev-itpro/user-interface/client-disconnected.md
Owners: @johnmichalak

Update messaging-user.md
  articles/fin-ops-core/dev-itpro/user-interface/messaging-user.md
Owners: @johnmichalak

Update install-csu-dev-env.md
  articles/commerce/dev-itpro/install-csu-dev-env.md
Owners: @josaw1

Update public-preview-releases.md
  articles/fin-ops-core/dev-itpro/get-started/public-preview-releases.md
Owners: @johnmichalak

remarks about shared deivce mode
  articles/supply-chain/warehousing/warehouse-app-authenticate-user-based.md
Owners: @kamaybac

Add files via upload
  articles/supply-chain/production-control/media/3p-mes-scenario.png
Owners: @kamaybac

Update TOC - Japan Fixed Assets
  articles/finance/TOC.yml
Owners: @twheeloc

Update hr-app.md
  articles/human-resources/hr-app.md
Owners: @twheeloc

Update hr-app.md
  articles/human-resources/hr-app.md
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

review
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
  articles/supply-chain/warehousing/warehouse-app-authenticate-user-based.md
  articles/supply-chain/warehousing/warehouse-app-user-based-auth-faq.md
Owners: @kamaybac

Update japan.md
  articles/finance/localizations/japan/japan.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

review
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
  articles/supply-chain/warehousing/mobile-device-work-users.md
  articles/supply-chain/warehousing/warehouse-app-authenticate-service-based.md
  articles/supply-chain/warehousing/warehouse-app-authenticate-user-based.md
  articles/supply-chain/warehousing/warehouse-app-user-based-auth-faq.md
Owners: @kamaybac

Update and rename B2B-commmerce-order-enhancements.md to B2B-order-enhancements.md
  articles/commerce/B2B-commmerce-order-enhancements.md
  articles/commerce/B2B-order-enhancements.md
Owners: @josaw1

Update e-invoicing-sa-onboarding.md
  articles/finance/localizations/mea/e-invoicing-sa-onboarding.md
Owners: @kfend

Update B2B-order-enhancements.md
  articles/commerce/B2B-order-enhancements.md
Owners: @josaw1

Update e-invoicing-sa-onboarding.md
  articles/finance/localizations/mea/e-invoicing-sa-onboarding.md
Owners: @kfend

Update bulk-associate-channel-to-site.md
  articles/commerce/bulk-associate-channel-to-site.md
Owners: @josaw1

Update public-preview-releases.md
  articles/fin-ops-core/dev-itpro/get-started/public-preview-releases.md
Owners: @johnmichalak

Edited updated sections
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
Owners: @kamaybac

Edited updated files
  articles/supply-chain/warehousing/warehouse-app-authenticate-user-based.md
Owners: @kamaybac

Update B2B-order-enhancements.md
  articles/commerce/B2B-order-enhancements.md
Owners: @josaw1

Update B2B-order-enhancements.md
  articles/commerce/B2B-order-enhancements.md
Owners: @josaw1

Rename B2B-order-enhancements.md to B2B-call-center.md
  articles/commerce/B2B-call-center.md
Owners: @josaw1

Update bulk-associate-channel-to-site.md
  articles/commerce/bulk-associate-channel-to-site.md
Owners: @josaw1

Update Petty-cash.md
  articles/finance/cash-bank-management/Petty-cash.md
Owners: @twheeloc

Add files via upload
  articles/finance/localizations/global/universal-tax-rate-api-configure-tax-solution-provider.md
  articles/finance/localizations/global/universal-tax-rate-api-how-to-setup-clientId-and-clientsecret.md
  articles/finance/localizations/global/universal-tax-rate-api-overview.md
  articles/finance/localizations/global/universal-tax-rate-api-use-tax-assessment.md
Owners: @kfend

Add files via upload
  articles/finance/localizations/media/CustomerISVFeatureCredential-GTEPlus.png.png
  articles/finance/localizations/media/items.png
  articles/finance/localizations/media/items1.png
  articles/finance/localizations/media/items10.png
  articles/finance/localizations/media/items2.png
  articles/finance/localizations/media/items3.png
  articles/finance/localizations/media/items4.png
  articles/finance/localizations/media/items5.png
  articles/finance/localizations/media/items6.png
  articles/finance/localizations/media/items7.png
  articles/finance/localizations/media/items8.png
  articles/finance/localizations/media/items9.png
Owners: @kfend

Update universal-tax-rate-api-how-to-setup-clientId-and-clientsecret.md
  articles/finance/localizations/global/universal-tax-rate-api-how-to-setup-clientId-and-clientsecret.md
Owners: @kfend

Create GS-e-invoicing-set-up-overview.md
  articles/finance/localizations/global/GS-e-invoicing-set-up-overview.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update GS-e-invoicing-set-up-overview.md
  articles/finance/localizations/global/GS-e-invoicing-set-up-overview.md
Owners: @kfend

Update GS-e-invoicing-set-up-overview.md
  articles/finance/localizations/global/GS-e-invoicing-set-up-overview.md
Owners: @kfend

Update GS-e-invoicing-service-overview.md
  articles/finance/localizations/global/GS-e-invoicing-service-overview.md
Owners: @kfend

Update GS-e-invoicing-set-up-overview.md
  articles/finance/localizations/global/GS-e-invoicing-set-up-overview.md
Owners: @kfend

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
