Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update global-get-started-with-tax-calculation-service.md
  articles/finance/localizations/global/global-get-started-with-tax-calculation-service.md
Owners: @kfend

Edited
  articles/finance/localizations/global/workspace/gsw-import-er-config-dataverse.md
Owners: @kfend

Edited
  articles/finance/localizations/global/workspace/gsw-upload-er-config.md
Owners: @kfend

Tweak
  articles/finance/localizations/global/workspace/gsw-import-er-config-dataverse.md
Owners: @kfend

Edited
  articles/finance/localizations/global/workspace/merge-rcs-to-gsw.md
Owners: @kfend

New local agent release
  articles/fin-ops-core/dev-itpro/lifecycle-services/update-local-agent.md
Owners: @johnmichalak

Create GS-e-invoicing-create-azure-key-vault-azure-portal.md
  articles/finance/localizations/global/GS-e-invoicing-create-azure-key-vault-azure-portal.md
Owners: @kfend

Update GS-e-invoicing-create-azure-key-vault-azure-portal.md
  articles/finance/localizations/global/GS-e-invoicing-create-azure-key-vault-azure-portal.md
Owners: @kfend

Create GS-e-invoicing-create-azure-storage-account-azure-portal.md
  articles/finance/localizations/global/GS-e-invoicing-create-azure-storage-account-azure-portal.md
Owners: @kfend

Update GS-e-invoicing-create-azure-storage-account-azure-portal.md
  articles/finance/localizations/global/GS-e-invoicing-create-azure-storage-account-azure-portal.md
Owners: @kfend

Update GS-e-invoicing-set-up-parameters.md
  articles/finance/localizations/global/GS-e-invoicing-set-up-parameters.md
Owners: @kfend

edit
  articles/supply-chain/inventory/inventory-on-hand-list.md
  articles/supply-chain/sales-marketing/intercompany-check-price-discrepancies.md
Owners: @kamaybac

Create GS-e-invoicing-create-sharepoint-connection.md
  articles/finance/localizations/global/GS-e-invoicing-create-sharepoint-connection.md
Owners: @kfend

Update GS-e-invoicing-administration-integration-components.md
  articles/finance/localizations/global/GS-e-invoicing-administration-integration-components.md
Owners: @kfend

Update GS-e-invoicing-create-sharepoint-connection.md
  articles/finance/localizations/global/GS-e-invoicing-create-sharepoint-connection.md
Owners: @kfend

Create GS-e-invoicing-set-up-azure-resources.md
  articles/finance/localizations/global/GS-e-invoicing-set-up-azure-resources.md
Owners: @kfend

Update GS-e-invoicing-service-overview.md
  articles/finance/localizations/global/GS-e-invoicing-service-overview.md
Owners: @kfend

Update GS-e-invoicing-set-up-azure-resources.md
  articles/finance/localizations/global/GS-e-invoicing-set-up-azure-resources.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update not-used-parameters.md
  articles/supply-chain/master-planning/planning-optimization/not-used-parameters.md
Owners: @kamaybac

Create GSe-invoicing-configure-email-for-exchange.md
  articles/finance/localizations/global/GSe-invoicing-configure-email-for-exchange.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

add file
  articles/supply-chain/get-started/whats-new-home-page.md
  articles/supply-chain/get-started/whats-new-scm-10-0-36.md
  articles/supply-chain/get-started/whats-new-scm-10-0-38.md
  articles/supply-chain/get-started/whats-new-scm-10-0-39.md
  articles/supply-chain/global-inventory-accounting/get-started-with-gia.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

edit
  articles/supply-chain/get-started/whats-new-scm-10-0-39.md
Owners: @kamaybac

edit
  articles/supply-chain/get-started/whats-new-scm-10-0-39.md
Owners: @kamaybac

add SSO
  articles/supply-chain/get-started/whats-new-scm-10-0-39.md
Owners: @kamaybac

remove empty files
  articles/fin-ops-core/dev-itpro/organization-administration/global-address-book-address-setupd
  articles/fin-ops-core/fin-ops/dev-itpro/organization-administration/global-address-book-address-setup.md
  common-data-model/schema/core/operationscommon/entities/supplychain/productinformationmanagement/overview
Owners: @johnmichalak, @josaw1

review
  articles/supply-chain/warehousing/about-shipment-consolidation-policies.md
Owners: @kamaybac

review
  articles/supply-chain/warehousing/about-shipment-consolidation-policies.md
  articles/supply-chain/warehousing/create-or-modify-an-inbound-load.md
  articles/supply-chain/warehousing/mhax.md
Owners: @kamaybac

Update pricing-extensions.md
  articles/commerce/pricing-extensions.md
Owners: @josaw1

Update pricing-extensions.md
  articles/commerce/pricing-extensions.md
Owners: @josaw1

review
  articles/supply-chain/warehousing/mhax.md
  articles/supply-chain/warehousing/mixed-license-plate-receiving.md
Owners: @kamaybac

Update CollectionsWorkspace.md
  articles/finance/accounts-receivable/CollectionsWorkspace.md
Owners: @twheeloc

review
  articles/supply-chain/warehousing/mixed-license-plate-receiving.md
  articles/supply-chain/warehousing/release-to-warehouse-process.md
Owners: @kamaybac

review
  articles/supply-chain/warehousing/release-to-warehouse-process.md
Owners: @kamaybac

review
  articles/supply-chain/warehousing/warehousing-mobile-device-app-license-plate-receiving.md
  articles/supply-chain/warehousing/wave-templates.md
Owners: @kamaybac

Update whats-new-changed-10-0-39.md
  articles/finance/get-started/whats-new-changed-10-0-39.md
Owners: @twheeloc

Update CollectionsWorkspace.md
  articles/finance/accounts-receivable/CollectionsWorkspace.md
Owners: @twheeloc

Reviewed update (+fixed issue flagged by spelling/grammar check)
  articles/supply-chain/get-started/whats-new-scm-10-0-36.md
Owners: @kamaybac

Reviewed update (+fixed repetition of 'Dynamics' in title metadata and h1)
  articles/supply-chain/get-started/whats-new-scm-10-0-38.md
Owners: @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
