Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update Cash-Overview-Power-BI-content.md
  articles/finance/cash-bank-management/Cash-Overview-Power-BI-content.md
Owners: @twheeloc

Update Cash-Overview-Power-BI-content.md
  articles/finance/cash-bank-management/Cash-Overview-Power-BI-content.md
Owners: @twheeloc

Update Cash-Overview-Power-BI-content.md
  articles/finance/cash-bank-management/Cash-Overview-Power-BI-content.md
Owners: @twheeloc

Update connection-setup.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/connection-setup.md
Owners: @josaw1

Update enable-dual-write.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/enable-dual-write.md
Owners: @josaw1

Update connection-setup.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/connection-setup.md
Owners: @josaw1

edit
  articles/supply-chain/toc.yml
  articles/supply-chain/warehousing/mobile-device-workspace.md
Owners: @kamaybac

edit
  articles/supply-chain/warehousing/mobile-device-workspace.md
Owners: @kamaybac

Updated articles, removed obsolete references and updated screenshots
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/dual-write-system-req.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/enable-entity-map.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/lcs-setup.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/link-your-environment.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/dual-write-initial-write-phase.png
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/dual-write-related-entity-maps.png
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/dual-write-skip-initial-writes.png
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/media/dual-write-stop-pause-entity.png
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/requirements-and-prerequisites.md
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @josaw1, @johnmichalak

Update whats-new-platform-updates-10-0-36.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-36.md
Owners: @johnmichalak

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update behavioral-properties-data-entities.md
  articles/fin-ops-core/dev-itpro/data-entities/behavioral-properties-data-entities.md
Owners: @johnmichalak

Update bpa-faq with enhanced uninstall instructions.md
  articles/finance/business-performance-analytics/bpa-faq.md
Owners: @twheeloc

Update connection-setup.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/connection-setup.md
Owners: @josaw1

Create peap-3.md
  articles/includes/peap-3.md
Owners: none

Update automated-entity-store-refresh.md
  articles/fin-ops-core/dev-itpro/analytics/automated-entity-store-refresh.md
Owners: @johnmichalak

Update export-entities-to-your-own-database.md
  articles/fin-ops-core/dev-itpro/analytics/export-entities-to-your-own-database.md
Owners: @johnmichalak

Update behavioral-properties-data-entities.md
  articles/fin-ops-core/dev-itpro/data-entities/behavioral-properties-data-entities.md
Owners: @johnmichalak

Update build-consuming-data-entities.md
  articles/fin-ops-core/dev-itpro/data-entities/build-consuming-data-entities.md
Owners: @johnmichalak

Update config-key-entities.md
  articles/fin-ops-core/dev-itpro/data-entities/config-key-entities.md
Owners: @johnmichalak

Update configuration-data-packages.md
  articles/fin-ops-core/dev-itpro/data-entities/configuration-data-packages.md
Owners: @johnmichalak

Update configuration-data-projects.md
  articles/fin-ops-core/dev-itpro/data-entities/configuration-data-projects.md
Owners: @johnmichalak

Update configuration-data-templates.md
  articles/fin-ops-core/dev-itpro/data-entities/configuration-data-templates.md
Owners: @johnmichalak

Update copy-configuration.md
  articles/fin-ops-core/dev-itpro/data-entities/copy-configuration.md
Owners: @johnmichalak

Update countryregion-codes-configuration-keys.md
  articles/fin-ops-core/dev-itpro/data-entities/countryregion-codes-configuration-keys.md
Owners: @johnmichalak

Update cross-company-behavior.md
  articles/fin-ops-core/dev-itpro/data-entities/cross-company-behavior.md
Owners: @johnmichalak

Update data-entities-data-packages.md
  articles/fin-ops-core/dev-itpro/data-entities/data-entities-data-packages.md
Owners: @johnmichalak

Update data-entities-report.md
  articles/fin-ops-core/dev-itpro/data-entities/data-entities-report.md
Owners: @johnmichalak

Update data-entities.md
  articles/fin-ops-core/dev-itpro/data-entities/data-entities.md
Owners: @johnmichalak

Update data-entity-computed-columns-virtual-fields.md
  articles/fin-ops-core/dev-itpro/data-entities/data-entity-computed-columns-virtual-fields.md
Owners: @johnmichalak

Update data-entity-wizard-rules.md
  articles/fin-ops-core/dev-itpro/data-entities/data-entity-wizard-rules.md
Owners: @johnmichalak

Update data-import-export-job.md
  articles/fin-ops-core/dev-itpro/data-entities/data-import-export-job.md
Owners: @johnmichalak

Update data-task-automation.md
  articles/fin-ops-core/dev-itpro/data-entities/data-task-automation.md
Owners: @johnmichalak

Update dm-error-descriptions.md
  articles/fin-ops-core/dev-itpro/data-entities/dm-error-descriptions.md
Owners: @johnmichalak

Update entity-change-track.md
  articles/fin-ops-core/dev-itpro/data-entities/entity-change-track.md
Owners: @johnmichalak

Update excel-template-multiple.md
  articles/fin-ops-core/dev-itpro/data-entities/excel-template-multiple.md
Owners: @johnmichalak

Update security-data-entities.md
  articles/fin-ops-core/dev-itpro/data-entities/security-data-entities.md
Owners: @johnmichalak

Update support-super-type-sub-type.md
  articles/fin-ops-core/dev-itpro/data-entities/support-super-type-sub-type.md
Owners: @johnmichalak

Update third-party-service-test.md
  articles/fin-ops-core/dev-itpro/data-entities/third-party-service-test.md
Owners: @johnmichalak

Update tips-tricks-import-general-journal-entity.md
  articles/fin-ops-core/dev-itpro/data-entities/tips-tricks-import-general-journal-entity.md
Owners: @johnmichalak

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
