Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update dom-clean-up.md
  articles/commerce/dom-clean-up.md
Owners: @josaw1

Update batch-abort.md
  articles/fin-ops-core/dev-itpro/sysadmin/batch-abort.md
Owners: @johnmichalak

Update batch-abort.md
  articles/fin-ops-core/dev-itpro/sysadmin/batch-abort.md
Owners: @johnmichalak

Update dom-extensibility.md
  articles/commerce/dom-extensibility.md
Owners: @josaw1

Update dom-limitations.md
  articles/commerce/dom-limitations.md
Owners: @josaw1

Align the doc with import feature, remove export operation.
  articles/fin-ops-core/dev-itpro/database/import-database.md
Owners: @johnmichalak

Edited updated sections
  articles/supply-chain/transportation/tasks/register-driver-check-check-out-appointment.md
Owners: @kamaybac

Edited updated sections
  articles/supply-chain/inventory/inventory-visibility-power-platform.md
Owners: @kamaybac

Edited updated sections
  articles/supply-chain/inventory/inventory-visibility-api.md
Owners: @kamaybac

Edited
  articles/supply-chain/inventory/inventory-visibility-product-search-app.md
Owners: @kamaybac

Edited
  articles/supply-chain/inventory/inventory-visibility-product-search.md
Owners: @kamaybac

Fixed heading levels
  articles/supply-chain/inventory/inventory-visibility-product-search-app.md
Owners: @kamaybac

Edited
  articles/supply-chain/inventory/inventory-visibility-track-inventory-log-history.md
Owners: @kamaybac

Tweak
  articles/supply-chain/inventory/inventory-visibility-track-inventory-log-history.md
Owners: @kamaybac

Tweak
  articles/supply-chain/inventory/inventory-visibility-track-inventory-log-history.md
Owners: @kamaybac

Update dom-set-up.md
  articles/commerce/dom-set-up.md
Owners: @josaw1

Update dom-runs-results.md
  articles/commerce/dom-runs-results.md
Owners: @josaw1

Update dom-rules.md
  articles/commerce/dom-rules.md
Owners: @josaw1

Update dom-processing.md
  articles/commerce/dom-processing.md
Owners: @josaw1

Update dom.md
  articles/commerce/dom.md
Owners: @josaw1

Update dom-costs.md
  articles/commerce/dom-costs.md
Owners: @josaw1

Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Owners: none

update asssortment stopped products
  articles/commerce/assortments.md
Owners: @josaw1

add banners
  articles/supply-chain/inventory/inventory-visibility-product-search-app.md
  articles/supply-chain/inventory/inventory-visibility-product-search.md
Owners: @kamaybac

update date
  articles/supply-chain/inventory/inventory-visibility-product-search-app.md
  articles/supply-chain/inventory/inventory-visibility-product-search.md
Owners: @kamaybac

Add links and prerequisites
  articles/supply-chain/get-started/whats-new-scm-10-0-38.md
  articles/supply-chain/inventory/inventory-visibility-api.md
  articles/supply-chain/inventory/inventory-visibility-product-search-app.md
  articles/supply-chain/inventory/inventory-visibility-product-search.md
Owners: @kamaybac

review
  articles/supply-chain/pim/country-of-origin.md
Owners: @kamaybac

review
  articles/supply-chain/pim/country-of-origin.md
Owners: @kamaybac

review
  articles/finance/accounts-receivable/cm-credit-mgmt-setup.md
  articles/supply-chain/sales-marketing/credit-limits-customers.md
Owners: @twheeloc, @kamaybac

fix date
  articles/supply-chain/sales-marketing/credit-limits-customers.md
Owners: @kamaybac

add banner
  articles/supply-chain/inventory/inventory-visibility-track-inventory-log-history.md
Owners: @kamaybac

add feature
  articles/supply-chain/get-started/whats-new-scm-10-0-38.md
Owners: @kamaybac

Update whats-new-wma.md
  articles/supply-chain/warehousing/whats-new-wma.md
Owners: @kamaybac

Update credit-limits-customers.md
  articles/supply-chain/sales-marketing/credit-limits-customers.md
Owners: @kamaybac

add preview banners
  articles/supply-chain/inventory/inventory-visibility-api.md
  articles/supply-chain/inventory/inventory-visibility-product-search-app.md
  articles/supply-chain/inventory/inventory-visibility-product-search.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

edit
  articles/supply-chain/sensor-data-intelligence/sdi-deploy-iot-solution-on-azure.md
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update config-invoice-capture.md
  articles/finance/accounts-payable/config-invoice-capture.md
Owners: @twheeloc

Update invoice-capture-config-group.md
  articles/finance/accounts-payable/invoice-capture-config-group.md
Owners: @twheeloc

Update invoice-capture-workspace.md
  articles/finance/accounts-payable/invoice-capture-workspace.md
Owners: @twheeloc
