Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Edited
  articles/commerce/pricing-examples.md
Owners: @josaw1

Edited
  articles/commerce/pricing-extensions.md
Owners: @josaw1

Tweak
  articles/commerce/pricing-examples.md
Owners: @josaw1

Tweak
  articles/commerce/pricing-extensions.md
Owners: @josaw1

Update pricing-examples.md
  articles/commerce/pricing-examples.md
Owners: @josaw1

Update pricing-extensions.md
  articles/commerce/pricing-extensions.md
Owners: @josaw1

Update install-csu-dev-env.md
  articles/commerce/dev-itpro/install-csu-dev-env.md
Owners: @josaw1

Update install-csu-dev-env.md
  articles/commerce/dev-itpro/install-csu-dev-env.md
Owners: @josaw1

Update install-csu-dev-env.md
  articles/commerce/dev-itpro/install-csu-dev-env.md
Owners: @josaw1

Update install-csu-dev-env.md
  articles/commerce/dev-itpro/install-csu-dev-env.md
Owners: @josaw1

Update install-csu-dev-env.md
  articles/commerce/dev-itpro/install-csu-dev-env.md
Owners: @josaw1

Update install-csu-dev-env.md
  articles/commerce/dev-itpro/install-csu-dev-env.md
Owners: @josaw1

Testing authorization to push
  articles/fin-ops-core/dev-itpro/sysadmin/monitoring-and-telemetry-appinsights.md
Owners: @johnmichalak

Update whats-new-dual-write.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/whats-new-dual-write.md
Owners: @josaw1

Create GS-e-invoicing-service-overview.md
  articles/finance/localizations/global/GS-e-invoicing-service-overview.md
Owners: @kfend

Update GS-e-invoicing-service-overview.md
  articles/finance/localizations/global/GS-e-invoicing-service-overview.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Create GS-e-invoicing-administration-integration-components.md
  articles/finance/localizations/global/GS-e-invoicing-administration-integration-components.md
Owners: @kfend

Update GS-e-invoicing-administration-integration-components.md
  articles/finance/localizations/global/GS-e-invoicing-administration-integration-components.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

10.0.38 GA
  articles/supply-chain/get-started/whats-new-home-page.md
  articles/supply-chain/get-started/whats-new-scm-10-0-38.md
  articles/supply-chain/inventory/inventory-onhand-mobile-app.md
  articles/supply-chain/inventory/inventory-visibility-copilot-api.md
  articles/supply-chain/master-planning/coverage-settings.md
  articles/supply-chain/master-planning/supplier-requested-confirmed-dates.md
  articles/supply-chain/master-planning/supply-chain-calendars-master-planning.md
  articles/supply-chain/procurement/automatic-charges-allocation.md
  articles/supply-chain/sales-marketing/auto-charge-sequence-compound.md
  articles/supply-chain/sales-marketing/line-charges-specific-unit.md
  articles/supply-chain/sales-marketing/period-charges.md
  articles/supply-chain/toc.yml
  articles/supply-chain/transportation/sustainability-manager-integration-setup.md
  articles/supply-chain/warehousing/mixed-license-plate-receiving.md
Owners: @kamaybac

Update whats-new-dual-write.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/whats-new-dual-write.md
Owners: @josaw1

Update install-csu-dev-env.md
  articles/commerce/dev-itpro/install-csu-dev-env.md
Owners: @josaw1

Update whats-new-dual-write.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/whats-new-dual-write.md
Owners: @josaw1

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update latam-overview.md
  articles/finance/localizations/iberoamerica/latam-overview.md
Owners: @kfend

Update ltm-tax-legal-attributes.md
  articles/finance/localizations/iberoamerica/ltm-tax-legal-attributes.md
Owners: @kfend

Update emea-nor-satndard-audit-file-for-tax.md
  articles/finance/localizations/norway/emea-nor-satndard-audit-file-for-tax.md
Owners: @kfend

Update emea-dnk-vat-declaration-submission.md
  articles/finance/localizations/denmark/emea-dnk-vat-declaration-submission.md
Owners: @kfend

Update Net-customer-and-vendor-balances.md
  articles/finance/cash-bank-management/Net-customer-and-vendor-balances.md
Owners: @twheeloc

Edited
  articles/finance/business-performance-analytics/bpa-excel.md
Owners: @twheeloc

In all content, remove ms.prod = dynamics-365, Replace with ms.service = dynamics-365-op
  articles/fin-ops-core/dev-itpro/analytics/printing-capabilities-on-premises.md
Owners: @johnmichalak

In all content, remove ms.prod = dynamics-365, Replace with ms.service = dynamics-365-op
  articles/fin-ops-core/dev-itpro/deployment/onprem-remove-reinstall-AOS-node.md
  articles/fin-ops-core/dev-itpro/deployment/ssis-node.md
Owners: @johnmichalak

In all content, remove ms.prod = dynamics-365, Replace with ms.service = dynamics-365-op
  articles/fin-ops-core/dev-itpro/analytics/entity-store-on-prem.md
Owners: @johnmichalak

In all content, remove ms.prod = dynamics-365, Replace with ms.service = dynamics-365-op
  articles/fin-ops-core/dev-itpro/migration-upgrade/on-prem-upgrade.md
Owners: @johnmichalak

In all content, remove ms.prod = dynamics-365, Replace with ms.service = dynamics-365-op
  articles/fin-ops-core/dev-itpro/deployment/on-premises-deployment-landing-page.md
  articles/fin-ops-core/dev-itpro/get-started/hardware-sizing-on-premises-environments.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-LBD-PU12-App72.md
Owners: @johnmichalak

In all content, remove ms.prod = dynamics-365, Replace with ms.service = dynamics-365-op
  articles/fin-ops-core/dev-itpro/deployment/deploy-retail-onprem.md
Owners: @johnmichalak

In all content, remove ms.prod = dynamics-365, Replace with ms.service = dynamics-365-op
  articles/fin-ops-core/dev-itpro/deployment/apply-updates-on-premises.md
  articles/fin-ops-core/dev-itpro/deployment/expressroute.md
  articles/fin-ops-core/dev-itpro/get-started/system-requirements-on-prem.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/lbd-create-lcs-on-prem-project.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/reconfigure-environment.md
Owners: @johnmichalak

In all content, remove ms.prod = dynamics-365, Replace with ms.service = dynamics-365-op
  articles/fin-ops-core/dev-itpro/analytics/configure-ssrs-on-premises.md
  articles/fin-ops-core/dev-itpro/analytics/install-network-printer-onprem.md
  articles/fin-ops-core/dev-itpro/deployment/authentication-onprem.md
  articles/fin-ops-core/dev-itpro/deployment/certificate-rotation-on-prem.md
  articles/fin-ops-core/dev-itpro/deployment/configure-infrascripts-onprem.md
  articles/fin-ops-core/dev-itpro/deployment/obtain-infrascripts-onprem.md
  articles/fin-ops-core/dev-itpro/deployment/on-premises-diagnostics.md
  articles/fin-ops-core/dev-itpro/deployment/on-premises-overview.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-SSRSHA.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-adfscompatibility.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-automate-diagnostics-collection.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-batchonly.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-compatibility.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-dr.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-localagent-options.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-reuseadfs.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-reverseproxy.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-rsat-configuration.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-tsg-implementations.md
  articles/fin-ops-core/dev-itpro/deployment/onprem-upgrade-sqlserver.md
  articles/fin-ops-core/dev-itpro/deployment/plan-onprem-deployment.md
  articles/fin-ops-core/dev-itpro/deployment/redeploy-on-prem.md
  articles/fin-ops-core/dev-itpro/deployment/setup-deploy-on-premises-latest.md
  articles/fin-ops-core/dev-itpro/deployment/setup-deploy-on-premises-pu41.md
  articles/fin-ops-core/dev-itpro/deployment/troubleshoot-on-prem.md
  articles/fin-ops-core/dev-itpro/dev-tools/isv-licensing-on-prem.md
  articles/fin-ops-core/dev-itpro/get-started/purchase-on-premises.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/pre-post-scripts.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/update-local-agent.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/on-prem-upgrade-2012.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/on-prem-version-update-policy.md
Owners: @johnmichalak, @josaw1

In all content, remove ms.prod = dynamics-365, Replace with ms.service = dynamics-365-op
  articles/fin-ops-core/dev-itpro/user-interface/client-disconnected.md
Owners: @johnmichalak

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
