Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

fix links
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/dual-write-prospect-to-cash.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/pricing-engine.md
Owners: @josaw1

Update hr-cust-migration.md
  articles/human-resources/hr-cust-migration.md
Owners: @twheeloc

Update hr-cust-migration.md
  articles/human-resources/hr-cust-migration.md
Owners: @twheeloc

review
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation.md
Owners: @kamaybac

Update publish-status-headquarters.md
  articles/commerce/publish-status-headquarters.md
Owners: @josaw1

Delete Search_Publishing_Status_HQ.png
  articles/commerce/media/Search_Publishing_Status_HQ.png
Owners: @josaw1

Update publish-status-headquarters.md
  articles/commerce/publish-status-headquarters.md
Owners: @josaw1

Delete channel-merch-config-validator.png
  articles/commerce/media/channel-merch-config-validator.png
Owners: @josaw1

Update channel-merch-config-validator.md
  articles/commerce/channel-merch-config-validator.md
Owners: @josaw1

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update LedgerAccountCombinations.md
  articles/fin-ops-core/dev-itpro/financial/LedgerAccountCombinations.md
Owners: @josaw1

Update CollectionsCoordinatorSummary.md
  articles/finance/accounts-receivable/CollectionsCoordinatorSummary.md
Owners: @twheeloc

Edited
  articles/fin-ops-core/dev-itpro/sysadmin/archive-customizations.md
Owners: @johnmichalak

Edited
  articles/fin-ops-core/dev-itpro/sysadmin/archive-general-ledger.md
Owners: @johnmichalak

Edited
  articles/fin-ops-core/dev-itpro/sysadmin/archive-overview.md
Owners: @johnmichalak

Edited
  articles/fin-ops-core/dev-itpro/sysadmin/archive-sales-orders.md
Owners: @johnmichalak

Edited
  articles/fin-ops-core/dev-itpro/sysadmin/archive-setup.md
Owners: @johnmichalak

Update obo-create-aad-application.md
  articles/commerce/obo-create-aad-application.md
Owners: @josaw1

Update obo-configure-hq.md
  articles/commerce/obo-configure-hq.md
Owners: @josaw1

Update obo-configure-hq.md
  articles/commerce/obo-configure-hq.md
Owners: @josaw1

update administrator account name to localadmin
  articles/fin-ops-core/dev-itpro/dev-tools/access-instances.md
  articles/fin-ops-core/dev-itpro/dev-tools/vhd-setup.md
Owners: @josaw1

Update dual-currency-for-tax.md
  articles/finance/general-ledger/dual-currency-for-tax.md
Owners: @twheeloc

Update china.md
  articles/finance/localizations/china.md
Owners: @kfend

Update obo-configure-hq.md
  articles/commerce/obo-configure-hq.md
Owners: @josaw1

Update obo-create-aad-application.md
  articles/commerce/obo-create-aad-application.md
Owners: @josaw1

Update obo-create-aad-application.md
  articles/commerce/obo-create-aad-application.md
Owners: @josaw1

Update obo-create-aad-application.md
  articles/commerce/obo-create-aad-application.md
Owners: @josaw1

edit
  articles/fin-ops-core/dev-itpro/sysadmin/archive-general-ledger.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-sales-orders.md
  articles/fin-ops-core/dev-itpro/sysadmin/archive-setup.md
Owners: @johnmichalak

Update emea-deu-vat-declaration-germany.md
  articles/finance/localizations/emea-deu-vat-declaration-germany.md
Owners: @kfend

Update invoice-capture-overview.md
  articles/finance/accounts-payable/invoice-capture-overview.md
Owners: @twheeloc

Update Install-invoice-capture.md
  articles/finance/accounts-payable/Install-invoice-capture.md
Owners: @twheeloc

Update invoice-capture-channel.md
  articles/finance/accounts-payable/invoice-capture-channel.md
Owners: @twheeloc

Update config-invoice-capture.md
  articles/finance/accounts-payable/config-invoice-capture.md
Owners: @twheeloc

Update invoice-capture-config-group.md
  articles/finance/accounts-payable/invoice-capture-config-group.md
Owners: @twheeloc

Update invoice-capture-workspace.md
  articles/finance/accounts-payable/invoice-capture-workspace.md
Owners: @twheeloc

WOM-36
  articles/supply-chain/warehousing/supply-chain-management-warehouse-only-mode.md
Owners: @kamaybac

review
  articles/supply-chain/transparency-note-confirmed-po-changes.md
  articles/supply-chain/transparency-note.md
Owners: @kamaybac

review
  articles/supply-chain/transparency-note-confirmed-po-changes.md
Owners: @kamaybac

review
  articles/supply-chain/toc.yml
Owners: @kamaybac

add feature updates
  articles/supply-chain/get-started/whats-new-scm-10-0-33.md
  articles/supply-chain/get-started/whats-new-scm-10-0-34.md
Owners: @kamaybac
