Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update workflow-types-report.md
  articles/fin-ops-core/dev-itpro/organization-administration/workflow-types-report.md
Owners: @johnmichalak

Update configure-email.md
  articles/fin-ops-core/dev-itpro/organization-administration/configure-email.md
Owners: @johnmichalak

Update pricing-examples.md
  articles/commerce/pricing-examples.md
Owners: @josaw1

Update pricing-extensions.md
  articles/commerce/pricing-extensions.md
Owners: @josaw1

Update CollectionsWorkspace.md
  articles/finance/accounts-receivable/CollectionsWorkspace.md
Owners: @twheeloc

Update database-pitr-prod-sandbox.md
  articles/fin-ops-core/dev-itpro/database/database-pitr-prod-sandbox.md
Owners: @johnmichalak

Update removed-deprecated-features-platform-updates.md
  articles/fin-ops-core/fin-ops/get-started/removed-deprecated-features-platform-updates.md
Owners: @johnmichalak

Update key-invoice-data-into-ap-system-invoice-pool.md
  articles/finance/accounts-payable/tasks/key-invoice-data-into-ap-system-invoice-pool.md
Owners: @twheeloc

Update arm-onbarding-us-goverment.md
  articles/fin-ops-core/dev-itpro/deployment/arm-onbarding-us-goverment.md
Owners: @johnmichalak

Update adyen-connector.md
  articles/commerce/dev-itpro/adyen-connector.md
Owners: @josaw1

Add files via upload
  articles/finance/localizations/media/OverrideSalesTax.jpg
Owners: @kfend

Update global-sales-tax-group-determination.md
  articles/finance/localizations/global/global-sales-tax-group-determination.md
Owners: @kfend

Update global-sales-tax-group-determination.md
  articles/finance/localizations/global/global-sales-tax-group-determination.md
Owners: @kfend

Add files via upload
  articles/finance/localizations/media/OverrideSalesTax_Yes.jpg
Owners: @kfend

Update global-sales-tax-group-determination.md
  articles/finance/localizations/global/global-sales-tax-group-determination.md
Owners: @kfend

Update quality-orders.md
  articles/supply-chain/inventory/quality-orders.md
Owners: @kamaybac

Update quality-orders.md
  articles/supply-chain/inventory/quality-orders.md
Owners: @kamaybac

Add files via upload
  articles/finance/localizations/media/OverrideSalesTax_No1.jpg
Owners: @kfend

Update global-sales-tax-group-determination.md
  articles/finance/localizations/global/global-sales-tax-group-determination.md
Owners: @kfend

Update global-sales-tax-group-determination.md
  articles/finance/localizations/global/global-sales-tax-group-determination.md
Owners: @kfend

Add files via upload
  articles/finance/localizations/media/OverrideSalesTax_No2.jpg
Owners: @kfend

Delete articles/finance/localizations/media/OverrideSalesTax.jpg
  articles/finance/localizations/media/OverrideSalesTax.jpg
Owners: @kfend

Add files via upload
  articles/finance/localizations/media/OverrideSalesTax_No1.jpg
  articles/finance/localizations/media/OverrideSalesTax_No2.jpg
  articles/finance/localizations/media/OverrideSalesTax_Yes.jpg
Owners: @kfend

Update global-sales-tax-group-determination.md
  articles/finance/localizations/global/global-sales-tax-group-determination.md
Owners: @kfend

Add examples for DRS/SRS developer documentation
  articles/fin-ops-core/dev-itpro/sysadmin/drs-srs-dev.md
Owners: @johnmichalak

Update adyen-connector.md
  articles/commerce/dev-itpro/adyen-connector.md
Owners: @josaw1

Update filter-and-search-order-history.md
  articles/commerce/filter-and-search-order-history.md
Owners: @josaw1

Update and rename enrich-product-page-using-copilot-in-sitebuilder.md to copilot-site-builder.md
  articles/commerce/copilot-site-builder.md
  articles/commerce/enrich-product-page-using-copilot-in-sitebuilder.md
Owners: @josaw1

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Edited updated sections
  articles/fin-ops-core/fin-ops/get-started/removed-deprecated-features-platform-updates.md
Owners: @johnmichalak

Edited updated sections
  articles/fin-ops-core/dev-itpro/organization-administration/configure-email.md
Owners: @johnmichalak

Update filter-and-search-order-history.md
  articles/commerce/filter-and-search-order-history.md
Owners: @josaw1

Update filter-and-search-order-history.md
  articles/commerce/filter-and-search-order-history.md
Owners: @josaw1

Rename filter-and-search-order-history.md to order-history-module.md
  articles/commerce/order-history-module.md
Owners: @josaw1

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update copilot-site-builder.md
  articles/commerce/copilot-site-builder.md
Owners: @josaw1

Delete articles/commerce/media/AddModuleToPageOfOrderHistoryWithSearchAndFilters.png
  articles/commerce/media/AddModuleToPageOfOrderHistoryWithSearchAndFilters.png
Owners: @josaw1

Delete articles/commerce/media/Authoring_Update_Commerce_Copilot_Sitebuilder.png
  articles/commerce/media/Authoring_Update_Commerce_Copilot_Sitebuilder.png
Owners: @josaw1

Delete articles/commerce/media/Choose_Target_Clients.png
  articles/commerce/media/Choose_Target_Clients.png
Owners: @josaw1

Delete articles/commerce/media/Choose_Tones.png
  articles/commerce/media/Choose_Tones.png
Owners: @josaw1

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
