Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update clean-up-source-data-upgrade.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/clean-up-source-data-upgrade.md
Owners: @johnmichalak

Update CollectionsCoordinatorSummary.md
  articles/finance/accounts-receivable/CollectionsCoordinatorSummary.md
Owners: @twheeloc

Update CollectionsCoordinatorSummary.md
  articles/finance/accounts-receivable/CollectionsCoordinatorSummary.md
Owners: @twheeloc

Update global-withholding-tax-overview.md
  articles/finance/general-ledger/global-withholding-tax-overview.md
Owners: @twheeloc

Update withholding-tax-in-sales-transactions.md
  articles/finance/general-ledger/withholding-tax-in-sales-transactions.md
Owners: @twheeloc

Update withholding-tax-in-purchase-transactions.md
  articles/finance/general-ledger/withholding-tax-in-purchase-transactions.md
Owners: @twheeloc

Update withholding-tax-in-purchase-transactions.md
  articles/finance/general-ledger/withholding-tax-in-purchase-transactions.md
Owners: @twheeloc

Update import-export-manifest.md
  articles/commerce/import-export-manifest.md
Owners: @josaw1

Update validate-pack.md
  articles/fin-ops-core/dev-itpro/deployment/validate-pack.md
Owners: @johnmichalak

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Rename finance-hub.yml to index.yml
  articles/finance/index.yml
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update index.md
  articles/finance/index.md
Owners: @twheeloc

Update arch-component-versioning.md
  articles/commerce/arch-component-versioning.md
Owners: @josaw1

Update sdk-updates.md
  articles/commerce/e-commerce-extensibility/sdk-updates.md
Owners: @josaw1

Update import-export-manifest.md
  articles/commerce/import-export-manifest.md
Owners: @josaw1

Update withholding-tax-in-purchase-transactions.md
  articles/finance/general-ledger/withholding-tax-in-purchase-transactions.md
Owners: @twheeloc

Update withholding-tax-in-sales-transactions.md
  articles/finance/general-ledger/withholding-tax-in-sales-transactions.md
Owners: @twheeloc

Update withholding-tax-in-sales-transactions.md
  articles/finance/general-ledger/withholding-tax-in-sales-transactions.md
Owners: @twheeloc

Update withholding-tax-in-purchase-transactions.md
  articles/finance/general-ledger/withholding-tax-in-purchase-transactions.md
Owners: @twheeloc

Update import-export-manifest.md
  articles/commerce/import-export-manifest.md
Owners: @josaw1

Update data-upgrade-2012.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/data-upgrade-2012.md
Owners: @johnmichalak

Update global-exchange-rate-type-sales-tax.md
  articles/finance/localizations/global-exchange-rate-type-sales-tax.md
Owners: @kfend

Update global-exchange-rate-type-sales-tax.md
  articles/finance/localizations/global-exchange-rate-type-sales-tax.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update index.yml
  articles/finance/index.yml
Owners: @twheeloc

Rename index.md to finance-welcome.md
  articles/finance/finance-welcome.md
Owners: @twheeloc

Update index.yml
  articles/finance/index.yml
Owners: @twheeloc

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Edited updated sections
  articles/fin-ops-core/dev-itpro/migration-upgrade/clean-up-source-data-upgrade.md
Owners: @johnmichalak

Update data-upgrade-2012.md
  articles/fin-ops-core/dev-itpro/migration-upgrade/data-upgrade-2012.md
Owners: @johnmichalak

Update import-export-manifest.md
  articles/commerce/import-export-manifest.md
Owners: @josaw1

Update toc.yml
  articles/supply-chain/toc.yml
Owners: @kamaybac

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update index.yml
  articles/finance/index.yml
Owners: @twheeloc

Edited
  articles/finance/localizations/global-exchange-rate-type-sales-tax.md
Owners: @kfend

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
