Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Update e-invoicing-pol-get-started.md
  articles/finance/localizations/e-invoicing-pol-get-started.md
Owners: @kfend

Update denmark.md
  articles/finance/localizations/denmark.md
Owners: @kfend

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

Update emea-ltu-saf-t.md
  articles/finance/localizations/emea-ltu-saf-t.md
Owners: @kfend

Add files via upload
  articles/finance/localizations/media/dk-saf-t-default-model-mapping.png
Owners: @kfend

add links to glossary entry + business process
  articles/supply-chain/cost-management/cost-management-home-page.md
  articles/supply-chain/cost-management/costing-versions.md
Owners: @kamaybac

Create whats-new-changed-10-0-35.md
  articles/finance/get-started/whats-new-changed-10-0-35.md
Owners: @twheeloc

Update project-migration-manager.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/project-migration-manager.md
Owners: @johnmichalak

Update customer-orders-overview.md
  articles/commerce/customer-orders-overview.md
Owners: @josaw1

Update security-roles.md
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/security-roles.md
Owners: @josaw1

Update environment-migration-process.md
  articles/fin-ops-core/dev-itpro/deployment/environment-migration-process.md
Owners: @johnmichalak

Update project-migration-manager.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/project-migration-manager.md
Owners: @johnmichalak

Update consistent-delivery-mode-handling.md
  articles/commerce/consistent-delivery-mode-handling.md
Owners: @josaw1

Update consistent-delivery-mode-handling.md
  articles/commerce/consistent-delivery-mode-handling.md
Owners: @josaw1

Update consistent-delivery-mode-handling.md
  articles/commerce/consistent-delivery-mode-handling.md
Owners: @josaw1

Update customer-orders-overview.md
  articles/commerce/customer-orders-overview.md
Owners: @josaw1

Update upload-bulk-redirects.md
  articles/commerce/upload-bulk-redirects.md
Owners: @josaw1

Edited updated sections
  articles/finance/localizations/e-invoicing-pol-get-started.md
Owners: @kfend

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update customer-orders-overview.md
  articles/commerce/customer-orders-overview.md
Owners: @josaw1

Update project-migration-manager.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/project-migration-manager.md
Owners: @johnmichalak

Update consistent-delivery-mode-handling.md
  articles/commerce/consistent-delivery-mode-handling.md
Owners: @josaw1

Update environment-migration-process.md
  articles/fin-ops-core/dev-itpro/deployment/environment-migration-process.md
Owners: @johnmichalak

Edited updated sections
  articles/human-resources/hr-infrastructure-merge.md
Owners: @twheeloc

Update environment-migration-process.md
  articles/fin-ops-core/dev-itpro/deployment/environment-migration-process.md
Owners: @johnmichalak

Create ltm-core-purchase-invoice-posting.md
  articles/finance/localizations/ltm-core-purchase-invoice-posting.md
Owners: @kfend

Update project-migration-manager.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/project-migration-manager.md
Owners: @johnmichalak

Update TOC.yml
  articles/finance/TOC.yml
Owners: @twheeloc

WOM-36
  articles/supply-chain/warehousing/supply-chain-management-warehouse-only-mode.md
Owners: @kamaybac

update min ios version
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
Owners: @kamaybac

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Owners: none

Create emea-dnk-saf-t.md
  articles/finance/localizations/emea-dnk-saf-t.md
Owners: @kfend

Update Initialize-Retail-Channels.md
  articles/fin-ops-core/dev-itpro/deployment/Initialize-Retail-Channels.md
Owners: @johnmichalak

Update in-transit-processing.md
  articles/supply-chain/landed-cost/in-transit-processing.md
Owners: @kamaybac

Update in-transit-processing.md
  articles/supply-chain/landed-cost/in-transit-processing.md
Owners: @kamaybac

Update landed-cost-enable.md
  articles/supply-chain/landed-cost/landed-cost-enable.md
Owners: @kamaybac

Update emea-dnk-saf-t.md
  articles/finance/localizations/emea-dnk-saf-t.md
Owners: @kfend

Update emea-ltu-saf-t.md
  articles/finance/localizations/emea-ltu-saf-t.md
Owners: @kfend

Update emea-dnk-saf-t.md
  articles/finance/localizations/emea-dnk-saf-t.md
Owners: @kfend
