Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update system-requirements.md
  articles/commerce/get-started/system-requirements.md
Owners: @josaw1

Update reset_receipt_number_sequence.md
  articles/commerce/reset_receipt_number_sequence.md
Owners: @josaw1

Update reset_receipt_number_sequence.md
  articles/commerce/reset_receipt_number_sequence.md
Owners: @josaw1

Update migrate-mpos-store-commerce.md
  articles/commerce/dev-itpro/pos-extension/migrate-mpos-store-commerce.md
Owners: @josaw1

Update obo-create-aad-application.md
  articles/commerce/obo-create-aad-application.md
Owners: @josaw1

Update obo-create-aad-application.md
  articles/commerce/obo-create-aad-application.md
Owners: @josaw1

review
  articles/supply-chain/get-started/whats-new-scm-10-0-32.md
  articles/supply-chain/supply-chain-dev/message-processor.md
  articles/supply-chain/toc.yml
  articles/supply-chain/warehousing/configure-mobile-devices-warehouse.md
  articles/supply-chain/warehousing/packing-containers.md
  articles/supply-chain/warehousing/warehouse-management-only-mode.md
Owners: @kamaybac

edit
  articles/supply-chain/get-started/whats-new-scm-10-0-36.md
Owners: @kamaybac

Update isv-licensing.md
  articles/fin-ops-core/dev-itpro/dev-tools/isv-licensing.md
Owners: @josaw1

Update whats-new-changed-10-0-36.md
  articles/finance/get-started/whats-new-changed-10-0-36.md
Owners: @twheeloc

Update whats-new-changed-10-0-36.md
  articles/finance/get-started/whats-new-changed-10-0-36.md
Owners: @twheeloc

Update whats-new-changed-10-0-36.md
  articles/finance/get-started/whats-new-changed-10-0-36.md
Owners: @twheeloc

Update hr-whats-new-10-0-36.md
  articles/human-resources/get-started/hr-whats-new-10-0-36.md
Owners: @twheeloc

Update index.yml
  articles/finance/index.yml
Owners: @twheeloc

Edited updated sections
  articles/fin-ops-core/dev-itpro/lifecycle-services/dts-announcements.md
Owners: @johnmichalak

Edited
  articles/fin-ops-core/dev-itpro/lifecycle-services/dts-connector-info.md
Owners: @johnmichalak

Edited updated sections (+fixed some formatting and other issues)
  articles/finance/localizations/emea-che-vat-declaration-switzerland.md
Owners: @kfend

Edited updated sections
  articles/finance/localizations/emea-fra-fec-audit-file-pre-requisites.md
Owners: @kfend

Edited updated sections
  articles/finance/localizations/emea-fra-fec-audit-file-setup.md
Owners: @kfend

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update dts-connector-info.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/dts-connector-info.md
Owners: @johnmichalak

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management-overview.md
Owners: @josaw1

Update enrich-product-page.md
  articles/commerce/enrich-product-page.md
Owners: @josaw1

Update dts-connector-info.md
  articles/fin-ops-core/dev-itpro/lifecycle-services/dts-connector-info.md
Owners: @johnmichalak

Update enrich-product-page.md
  articles/commerce/enrich-product-page.md
Owners: @josaw1

Update add-manage-content.md
  articles/commerce/add-manage-content.md
Owners: @josaw1

Create whats-new-platform-updates-10-0-36.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-36.md
Owners: @johnmichalak

Update enrich-product-page.md
  articles/commerce/enrich-product-page.md
Owners: @josaw1

Update whats-new-platform-updates-10-0-36.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-platform-updates-10-0-36.md
Owners: @johnmichalak

Update hr-whats-new-10-0-36.md
  articles/human-resources/get-started/hr-whats-new-10-0-36.md
Owners: @twheeloc

Update whats-new-changed-10-0-36.md
  articles/finance/get-started/whats-new-changed-10-0-36.md
Owners: @twheeloc

Update omnichannel-media-management-overview.md
  articles/commerce/omnichannel-media-management-overview.md
Owners: @josaw1

Update publish-groups.md
  articles/commerce/publish-groups.md
Owners: @josaw1

Update publish-groups.md
  articles/commerce/publish-groups.md
Owners: @josaw1

Update obo-configure-hq.md
  articles/commerce/obo-configure-hq.md
Owners: @josaw1

Update obo-create-aad-application.md
  articles/commerce/obo-create-aad-application.md
Owners: @josaw1

Edited
  articles/finance/get-started/whats-new-changed-10-0-36.md
Owners: @twheeloc

Edited
  articles/human-resources/get-started/hr-whats-new-10-0-36.md
Owners: @twheeloc

Edited updated sections
  articles/fin-ops-core/dev-itpro/migration-upgrade/analyze-code-upgrade.md
Owners: @johnmichalak

Update cleanuproutines.md
  articles/fin-ops-core/dev-itpro/sysadmin/cleanuproutines.md
Owners: @johnmichalak

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
