Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

Update secure-developer-vm.md
  articles/fin-ops-core/dev-itpro/dev-tools/secure-developer-vm.md
Owners: @josaw1

Edited
  articles/supply-chain/transportation/sustainability-manager-integration-setup.md
Owners: @kamaybac

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Fix France maintenance window
  articles/fin-ops-core/dev-itpro/deployment/plannedmaintenance-selfservice.md
Owners: @johnmichalak

Update cm-sales-order-credit-holds.md
  articles/finance/accounts-receivable/cm-sales-order-credit-holds.md
Owners: @twheeloc

Create Credit hold FAQ.md
  articles/finance/accounts-receivable/Credit hold FAQ.md
Owners: @twheeloc

Edited
  articles/human-resources/hr-app.md
Owners: @twheeloc

Tweak
  articles/human-resources/hr-app.md
Owners: @twheeloc

Update Credit hold FAQ.md
  articles/finance/accounts-receivable/Credit hold FAQ.md
Owners: @twheeloc

Add files via upload
  articles/finance/accounts-receivable/media/CreditManagementError.png
  articles/finance/accounts-receivable/media/SalesOrderWarning.png
Owners: @twheeloc

Update Credit hold FAQ.md
  articles/finance/accounts-receivable/Credit hold FAQ.md
Owners: @twheeloc

Update Credit hold FAQ.md
  articles/finance/accounts-receivable/Credit hold FAQ.md
Owners: @twheeloc

Update Credit hold FAQ.md
  articles/finance/accounts-receivable/Credit hold FAQ.md
Owners: @twheeloc

Update and rename Credit hold FAQ.md to Credit-hold-FAQ.md
  articles/finance/accounts-receivable/Credit-hold-FAQ.md
Owners: @twheeloc

Update Credit-hold-FAQ.md
  articles/finance/accounts-receivable/Credit-hold-FAQ.md
Owners: @twheeloc

Update Credit-hold-FAQ.md
  articles/finance/accounts-receivable/Credit-hold-FAQ.md
Owners: @twheeloc

Edited updated sections
  articles/fin-ops-core/dev-itpro/perf-test/trace-trace-tutorial.md
Owners: @josaw1

Update Net-customer-and-vendor-balances.md
  articles/finance/cash-bank-management/Net-customer-and-vendor-balances.md
Owners: @twheeloc

Update foreign-currency-revaluation-accounts-payable-accounts-receivable.md
  articles/finance/cash-bank-management/foreign-currency-revaluation-accounts-payable-accounts-receivable.md
Owners: @twheeloc

Update bank-revaluation.md
  articles/finance/cash-bank-management/bank-revaluation.md
Owners: @twheeloc

Update sustainability-manager-integration-setup.md
  articles/supply-chain/transportation/sustainability-manager-integration-setup.md
Owners: @kamaybac

Update inventory-visibility-copilot-api.md
  articles/supply-chain/inventory/inventory-visibility-copilot-api.md
Owners: @kamaybac

Update business-performance-analytics-home-page.md
  articles/finance/business-performance-analytics/business-performance-analytics-home-page.md
Owners: @twheeloc

PO Workspace GA updates
  articles/supply-chain/procurement/media/po-change-review-downstream-impact.png
  articles/supply-chain/procurement/media/po-change-review-highimpact-all-selected.png
  articles/supply-chain/procurement/media/po-change-review-highimpact-one-selected.png
  articles/supply-chain/procurement/media/po-change-review-highimpact.png
  articles/supply-chain/procurement/media/po-change-review-trouble-shooting.png
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation-enable.md
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation.md
Owners: @kamaybac

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

cross region enablement note
  articles/supply-chain/procurement/purchase-order-changes-after-confirmation-enable.md
Owners: @kamaybac

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Edited whs promoted fields
  articles/supply-chain/warehousing/warehouse-app-promoted-fields.md
Owners: @kamaybac

Update e-invoicing-dk-get-started.md
  articles/finance/localizations/mea/e-invoicing-dk-get-started.md
Owners: @kfend

Update warehouse-app-promoted-fields.md
  articles/supply-chain/warehousing/warehouse-app-promoted-fields.md
Owners: @kamaybac

Update warehouse-app-promoted-fields.md
  articles/supply-chain/warehousing/warehouse-app-promoted-fields.md
Owners: @kamaybac

Update whats-new-wma.md
  articles/supply-chain/warehousing/whats-new-wma.md
Owners: @kamaybac

Update whats-new-wma.md
  articles/supply-chain/warehousing/whats-new-wma.md
Owners: @kamaybac

Update not-used-parameters.md
  articles/supply-chain/master-planning/planning-optimization/not-used-parameters.md
Owners: @kamaybac

review
  articles/supply-chain/inventory/inventory-visibility-allocation.md
  articles/supply-chain/inventory/inventory-visibility-api.md
  articles/supply-chain/inventory/inventory-visibility-available-to-promise.md
  articles/supply-chain/inventory/inventory-visibility-configuration.md
  articles/supply-chain/inventory/inventory-visibility-power-platform.md
  articles/supply-chain/inventory/inventory-visibility-ui-version-2.md
Owners: @kamaybac

Update install-demand-planning.md
  articles/supply-chain/demand-planning/install-demand-planning.md
Owners: @kamaybac

Update paypal.md for Enhanced totaling audit
  articles/commerce/dev-itpro/paypal.md
Owners: @josaw1

Update BPP-App-install.md
  articles/finance/business-performance-planning/BPP-App-install.md
Owners: @twheeloc

Update paypal.md
  articles/commerce/dev-itpro/paypal.md
Owners: @josaw1

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc
