Repository MicrosoftDocs/dynamics-365-unified-operations-public, changes with the owners that CODEOWNERS names for each.
All owners: @johnmichalak, @josaw1, @sericks007, @twheeloc, @kfend, @kamaybac

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@johnmichalak
/articles/fin-ops-core/dev-itpro/analytics	@johnmichalak
/articles/fin-ops-core/dev-itpro/business-events @johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities	@johnmichalak
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@josaw1
/articles/fin-ops-core/dev-itpro/database	@johnmichalak
/articles/fin-ops-core/dev-itpro/deployment	@johnmichalak 
/articles/fin-ops-core/dev-itpro/dev-ref @josaw1
/articles/fin-ops-core/dev-itpro/dev-tools @josaw1
/articles/fin-ops-core/dev-itpro/extensibility @josaw1
/articles/fin-ops-core/dev-itpro/financial @josaw1
/articles/fin-ops-core/dev-itpro/gdpr @josaw1
/articles/fin-ops-core/dev-itpro/get-started	@johnmichalak
/articles/fin-ops-core/dev-itpro/help @johnmichalak
/articles/fin-ops-core/dev-itpro/includes @josaw1
/articles/fin-ops-core/dev-itpro/lcs-solutions	@johnmichalak
/articles/fin-ops-core/dev-itpro/lifecycle-services	@johnmichalak
/articles/fin-ops-core/dev-itpro/media	@johnmichalak
/articles/fin-ops-core/dev-itpro/migration-upgrade	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps	@johnmichalak
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@josaw1
/articles/fin-ops-core/dev-itpro/office-integration	@johnmichalak
/articles/fin-ops-core/dev-itpro/perf-test	@josaw1
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@josaw1
/articles/fin-ops-core/dev-itpro/sysadmin	@johnmichalak
/articles/fin-ops-core/dev-itpro/user-interface	@johnmichalak
/articles/fin-ops-core/fin-ops @josaw1
/articles/fin-ops-core/fin-ops/get-started @johnmichalak
/articles/fin-ops-core/fin-ops/hr @twheeloc
/articles/fin-ops-core/fin-ops/imp-lifecycle @johnmichalak
/articles/fin-ops-core/fin-ops/includes @johnmichalak
/articles/fin-ops-core/fin-ops/organization-administration @johnmichalak
/articles/finance	@twheeloc
/articles/finance/accounts-payable	@twheeloc
/articles/finance/asset-leasing	@twheeloc
/articles/finance/budgeting	@twheeloc
/articles/finance/cash-bank-management	@twheeloc
/articles/finance/cost-accounting	@twheeloc
/articles/finance/expense-management	 @twheeloc
/articles/finance/fixed-assets	 @twheeloc
/articles/finance/general-ledger 	@twheeloc
/articles/finance/get-started 	@twheeloc
/articles/finance/includes 	@twheeloc
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@twheeloc
/articles/fin-and-ops/get-started	@kfend
/articles/fin-and-ops/hr	@twheeloc
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@johnmichalak
/articles/human-resources @twheeloc
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @josaw1
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @twheeloc

Edited updated sections
  articles/finance/localizations/uae.md
Owners: @kfend

Edited
  articles/finance/localizations/uae-sales-invoice-layout.md
Owners: @kfend

Create CollectionsWorkspace.md
  articles/finance/accounts-receivable/CollectionsWorkspace.md
Owners: @twheeloc

Edited
  articles/finance/localizations/uae-faf.md
Owners: @kfend

Tweak
  articles/finance/localizations/uae-vat-setup-reporting.md
Owners: @kfend

Update uae-faf.md
  articles/finance/localizations/uae-faf.md
Owners: @kfend

Update CollectionsWorkspace.md
  articles/finance/accounts-receivable/CollectionsWorkspace.md
Owners: @twheeloc

Edited
  articles/commerce/import-export-manifest.md
Owners: @josaw1

Tweak
  articles/commerce/import-export-manifest.md
Owners: @josaw1

Update search-publishing-status-in-back-office.md
  articles/commerce/search-publishing-status-in-back-office.md
Owners: @josaw1

Update search-publishing-status-in-back-office.md
  articles/commerce/search-publishing-status-in-back-office.md
Owners: @josaw1

Create e-invoicing-id-get-started.md
  articles/finance/localizations/e-invoicing-id-get-started.md
Owners: @kfend

review
  articles/supply-chain/landed-cost/in-transit-processing.md
Owners: @kamaybac

Update e-invoicing-id-get-started.md
  articles/finance/localizations/e-invoicing-id-get-started.md
Owners: @kfend

Update e-invoicing-id-get-started.md
  articles/finance/localizations/e-invoicing-id-get-started.md
Owners: @kfend

Update apac-idn-invoicing.md
  articles/finance/localizations/apac-idn-invoicing.md
Owners: @kfend

Update apac-idn-invoicing.md
  articles/finance/localizations/apac-idn-invoicing.md
Owners: @kfend

Update apac-idn-invoicing.md
  articles/finance/localizations/apac-idn-invoicing.md
Owners: @kfend

Update e-invoicing-sa-get-started.md
  articles/finance/localizations/e-invoicing-sa-get-started.md
Owners: @kfend

Update e-invoicing-sa-get-started.md
  articles/finance/localizations/e-invoicing-sa-get-started.md
Owners: @kfend

Update e-invoicing-sa-get-started.md
  articles/finance/localizations/e-invoicing-sa-get-started.md
Owners: @kfend

review
  articles/fin-ops-core/dev-itpro/data-entities/dual-write/add-efficiency-in-quote-to-cash-use.md
Owners: @josaw1

additional steps
  articles/supply-chain/warehousing/install-configure-warehouse-management-app.md
Owners: @kamaybac

Update install-bpa.md
  articles/finance/business-performance-analytics/install-bpa.md
Owners: @twheeloc

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update and rename search-publishing-status-in-back-office.md to publish-status-headquarters.md
  articles/commerce/publish-status-headquarters.md
Owners: @josaw1

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update TOC.yml
  articles/commerce/TOC.yml
Owners: @josaw1

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update finance-hub.yml
  articles/finance/finance-hub.yml
Owners: @twheeloc

Update consume-retail-server-api.md
  articles/commerce/dev-itpro/consume-retail-server-api.md
Owners: @josaw1

Update whats-new-home-page.md
  articles/fin-ops-core/dev-itpro/get-started/whats-new-home-page.md
Owners: @johnmichalak

Update toc.yml
  articles/fin-ops-core/dev-itpro/toc.yml
Owners: @johnmichalak

Update assign-media-omnichannel.md
  articles/commerce/assign-media-omnichannel.md
Owners: @josaw1
